/**
 * Widget Options
 */
*, html{
	outline: none !important;
}
.clearfix::before, .clearfix::after {
    content: " ";
    display: table;
}
.pull-left{
	float: left;
}
.styleshop-metabox{
	margin: -6px -12px -12px;
}
.styleshop-metabox a{
	text-decoration: none;
}
.styleshop-metabox .styleshop-metabox-content{
	position: relative;
	overflow: hidden;
	background: #eee;
}
.styleshop-metabox .styleshop-metabox-content .nav-tabs{
	float: left;
	width: 20%;
	background: #eee;
	margin: 0;
}
.styleshop-metabox .styleshop-metabox-content .nav-tabs > li{
	margin: 0;
}
.styleshop-metabox .styleshop-metabox-content .nav-tabs > li > a{
	display: block;
	padding: 10px;
	color: #444;
	font-weight: bold;
}
.styleshop-metabox .styleshop-metabox-content .nav-tabs > li.active > a{
	background: #fff;
}
.styleshop-metabox .styleshop-metabox-content .nav-tabs > li + li > a{
	border-top: 1px solid #fefefe;
}
.styleshop-metabox .styleshop-metabox-content .tab-content{
	overflow: hidden;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane{
	padding: 0;
	display: none;
	background: #fff;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane.active{
	display: block;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner{
	overflow: hidden;
	clear: both;
	padding: 30px 15px;
	border-bottom: 1px solid #eee;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-description{
	width: 45%;
	margin-right: 30px;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-description .flytab-item-title{
	font-weight: bold;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-description .flytab-item-shortdes{
	font-style: italic;
	color: #999;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content{
	overflow: hidden;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content input[type="text"]{
	width: 80%;
	padding: 5px;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio label,
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio-img label{
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	text-align: center;
	position: relative;
	width: 50px;
	padding: 5px;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio-img label .page-radio-color{
	position: absolute;
	top: 5px;
	width: 30px;
	border-radius: 50%;
	left: 50%;
	margin-left: -15px;
	height: 30px;
	
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio-img label .page-radio-color:before{
	content: '';
	position: absolute;
	z-index: 9;
	top: -5px;
	left: -15px;
	height: 80px;
	right: -15px;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio-img label.styleshop-radio-img-selected{
	background: #eee;
}
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio label span,
.styleshop-metabox .styleshop-metabox-content .tab-content .tab-pane .tab-inner .flytab-content .page-metabox-radio-img label span{
	display: inline-block;
	margin-top: 15px;
	text-transform: capitalize;
}