#styleshop-opts-heading{
	margin-bottom:20px;
}


#styleshop-options-form,
#styleshop-options-form {
	
	background-color: #eeeeee; /* Old browsers */
	background-repeat: repeat-x; /* Repeat the gradient */
	background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
	background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
	background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
	
	border: 1px solid #e5e5e5;
	-moz-border-radius: 6px; /* Firefox */
	-webkit-border-radius: 6px; /* Safari, Chrome */
	border-radius: 6px;
	-moz-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
	margin-top:20px;
}

#styleshop-options-form .hr{
	height:1px;
	width:60%;
	border-bottom:1px solid #DFDFDF;
	margin: 0 auto;
	margin-bottom:-20px;
}

.styleshop-opts-info-field{
	margin-bottom:-20px;
}

#styleshop-opts-header,
#styleshop-opts-footer{
	text-align:right;
	padding: 10px 20px;	
}
#styleshop-opts-header{
	border-bottom:1px solid #DFDFDF;
}
#styleshop-opts-footer{
	border-top:1px solid #DFDFDF;
}
#styleshop-opts-footer #styleshop-opts-share{
	float:left;
}
#styleshop-opts-footer #styleshop-opts-share a{
	margin-right:10px;
}
#styleshop-opts-footer #styleshop-opts-share a img{
	margin-bottom:-3px;
}
.styleshop-radio-img{
	text-align: center;
}

#styleshop-opts-save{
	margin:0px;
	border-bottom:1px solid #DFDFDF;
    background-color: #DFF0D8;
    color: #468847;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#styleshop-opts-imported{
	margin:0px;
	border-bottom:1px solid #BCE8F1;
    background-color: #D9EDF7;
    color: #3A87AD;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#styleshop-opts-save-warn{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}



#styleshop-opts-field-warnings{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
	background-color: #FCF8E3;
    color: #C09853;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}




#styleshop-opts-field-errors{
	margin:0px;
	display:none;
	border-bottom:1px solid #DFDFDF;
    background-color: #F2DEDE;
    color: #B94A48;
    padding: 8px 35px 8px 14px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);	
}


#styleshop-opts-sidebar,
#styleshop-opts-main{
	min-height:300px;
}
#styleshop-opts-sidebar{
	width:200px;
	float: left;
}

.styleshop-opts-menu-warning{
	background-color: #C09853;
    color: #FCF8E3;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}

.styleshop-opts-menu-error{
	background-color: #B94A48;
    color: #F2DEDE;
	display: inline-block;
	float:right;
    padding: 6px 7px 4px 7px;
    margin-left:4px;
	-moz-border-radius: 20px; /* Firefox */
	-webkit-border-radius: 20px; /* Safari, Chrome */
	border-radius: 20px;
	font-family: sans-serif;
    font-size: 9px;
    font-weight: bold;
    line-height: 9px;
}
	

#styleshop-opts-main{
	background:#FFFFFF;
	margin-left:201px;
	border-left:1px solid #DFDFDF;
	padding:10px 20px;
}


#styleshop-opts-sidebar #styleshop-opts-group-menu{
	margin-top:0px;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li{
	margin:0px;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li.divide{
	padding:0px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li a{
	display:block;
	padding: 14px 14px;
	background: #eeeeee;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
    border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
    
    color: #333333;
    font-weight:bold;
    text-decoration:none;
    outline: none;
}


#styleshop-opts-sidebar #styleshop-opts-group-menu li a.custom-tab{
	background: #f6f6f6;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li a img{
	width: 16px;
	height: 16px;
	/*vertical-align:middle;*/
	margin-bottom:-3px;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li a:hover{
	background:#f9f9f9;
	width:174px;
	margin-right:-2px;
}
#styleshop-opts-sidebar #styleshop-opts-group-menu li.active a{
	background:#ffffff;
	width:174px;
	margin-right:-2px;
}






.styleshop-opts-group-tab{
	display:none;
}
.styleshop-opts-group-tab h3{
	margin-top: 0px;
	font-size: 1.8em;
	line-height: 2em;
	border-bottom: 1px solid #DFDFDF;
}
.styleshop-opts-group-tab .styleshop-opts-section-desc{
	font-style: italic;
	font-size:1.2em;
	color:#666666;
}
.styleshop-opts-group-tab .form-table{
	border-top: 1px solid #DFDFDF;
	clear:none;
	margin-top:20px;
}
.styleshop-opts-group-tab .form-table.no-border{
	border-top:none;
}
.styleshop-opts-group-tab .form-table tr{
	border-bottom: 1px solid #DFDFDF;
}
.styleshop-opts-group-tab .form-table tr:last-child{
	border-bottom: none;
}
.styleshop-opts-group-tab .form-table tr th,
.styleshop-opts-group-tab .form-table tr td{
	padding:20px 20px 40px 20px;
	color:#333333;
}
.styleshop-opts-group-tab .form-table tr th{
	font-weight:bold;
	font-size:1.1em;
	width:22%;
}
.styleshop-opts-group-tab .form-table tr th span:first-child{
	font-weight: normal;
	display:block;
	color:#666666;
}


.styleshop-opts-group-tab .form-table tr td .styleshop-opts-th-warning{
	font-size:1em;
    color: #C09853;
	font-weight:normal;
	display:block;
}
.styleshop-opts-group-tab .form-table tr td .styleshop-opts-field-warning{
	border-color:#C09853;
}


.styleshop-opts-group-tab .form-table tr td .styleshop-opts-th-error{
	font-size:1em;
	color:#B94A48;
	font-weight:normal;
	display:block;
}
.styleshop-opts-group-tab .form-table tr td .styleshop-opts-field-error{
	border-color:#B94A48;
}


/* reset nested tables for mce */
.styleshop-opts-group-tab .form-table tr td table.mceLayout,
.styleshop-opts-group-tab .form-table tr td table.mceLayout tr,
.styleshop-opts-group-tab .form-table tr td table.mceLayout tr td{
	padding:0px;
	border-width:0px;
}


.styleshop-opts-group-tab .styleshop-opts-theme-data{
	padding:20px 0px;
	border-top: 1px solid #DFDFDF;
}
.styleshop-opts-group-tab .styleshop-opts-theme-data.theme-uri,
.styleshop-opts-group-tab .styleshop-opts-theme-data.theme-author,
.styleshop-opts-group-tab .styleshop-opts-theme-data.theme-version{
	padding:0px;
	border-width:0px;
}
.styleshop-opts-group-tab .styleshop-opts-theme-data.theme-description{
	padding:10px 0px;
	border-width:0px;
}





/*
 *
 * Styleshop_Options_radio_img
 *
 */
.styleshop-radio-img input[type='radio']{
	display:none;
}
.styleshop-radio-img,
.styleshop-radio-img-selected{
	margin:6px;
	display:inline-block;
	padding:10px;
}
.styleshop-radio-img-selected{
	background-color:#f9f9f9;
}
.styleshop-radio-img img,
.styleshop-radio-img-selected img{
	border-width:4px;
	border-style: solid;
}
.styleshop-radio-img img{
	border-color:#e9e9e9;
}
.styleshop-radio-img-selected img{
		border-color:#c9c9c9;
}



/*
 *
 * Styleshop_Options_color
 *
 */
.farb-popup-wrapper{
	position: relative;
	display: block;
}

.farb-popup{
	position: absolute;
	left: 40px;
	top: 40px;
	background-color: white;
	border: 1px solid #222;
	padding: 5px;
	z-index:100;
}



#styleshop-opts-import-link-wrapper,
#styleshop-opts-import-code-wrapper{
	display:none;
}

#styleshop-opts-export-code,
#styleshop-opts-export-link-value{
	display:none;
}
#styleshop-opts-import-action span{
	color:#B94A48;
}
#import_divide{
	margin: 40px 0px;
	border-bottom: 1px solid #DFDFDF;
}
.styleshop-opts-screenshot{
	max-width: 200px;
	display:block;
	margin-bottom: 5px;
	width: auto;
}


.styleshop-opts-group-tab .field-table,
.styleshop-opts-group-tab .styleshop-opts-section-desc{
	width: 100%;
}
.styleshop-opts-group-tab .field-table tr td{
	padding: 0;
}
.styleshop-opts-group-tab .customize_allow,
.styleshop-opts-group-tab .cpanel_allow{
	width: 70px;
	text-align: right;
}
#styleshop-opts-header .button,
#styleshop-opts-footer .button{
	margin: 5px;
}
.styleshop-opts-group-tab th .social-share{
	text-align: right;
}

@media screen and (max-width : 900px) {
	#styleshop-opts-sidebar{
		width:42px;
	}
	#styleshop-opts-main{
		margin-left:43px;
	}
	.styleshop-opts-group-tab-link-a{
		position: relative;
	}
	.styleshop-opts-group-tab-link-a span{
		display:none;
		position:absolute;
		top: 0;
		left:44px;
		padding: 14px;
		width: 200px;
		background: #eeeeee;
		border: 1px solid #DFDFDF;
		border-width: 1px 1px 1px 0px;
	}
	.styleshop-opts-group-tab-link-a:hover > span{
		display: block;
	}
	#styleshop-opts-sidebar #styleshop-opts-group-menu li a,
	#styleshop-opts-sidebar #styleshop-opts-group-menu li a:hover,
	#styleshop-opts-sidebar #styleshop-opts-group-menu li.active a,
	#styleshop-opts-sidebar #styleshop-opts-group-menu li.active a:hover{
		width:15px;
	}
	
	table.form-table, .form-table > thead, .form-table > tbody, .form-table > tbody > tr > th, .form-table > tbody > tr > td, .form-table > tbody > tr {
		display: block !important;
		width: 100% !important;
		padding: 0px !important;
	}
	.form-table > tbody > tr > th, .form-table > tbody > tr > td{
		padding: 10px !important;
	}
	.form-table > tbody > tr > td span.description{
		display: block;
	}
}