@media (max-width: 767px) and (min-width: 481px) {
	
	.rtl {
		
	}
}
@media (max-width: 640px) {
	#subscribe_popup{
		min-width:470px;
		padding:24px 18px 25px 18px;
		.subscribe-popup-container .subscribe-social{
			margin-top:42px;
		}
	}
}

@media (max-width: 639px) {

}
