@media (max-width: 480px) {
	#comments{
		.commentlist .children{
			margin-left:10px;
			.rtl &{
				margin-right:10px;
				margin-left:0;
			}
		}
		.comment{
			.author{
				float: none !important;
				margin-bottom: 10px;
			}
			.media-body{
				padding: 0 !important;
				.media .media-heading .time{
					padding:0 10px;
				}
			}
		}
	}
	#respond .wp-comment .title{
		font-size:14px;
	}
	.styleshop-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content{
		.p-item-title{
			display:none;
		}
		.p-item.item-more, .p-item.item-popup{
			width:20px;
			height:20px;
			line-height:20px;
			font-size:12px;
		}
	}
	#subscribe_popup{
		padding:48px 18px 25px 18px;
		min-width:250px;
		.subscribe-popup-container{
			h2{
				font-size:20px;
			}
			.description{
				font-size:14px;
			}
		}
	}
	#subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"]{
		width: 210px;
	}
	#subscribe_popup .subscribe-popup-container .subscribe-getit a{
		width: 210px;
	}
}
@media (max-width: 479px) {
	
}
