@font-face {
	font-family: 'budicon';
	src:url('http://localhost/Crocs(woocom)/wp-content/uploads/ts-vcsc-icons/custom-pack/fonts/budicon.eot?3dd8vx');
	src:url('http://localhost/Crocs(woocom)/wp-content/uploads/ts-vcsc-icons/custom-pack/fonts/budicon.eot?3dd8vx#iefix') format('embedded-opentype'),
		url('http://localhost/Crocs(woocom)/wp-content/uploads/ts-vcsc-icons/custom-pack/fonts/budicon.ttf?3dd8vx') format('truetype'),
		url('http://localhost/Crocs(woocom)/wp-content/uploads/ts-vcsc-icons/custom-pack/fonts/budicon.woff?3dd8vx') format('woff'),
		url('http://localhost/Crocs(woocom)/wp-content/uploads/ts-vcsc-icons/custom-pack/fonts/budicon.svg?3dd8vx#budicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'budicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-animal-fox:before {
	content: "\e900";
}
.icon-animal-pig:before {
	content: "\e901";
}
.icon-animal-pig2:before {
	content: "\e902";
}
.icon-animal-bull:before {
	content: "\e903";
}
.icon-animal-cow:before {
	content: "\e904";
}
.icon-animal-monkey:before {
	content: "\e905";
}
.icon-animal-monkey2:before {
	content: "\e906";
}
.icon-animal-doghusky:before {
	content: "\e907";
}
.icon-animal-wolf:before {
	content: "\e908";
}
.icon-animal-dog:before {
	content: "\e909";
}
.icon-animal-mouse:before {
	content: "\e90a";
}
.icon-animal-cat:before {
	content: "\e90b";
}
.icon-animal-fish:before {
	content: "\e90c";
}
.icon-animal-frog:before {
	content: "\e90d";
}
.icon-animal-shrimp:before {
	content: "\e90e";
}
.icon-animal-sheep:before {
	content: "\e90f";
}
.icon-animal-lion:before {
	content: "\e910";
}
.icon-animal-dog2:before {
	content: "\e911";
}
.icon-animal-goose:before {
	content: "\e912";
}
.icon-animal-chicken:before {
	content: "\e913";
}
.icon-animal-cow2:before {
	content: "\e914";
}
.icon-communication-bubblechattalkconversation:before {
	content: "\e915";
}
.icon-communication-bubblechattalkconversationline:before {
	content: "\e916";
}
.icon-communication-bubblechattalkconversationmore:before {
	content: "\e917";
}
.icon-communication-bubblechattalkconversation2:before {
	content: "\e918";
}
.icon-communication-bubblechattalkconversationline2:before {
	content: "\e919";
}
.icon-communication-bubblechattalkconversationmore2:before {
	content: "\e91a";
}
.icon-communication-bubblechattalkconversation3:before {
	content: "\e91b";
}
.icon-communication-bubblechattalkconversationline3:before {
	content: "\e91c";
}
.icon-communication-bubblechattalkconversationmore3:before {
	content: "\e91d";
}
.icon-communication-bubblechatgroupconversation:before {
	content: "\e91e";
}
.icon-communication-bubblechatgroupconversation2:before {
	content: "\e91f";
}
.icon-communication-bubblechatgroupconversation3:before {
	content: "\e920";
}
.icon-communication-bubblechatgroupconversation4:before {
	content: "\e921";
}
.icon-communication-bubblechatgroupconversation5:before {
	content: "\e922";
}
.icon-communication-bubblehelpquestionsupport:before {
	content: "\e923";
}
.icon-communication-bubblehelpquestionsupport2:before {
	content: "\e924";
}
.icon-communication-broadcastmegaphone:before {
	content: "\e925";
}
.icon-communication-broadcastmegaphone2:before {
	content: "\e926";
}
.icon-communication-chattalkbubblemoredots:before {
	content: "\e927";
}
.icon-communication-voicemail:before {
	content: "\e928";
}
.icon-communication-emailenvelopemail:before {
	content: "\e929";
}
.icon-communication-emailenvelopedeletecross:before {
	content: "\e92a";
}
.icon-communication-emailenvelopetickdone:before {
	content: "\e92b";
}
.icon-communication-emailenvelopedeleteminus:before {
	content: "\e92c";
}
.icon-communication-emailenvelopeaddplus:before {
	content: "\e92d";
}
.icon-communication-emailenvelope:before {
	content: "\e92e";
}
.icon-communication-emailenvelope2:before {
	content: "\e92f";
}
.icon-communication-letterfeatherpen:before {
	content: "\e930";
}
.icon-communication-fountainpenmessages:before {
	content: "\e931";
}
.icon-communication-emailsendcontact:before {
	content: "\e932";
}
.icon-communication-mic:before {
	content: "\e933";
}
.icon-communication-micsilentmute:before {
	content: "\e934";
}
.icon-communication-phonecall:before {
	content: "\e935";
}
.icon-communication-phonecall2:before {
	content: "\e936";
}
.icon-communication-bellnotification:before {
	content: "\e937";
}
.icon-communication-bellnotification2:before {
	content: "\e938";
}
.icon-communication-taskvotechoiceselect:before {
	content: "\e939";
}
.icon-communication-picturesframeimage:before {
	content: "\e93a";
}
.icon-communication-megaphonebroadcastannouncement:before {
	content: "\e93b";
}
.icon-communication-megaphonebroadcastannouncement2:before {
	content: "\e93c";
}
.icon-document-articlenewsnewspaper:before {
	content: "\e93d";
}
.icon-document-articlenewsnewspaper2:before {
	content: "\e93e";
}
.icon-document-articlenewsnewspaper3:before {
	content: "\e93f";
}
.icon-document-fileblank:before {
	content: "\e940";
}
.icon-document-file:before {
	content: "\e941";
}
.icon-document-addplusfile:before {
	content: "\e942";
}
.icon-document-removeminusdeletefile:before {
	content: "\e943";
}
.icon-document-doneticktaskfile:before {
	content: "\e944";
}
.icon-document-cancelcrossdeletefile:before {
	content: "\e945";
}
.icon-document-bookarticle:before {
	content: "\e946";
}
.icon-document-bookpaper:before {
	content: "\e947";
}
.icon-document-bookpaper2:before {
	content: "\e948";
}
.icon-document-bookpaper3:before {
	content: "\e949";
}
.icon-document-fileblank2:before {
	content: "\e94a";
}
.icon-document-file2:before {
	content: "\e94b";
}
.icon-document-addplusfile2:before {
	content: "\e94c";
}
.icon-document-removeminusdeletefile2:before {
	content: "\e94d";
}
.icon-document-doneticktaskfile2:before {
	content: "\e94e";
}
.icon-document-cancelcrossdeletefile2:before {
	content: "\e94f";
}
.icon-document-bookpaper4:before {
	content: "\e950";
}
.icon-document-folder:before {
	content: "\e951";
}
.icon-document-pin:before {
	content: "\e952";
}
.icon-document-pin2:before {
	content: "\e953";
}
.icon-document-printer:before {
	content: "\e954";
}
.icon-document-printer2:before {
	content: "\e955";
}
.icon-document-envelope:before {
	content: "\e956";
}
.icon-document-eyeglassread:before {
	content: "\e957";
}
.icon-document-eyeglassread2:before {
	content: "\e958";
}
.icon-media-clipvideofilm:before {
	content: "\e959";
}
.icon-media-clipvideofilm2:before {
	content: "\e95a";
}
.icon-document-folder2:before {
	content: "\e95b";
}
.icon-document-folderaddplusnew:before {
	content: "\e95c";
}
.icon-document-folderdeleteremove:before {
	content: "\e95d";
}
.icon-document-foldertickdone:before {
	content: "\e95e";
}
.icon-document-foldercrossdeleteremove:before {
	content: "\e95f";
}
.icon-document-foldersync:before {
	content: "\e960";
}
.icon-document-box:before {
	content: "\e961";
}
.icon-document-profilenewspaper:before {
	content: "\e962";
}
.icon-document-profilenewspaper2:before {
	content: "\e963";
}
.icon-document-paperarticlenews:before {
	content: "\e964";
}
.icon-document-uploadarrow:before {
	content: "\e965";
}
.icon-document-downloadarrow:before {
	content: "\e966";
}
.icon-document-bindertierblankzero0:before {
	content: "\e967";
}
.icon-document-bindertierzero0:before {
	content: "\e968";
}
.icon-document-bindertierone1:before {
	content: "\e969";
}
.icon-document-bindertiertwo2:before {
	content: "\e96a";
}
.icon-document-bindertierthree3:before {
	content: "\e96b";
}
.icon-document-bindertierfour4:before {
	content: "\e96c";
}
.icon-document-articlebookjournal:before {
	content: "\e96d";
}
.icon-document-book:before {
	content: "\e96e";
}
.icon-document-officestuffdrawer:before {
	content: "\e96f";
}
.icon-document-stackfile:before {
	content: "\e970";
}
.icon-document-piechartgraph:before {
	content: "\e971";
}
.icon-document-piechartgraph2:before {
	content: "\e972";
}
.icon-document-piechartgraph3:before {
	content: "\e973";
}
.icon-document-analyticgraphblank:before {
	content: "\e974";
}
.icon-document-analyticgraph:before {
	content: "\e975";
}
.icon-document-analyticgraphdown:before {
	content: "\e976";
}
.icon-document-analyticgraphup:before {
	content: "\e977";
}
.icon-document-list:before {
	content: "\e978";
}
.icon-business-tiejob:before {
	content: "\e979";
}
.icon-business-tiejob2:before {
	content: "\e97a";
}
.icon-business-tiejob3:before {
	content: "\e97b";
}
.icon-document-composepencilwrite:before {
	content: "\e97c";
}
.icon-document-composepencilwrite2:before {
	content: "\e97d";
}
.icon-document-articlecolumnnewspapernews:before {
	content: "\e97e";
}
.icon-document-articlebookjournal2:before {
	content: "\e97f";
}
.icon-document-attachmentclippaperclip:before {
	content: "\e980";
}
.icon-document-attachmentclippaperclip2:before {
	content: "\e981";
}
.icon-document-bookmarkimportant:before {
	content: "\e982";
}
.icon-document-drawingwritingboardtick:before {
	content: "\e983";
}
.icon-document-drawingwritingboard:before {
	content: "\e984";
}
.icon-document-paperarticlenews2:before {
	content: "\e985";
}
.icon-document-stackpaperbundle:before {
	content: "\e986";
}
.icon-document-drawerboxshelfdashboard:before {
	content: "\e987";
}
.icon-document-drawerboxshelfdashboard2:before {
	content: "\e988";
}
.icon-document-drawerdashboardupload:before {
	content: "\e989";
}
.icon-document-drawerdashboarddownload:before {
	content: "\e98a";
}
.icon-document-drawerdashboard:before {
	content: "\e98b";
}
.icon-document-drawerdashboard2:before {
	content: "\e98c";
}
.icon-document-briefcasecasebag:before {
	content: "\e98d";
}
.icon-document-briefcasecasebag2:before {
	content: "\e98e";
}
.icon-document-briefcasecasebag3:before {
	content: "\e98f";
}
.icon-document-briefcasecasebag4:before {
	content: "\e990";
}
.icon-document-briefcasecasebag5:before {
	content: "\e991";
}
.icon-media-videoclipfilm:before {
	content: "\e992";
}
.icon-media-video:before {
	content: "\e993";
}
.icon-media-video2:before {
	content: "\e994";
}
.icon-media-video3:before {
	content: "\e995";
}
.icon-document-photostackpolaroid:before {
	content: "\e996";
}
.icon-media-imagephoto:before {
	content: "\e997";
}
.icon-media-imagephoto2:before {
	content: "\e998";
}
.icon-media-imagesphoto:before {
	content: "\e999";
}
.icon-media-imagephoto3:before {
	content: "\e99a";
}
.icon-document-blankdocument:before {
	content: "\e99b";
}
.icon-document-blankdocumentminusdelete:before {
	content: "\e99c";
}
.icon-document-blankdocumentaddplus:before {
	content: "\e99d";
}
.icon-document-notebookpenbooknotes:before {
	content: "\e99e";
}
.icon-document-newspapernews:before {
	content: "\e99f";
}
.icon-document-book2:before {
	content: "\e9a0";
}
.icon-document-bookbookmark:before {
	content: "\e9a1";
}
.icon-media-imagephoto4:before {
	content: "\e9a2";
}
.icon-document-folder3:before {
	content: "\e9a3";
}
.icon-document-folder-add-plus-new:before {
	content: "\e9a4";
}
.icon-document-folder-delete-remove:before {
	content: "\e9a5";
}
.icon-document-folder-tick-done:before {
	content: "\e9a6";
}
.icon-document-folder-cross-delete-remove:before {
	content: "\e9a7";
}
.icon-ecommerce-shopmarket:before {
	content: "\e9a8";
}
.icon-ecommerce-basketshoppingcart:before {
	content: "\e9a9";
}
.icon-ecommerce-shopcart:before {
	content: "\e9aa";
}
.icon-ecommerce-shopcartfill:before {
	content: "\e9ab";
}
.icon-ecommerce-trolleyshopcartdownload:before {
	content: "\e9ac";
}
.icon-ecommerce-trolleyshopcart:before {
	content: "\e9ad";
}
.icon-ecommerce-trolleyshopcartfill:before {
	content: "\e9ae";
}
.icon-ecommerce-trolleyshopcartdownload2:before {
	content: "\e9af";
}
.icon-ecommerce-trolleyshopcart2:before {
	content: "\e9b0";
}
.icon-ecommerce-trolleyshopcart3:before {
	content: "\e9b1";
}
.icon-ecommerce-marketbagshop:before {
	content: "\e9b2";
}
.icon-ecommerce-marketbagshop2:before {
	content: "\e9b3";
}
.icon-ecommerce-creditcarddiscover:before {
	content: "\e9b4";
}
.icon-ecommerce-creditcardmastercard:before {
	content: "\e9b5";
}
.icon-ecomerce-giftwishlist:before {
	content: "\e9b6";
}
.icon-ecommerce-boxpackagingpackgoodies:before {
	content: "\e9b7";
}
.icon-ecommerce-boxpackagingpackgoodies2:before {
	content: "\e9b8";
}
.icon-ecommerce-downloaddigitalitem:before {
	content: "\e9b9";
}
.icon-ecommerce-uploaddigitalitem:before {
	content: "\e9ba";
}
.icon-ecommerce-shoppingbag:before {
	content: "\e9bb";
}
.icon-ecommerce-creditcard:before {
	content: "\e9bc";
}
.icon-ecommerce-creditcard2:before {
	content: "\e9bd";
}
.icon-ecommerce-creditcard3:before {
	content: "\e9be";
}
.icon-ecommerce-safedeposit:before {
	content: "\e9bf";
}
.icon-ecommerce-moneycashfinance:before {
	content: "\e9c0";
}
.icon-ecommerce-moneycashfinance2:before {
	content: "\e9c1";
}
.icon-ecommerce-moneycashcoinsfinance:before {
	content: "\e9c2";
}
.icon-ecommerce-moneycashcoinsfinance2:before {
	content: "\e9c3";
}
.icon-ecommerce-walletmoneycashfinance:before {
	content: "\e9c4";
}
.icon-ecommerce-walletmoneycashfinance2:before {
	content: "\e9c5";
}
.icon-ecommerce-pricetag:before {
	content: "\e9c6";
}
.icon-ecommerce-pricetagadd:before {
	content: "\e9c7";
}
.icon-ecommerce-pricetagminusdelete:before {
	content: "\e9c8";
}
.icon-ecommerce-pricetagtickdone:before {
	content: "\e9c9";
}
.icon-ecommerce-pricetagcross:before {
	content: "\e9ca";
}
.icon-ecommerce-pricetag2:before {
	content: "\e9cb";
}
.icon-ecommerce-pricetag3:before {
	content: "\e9cc";
}
.icon-ecommerce-pricetag4:before {
	content: "\e9cd";
}
.icon-ecommerce-pricetag5:before {
	content: "\e9ce";
}
.icon-ecommerce-pricetag6:before {
	content: "\e9cf";
}
.icon-ecommerce-pricetag7:before {
	content: "\e9d0";
}
.icon-goods-shirt:before {
	content: "\e9d1";
}
.icon-goods-shirt2:before {
	content: "\e9d2";
}
.icon-goods-womenbag:before {
	content: "\e9d3";
}
.icon-goods-backpack:before {
	content: "\e9d4";
}
.icon-goods-backpack2:before {
	content: "\e9d5";
}
.icon-goods-tshirt:before {
	content: "\e9d6";
}
.icon-goods-short:before {
	content: "\e9d7";
}
.icon-goods-jeans:before {
	content: "\e9d8";
}
.icon-ecommerce-trackingtrackpaymentactivity:before {
	content: "\e9d9";
}
.icon-ecommerce-financecoinmoneycashyen:before {
	content: "\e9da";
}
.icon-ecommerce-financecoinmoneycashpoundsterling:before {
	content: "\e9db";
}
.icon-ecommerce-financecoinmoneycasheuro:before {
	content: "\e9dc";
}
.icon-ecommerce-financecoinmoneycashdollar:before {
	content: "\e9dd";
}
.icon-goods-fashionbowtie:before {
	content: "\e9de";
}
.icon-goods-cosmeticlipstick:before {
	content: "\e9df";
}
.icon-goods-shoes:before {
	content: "\e9e0";
}
.icon-ecommerce-hanger:before {
	content: "\e9e1";
}
.icon-ecommerce-suitcase:before {
	content: "\e9e2";
}
.icon-ecommerce-suitcase2:before {
	content: "\e9e3";
}
.icon-ecommerce-jewelrydiamondring:before {
	content: "\e9e4";
}
.icon-ecommerce-jewelrydiamond:before {
	content: "\e9e5";
}
.icon-ecommerce-billpaymentreceipt:before {
	content: "\e9e6";
}
.icon-ecommerce-billpaymentreceipt2:before {
	content: "\e9e7";
}
.icon-ecommerce-billpaymentreceipt3:before {
	content: "\e9e8";
}
.icon-ecommerce-shopmarket2:before {
	content: "\e9e9";
}
.icon-ecommerce-wishlistlike:before {
	content: "\e9ea";
}
.icon-hours:before {
	content: "\e9eb";
}
.icon-airplane:before {
	content: "\e9ec";
}
.icon-ATM_card:before {
	content: "\e9ed";
}
.icon-ATM_money:before {
	content: "\e9ee";
}
.icon-bag:before {
	content: "\e9ef";
}
.icon-bank_card_security:before {
	content: "\e9f0";
}
.icon-bank_card:before {
	content: "\e9f1";
}
.icon-bank:before {
	content: "\e9f2";
}
.icon-banknote:before {
	content: "\e9f3";
}
.icon-banknotes:before {
	content: "\e9f4";
}
.icon-bar_graph_1:before {
	content: "\e9f5";
}
.icon-bar_graph_2:before {
	content: "\e9f6";
}
.icon-bar_graph_drop:before {
	content: "\e9f7";
}
.icon-bar_graph_growth:before {
	content: "\e9f8";
}
.icon-bar_graph_horizontal:before {
	content: "\e9f9";
}
.icon-bar_graph_vertical:before {
	content: "\e9fa";
}
.icon-barcode_search:before {
	content: "\e9fb";
}
.icon-barcode:before {
	content: "\e9fc";
}
.icon-basket_1:before {
	content: "\e9fd";
}
.icon-basket_2:before {
	content: "\e9fe";
}
.icon-basket_3:before {
	content: "\e9ff";
}
.icon-basket_4:before {
	content: "\ea00";
}
.icon-basket_5:before {
	content: "\ea01";
}
.icon-basket_6:before {
	content: "\ea02";
}
.icon-basket_full:before {
	content: "\ea03";
}
.icon-box_1:before {
	content: "\ea04";
}
.icon-box_2:before {
	content: "\ea05";
}
.icon-box_3:before {
	content: "\ea06";
}
.icon-box_isometric:before {
	content: "\ea07";
}
.icon-box_search:before {
	content: "\ea08";
}
.icon-briefcase:before {
	content: "\ea09";
}
.icon-buy:before {
	content: "\ea0a";
}
.icon-calculator:before {
	content: "\ea0b";
}
.icon-candlestick_chart:before {
	content: "\ea0c";
}
.icon-car_24:before {
	content: "\ea0d";
}
.icon-car_express:before {
	content: "\ea0e";
}
.icon-case:before {
	content: "\ea0f";
}
.icon-cash_register:before {
	content: "\ea10";
}
.icon-certificate:before {
	content: "\ea11";
}
.icon-check:before {
	content: "\ea12";
}
.icon-clipboard:before {
	content: "\ea13";
}
.icon-close:before {
	content: "\ea14";
}
.icon-coins_collect:before {
	content: "\ea15";
}
.icon-coins:before {
	content: "\ea16";
}
.icon-comb:before {
	content: "\ea17";
}
.icon-cut:before {
	content: "\ea18";
}
.icon-delivery_1:before {
	content: "\ea19";
}
.icon-delivery_2:before {
	content: "\ea1a";
}
.icon-dollar:before {
	content: "\ea1b";
}
.icon-dress:before {
	content: "\ea1c";
}
.icon-euro:before {
	content: "\ea1d";
}
.icon-eyeware:before {
	content: "\ea1e";
}
.icon-gift_wrap:before {
	content: "\ea1f";
}
.icon-graph_growth:before {
	content: "\ea20";
}
.icon-graph:before {
	content: "\ea21";
}
.icon-hanger_clothing:before {
	content: "\ea22";
}
.icon-hanger:before {
	content: "\ea23";
}
.icon-headphones:before {
	content: "\ea24";
}
.icon-heart:before {
	content: "\ea25";
}
.icon-high_heels:before {
	content: "\ea26";
}
.icon-insert_coin:before {
	content: "\ea27";
}
.icon-lipstick:before {
	content: "\ea28";
}
.icon-mascara:before {
	content: "\ea29";
}
.icon-moneybag_dollar:before {
	content: "\ea2a";
}
.icon-moneybag_euro:before {
	content: "\ea2b";
}
.icon-moneybag:before {
	content: "\ea2c";
}
.icon-new:before {
	content: "\ea2d";
}
.icon-open:before {
	content: "\ea2e";
}
.icon-pants:before {
	content: "\ea2f";
}
.icon-paper:before {
	content: "\ea30";
}
.icon-parfume:before {
	content: "\ea31";
}
.icon-pie_chart_1:before {
	content: "\ea32";
}
.icon-pie_chart_2:before {
	content: "\ea33";
}
.icon-pie_chart_3:before {
	content: "\ea34";
}
.icon-piggy_bank_add:before {
	content: "\ea35";
}
.icon-piggy_bank_coin:before {
	content: "\ea36";
}
.icon-piggy_bank_input:before {
	content: "\ea37";
}
.icon-piggy_bank_output:before {
	content: "\ea38";
}
.icon-piggy_bank_remove:before {
	content: "\ea39";
}
.icon-piggy_bank:before {
	content: "\ea3a";
}
.icon-sale_1:before {
	content: "\ea3b";
}
.icon-sale_2:before {
	content: "\ea3c";
}
.icon-sale_3:before {
	content: "\ea3d";
}
.icon-scales:before {
	content: "\ea3e";
}
.icon-ship:before {
	content: "\ea3f";
}
.icon-shoes:before {
	content: "\ea40";
}
.icon-shop:before {
	content: "\ea41";
}
.icon-shopping_bag_1:before {
	content: "\ea42";
}
.icon-shopping_bag_2:before {
	content: "\ea43";
}
.icon-star:before {
	content: "\ea44";
}
.icon-storage_box:before {
	content: "\ea45";
}
.icon-strongbox:before {
	content: "\ea46";
}
.icon-suit:before {
	content: "\ea47";
}
.icon-t-shirt:before {
	content: "\ea48";
}
.icon-tag:before {
	content: "\ea49";
}
.icon-trash:before {
	content: "\ea4a";
}
.icon-trolley_1:before {
	content: "\ea4b";
}
.icon-trolley_2:before {
	content: "\ea4c";
}
.icon-trolley_3:before {
	content: "\ea4d";
}
.icon-trolley_add:before {
	content: "\ea4e";
}
.icon-trolley_check:before {
	content: "\ea4f";
}
.icon-trolley_close:before {
	content: "\ea50";
}
.icon-trolley_full:before {
	content: "\ea51";
}
.icon-trolley_input:before {
	content: "\ea52";
}
.icon-trolley_like:before {
	content: "\ea53";
}
.icon-trolley_output:before {
	content: "\ea54";
}
.icon-trolley_remove:before {
	content: "\ea55";
}
.icon-trolley_settings:before {
	content: "\ea56";
}
.icon-underware:before {
	content: "\ea57";
}
.icon-wallet_1:before {
	content: "\ea58";
}
.icon-wallet_2:before {
	content: "\ea59";
}
.icon-warehouse:before {
	content: "\ea5a";
}
.icon-editorial-leftalign:before {
	content: "\ea5b";
}
.icon-editorial-centeralign:before {
	content: "\ea5c";
}
.icon-editorial-rightalign:before {
	content: "\ea5d";
}
.icon-editorial-uieditcompose:before {
	content: "\ea5e";
}
.icon-editorial-pencil:before {
	content: "\ea5f";
}
.icon-editorial-pencil2:before {
	content: "\ea60";
}
.icon-editorial-pencil3:before {
	content: "\ea61";
}
.icon-editorial-pencil4:before {
	content: "\ea62";
}
.icon-editorial-pen:before {
	content: "\ea63";
}
.icon-editorial-pen2:before {
	content: "\ea64";
}
.icon-editorial-ascending:before {
	content: "\ea65";
}
.icon-editorial-descending:before {
	content: "\ea66";
}
.icon-editorial-pencilwrite:before {
	content: "\ea67";
}
.icon-editorial-pencilwrite2:before {
	content: "\ea68";
}
.icon-editorial-trashcan:before {
	content: "\ea69";
}
.icon-editorial-trashcan2:before {
	content: "\ea6a";
}
.icon-editorial-trashcan3:before {
	content: "\ea6b";
}
.icon-editorial-trashcan4:before {
	content: "\ea6c";
}
.icon-editorial-bookmark:before {
	content: "\ea6d";
}
.icon-editorial-bookmark2:before {
	content: "\ea6e";
}
.icon-editorial-brush:before {
	content: "\ea6f";
}
.icon-editorial-undo:before {
	content: "\ea70";
}
.icon-editorial-redo:before {
	content: "\ea71";
}
.icon-building-officeapartment:before {
	content: "\ea72";
}
.icon-building-buildingoffice:before {
	content: "\ea73";
}
.icon-building-apartment:before {
	content: "\ea74";
}
.icon-building-officeapartment2:before {
	content: "\ea75";
}
.icon-building-museum:before {
	content: "\ea76";
}
.icon-building-tower:before {
	content: "\ea77";
}
.icon-building-houselive:before {
	content: "\ea78";
}
.icon-building-houselive2:before {
	content: "\ea79";
}
.icon-interior-door:before {
	content: "\ea7a";
}
.icon-environment-trees:before {
	content: "\ea7b";
}
.icon-interior-tabledesk:before {
	content: "\ea7c";
}
.icon-interior-tabledesk2:before {
	content: "\ea7d";
}
.icon-interior-tabledesk3:before {
	content: "\ea7e";
}
.icon-interior-bed:before {
	content: "\ea7f";
}
.icon-interior-sofachair:before {
	content: "\ea80";
}
.icon-interior-sofachair2:before {
	content: "\ea81";
}
.icon-interior-sofachair3:before {
	content: "\ea82";
}
.icon-interior-sofachair4:before {
	content: "\ea83";
}
.icon-interior-sofachair5:before {
	content: "\ea84";
}
.icon-interior-interiorhomecabinets:before {
	content: "\ea85";
}
.icon-interior-drawer:before {
	content: "\ea86";
}
.icon-interior-drawer2:before {
	content: "\ea87";
}
.icon-interior-desktable:before {
	content: "\ea88";
}
.icon-interior-cornerlamp:before {
	content: "\ea89";
}
.icon-interior-cornerlamp2:before {
	content: "\ea8a";
}
.icon-interior-lampbulb:before {
	content: "\ea8b";
}
.icon-environment-flower:before {
	content: "\ea8c";
}
.icon-environment-plant:before {
	content: "\ea8d";
}
.icon-environment-flower2:before {
	content: "\ea8e";
}
.icon-environment-flower3:before {
	content: "\ea8f";
}
.icon-object-nosmoke:before {
	content: "\ea90";
}
.icon-object-smoke:before {
	content: "\ea91";
}
.icon-environment-leafgreen:before {
	content: "\ea92";
}
.icon-environment-tree:before {
	content: "\ea93";
}
.icon-environment-leafgreen2:before {
	content: "\ea94";
}
.icon-environment-signdirectionstreet:before {
	content: "\ea95";
}
.icon-environment-mountain:before {
	content: "\ea96";
}
.icon-environment-mountainsun:before {
	content: "\ea97";
}
.icon-interface-incominglink:before {
	content: "\ea98";
}
.icon-interface-outcominglink:before {
	content: "\ea99";
}
.icon-interface-arrowleft:before {
	content: "\ea9a";
}
.icon-interface-arrowtop:before {
	content: "\ea9b";
}
.icon-interface-arrowright:before {
	content: "\ea9c";
}
.icon-interface-arrowbottom:before {
	content: "\ea9d";
}
.icon-interface-arrowlefttop:before {
	content: "\ea9e";
}
.icon-interface-arrowrighttop:before {
	content: "\ea9f";
}
.icon-interface-arrowrightbottom:before {
	content: "\eaa0";
}
.icon-interface-arrowleftbottom:before {
	content: "\eaa1";
}
.icon-interface-supporthelplifesafer:before {
	content: "\eaa2";
}
.icon-interface-supporthelplifesafer2:before {
	content: "\eaa3";
}
.icon-interface-arrowleft2:before {
	content: "\eaa4";
}
.icon-interface-arrowtop2:before {
	content: "\eaa5";
}
.icon-interface-arrowright2:before {
	content: "\eaa6";
}
.icon-interface-arrowbottom2:before {
	content: "\eaa7";
}
.icon-interface-longarrowleft:before {
	content: "\eaa8";
}
.icon-interface-longarrowtop:before {
	content: "\eaa9";
}
.icon-interface-longarrowright:before {
	content: "\eaaa";
}
.icon-interface-longarrowbottom:before {
	content: "\eaab";
}
.icon-interface-plusadd:before {
	content: "\eaac";
}
.icon-interface-minusremove:before {
	content: "\eaad";
}
.icon-interface-crosscancel:before {
	content: "\eaae";
}
.icon-interface-tickdone:before {
	content: "\eaaf";
}
.icon-interface-tickdone2:before {
	content: "\eab0";
}
.icon-interface-blockfailed:before {
	content: "\eab1";
}
.icon-interface-meterdashboard:before {
	content: "\eab2";
}
.icon-interface-clocktime:before {
	content: "\eab3";
}
.icon-interface-clocktime2:before {
	content: "\eab4";
}
.icon-interface-clocktime3:before {
	content: "\eab5";
}
.icon-interface-searchaddplus:before {
	content: "\eab6";
}
.icon-interface-searchminusremove:before {
	content: "\eab7";
}
.icon-interface-searchtickdone:before {
	content: "\eab8";
}
.icon-interface-searchcrosscancel:before {
	content: "\eab9";
}
.icon-interface-search:before {
	content: "\eaba";
}
.icon-interface-bellnotification:before {
	content: "\eabb";
}
.icon-interface-bellnotification2:before {
	content: "\eabc";
}
.icon-interface-crop:before {
	content: "\eabd";
}
.icon-interface-cmdcommand:before {
	content: "\eabe";
}
.icon-interface-3dotsmore:before {
	content: "\eabf";
}
.icon-interface-arrowleft3:before {
	content: "\eac0";
}
.icon-interface-arrowright3:before {
	content: "\eac1";
}
.icon-interface-arrowleft4:before {
	content: "\eac2";
}
.icon-interface-arrowtop3:before {
	content: "\eac3";
}
.icon-interface-arrowright4:before {
	content: "\eac4";
}
.icon-interface-arrowbottom3:before {
	content: "\eac5";
}
.icon-interface-arrowlefttop2:before {
	content: "\eac6";
}
.icon-interface-arrowrighttop2:before {
	content: "\eac7";
}
.icon-interface-arrowrightbottom2:before {
	content: "\eac8";
}
.icon-interface-arrowleftbottom2:before {
	content: "\eac9";
}
.icon-interface-plusadd2:before {
	content: "\eaca";
}
.icon-interface-minusdelete:before {
	content: "\eacb";
}
.icon-interface-crosscancel2:before {
	content: "\eacc";
}
.icon-interface-tickdone3:before {
	content: "\eacd";
}
.icon-interface-circlerighttrue:before {
	content: "\eace";
}
.icon-interface-likeheartlove:before {
	content: "\eacf";
}
.icon-interface-favoritestar:before {
	content: "\ead0";
}
.icon-interface-favoritestar2:before {
	content: "\ead1";
}
.icon-interface-targetlock:before {
	content: "\ead2";
}
.icon-interface-targetbulleye:before {
	content: "\ead3";
}
.icon-interface-arrowleft5:before {
	content: "\ead4";
}
.icon-interface-arrowtop4:before {
	content: "\ead5";
}
.icon-interface-arrowright5:before {
	content: "\ead6";
}
.icon-interface-arrowbottom4:before {
	content: "\ead7";
}
.icon-interface-arrowhorizontal:before {
	content: "\ead8";
}
.icon-interface-arrowvertical:before {
	content: "\ead9";
}
.icon-interface-2arrowsenlarge:before {
	content: "\eada";
}
.icon-interface-2arrowsdowngrade:before {
	content: "\eadb";
}
.icon-interface-arrowall:before {
	content: "\eadc";
}
.icon-interface-arrowall2:before {
	content: "\eadd";
}
.icon-interface-fullscreen:before {
	content: "\eade";
}
.icon-interface-fullscreen2:before {
	content: "\eadf";
}
.icon-interface-fullscreenwidescreen:before {
	content: "\eae0";
}
.icon-interface-windowpopup:before {
	content: "\eae1";
}
.icon-interface-logoutexit:before {
	content: "\eae2";
}
.icon-interface-loginenter:before {
	content: "\eae3";
}
.icon-interface-openoutgoinglink:before {
	content: "\eae4";
}
.icon-interface-openincominglinkdownload:before {
	content: "\eae5";
}
.icon-interface-househome:before {
	content: "\eae6";
}
.icon-interface-househome2:before {
	content: "\eae7";
}
.icon-interface-branchesstorelocation:before {
	content: "\eae8";
}
.icon-interface-branchesstorelocation2:before {
	content: "\eae9";
}
.icon-interface-vieweyewatch:before {
	content: "\eaea";
}
.icon-interface-downloadcloud:before {
	content: "\eaeb";
}
.icon-interface-uploadcloud:before {
	content: "\eaec";
}
.icon-interface-power:before {
	content: "\eaed";
}
.icon-interface-repeatreturnreverse:before {
	content: "\eaee";
}
.icon-interface-refresh:before {
	content: "\eaef";
}
.icon-interface-timebackbackundo:before {
	content: "\eaf0";
}
.icon-interface-reverseback:before {
	content: "\eaf1";
}
.icon-interface-window:before {
	content: "\eaf2";
}
.icon-interface-backspacebackarrow:before {
	content: "\eaf3";
}
.icon-interface-backspacebackarrow2:before {
	content: "\eaf4";
}
.icon-interface-calendartimedate:before {
	content: "\eaf5";
}
.icon-interface-arrowhorizontal2:before {
	content: "\eaf6";
}
.icon-interface-arrowvertical2:before {
	content: "\eaf7";
}
.icon-interface-arrowdiagonal:before {
	content: "\eaf8";
}
.icon-interface-arrowdiagonal2:before {
	content: "\eaf9";
}
.icon-interface-sidebarhamburger:before {
	content: "\eafa";
}
.icon-interface-2arrowsenlarge2:before {
	content: "\eafb";
}
.icon-interface-pixelvectorpoint:before {
	content: "\eafc";
}
.icon-interface-sidebarhamburger2:before {
	content: "\eafd";
}
.icon-interface-resizefullscreen:before {
	content: "\eafe";
}
.icon-interface-resizenormalscreen:before {
	content: "\eaff";
}
.icon-interface-resizefullscreen2:before {
	content: "\eb00";
}
.icon-layout-enlarge:before {
	content: "\eb01";
}
.icon-interface-minusdelete2:before {
	content: "\eb02";
}
.icon-interface-plusadd3:before {
	content: "\eb03";
}
.icon-interface-tickdone4:before {
	content: "\eb04";
}
.icon-interface-crosscancel3:before {
	content: "\eb05";
}
.icon-layout-half:before {
	content: "\eb06";
}
.icon-layout-thirdvertical:before {
	content: "\eb07";
}
.icon-layout-leftsidebar:before {
	content: "\eb08";
}
.icon-layout-rightsidebar:before {
	content: "\eb09";
}
.icon-layout-leftsidebarhalfcontent:before {
	content: "\eb0a";
}
.icon-layout-rightsidebarhalfcontent:before {
	content: "\eb0b";
}
.icon-layout-leftsidebarhalfcontent2:before {
	content: "\eb0c";
}
.icon-layout-rightsidebarhalfcontent2:before {
	content: "\eb0d";
}
.icon-layout-leftsidebarhalfcontent3:before {
	content: "\eb0e";
}
.icon-layout-rightsidebarhalfcontent3:before {
	content: "\eb0f";
}
.icon-layout-thirdhorizontal:before {
	content: "\eb10";
}
.icon-layout-header:before {
	content: "\eb11";
}
.icon-layout-footer:before {
	content: "\eb12";
}
.icon-layout-wireframes:before {
	content: "\eb13";
}
.icon-layout-wireframes2:before {
	content: "\eb14";
}
.icon-interface-arrowleft6:before {
	content: "\eb15";
}
.icon-interface-arrowright6:before {
	content: "\eb16";
}
.icon-interface-arrowtop5:before {
	content: "\eb17";
}
.icon-interface-arrowbottom5:before {
	content: "\eb18";
}
.icon-interface-gridthumb:before {
	content: "\eb19";
}
.icon-interface-listrowlayout:before {
	content: "\eb1a";
}
.icon-interface-plusadd4:before {
	content: "\eb1b";
}
.icon-interface-minussubtractdelete:before {
	content: "\eb1c";
}
.icon-interface-tickdone5:before {
	content: "\eb1d";
}
.icon-interface-crossdelete:before {
	content: "\eb1e";
}
.icon-interface-arrowdown:before {
	content: "\eb1f";
}
.icon-interface-arrowtop6:before {
	content: "\eb20";
}
.icon-interface-arrowleft7:before {
	content: "\eb21";
}
.icon-interface-arrowright7:before {
	content: "\eb22";
}
.icon-layout-grid:before {
	content: "\eb23";
}
.icon-interface-fullscreen3:before {
	content: "\eb24";
}
.icon-interface-widescreen:before {
	content: "\eb25";
}
.icon-interface-mapdirectiongps:before {
	content: "\eb26";
}
.icon-interface-conestreetwarning:before {
	content: "\eb27";
}
.icon-interface-keypadnumber:before {
	content: "\eb28";
}
.icon-kitchen-oven:before {
	content: "\eb29";
}
.icon-kitchen-fridge:before {
	content: "\eb2a";
}
.icon-kitchen-grill:before {
	content: "\eb2b";
}
.icon-kitchen-hoodfood:before {
	content: "\eb2c";
}
.icon-kitchen-hoodfood2:before {
	content: "\eb2d";
}
.icon-kitchen-peppersalt:before {
	content: "\eb2e";
}
.icon-kitchen-peppersalt2:before {
	content: "\eb2f";
}
.icon-kitchen-tissuepaper:before {
	content: "\eb30";
}
.icon-kitchen-fireflameheat:before {
	content: "\eb31";
}
.icon-kitchen-fireflameheat2:before {
	content: "\eb32";
}
.icon-kitchen-spoonfork:before {
	content: "\eb33";
}
.icon-kitchen-forkknife:before {
	content: "\eb34";
}
.icon-kitchen-spoonfork2:before {
	content: "\eb35";
}
.icon-kitchen-forkknife2:before {
	content: "\eb36";
}
.icon-kitchen-plate:before {
	content: "\eb37";
}
.icon-kitchen-jam:before {
	content: "\eb38";
}
.icon-kitchen-ketchupbottle:before {
	content: "\eb39";
}
.icon-kitchen-greenleafmint:before {
	content: "\eb3a";
}
.icon-kitchen-recipebook:before {
	content: "\eb3b";
}
.icon-kitchen-waterdrop:before {
	content: "\eb3c";
}
.icon-food-hamburger:before {
	content: "\eb3d";
}
.icon-food-hamburger2:before {
	content: "\eb3e";
}
.icon-food-onigiri:before {
	content: "\eb3f";
}
.icon-food-onigiri2:before {
	content: "\eb40";
}
.icon-food-bowlnoodlechopstick:before {
	content: "\eb41";
}
.icon-food-bowlnoodlechopstick2:before {
	content: "\eb42";
}
.icon-food-bowlsoup:before {
	content: "\eb43";
}
.icon-food-chineseboxfood:before {
	content: "\eb44";
}
.icon-food-chineseboxfood2:before {
	content: "\eb45";
}
.icon-food-chineseboxfood3:before {
	content: "\eb46";
}
.icon-food-fruitgrape:before {
	content: "\eb47";
}
.icon-food-fruitmelon:before {
	content: "\eb48";
}
.icon-food-fruitapple:before {
	content: "\eb49";
}
.icon-food-fruitcherry:before {
	content: "\eb4a";
}
.icon-food-fruitcherry2:before {
	content: "\eb4b";
}
.icon-food-icecreamdessert:before {
	content: "\eb4c";
}
.icon-food-icecreamdessert2:before {
	content: "\eb4d";
}
.icon-food-icecreamdessert3:before {
	content: "\eb4e";
}
.icon-food-icecreamdessert4:before {
	content: "\eb4f";
}
.icon-beverage-waterglass:before {
	content: "\eb50";
}
.icon-beverage-milkbottle:before {
	content: "\eb51";
}
.icon-beverage-milkbottle2:before {
	content: "\eb52";
}
.icon-beverage-chineseteagreentea:before {
	content: "\eb53";
}
.icon-beverage-chineseteagreentea2:before {
	content: "\eb54";
}
.icon-beverage-chineseteagreentea3:before {
	content: "\eb55";
}
.icon-beverage-chineseteagreentea4:before {
	content: "\eb56";
}
.icon-beverage-winebottle:before {
	content: "\eb57";
}
.icon-beverage-cupbeerdrink:before {
	content: "\eb58";
}
.icon-beverage-glass:before {
	content: "\eb59";
}
.icon-beverage-waterglass2:before {
	content: "\eb5a";
}
.icon-beverage-classiccocktail:before {
	content: "\eb5b";
}
.icon-beverage-classiccocktail2:before {
	content: "\eb5c";
}
.icon-beverage-teacup:before {
	content: "\eb5d";
}
.icon-beverage-teacup2:before {
	content: "\eb5e";
}
.icon-beverage-coffeecup:before {
	content: "\eb5f";
}
.icon-beverage-coffeecup2:before {
	content: "\eb60";
}
.icon-beverage-coffeecup3:before {
	content: "\eb61";
}
.icon-beverage-coffeecup4:before {
	content: "\eb62";
}
.icon-beverage-teacup3:before {
	content: "\eb63";
}
.icon-beverage-coffeecup5:before {
	content: "\eb64";
}
.icon-beverage-glass2:before {
	content: "\eb65";
}
.icon-beverage-glass3:before {
	content: "\eb66";
}
.icon-beverage-glass4:before {
	content: "\eb67";
}
.icon-beverage-glass5:before {
	content: "\eb68";
}
.icon-beverage-waterglass3:before {
	content: "\eb69";
}
.icon-beverage-cupwithstraw:before {
	content: "\eb6a";
}
.icon-beverage-teacup4:before {
	content: "\eb6b";
}
.icon-food-egg:before {
	content: "\eb6c";
}
.icon-food-whitebread:before {
	content: "\eb6d";
}
.icon-kitchen-spatula:before {
	content: "\eb6e";
}
.icon-food-chickendrumstick:before {
	content: "\eb6f";
}
.icon-misc-cubepolygon:before {
	content: "\eb70";
}
.icon-misc-sadbadmood:before {
	content: "\eb71";
}
.icon-misc-smilehappymood:before {
	content: "\eb72";
}
.icon-misc-dicesix:before {
	content: "\eb73";
}
.icon-misc-dicefive:before {
	content: "\eb74";
}
.icon-misc-dicefour:before {
	content: "\eb75";
}
.icon-misc-dicethree:before {
	content: "\eb76";
}
.icon-misc-dicetwo:before {
	content: "\eb77";
}
.icon-misc-diceone:before {
	content: "\eb78";
}
.icon-misc-globe:before {
	content: "\eb79";
}
.icon-misc-malegender:before {
	content: "\eb7a";
}
.icon-misc-femalegender:before {
	content: "\eb7b";
}
.icon-misc-puzzlepiece:before {
	content: "\eb7c";
}
.icon-misc-wificonnectioninternet:before {
	content: "\eb7d";
}
.icon-cursor-normalpointer:before {
	content: "\eb7e";
}
.icon-cursor-pointerswiperight:before {
	content: "\eb7f";
}
.icon-cursor-pointerswipeleft:before {
	content: "\eb80";
}
.icon-gesture-oneclick:before {
	content: "\eb81";
}
.icon-gesture-doubleclick:before {
	content: "\eb82";
}
.icon-misc-crownpremium:before {
	content: "\eb83";
}
.icon-music-radio:before {
	content: "\eb84";
}
.icon-music-headsetheadphone:before {
	content: "\eb85";
}
.icon-music-headsetheadphone2:before {
	content: "\eb86";
}
.icon-music-mic:before {
	content: "\eb87";
}
.icon-music-mic2:before {
	content: "\eb88";
}
.icon-audio-speaker:before {
	content: "\eb89";
}
.icon-music-audiospeaker:before {
	content: "\eb8a";
}
.icon-music-interfacerecord:before {
	content: "\eb8b";
}
.icon-music-interfacerecord2:before {
	content: "\eb8c";
}
.icon-music-cddiskvynil:before {
	content: "\eb8d";
}
.icon-volume-muteinterface:before {
	content: "\eb8e";
}
.icon-volume-lowinterface:before {
	content: "\eb8f";
}
.icon-volume-mediuminterface:before {
	content: "\eb90";
}
.icon-volume-highinterface:before {
	content: "\eb91";
}
.icon-volume-muteinterface2:before {
	content: "\eb92";
}
.icon-volume-lowinterface2:before {
	content: "\eb93";
}
.icon-volume-mediuminterface2:before {
	content: "\eb94";
}
.icon-volume-highinterface2:before {
	content: "\eb95";
}
.icon-music-equalizerinterface:before {
	content: "\eb96";
}
.icon-music-equalizerinterface2:before {
	content: "\eb97";
}
.icon-music-playinterface:before {
	content: "\eb98";
}
.icon-music-pauseinterface:before {
	content: "\eb99";
}
.icon-music-pauseinterface2:before {
	content: "\eb9a";
}
.icon-music-pauseinterface3:before {
	content: "\eb9b";
}
.icon-music-stopinterface:before {
	content: "\eb9c";
}
.icon-music-stopinterface2:before {
	content: "\eb9d";
}
.icon-music-previousinterface:before {
	content: "\eb9e";
}
.icon-music-nextinterface:before {
	content: "\eb9f";
}
.icon-music-ejectinterface:before {
	content: "\eba0";
}
.icon-music-list:before {
	content: "\eba1";
}
.icon-music-previousinterface2:before {
	content: "\eba2";
}
.icon-music-previousinterface3:before {
	content: "\eba3";
}
.icon-music-nextinterface2:before {
	content: "\eba4";
}
.icon-music-nextinterface3:before {
	content: "\eba5";
}
.icon-music-interfaceshuffle:before {
	content: "\eba6";
}
.icon-music-interfaceshuffle2:before {
	content: "\eba7";
}
.icon-music-interfacerepeat:before {
	content: "\eba8";
}
.icon-music-interfacerepeatabsolute:before {
	content: "\eba9";
}
.icon-music-interfacerepeat2:before {
	content: "\ebaa";
}
.icon-music-interfacerepeat3:before {
	content: "\ebab";
}
.icon-music-songnote:before {
	content: "\ebac";
}
.icon-music-songnote2:before {
	content: "\ebad";
}
.icon-music-songnote3:before {
	content: "\ebae";
}
.icon-music-songnote4:before {
	content: "\ebaf";
}
.icon-music-albumcover:before {
	content: "\ebb0";
}
.icon-music-albumcover2:before {
	content: "\ebb1";
}
.icon-music-albumcover3:before {
	content: "\ebb2";
}
.icon-music-albumcover4:before {
	content: "\ebb3";
}
.icon-music-albumcover5:before {
	content: "\ebb4";
}
.icon-music-songnoteplaylist:before {
	content: "\ebb5";
}
.icon-setting-wrench:before {
	content: "\ebb6";
}
.icon-setting-wrench2:before {
	content: "\ebb7";
}
.icon-setting-gear:before {
	content: "\ebb8";
}
.icon-setting-gear2:before {
	content: "\ebb9";
}
.icon-setting-gear3:before {
	content: "\ebba";
}
.icon-setting-settingequalizer:before {
	content: "\ebbb";
}
.icon-setting-settingequalizer2:before {
	content: "\ebbc";
}
.icon-setting-knobswitchoption:before {
	content: "\ebbd";
}
.icon-setting-knobswitchoption2:before {
	content: "\ebbe";
}
.icon-setting-componentperformancetech:before {
	content: "\ebbf";
}
.icon-setting-planeairplane:before {
	content: "\ebc0";
}
.icon-setting-notification:before {
	content: "\ebc1";
}
.icon-setting-personalhotspot:before {
	content: "\ebc2";
}
.icon-sport-tennisball:before {
	content: "\ebc3";
}
.icon-sport-basketball:before {
	content: "\ebc4";
}
.icon-sport-basketball2:before {
	content: "\ebc5";
}
.icon-sport-baseball:before {
	content: "\ebc6";
}
.icon-sport-footballrugby:before {
	content: "\ebc7";
}
.icon-sport-micspeaker:before {
	content: "\ebc8";
}
.icon-sport-bottlewatercontainer:before {
	content: "\ebc9";
}
.icon-sport-cards:before {
	content: "\ebca";
}
.icon-sport-tvshowlivegame:before {
	content: "\ebcb";
}
.icon-sport-tvshowlivegameerror:before {
	content: "\ebcc";
}
.icon-game-puzzletetris:before {
	content: "\ebcd";
}
.icon-sport-timertimeschedule:before {
	content: "\ebce";
}
.icon-sport-trophyrewardwinnercup:before {
	content: "\ebcf";
}
.icon-sport-trophyrewardwinnercup2:before {
	content: "\ebd0";
}
.icon-sport-rewardbadge:before {
	content: "\ebd1";
}
.icon-sport-rewardbadge2:before {
	content: "\ebd2";
}
.icon-sport-rewardbadge3:before {
	content: "\ebd3";
}
.icon-sport-rewardbadge4:before {
	content: "\ebd4";
}
.icon-sport-championpraiserewardgoldwinner:before {
	content: "\ebd5";
}
.icon-sport-championpraiserewardgoldwinner2:before {
	content: "\ebd6";
}
.icon-sport-flagwarn:before {
	content: "\ebd7";
}
.icon-sport-flagwarn2:before {
	content: "\ebd8";
}
.icon-fitness-dumbell:before {
	content: "\ebd9";
}
.icon-fitness-dumbell2:before {
	content: "\ebda";
}
.icon-sport-stadiumgame:before {
	content: "\ebdb";
}
.icon-sport-stadiumgame2:before {
	content: "\ebdc";
}
.icon-medicine-lab:before {
	content: "\ebdd";
}
.icon-medicine-lab2:before {
	content: "\ebde";
}
.icon-fitness-heartbloodpressure:before {
	content: "\ebdf";
}
.icon-sport-medickithelp:before {
	content: "\ebe0";
}
.icon-sport-woundtape:before {
	content: "\ebe1";
}
.icon-sport-championpraiserewardgoldwinner3:before {
	content: "\ebe2";
}
.icon-sport-championpraiserewardgoldwinner4:before {
	content: "\ebe3";
}
.icon-location-compassdirection:before {
	content: "\ebe4";
}
.icon-location-streetsymbol:before {
	content: "\ebe5";
}
.icon-location-pinmap:before {
	content: "\ebe6";
}
.icon-location-pinmaptick:before {
	content: "\ebe7";
}
.icon-location-pinmap2:before {
	content: "\ebe8";
}
.icon-location-pinmap3:before {
	content: "\ebe9";
}
.icon-location-pinmapaddplus:before {
	content: "\ebea";
}
.icon-location-pinmapremoveminus:before {
	content: "\ebeb";
}
.icon-location-pinmap4:before {
	content: "\ebec";
}
.icon-location-pinmap5:before {
	content: "\ebed";
}
.icon-location-maproute:before {
	content: "\ebee";
}
.icon-location-signdirectionstreet:before {
	content: "\ebef";
}
.icon-time-calendardate:before {
	content: "\ebf0";
}
.icon-time-clockhour:before {
	content: "\ebf1";
}
.icon-time-clockhour2:before {
	content: "\ebf2";
}
.icon-time-clockhour3:before {
	content: "\ebf3";
}
.icon-time-clockhour4:before {
	content: "\ebf4";
}
.icon-time-timer:before {
	content: "\ebf5";
}
.icon-time-hourglass:before {
	content: "\ebf6";
}
.icon-time-clocktimealarm:before {
	content: "\ebf7";
}
.icon-time-clocktimealarm2:before {
	content: "\ebf8";
}
.icon-time-clock:before {
	content: "\ebf9";
}
.icon-time-speedmeter:before {
	content: "\ebfa";
}
.icon-time-stopwatchtimer:before {
	content: "\ebfb";
}
.icon-time-stopwatchtimer2:before {
	content: "\ebfc";
}
.icon-time-stopwatchtimer3:before {
	content: "\ebfd";
}
.icon-time-calendardate2:before {
	content: "\ebfe";
}
.icon-time-calendardate3:before {
	content: "\ebff";
}
.icon-time-clock2:before {
	content: "\ec00";
}
.icon-time-watches:before {
	content: "\ec01";
}
.icon-time-watches2:before {
	content: "\ec02";
}
.icon-location-pinmap6:before {
	content: "\ec03";
}
.icon-time-watches3:before {
	content: "\ec04";
}
.icon-tool-magicwandinterface:before {
	content: "\ec05";
}
.icon-tool-magicwandinterface2:before {
	content: "\ec06";
}
.icon-tool-magnets:before {
	content: "\ec07";
}
.icon-tool-camera:before {
	content: "\ec08";
}
.icon-tool-camera2:before {
	content: "\ec09";
}
.icon-tool-camera3:before {
	content: "\ec0a";
}
.icon-tool-camera4:before {
	content: "\ec0b";
}
.icon-tool-camera5:before {
	content: "\ec0c";
}
.icon-tool-magnifiermagnificent:before {
	content: "\ec0d";
}
.icon-tool-consolegameboy:before {
	content: "\ec0e";
}
.icon-tool-disk:before {
	content: "\ec0f";
}
.icon-tool-disk2:before {
	content: "\ec10";
}
.icon-tool-cellphoneiphonemobile:before {
	content: "\ec11";
}
.icon-tool-cellphoneiphonemobilelandscape:before {
	content: "\ec12";
}
.icon-tool-ipadtabletmobile:before {
	content: "\ec13";
}
.icon-tool-ipadtabletmobilelandscape:before {
	content: "\ec14";
}
.icon-tool-cellphoneandroidmobile:before {
	content: "\ec15";
}
.icon-tool-cellphoneandroidmobilelandscape:before {
	content: "\ec16";
}
.icon-tool-computermonitormac:before {
	content: "\ec17";
}
.icon-tool-computermonitor:before {
	content: "\ec18";
}
.icon-tool-magicmouse:before {
	content: "\ec19";
}
.icon-tool-laptop:before {
	content: "\ec1a";
}
.icon-tool-projector:before {
	content: "\ec1b";
}
.icon-tool-consolegamecontroller:before {
	content: "\ec1c";
}
.icon-tool-consolegamecontroller2:before {
	content: "\ec1d";
}
.icon-tool-gameconsolegameboy:before {
	content: "\ec1e";
}
.icon-tool-videorecord:before {
	content: "\ec1f";
}
.icon-tool-radioaudio:before {
	content: "\ec20";
}
.icon-tool-tvtelevision:before {
	content: "\ec21";
}
.icon-tool-umbrella:before {
	content: "\ec22";
}
.icon-tool-flashlight:before {
	content: "\ec23";
}
.icon-tool-flashlight2:before {
	content: "\ec24";
}
.icon-tool-flashlight3:before {
	content: "\ec25";
}
.icon-tool-flashlight4:before {
	content: "\ec26";
}
.icon-tool-net:before {
	content: "\ec27";
}
.icon-tool-headphone:before {
	content: "\ec28";
}
.icon-tool-headphone2:before {
	content: "\ec29";
}
.icon-tool-medicaltape:before {
	content: "\ec2a";
}
.icon-tool-ruler:before {
	content: "\ec2b";
}
.icon-tool-compass:before {
	content: "\ec2c";
}
.icon-tool-hammer:before {
	content: "\ec2d";
}
.icon-tool-scissor:before {
	content: "\ec2e";
}
.icon-tool-toothbrush:before {
	content: "\ec2f";
}
.icon-tool-brush:before {
	content: "\ec30";
}
.icon-tool-brush2:before {
	content: "\ec31";
}
.icon-tool-paintroller:before {
	content: "\ec32";
}
.icon-tool-binoculars:before {
	content: "\ec33";
}
.icon-tool-calculator:before {
	content: "\ec34";
}
.icon-transportation-vehiclecar:before {
	content: "\ec35";
}
.icon-transportation-vehiclecar2:before {
	content: "\ec36";
}
.icon-transportation-vehiclecar3:before {
	content: "\ec37";
}
.icon-transportation-vehiclecar4:before {
	content: "\ec38";
}
.icon-transportation-bus:before {
	content: "\ec39";
}
.icon-transportation-train:before {
	content: "\ec3a";
}
.icon-transportation-ship:before {
	content: "\ec3b";
}
.icon-transportation-boat:before {
	content: "\ec3c";
}
.icon-transportation-bicycle:before {
	content: "\ec3d";
}
.icon-transportation-bicycle2:before {
	content: "\ec3e";
}
.icon-transportation-bus2:before {
	content: "\ec3f";
}
.icon-transportation-pickuptruck:before {
	content: "\ec40";
}
.icon-transportation-pickuptruck2:before {
	content: "\ec41";
}
.icon-transportation-bus3:before {
	content: "\ec42";
}
.icon-user-single:before {
	content: "\ec43";
}
.icon-user-singleadd:before {
	content: "\ec44";
}
.icon-user-singledeleteremove:before {
	content: "\ec45";
}
.icon-user-singletickdonevalid:before {
	content: "\ec46";
}
.icon-user-singledeletecross:before {
	content: "\ec47";
}
.icon-user-single2:before {
	content: "\ec48";
}
.icon-user-singleadd2:before {
	content: "\ec49";
}
.icon-user-singledeleteremove2:before {
	content: "\ec4a";
}
.icon-user-singletickdonevalid2:before {
	content: "\ec4b";
}
.icon-user-singledeletecross2:before {
	content: "\ec4c";
}
.icon-user-single3:before {
	content: "\ec4d";
}
.icon-user-singleadd3:before {
	content: "\ec4e";
}
.icon-user-singledeleteremove3:before {
	content: "\ec4f";
}
.icon-user-singletickdonevalid3:before {
	content: "\ec50";
}
.icon-user-singledeletecross3:before {
	content: "\ec51";
}
.icon-user-female:before {
	content: "\ec52";
}
.icon-user-femaleadd:before {
	content: "\ec53";
}
.icon-user-femaledeleteremove:before {
	content: "\ec54";
}
.icon-user-femaletickdone:before {
	content: "\ec55";
}
.icon-user-femaledeletecross:before {
	content: "\ec56";
}
.icon-user-single4:before {
	content: "\ec57";
}
.icon-user-singleadd4:before {
	content: "\ec58";
}
.icon-user-singledeleteremove4:before {
	content: "\ec59";
}
.icon-user-singletickdonevalid4:before {
	content: "\ec5a";
}
.icon-user-singledeletecross4:before {
	content: "\ec5b";
}
.icon-user-malelist:before {
	content: "\ec5c";
}
.icon-user-list:before {
	content: "\ec5d";
}
.icon-user-femalelist:before {
	content: "\ec5e";
}
.icon-user-malegroup:before {
	content: "\ec5f";
}
.icon-user-femalegroup:before {
	content: "\ec60";
}
.icon-user-group:before {
	content: "\ec61";
}
.icon-user-single5:before {
	content: "\ec62";
}
.icon-user-passwordlock:before {
	content: "\ec63";
}
.icon-user-passwordunlock:before {
	content: "\ec64";
}
.icon-user-passwordunlock2:before {
	content: "\ec65";
}
.icon-user-passwordlock2:before {
	content: "\ec66";
}
.icon-user-passwordunlock3:before {
	content: "\ec67";
}
.icon-user-passwordunlock4:before {
	content: "\ec68";
}
.icon-user-male:before {
	content: "\ec69";
}
.icon-user-female2:before {
	content: "\ec6a";
}
.icon-user-passwordkey:before {
	content: "\ec6b";
}
.icon-user-contactbook:before {
	content: "\ec6c";
}
.icon-weather-windmetermeasurement:before {
	content: "\ec6d";
}
.icon-weather-cloudcloudy:before {
	content: "\ec6e";
}
.icon-weather-cloudsnow:before {
	content: "\ec6f";
}
.icon-weather-cloudstormy:before {
	content: "\ec70";
}
.icon-weather-cloudrainy:before {
	content: "\ec71";
}
.icon-weather-sunrisesun:before {
	content: "\ec72";
}
.icon-weather-sunrisesun2:before {
	content: "\ec73";
}
.icon-weather-humiditywaterdrop:before {
	content: "\ec74";
}
.icon-weather-sunset:before {
	content: "\ec75";
}
.icon-weather-sunbrightness:before {
	content: "\ec76";
}
.icon-weather-sunbrightness2:before {
	content: "\ec77";
}
.icon-weather-cloudsnow2:before {
	content: "\ec78";
}
.icon-weather-cloudrainy2:before {
	content: "\ec79";
}
.icon-weather-cloudstormy2:before {
	content: "\ec7a";
}
.icon-weather-cloudycloud:before {
	content: "\ec7b";
}
.icon-weather-cloudysuncloud:before {
	content: "\ec7c";
}
.icon-weather-windywindpressurehigh:before {
	content: "\ec7d";
}
.icon-weather-windywindpressure:before {
	content: "\ec7e";
}
.icon-weather-moonnightdawn:before {
	content: "\ec7f";
}
.icon-weather-moonnight:before {
	content: "\ec80";
}
.icon-weather-moonnight2:before {
	content: "\ec81";
}
.icon-web-browseinternetnetwork:before {
	content: "\ec82";
}
.icon-web-browseinternetnetwork2:before {
	content: "\ec83";
}
.icon-web-browserwindows:before {
	content: "\ec84";
}
.icon-web-browserwindows2:before {
	content: "\ec85";
}
.icon-web-browserwindows3:before {
	content: "\ec86";
}
.icon-web-removedeletetabbrowser:before {
	content: "\ec87";
}
.icon-web-addtabbrowser:before {
	content: "\ec88";
}
.icon-web-tickdonebrowser:before {
	content: "\ec89";
}
.icon-web-crossremovebrowser:before {
	content: "\ec8a";
}
.icon-web-inspectelementbrowser:before {
	content: "\ec8b";
}
.icon-web-trafficstatisticgraph:before {
	content: "\ec8c";
}
.icon-web-trafficstatisticgraph2:before {
	content: "\ec8d";
}
.icon-web-trafficstatisticgraph3:before {
	content: "\ec8e";
}
.icon-web-trafficstatisticgraph4:before {
	content: "\ec8f";
}
.icon-web-trafficstatisticgraph5:before {
	content: "\ec90";
}
.icon-web-wifirssreadersubscribe:before {
	content: "\ec91";
}
.icon-web-trafficstatisticgraph6:before {
	content: "\ec92";
}
.icon-web-logoutlogoutexit:before {
	content: "\ec93";
}
.icon-web-techwebcam:before {
	content: "\ec94";
}
.icon-web-techservermemorydiskstorage:before {
	content: "\ec95";
}
.icon-web-bug:before {
	content: "\ec96";
}
.icon-web-eyeglassreadinglist:before {
	content: "\ec97";
}
.icon-web-uploadarrow:before {
	content: "\ec98";
}
.icon-web-downloadarrow:before {
	content: "\ec99";
}
.icon-web-warningwarnalert:before {
	content: "\ec9a";
}
.icon-web-menucollapsedown:before {
	content: "\ec9b";
}
.icon-web-menucollapseup:before {
	content: "\ec9c";
}
.icon-web-menucollapseright:before {
	content: "\ec9d";
}
.icon-web-menucollapseleft:before {
	content: "\ec9e";
}
.icon-web-browserwindows4:before {
	content: "\ec9f";
}
.icon-web-flagreport:before {
	content: "\eca0";
}
.icon-web-flagreport2:before {
	content: "\eca1";
}
.icon-web-brokenlinkchainurl:before {
	content: "\eca2";
}
.icon-web-linkurl:before {
	content: "\eca3";
}
.icon-web-linkchainurl:before {
	content: "\eca4";
}
.icon-web-linkurl2:before {
	content: "\eca5";
}
.icon-web-codemarkuptag:before {
	content: "\eca6";
}
.icon-web-sharenetwork:before {
	content: "\eca7";
}
.icon-web-sharenetwork2:before {
	content: "\eca8";
}
.icon-web-sharenetwork3:before {
	content: "\eca9";
}
.icon-web-browsertab:before {
	content: "\ecaa";
}
.icon-web-browsertabadd:before {
	content: "\ecab";
}
.icon-web-browsertabminusdelete:before {
	content: "\ecac";
}
.icon-web-browsercrossremove:before {
	content: "\ecad";
}
.icon-web-browsertickdone:before {
	content: "\ecae";
}

