.wrapper_404 {
	width: 100%;
	height: auto;
	text-align: center;
	.content_404 {
		overflow:hidden;
		padding:80px 0;
		.erro-image{
			position: relative;
			text-align: center;
			margin-bottom: 56px;
			.erro-key{
				display: inline-block;
				vertical-align: top;
			}
			.erro-content{
		        position: absolute;
			    top: 148px;
			    left: 50%;
			    margin-left: -282px;
				h2{
					font-size: 54px;
					color: @color;
					text-transform: uppercase;
					font-weight: 600;
					margin: 0 0 1px;
				}
				p{
					font-size: 14px;
					color: #666666;
				}
			}
		}
		.item-right{
			text-align: center;
		}
		.block-top {
			h3{
				color: @a-color;
				font-size: 16px;
				font-family: 'PoppinsSemiBold' !important;
				text-transform: uppercase;
			}
			.warning-code {
				font-size: 14px;
				color: #7d7d7d;
			}
		}
		.block-middle {
			margin: 26px 0 55px;
			overflow:hidden;
			.styleshop_search_404 {
				.top-search {
					.topsearch-entry {
						.form-search {
							width: 670px;
							max-width: 100%;
							height: 50px;
							line-height: 50px;
							background-color: #fff; 
							overflow: hidden;
							margin: auto;
							position: relative;
							.border-radius(0);
							border:1px solid lighten(@border-color, 8%) ;
							.search-query {
								width: 100%;
								border:0;
								margin: 0;
								height: 50px;
								line-height: 50px;
								padding: 0 80px 0 15px;
								.border-radius(0);
								.rtl & {
									padding-right: 15px;
									padding-left: 80px;
								}
							}
							.form-button {
								position: absolute;
								top: 0;
								bottom: 0;
								right: 0;
								width: 60px;
								background-color: transparent;
								border: 0;
								margin: 0;
								&:before {
									content: "\f002";
									font-size: 18px;
									color: #7d7d7d;
									font-family: fontawesome;
									.transition(all .3s);
								}
								&:hover {
									&:before { color: @color; }
								}
								.rtl & {
									right: auto;
									left: 0;
								}
							}
						}
					}
				}
			}
		}
		.block-bottom {
			.btn-404 {
				color:@color;
				font-size:14px;
				display: inline-block;
				vertical-align: top;
				font-weight: bold;
				text-transform: uppercase;
				margin:0 20px 0 0px;
				i{
					padding: 0 11px;
				}
			}
		}
	}
}

@media( max-width: 979px ){

}
@media( max-width: 768px ){

}
@media(max-width: 480px){

}

@media(max-width: 480px){

}