.about_us{
	.about-item{
		padding: 20px 0;
		.img{
			float: left;
			margin-right: 30px;
			.rtl &{
				float: right;
				margin: 0 0 0 30px;
			}
		}
		.content-item{
			overflow: hidden;
			h3{
				font-size: 20px;
				color: #000000;
				text-transform: uppercase;
				font-family: 'PoppinsSemiBold' !important;	
				margin: 0 0 27px;	
			}
			p{
				color: #666666;
				line-height: 20px;
			}
		}
	}
	.banner-item{
		width: 50%;
		float: left;
		.rtl &{
			float: right;
		}
	}
}
.about_us2{
	.about-item{
		text-align: center;
		.img{
			display: inline-block;
			vertical-align: top;
			margin-bottom: 38px;
		}
		.content-item{
			h3{
				font-size: 20px;
				color: #000000;
				text-transform: uppercase;
				font-family: 'PoppinsSemiBold' !important;	
				margin: 0 0 20px;	
			}
			p{
				color: #666666;
				line-height: 20px;
			}
		}
	}
}