.single.main {
	.post, .team, .attachment  {
		.entry-wrap {
			background-color: #fff;
			position:relative;
			.entry-thumb {
				position:relative;
				margin-bottom: 28px;
			}
			.entry-title{
				font-family: 'PoppinsSemiBold';
				color:@a-color;
				font-size:16px;
				text-transform: uppercase;
				margin: 0 0 15px;
			}
			.entry-content{
				.entry-meta {
					color: #909090;
					font-size: 13px;
					text-transform: uppercase;
					overflow:hidden;
					display:block;
					margin: 0 -8px 25px;
					a {
						color: #909090;
						font-size: 13px;
						&:hover { color: @color; }
					}
					.entry-date{
						position:relative;
						top:auto;
						left:auto;
						right:auto;
					}
					.meta-entry{
						float:left;
						border-right: 1px solid #e6e6e6;
						padding: 0 8px;
						line-height: 12px;
						.rtl &{
							float:right;
							border-right: 0;
							border-left: 1px solid #e6e6e6;
							i{
								margin:0 0 0 8px;
							}
						}
						i{
							margin:0 8px 0 0;
						}
						&.entry-comment{
							border: none;
						}
					}
						
				}
				.entry-summary {
					line-height: 20px;
					color: #666666;
					margin-bottom: 51px;
					h3{
						color:@body-color;
						margin:25px 0;
					}				
					p .alignnone{
						float: left;
						display: block;
						clear: none;
						margin: 20px 0 30px 0;
						&.image-single{
							margin-left:30px;
						}
					}
					p{
						font-size: 14px;
						line-height: 22px;
					}
					.page-links{
					    margin-top: 30px;
						overflow: hidden;
						.page-links-title{
							border: none;
							width: auto;
							height: auto;
							line-height: 38px;
							border-radius: 0;
							float: left;
							background: none;
							color: #666;
							&:hover{
								background: none;
							}
						}
						span, a{
							display: block;
							width: 38px;
							line-height: 38px;
							height: 38px;
							border-radius:50%;
							text-align:center;
							font-size:14px;
							border:1px solid #aaaaaa;
							float: left;
							margin: 0 5px;
							&:hover{
								border-color: @color;
								background: @color;
								color: #fff;
							}
						}
						span{
							border-color: @color;
							background: @color;
							color: #fff;
						}
						a{
							span{
								border: none;
								margin: 0;
								border-color: #aaaaaa;
								background: none;
								color: #666;
							}
						}
					}
				}
				.single-content-bottom{
					border-bottom: 1px solid #eaeaea;
					padding-bottom: 3px;
					.single-tag {
						display: block;
						padding: 11px 0;
						span {
							font-size: 12px;
							color: @a-color;
							text-transform: uppercase;
							font-weight: 600;
						}
						a{
							font-size: 12px;
							color: #666666;
							text-transform: uppercase;
							&:hover{
								color: @color;
							}
						}
					}
					.social-share{
						float: right;
						.rtl &{
							float: left;
						}
						.title-share{
							font-size: 12px;
							color: @a-color;
							text-transform: uppercase;
							font-weight: 600;
							margin-right: 8px;
							margin-top: 10px;
							float: left;
							.rtl &{
								float: right;
								margin: 10px 0 0 8px;
							}
						}
						.wrap-content{
							float: left;
						}
						a{
							float: left;
							font-size: 18px;
							display: block;
							height: 35px;
							width: 35px;
							text-align: center;
							margin-right: 10px;
							border: 1px solid #afafaf;
							color: #646464;
							.transition(all 0.3s ease-in);
							&:hover{
								background-color: @color;
								border-color: @color;
								color: #fff;
							}
							i{
								line-height: 35px;
							}
						}
					}
				}
			}
		}	/* end .entry-wrap  */

		#authorDetails {
			margin: 30px 0 0;
			.authorDetail {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				.avatar {
					overflow: hidden;
					float: left;
					margin-right: 28px;
					.rtl & {
						float: right;
						margin: 0 0 0 28px;
					}
				}
				.infomation {
					overflow: hidden;
					padding: 19px 0 0;
					color: #999999;
					line-height: 22px;
					.name-author {
						text-transform: uppercase;
						color: @a-color;
						font-size:16px;
						font-family: 'PoppinsSemiBold';
					}
					p{
						font-size: 14px;
						line-height: 22px;
					}
				}
			}
		}	/* end .entry-wrap */
	}
}	/* end .single.main */

.single-post-relate {
	margin-bottom: 60px;
	margin-top:40px;
	> h4 {
		text-transform: uppercase;
		margin-bottom: 20px;
		font-size:18px;
		color:@a-color;
		padding:0 0 15px;
		border-bottom:1px solid #eaeaea;
		position:relative;
		font-weight: 600;
	}
	.post {
		.item-relate-img {
			position: relative;	
			margin: 0 0 15px;
			&:hover img{
				opacity:0.85;
			}
			.entry-meta {
				position:absolute;
				top:0;
				left:0;
				z-index:2;;
				.rtl & {
					left: auto;
					right: 10px;
				}
				.day-time{
					font-size:24px;
					color:#909090;
					font-family:'RalewayBold';
				}
				.month-time{
					font-size:14px;
					color:#909090;
					display:block;
				}
		    }
		}
		.item-relate-content {
			h4{
				margin-bottom: 15px;
				text-transform:capitalize;
				a{
					font-family: PoppinsSemiBold;
					color: @a-color;
					font-size: 14px;
					text-transform: uppercase;
					&:hover{
						color:@color;
					}
				}
			}
			.entry-meta {
				color: #909090;
				font-size: 13px;
				text-transform: uppercase;
				overflow:hidden;
				display:block;
				margin: 0 -8px;
				a {
					color: #909090;
					font-size: 12px;
					&:hover { color: @color; }
				}
				.entry-date{
					position:relative;
					top:auto;
					left:auto;
					right:auto;
				}
				.meta-entry{
					float:left;
					border-right: 1px solid #e6e6e6;
					padding: 0 8px;
					line-height: 12px;
					margin-bottom: 5px;
					.rtl &{
						float:right;
						border-right: 0;
						border-left: 1px solid #e6e6e6;
						i{
							margin:0 0 0 8px;
						}
					}
					i{
						margin:0 8px 0 0;
					}
					&.entry-comment{
						border: none;
					}
				}
					
			}
			.read-more{
				color:@color;
				text-transform:capitalize;
				font-size:14px;
				display:block;
				i{
					margin-right:10px;
					.rtl &{
						margin:0 0 0 10px;
						&:before{
							content:'\f0d9';
						}
					}
				}
			}
		}
	}
}
#comments{
	margin-bottom: 71px;
	h3.comment-title{
		font-size:18px;
		color:@a-color;
		text-transform:uppercase;
		font-weight: 600;
		margin-bottom: 31px;
		small{
			font-size:20px;
			color:@a-color;
			font-weight: 600;
		}
	}
	.commentlist, .children{
		.comment{
			margin-bottom: 26px;
			.author{
				display: inline-block;
				float: left;
				margin-right: 20px;
			}
			.media-body{
				.media{
					.media-heading{
						border-bottom: 1px solid #eaeaea;
						padding-bottom: 0;
						margin-bottom: 7px;
						.author-name{
							font-family: 'PoppinsSemiBold';
							font-size: 16px;
							color: @a-color;
							text-transform: uppercase;
						}
						.post-meta{
							.time{
								font-size: 11px;
								color: #909090;
								text-transform: uppercase;
								&:after{
								    content: '';
								    display: inline-block;
								    width: 1px;
								    height: 10px;
								    background: #909090;
								    margin: 0 3px;
								    -webkit-transform: rotate(20deg);
								    -ms-transform: rotate(20deg);
								    -moz-transform: rotate(20deg);
								    -o-transform: rotate(20deg);
								    transform: rotate(20deg);
								}
							}
							span{
								color: #b3b3b3;
								display: inline-block;
								&:last-child{
									&:after{
										display: none;
									}
								}
								a{
									font-size: 11px;
									color: #909090;
									text-transform: uppercase;
									&:hover{
										color: @color;
									}
								}
							}
						}
					}
					.media-content{
						p{
							font-size: 14px;
							color: #666666;
							line-height: 22px;
							margin: 0 0 0;
						}
					}
				}
			}
		}
	}
	ul.children{
		margin-left: 100px;
		margin-bottom: 26px;
	}
}

#respond {
	margin-bottom: 60px;
	.wp-comment {
		.title{
			font-size:18px;
			color:@a-color;
			text-transform:uppercase;
			font-weight: 600;
			margin-bottom: 34px;
		}
		.form-horizontal {
			::-webkit-input-placeholder{
			    color:    #666;
			}
			::-moz-placeholder{
			    color:    #666;
			}
			.cmm-box-top {
				.control-group{
					width:33.333%;
					padding: 0 15px;
				}
				input{
					width:100%;
					border:1px solid #adadad;
					height:42px;
					text-indent: 15px;
					.border-radius(0);
					margin: 0 0 30px;
					&:focus{
						background-color:#fafafa;
					}
				}
			}
			.cmm-box-bottom {
				textarea{
					width:100%;
					border:1px solid #adadad;
					padding:14px 20px;
					.border-radius(0);
				}
				button.btn {
					font-size: 12px;
					text-transform: uppercase;
					color: #000000;
					height: 35px;
					line-height: 35px;
					text-align: center;
					border: none;
				    border-left: 2px solid @color;
					border-right: 2px solid @color;
					position: relative;
					letter-spacing: 3px;
					padding: 0 18px;
					margin-top: 20px;
					display: inline-block;
					border-radius: 0;
					&:before, &:after{
						content: "";
					    display: inline-block;
					    position: absolute;
					    height: 2px;
					    .transition(.2s);
					    background: @color;
					}
					&:before{
						top: 0;
					    left: 23px;
					    right: 0;
					}
					&:after{
						bottom: 0;
						left: 0;
					    right: 23px;
					}
					&:hover{
						background: none;
						&:before{
						    left: 0;
						}
						&:after{
						    right: 0;
						}
					}
				}
			}			
		}
	}
}

.sidebar-related-post {
	.sidebar-relate-content {
		padding: 30px 20px 0;
		.item  {
			margin-bottom: 30px;
			.item-inner {
				.img_over {
					position: relative;
					margin-bottom: 10px;
					&:before {
						position: absolute;
						content: "";
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						z-index: 1;
						background: url('../assets/img/icon-plus.png') no-repeat center center;
						background-color: rgba(0,0,0, .5);
						pointer-events: none;
						.scale(0);
						.opacity(0);
						.transition(all .5s);
					}
					.entry-meta {
						position: absolute;
						top: 10px;
						left: 10px;
						padding: 10px 15px;
						#translucent .background(@color, .8);
						.rtl & {
							left: auto;
							right: 10px;
						}
						.post_day {
							font-size: 22px;
							font-weight: bold;
							display: block;
							color: #fff;
							margin-bottom: 5px;
						}
						.post_my {
							display: block;
							color: #fff;
							font-size: 14px;
						}
					}
				}
				.entry-content {
					.entry-title h4 {
						margin-bottom: 13px;
					}
					.entry-meta-content {
						color: #999999;
					}
				}
				&:hover {
					.img_over:before {
						.scale(1);
						.opacity(1);
					}
				}
			}
		}
	}
}