.listing-title h1{
	font-size:28px;
	color:@body-color;
	margin:0 0 30px;
	display:block;
	text-transform:uppercase;
}
.category-contents {
	margin-bottom: 40px;
	.blog-content {
		.post  {
			margin-bottom: 40px;
			&.format-image .entry-thumb, 
			&.format-gallery .entry-thumb{
				&:before{
					border:0!important;
				}
			}
			&.format-audio .entry-thumb{
				width:100%;
			}
			&.sticky{
				.entry .entry-content{
					background: #f2f2f2;
					padding: 20px;
				}
			}
			.entry  {
				background-color: #fff;
				.entry-thumb {
				    position: relative;
				    display: inline-block;
				    vertical-align: top;
					max-width: 100%;
					margin-bottom: 25px;
					&:hover{
						img{
							opacity:0.85;
						}
					}
				}
				.wp-entry-thumb{
					margin-bottom: 25px;
				}
				.entry-content {
					padding: 0;
					.content-top {
						.entry-title {
							h4 {
								margin-bottom: 14px;
								a {
    								font-size: 16px;
									color: @a-color;
									line-height: 22px;
									text-transform: uppercase;
									font-weight: 600;
									&:hover {
										color: @color;
									}
								}
							}
						}
						.entry-meta{
							margin: 0 -8px 24px;
							.meta-entry{
								a{
									font-size: 12px;
									text-transform: uppercase;
									color: #909090;
									display: block;
									line-height: 12px;
									padding: 0 8px;
								}
								&.entry-date{
									a{
										border-right: 1px solid #e6e6e6;
									}
								}
							}
						}
						.entry-summary{
							font-size: 14px;
							color: #666666;
							line-height: 22px;
							margin-bottom: 26px;
						}
					}
					.readmore{
						a{
							font-size: 12px;
							text-transform: uppercase;
							color: #000000;
							height: 35px;
							line-height: 35px;
							text-align: center;
							border: none;
						    border-left: 2px solid @color;
							border-right: 2px solid @color;
							position: relative;
							letter-spacing: 3px;
							padding: 0 18px;
							display: inline-block;
							&:before, &:after{
								content: "";
							    display: inline-block;
							    position: absolute;
							    height: 2px;
							    .transition(.2s);
							    background: @color;
							}
							&:before{
								top: 0;
							    left: 23px;
							    right: 0;
							}
							&:after{
								bottom: 0;
								left: 0;
							    right: 23px;
							}
							&:hover{
								&:before{
								    left: 0;
								}
								&:after{
								    right: 0;
								}
							}
						}
					}
				}
			}
		}	/* end .post */
		&.blog-content-grid{
			.post .entry .entry-content .content-top .entry-title h4 a{
				font-size:16px;
			}
		}
		&.blog-content-list {
			.post {
				&.no-thumb .entry .entry-thumb:before{
					display: none;
				}
			}
		}
		&.blog-content-default{
			.post{
				.entry{
					margin: 0 -15px;
					.entry-thumb, 
					.entry-content{
						float: left;
						width: 50%;
						padding: 0 15px;
					}
					.entry-content{
						.content-top .entry-title h4{
							margin-top: 24px;
						}
					}
				}
				&:nth-child(2n){
					.entry{
						.entry-thumb{
							float: right;
						}
					}
				}
			}
		}
	}	/* end .blog-content */
}	/* end .category-contents */

.pagination {
	display:inline-block;
	float:none;
	width:100%;
	text-align:center;
	margin: 30px 0 23px;
	ul {
		margin: 0;
		list-style-type: none;
		float: none;
		display:inline-block;
		li {
			float: left;
			position: relative;			
			text-align: center;
			margin:0 5px;
			.transition(all .3s);
			.rtl & {
				float: right;
			}
			&:hover {
				a {
					background: @color;
					color: #fff;
					border-color: @color;
				}
			}			
			span.current {
				background: @color;
				border:1px solid @color;
				color: #fff;
			}		
			a, span.current {
				display: block;
				width: 38px;
				line-height: 38px;
				height: 38px;
				border-radius:50%;
				text-align:center;
				font-size:14px;
			}
			a{
				border:1px solid #aaaaaa;
				color: #666;
			}
			.next,.prev{
				font-size: 20px;
				&:hover{
					border:1px solid @color;
					background-color:@color;
					color:#fff;
				}
			}
			.rtl &{
				.fa-angle-right{
					&:before{
						content:'\f104';
					}
				}
				.fa-angle-left{
					&:before{
						content:'\f105';
					}
				}
			}
		}
	}
}

.format-audio {
	.entry {
		.wp-entry-thumb {
			iframe {
				vertical-align: top;
				margin: 0;
			}
		}
	}
}

blockquote {
	border:0;
	padding: 5px 30px;
	position: relative;
	&:before {
		content: "";
		width: 17px;
		height: 13px;
		position: absolute;
		left: 0;
		top: 0;
	}
	&:after {
		content: "";
		width: 17px;
		height: 13px;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	p{
		font-style:italic;
		font-size:13px;
	}
}

.format-gallery {
	.carousel.gallery-slider {
		.carousel-control {
			display:inline-block;
			width: 32px !important;
	   		height: 32px !important;
			line-height:32px;
			border-radius:50%;
		    position: absolute;  
			z-index: 9;
			cursor: pointer;	
			font-size: 0;
			top: 50%;
			margin-top: -16px;
			background-color:#fff;
			.transition(all 0.3s);
			.opacity(0);
			.scale(0);
			text-shadow:none;
			background-image:none;
			&.left{
				left:15px;
				&:before{
					content:'\f0d9';
					font-family:'FontAwesome';
					font-size:16px;
					color:#999;
				}
				&:hover{
					&:before{
						color:@color;
					}
				}
			}
			&.right{
				right:15px;
				&:before{
					content:'\f0da';
					font-family:'FontAwesome';
					font-size:16px;
					color:#999;
				}
				&:hover{
					&:before{
						color:@color;
					}
				}
			}
		}
		.carousel-inner  {
			.item {
				img {
					margin: 0;
				}
			}			
		}
		&:hover {
			.carousel-control {
				.opacity(1);
				.scale(1);
			}		
		}
	}
	.gallery {
		.thumbnail {
			&:hover {
				background-color: @color;
				border-color: @color;
			}			
		}		
	}
}
