.wpb_gmaps_widget .wpb_wrapper {
	padding: 0;
	.wpb_map_wraper {
		border: 5px solid #f3f3f3;
	}
}
/*------------------------------------Contact US----------------------------------*/
.contact-bonus {
	.wpb_content_element{
		margin-bottom: 0;
	}
	.wrap-comment{
		.page-title{
			h3{
				margin-bottom: 24px;
			}
		}
	}
	.page-title{
		h3{
			font-family: 'PoppinsSemiBold' !important;
			font-size: 20px;
			text-transform: uppercase;
			color: #000000;
			margin-bottom: 19px;
		}
	}
	p{
		font-size: 12px;
		color: #666666;
		line-height: 20px;
	}
    .ct {
    	font-size: 12px;
    	color: #666666;
	    padding: 15px 0 12px 33px;
	    margin-bottom: 0;
	    clear: both;
	    position: relative;
	}
    .ct-street {
    	border-bottom: 1px solid #f3f3f3;
	    &:before{
	    	content:'';
	    	background: url("../assets/img/icon-map.png") no-repeat;
	    	position: absolute;
	    	height: 17px;
	    	width: 12px;
	    	left: 0;	  
	    	top: 17px;  
	    }
	}
	.ct-email {
		border-bottom: 1px solid #f3f3f3;
		padding: 11px 0 11px 33px;
	 	&:before{
	    	content:'';
	    	background: url("../assets/img/envelope.png") no-repeat;
	    	position: absolute;
	    	height: 11px;
	    	width: 16px;
	    	left: 0;	  
	    	top: 15px;
	    }
	}
	.ct-hotline {
		padding: 11px 0 11px 33px;
	   	&:before{
	    	content:'';
	    	background: url("../assets/img/icon-phone.png") no-repeat;
	    	position: absolute;
	    	height: 13px;
	    	width: 16px;
	    	left: 0;	  
	    	top: 13px;
	    }
	}
	.form-contact{
		margin: 0 -15px;
		.info-contact{
			float: left;
			width: 35%;
			padding: 0 15px;
			p{
				margin: 0 0 0;
				.wpcf7-form-control-wrap{
					input{
						width: 100%;
						border-color: #adadad;
						border-radius: 0;
						padding: 10px 14px 7px;
						margin: 0 0 30px;
					}
				}
			}
		}
		.info-comment{
			float: left;
			width: 65%;
			padding: 0 15px;
			p{
				margin: 0;
				textarea{
					width: 100%;
					border-color: #adadad;
					border-radius: 0;
					margin: 0;
    				padding: 13px 14px;
    				height: 177px;
				}
			}
		}
	}
	.senmail-buttom{
		display: inline-block;
	    height: 35px;
	    line-height: 35px;
	    text-align: center;
	    .border-radius(0);
	    border: none;
	    border-left: 2px solid #bf9a61;
	    border-right: 2px solid #bf9a61;
	    position: relative;
	    padding: 0 17px;
		input[type="submit"]{
			font-family: 'PoppinsSemiBold';
			font-size: 12px;
		    text-transform: uppercase;
		    color: #000000;
		    background: none;
		    padding: 0;
		    margin: 0;
		    border: none;
		    letter-spacing: 2px;
		    &:hover{
		    	background: none;
		    	color: #000000;
		    }
		}
		&:before{
    	    content: "";
		    display: inline-block;
		    position: absolute;
		    height: 2px;
		    .transition(.2s);
		    background: #bf9a61;
	        top: 0;
		    left: 23px;
		    right: 0;
	    }
		&:after{
    	    content: "";
		    display: inline-block;
		    position: absolute;
		    height: 2px;
		    .transition(.2s);
		    background: #bf9a61;
	        bottom: 0;
		    left: 0;
		    right: 23px;
	    }
	    .ajax-loader{
	    	position: absolute;
	    	right: -26px;
		    top: 50%;
		    margin: -8px 0 0;
	    }
	    &:hover{
	    	&:before{
	    		left: 0;
	    	}
	    	&:after{
	    		right: 0;
	    	}
	    }
	}
}
.contact-bonus.contact-bonus2{
	.form-contact{
		margin: 0 0 0;
		.info-contact{
			float: none;
			width: auto;
			padding: 0 0 0;
			margin: 0 -15px;
			p{
				margin: 0 0 0;
				width: 33.33%;
				float: left;
				padding: 0 15px;
				.wpcf7-form-control-wrap{
					input{
						width: 100%;
						border-color: #adadad;
						border-radius: 0;
						padding: 10px 14px 7px;
						margin: 0 0 30px;
						float: none;
					}
				}
			}
		}
		.info-comment{
			float: none;
			width: auto;
			padding: 0;
			margin: 0 0 30px;
			clear: both;
			p{
				margin: 0;
				textarea{
					width: 100%;
					border-color: #adadad;
					border-radius: 0;
					margin: 0;
    				padding: 13px 14px;
    				height: 143px;
				}
			}
		}
	}
}