.footer {
	position: relative;
	.footer-style1{
		background: #222222;
		.ya-logo{
			margin: 70px 0 33px;
		}
		.about-footer{
			p{
				font-size: 12px;
				color: #a8a8a8;
				line-height: 20px;
				padding-right: 76px;
			}
			a{
				font-size: 12px;
				color: #a8a8a8;
				text-transform: uppercase;
				border: 2px solid @color;
				padding: 8px 19px;
				margin-top: 27px;
			    display: inline-block;
			    vertical-align: top;
			    word-spacing: 4px;
				&:hover{
					background: @color;
					color: #fff;
				}
			}
		}
		.widget_nav_menu{
			h2{
				font-size: 20px;
				color: #ffffff;
				text-transform: uppercase;
				font-weight: 600;
				margin: 66px 0 31px;
			}
			ul{
				li{
					a{
						font-size: 12px;
						color: #a8a8a8;
						display: block;
						padding: 8px;
						&:hover{
							color: @color;
						}
					}
				}
			}
		}
		.infomation{
			h2{
				font-size: 20px;
				color: #ffffff;
				text-transform: uppercase;
				font-weight: 600;
				margin: 66px 0 31px;
			}
			p{
				font-size: 12px;
				color: #a8a8a8;
				line-height: 20px;
				margin: 0 0 22px;
			}
			.info-support{
				ul{
					margin: 0;
					li{
						list-style: none;
						font-size: 12px;
						color: #a8a8a8;
						padding-bottom: 17px;
						a{
							font-size: 12px;
							color: #a8a8a8;
							&:hover{
								color: @color;
							}
						}
					}
				}
			}
		}
		.wrap-cus{
			border-bottom: 1px solid #2e2e2e;
			margin: 0;
			padding: 38px 0 10px;
			.widget_nav_menu{
				text-align: center;
				ul{
					display: inline-block;
	    			vertical-align: top;
					li{
						float: left;
						a{
							padding: 0 14px;
							border-right: 1px solid #646464;
						    line-height: 12px;
							display: block;
						}
						&:last-child{
							a{
								border: none;
							}	
						}
					}
				}
			}
		}
	}
	.footer-copyright{
		background: #222222;
		padding: 30px 0;
		p{
			font-size: 12px;
			color: #a8a8a8;
			margin: 0;
			a{
				color: #a8a8a8;
				&:hover{
					color: @color;
				}
			}
		}
		.sidebar-copyright{
			.widget.widget_text .textwidget{
				padding: 0;
			}
		}
	}	
}
.home-style1{
	.btt{
		top: 177px;
	}
}
.btt{
	width: 56px;
    height: 56px;
    text-align: center;
    line-height: 56px;
    color: #fff;
    position: absolute;
    left: 50%;
    margin-left: -28px;
    top: 210px;
    z-index: 20;
    .rotate(45deg);
    background: @color;
    cursor: pointer;
}
#styleshop-totop {
    .rotate(-45deg);
    &:before{
    	content: '\f102';
	    display: inline-block;
	    font-family: FontAwesome;
	    font-synthesis: weight style;
	    line-height: 1;
	    text-align: center;
	    font-size: 25px;
		-webkit-animation-name: hvr-bob-float, hvr-bob;
		animation-name: hvr-bob-float, hvr-bob;
		-webkit-animation-duration: .3s, 1s;
		animation-duration: .3s, 1s;
		-webkit-animation-delay: 0s, .3s;
		animation-delay: 0s, .3s;
		-webkit-animation-timing-function: ease-out, ease-in-out;
		animation-timing-function: ease-out, ease-in-out;
		-webkit-animation-iteration-count: 1, infinite;
		animation-iteration-count: 1, infinite;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-direction: normal, alternate;
		animation-direction: normal, alternate;
    }
}
/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
  100% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  50% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
}