.custom.tparrows{
	background: none;
	height: 54px;
	width: 54px;
	background: url("../assets/img/icon.png") no-repeat;
	overflow: hidden;
	&.tp-leftarrow{
		background-position: -0px -108px;	
		&:before{
			content: "";
		}
	}
	&.tp-rightarrow{
		background-position: -0px -0px;
		&:before{
			content: "";
		}
	}
	&:hover{
		background: url("../assets/img/icon.png") no-repeat;
		opacity: 0.6;
		&.tp-leftarrow{
			background-position: -0px -108px;
		}
		&.tp-rightarrow{
			background-position: -0px -0px;
		}
	}
}

/*---------------------------------PRODUCT BOTTOM-------------------------------------*/
.item .item-wrap .item-detail{
	&:hover{
		.item-img{
			a{
				&:before{
					opacity: 1 !important;
				}
			}
		}
		.item-bottom{
			right: 8px;
			opacity: 1;
		}
	}
}
.woocommerce .item-bottom, .item-bottom{
	position: absolute;
	bottom: 8px;
	right: 0;
	opacity: 0;
    text-align: center;
    z-index: 2;
    .transition(.4s);
	.clear{
		clear: none;
	}
	.button{
		background: #fff;
		font-size: 0;
		height: 33px;
	    width: 33px;
	    line-height: 33px;
	    display: block;
	    border-radius: 0;
	    margin-bottom: 1px;
	    overflow: hidden;
	    &:before{
	    	content: '\f07a';
	    	font-family: FontAwesome;
		    color: #000000;
		    font-size: 13px;
		    display: block;
	    }
	    &:hover{
	    	background-color: @color;
	    	&:before{
	    		color: #fff;
	    	}
	    }
	    &.added{
	    	background: url('../assets/img/added.png') no-repeat center center #fff;
	    	background-position: 21px 3px;
	    	&:hover{
	    		&:before{
		    		color: #000000;
		    	}
	    	}
	    }
	    &.loading{
			background: url(../assets/img/loadingp.gif) no-repeat center center @color !important;
			.opacity(0.5);
			&:before, &:after{
				content:'';
				background: none;
			}
		}
	}
	a.added_to_cart{
		display: none;
	}
	.yith-wcwl-add-to-wishlist{
		margin: 0 0 1px;
		position: relative;
		overflow:hidden;
		.ajax-loading{
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    margin: 0;
		    margin-top: -8px;
		    margin-left: -8px;
		}
	}
	.yith-wcwl-wishlistaddedbrowse.show{
		a{
			background-color: @color;
			&:before{
				color: #fff;
			}
		}
	}
	.show{
		a{
			background: #fff;
			font-size: 0;
			height: 33px;
		    width: 33px;
		    line-height: 33px;
		    display: block;
		    border-radius: 0;
	    	 &:before{
		    	content: '\f08a';
		    	font-family: FontAwesome;
			    color: #000000;
			    font-size: 13px;
			    display: block;
		    }
		    &:hover{
		    	background-color: @color;
		    	&:before{
		    		color: #fff;
		    	}
		    }
		}
		span{
			display: none;
		}
	}
	a.compare.button{
		background: #fff;
		font-size: 0;
		height: 33px;
	    width: 33px;
	    line-height: 33px;
	    display: block;
	    border-radius: 0;
		overflow: hidden;
    	&:before{
	    	content: '\f079';
	    	font-family: FontAwesome;
		    color: #000000;
		    font-size: 13px;
		    display: block;
	    }
	    &:hover{
	    	background-color: @color;
	    	&:before{
	    		color: #fff;
	    	}
	    }
	    &.added{
	    	background: @color;
		    	&:before{
		    	content: '\f0ec';
		    	font-family: FontAwesome;
			    color: #fff;
			    font-size: 13px;
			    display: block;
		    }
	    }
	}
	.fancybox{
		background: #fff;
		font-size: 0;
		height: 33px;
	    width: 33px;
	    line-height: 33px;
	    display: block;
	    border-radius: 0;
		overflow: hidden;
	    &:before{
	    	content: '\f002';
	    	font-family: FontAwesome;
		    color: #000000;
		    font-size: 13px;
		    display: block;
	    }
	    &:hover{
	    	background-color: @color;
	    	&:before{
	    		color: #fff;
	    	}
	    }
	}
}
/*---------------------------------resp slider container-------------------------------------*/
.responsive-slider{
	.resp-slider-container{
		.slick-slider{
			.slick-list{
				margin: 0 -15px;
				.slick-track{
					.item{
						padding: 0 15px;
						.item-wrap{
							.item-detail{
								.item-img{
									position: relative;
									margin-bottom: 17px;
									> a{
										display: block;
										&:before{
											content: '';
											width: 100%;
											height: 100%;
											position: absolute;
											background: rgba(0,0,0,0.2);
											opacity: 0;
										}
									}
								}
								.item-content{
									h4{
										margin: 0 0 8px;
										a{
											font-size: 13px;
											text-transform: capitalize;
										}
									}
									.reviews-content{
										margin: 0 0 8px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
/*---------------------------------resp post slider-------------------------------------*/
.wrap-blog-box{
	background: #f5f4f4;
	padding-top: 67px;
	padding-bottom: 96px;
}
.responsive-post-slider{
	.resp-slider-container{
		.slick-slider{
			.slick-track{
				.item{
					.item-detail{
						.img_over{
							a{
								display: block;
								margin: 0 0 27px;
								position: relative;
								&:hover{
									&:before{
										.scale(1);
									}
								}
								&:before{
									content: '';
								    width: 100%;
								    height: 100%;
								    position: absolute;
								    background: rgba(0,0,0,0.1);
								    .scale(0);
								    transition: transform 0.3s;
								}
							}
						}
						.entry-content{
							.item-title{
								h4{
									margin: 0 0 15px;
									a{
										font-size: 16px;
										color: #000000;
										text-transform: uppercase;
										font-weight: 600;
										&:hover{
											color: @color;
										}
									}
								}
							}
							.entry-meta{
								margin: 0 -8px 25px;
								.meta-entry{
									font-size: 11px;
									color: #909090;
									text-transform: uppercase;
									line-height: 11px;
									padding: 0 8px;
									&.entry-date{
										border-right: 1px solid #e6e6e6;
									}
								}
							}
							.item-content{
								p{
									font-size: 12px;
									color: #666666;
									line-height: 20px;
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
.home-style1{
	.wrap-shipping{
		background: none;
		overflow: visible;
	}
	.shipping{
		background: @color;
		box-shadow: 0px 2px 2px 0px #e7e7e7;
		margin-top: -33px;
	}
}
.wrap-shipping{
	background: @color;
	margin-bottom: 70px;
}
.shipping{
	padding: 19px 0;
	text-align: center;
	a{
		font-size: 16px;
		color: #ffffff;
		text-transform: uppercase;
		font-weight: 400;
		letter-spacing: 3px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		&:before{
			content: '';
			background: url("../assets/img/icon.png") no-repeat;
			background-position: -0px -216px; 
			width: 42px; 
			height: 27px;
			overflow: hidden;
			display: inline-block;
			vertical-align: bottom;
			margin: 0 17px;
		}
		&:hover{
			color: #fff;
		}
	}	
}
.wrap-sub-social{
	margin-bottom: 68px;	
}
.wrap-newletter{
	h3{
		font-size: 20px;
		text-transform: uppercase;
		color: #000000;
		font-weight: 600;
		display: inline-block;
		vertical-align: top;
		line-height: 33px;
		letter-spacing: 3px;
		margin: 0 55px 0 0;
	}
	.mc4wp-form{
		display: inline-block;
		vertical-align: top;
		.newsletter-content{
			.newsletter-email{
				border-color: #d5d5d5;
				.border-radius(0);
				height: 33px;
				width: 370px;
				padding: 0 10px;
				margin: 0 27px 0 0;
			}
			.newsletter-submit{
				font-size: 12px;
				text-transform: uppercase;
				color: #000000;
				background: none;
				height: 33px;
				line-height: 33px;
				text-align: center;
				.border-radius(0);
				border: none;
			    border-left: 2px solid @color;
				border-right: 2px solid @color;
				position: relative;
				letter-spacing: 3px;
				padding: 0 20px;
				span{
					&:before, &:after{
						content: "";
					    display: inline-block;
					    position: absolute;
					    height: 2px;
					    .transition(.2s);
					    background: @color;
					}
					&:before{
						top: 0;
					    left: 23px;
					    right: 0;
					}
					&:after{
						bottom: 0;
						left: 0;
					    right: 23px;
					}
				}
				&:hover{
					span{
						&:before{
						    left: 0;
						}
						&:after{
						    right: 0;
						}
					}
				}
			}
		}
	}
}
.shop-social{
	ul{
		margin: 0;
		overflow: hidden;
   		float: right;
		li{
			list-style: none;
		    float: left;
			margin: 0 10px 0 0;
    		a{
    			font-size: 18px;
    			color: #646464;
			    display: block;
			    height: 35px;
			    width: 35px;
			    text-align: center;
			    border: 1px solid #d5d5d5;
			    i{
			    	line-height: 35px;
			    }
			    &:hover{
			    	background: @color;
			    	border-color: @color;
			    	color: #fff;
			    }
    		}
    		&:last-child{
    			margin: 0 0 0 0;
    		}
		}
	}
}
.wrap-full-banner{
	margin-left: -1000px;
    margin-right: -1000px;
    clear: both;
    text-align: center;
	.full-banner{
		ul.banner-list{
			margin: 0;
			display: inline-block;
			li.banner-item{
				display: table-cell;
				position: relative;
				.text-banner{
					position: absolute;
				    right: 130px;
					top: 180px;
					text-align: left;
					h3.top-title{
					    font-family: 'YellowtailRegular' !important;
					    font-size: 28px;
					    color: #ffffff;
						text-transform: capitalize;
						margin: 0 0 16px;
					}
					h2.mid-title{
						font-size: 40px;
						color: #ffffff;
						text-transform: uppercase;
						margin: 0 0 18px;
						span{
							color: @color;
							font-weight: 600;
						}
					}
					h3.bottom-title{
						font-size: 17px;
						color: #ffffff;
						text-transform: uppercase;
						margin: 0 0 4px;
					}
					p{
						font-family: 'PoppinsLight';
						font-size: 12px;
						color: #fff;
						margin: 0 0 36px;
					}
					a{
					    text-transform: uppercase;
					    letter-spacing: 2px;
					    color: #fff;
					    padding: 7px 20px 5px;
						border: 2px solid @color;
						&:hover{
							background: @color;
						}
					}
				}
				&:last-child{
					.text-banner{
						left: 130px;
						top: 180px;
					}
				}
			}
		}
	}
}
.wrap-transport{
	padding: 68px 0 69px;
	.item{
		.content{
			h3{
				font-size: 14px;
				font-weight: 600;
				color: #000000;
				margin: 0 0 3px;
				&:hover{
					color: @color;
				}
			}
			p{
				font-size: 12px;
				color: #666666;
				margin: 0;
			}
			&:before{
				content: '';
				background: url("../assets/img/icon.png") no-repeat;
				float: left;
				margin: 4px 15px 0 0;
			}
		}
		&.item-1{
			.content{
				&:before{
					background-position: -0px -243px;
					width: 36px; 
					height: 30px;
				}
			}
		}
		&.item-2{
			.content{
				&:before{
					background-position: -0px -273px; 
					width: 35px; 
					height: 35px;
				}
			}
		}
		&.item-3{
			.content{
				&:before{
					background-position: -0px -342px; 
					width: 26px; 
					height: 33px;
				}
			}
		}
		&.item-4{
			.content{
				&:before{
					background-position: -0px -308px; 
					width: 34px; 
					height: 34px;
				}
			}
		}
	}
}
.wrap-arrival{
	background: #f5f4f4;
	overflow: visible !important;
	.wrap-in{
		position: relative;
		background: #fff;
		border-top: 1px solid #f8f8f8;
		position: relative;
	    margin: -70px -30px;
	    padding: 30px;
	    .box-shadow(0 0 3px rgba(0,0,0,0.1));
	    z-index: 10;
	}
}
.responsive-listing-banner{
	margin-bottom: 67px;
	.banner-listing-container{
		.item-product-cat{
			position: relative;
			overflow: hidden;
			width: 50%;
			&.item-3col{
				width: 33.33%;
				.item-wrap .item-content{
					top: 49px;
				}
			}
			&.item-odd, &.item-last{
				.item-wrap{
					.item-content{
						right: 29px;
						left: auto;
						text-align: right;
					}
				}
			}
			&.item-last{
				.item-wrap{
					.item-content{
						max-width: 184px;
					}
				}
			}
			&.item-center{
				.item-wrap{
					.item-content-center{
						text-align: center;
						a{
							img{
								margin: 0 0 0;
								-webkit-transition: opacity 0.35s, -webkit-transform 1s;
    							transition: opacity 0.35s, transform 1s;
							}
						}
						.item-title{
							position: absolute;
							top: 56px;
							width: 100%;
							transition: all 450ms ease-out;
							h2{
								font-size: 40px;
								color: #fefefe;
								text-transform: uppercase;
								font-weight: 600;
								margin: 0 0 6px;
								span{
									display: block;
									line-height: 39px;
								}
							}
							h5{
								margin: 0 0 18px;
								a{
									font-size: 16px;
									color: #fff;
									text-transform: uppercase;
								}
							}
							.des-cat{
								font-size: 12px;
								color: #ffffff;
							}
						}
						&:hover{
							a img{
							    transform: scale(1.05) translate(2%,0);
							    -ms-transform: scale(1.05) translate(2%,0);
							    -webkit-transform: scale(1.05) translate(2%,0);
							}
							.item-title{
								transform: translate(0,-5%);
							    -ms-transform: translate(0,-50%);
							    -webkit-transform: translate(0,-5%);
							}
						}
					}
				}
			}
			.item-wrap{
				position: relative;
				.item-image{
					a{
						display: block;
						img{
							margin: 0 0 0;
							-webkit-transition: opacity 0.35s, -webkit-transform 1s;
							transition: opacity 0.35s,transform 1s;
						}
						&:before{
							content: '';
							background: rgba(0,0,0,0.1);
							width: 100%;
							height: 100%;
							position: absolute;
							transform: scale(0);
							transition: transform 0.3s;
						}
					}
				}
				.item-content{
					position: absolute;
					top: 69px;
					left: 29px;
					transition: all 450ms ease-out;
					h4{
						margin: 0 0 12px;
						a{
							font-family: PoppinsSemiBold;
							font-size: 16px;
							color: @a-color;
							text-transform: uppercase;
						}
					}
					.des-cat{
						font-size: 12px;
						color: #666666;
						line-height: 20px;
						max-width: 200px;
						margin: 0 0 19px;
					}
					.view-all{
						a{
							font-size: 12px;
						    text-transform: uppercase;
						    color: #000000;
						    background: none;
						    height: 35px;
						    line-height: 35px;
						    text-align: center;
						    border: none;
						    border-left: 2px solid #bf9a61;
						    border-right: 2px solid #bf9a61;
						    position: relative;
						    letter-spacing: 3px;
						    padding: 0 19px;
						    display: inline-block;
						    &:before,
						    &:after{
						    	content: "";
							    display: inline-block;
							    position: absolute;
							    height: 2px;
							    .transition(.2s);
							    background: #bf9a61;
						    }
						    &:before{
					    	    top: 0;
							    left: 23px;
							    right: 0;
						    }
						    &:after{
					    	    bottom: 0;
							    left: 0;
							    right: 23px;
						    }
						}
					}
				}
				&:hover{
					.item-image{
						a{
							&:before{
								transform: scale(1);
							}
							img{
								transform: scale(1.05) translate(2%,0);
								-ms-transform: scale(1.05) translate(2%,0);
								-webkit-transform: scale(1.05) translate(2%,0);
							}
						}
					}
					.item-content{
						transform: translate(0,-5%);
						-ms-transform: translate(0,-50%);
						-webkit-transform: translate(0,-5%);
					}
					.view-all{
						a{
					    	&:before,
					    	&:after{
					    		right: 0;
					    		left: 0;
					    	}
						}
					}
				}
			}
		}
	}	
}
.home-style1{
	.responsive-listing-banner{
		.box-slider-title{
			display: none; 
		}
	}			
}
.responsive-listing-banner2{
	.banner-listing-container{
		.item-product-cat{
			width: 33.33%;
			.item-wrap{
				position: relative;
				.item-image{
					a{
						display: block;
						&:before{
							content: '';
							background: rgba(0,0,0,0.1);
							width: 100%;
							height: 100%;
							position: absolute;
							transform: scale(0);
							transition: transform 0.3s;
						}
						img{
							margin: 0 0 0;
						}
					}
				}
				.item-content{
					position: absolute;
					top: 50%;
					left: 75px;
					text-align: right;
					margin-top: -90px;
					h4{
						margin: 0 0 21px;
						max-width: 230px;
						a{
							font-size: 26px;
							font-weight: 700;
							color: #222222;
							text-transform: uppercase;
						    max-width: 230px;
							text-align: right;
							line-height: 32px;
						}
					}
					.des-cat{
						font-family: 'PlayfairDisplayItalic';
						font-size: 22px;
						color: @color;
						margin: 0 0 15px;
						text-transform: uppercase;
					}
					.view-all{
						a{
							font-size: 12px;
						    text-transform: uppercase;
						    color: #000000;
						    background: none;
						    height: 35px;
						    line-height: 35px;
						    text-align: center;
						    border: none;
						    border-left: 2px solid #bf9a61;
						    border-right: 2px solid #bf9a61;
						    position: relative;
						    letter-spacing: 3px;
						    padding: 0 19px;
						    display: inline-block;
						    &:before,
						    &:after{
						    	content: "";
							    display: inline-block;
							    position: absolute;
							    height: 2px;
							    .transition(.2s);
							    background: #bf9a61;
						    }
						    &:before{
					    	    top: 0;
							    left: 23px;
							    right: 0;
						    }
						    &:after{
					    	    bottom: 0;
							    left: 0;
							    right: 23px;
						    }
						}
					}
				}
				&:hover{
					.item-image{
						a{
							&:before{
								transform: scale(1);
							}
						}
					}
					.view-all{
						a{
					    	&:before,
					    	&:after{
					    		right: 0;
					    		left: 0;
					    	}
						}
					}
				}
			}
			&.item-right{
				.item-wrap{
					.item-content{
						text-align: left;
						left: auto;
						right: 75px;
					}
				}
			}
			&.item-center{
				a{
					img{
						margin: 0 0 0;
					}
				}
				.item-title{
					position: absolute;
					top: 50%;
    				margin-top: -72px;
					width: 100%;
					text-align: center;
					h2{
						font-size: 40px;
						color: #fefefe;
						text-transform: uppercase;
						font-weight: 600;
						margin: 0 0 11px;
						span{
							display: block;
							line-height: 39px;
						}
					}
					h5{
						margin: 0 0 18px;
						a{
							font-size: 16px;
							color: #fff;
							text-transform: uppercase;
						}
					}
					.des-cat{
						font-size: 12px;
						color: #ffffff;
						text-transform: uppercase;
					}
				}
			}
		}
	}	
}
.wrap-collection{
	background: #f5f4f4;
	overflow: visible !important;
}
.sw-woocommerce-collection{
	position: relative;
	background: #fff;
	border-top: 1px solid #f8f8f8;
	position: relative;
    margin: -70px -30px;
    padding: 0 30px;
    .box-shadow(0 0 3px rgba(0,0,0,0.1));
    z-index: 10;
	.sw-collection-container{
		.flex-item{
			.item{
				.item-wrap{
					margin-bottom: 22px;
					.item-detail{
						.item-img{
							position: relative;
							margin: 0 0 16px;
							> a{
								display: block;
								&:before{
								    content: '';
								    width: 100%;
								    height: 100%;
								    position: absolute;
								    background: rgba(0,0,0,0.2);
								    opacity: 0;
								}
							}	
						}
						.item-content{
							h4{
								margin: 0 0 9px;
								a{
									font-size: 13px;
									text-transform: capitalize;
								}
							}
							.reviews-content{
								margin: 0 0 9px;
							}
						}
					}
				}
			}
		}
		.box-collection-center,
		.box-collection-right{
			padding-top: 69px !important;
		}
		.box-collection-right{
			padding: 0;
		}
		.box-collection-left{
			.box-slider-image{
				.box-banner{
					margin-top: -1px;
					img{
						margin: 0 0 0;
					}
				}
			}
			.box-slider-title{
				background: #f5f4f4;
				padding: 45px 0 70px;
				h2{
					margin: 0 0 8px;
				}
				.box-description{
					color: #666666;
					line-height: 20px;
					padding: 0 30px;
					margin-bottom: 26px;
				}
				.view-all{
					a{
						font-size: 12px;
					    text-transform: uppercase;
					    color: #000000;
					    background: none;
					    height: 35px;
					    line-height: 35px;
					    text-align: center;
					    border: none;
					    border-left: 2px solid #bf9a61;
					    border-right: 2px solid #bf9a61;
					    position: relative;
					    letter-spacing: 3px;
					    padding: 0 19px;
					    display: inline-block;
					    &:before,
					    &:after{
					    	content: "";
						    display: inline-block;
						    position: absolute;
						    height: 2px;
						    .transition(.2s);
						    background: #bf9a61;
					    }
					    &:before{
				    	    top: 0;
						    left: 23px;
						    right: 0;
					    }
					    &:after{
				    	    bottom: 0;
						    left: 0;
						    right: 23px;
					    }
					    &:hover{
					    	&:before,
					    	&:after{
					    		right: 0;
					    		left: 0;
					    	}
					    }
					}
				}
			}
		}
	}
}
.home-style2{
	.wrap-brand{
		box-shadow: none;
		.sw-brand-container-slider .resp-slider-container{
			padding: 61px 0 64px;
		}
	}
	.sw-woocommerce-collection{
		padding: 0;
		margin: 0;
		box-shadow: none;
		border-top: 0;
	}
	.sw-woocommerce-collection .sw-collection-container .box-collection-left .box-slider-image .box-banner{
		margin: 0 0 0;
	}
}