/*Styleshop slider bullet*/
.wpb_revslider_element .rev_slider_wrapper{
	.tp-bullets.custom{
		width:200px !important;
		.tp-bullet{
			width: 8px !important;
			height: 8px !important;
			background-color: #7d7d7d !important;
			position: relative !important;
			display: inline-block !important;
			border-radius: 50% !important;
			cursor: pointer;
			box-sizing: content-box;
			text-align: center !important;
			left: 0 !important;

			+ .tp-bullet{
				margin-left:10px !important;
				.rtl &{
					margin-right:10px !important;
					margin-left:0 !important;
				}
			}
			&:after{
				display:none;
				background-color:transparent;
				box-shadow:none;
			}
			&.selected{
				 width:30px !important;
				 height:8px !important;
				 border-radius:3px !important;
				background-color:@color !important;
				.home-style3 &{
					background-color:@body-color !important;
				}
			}
		}
	}
	.see-more1{
		color:#fff;
		font-size:13px;
		text-transform:capitalize;
		.fa{
			margin-right:8px;
		}
		&:hover{
			opacity:0.85;
		}
	}
	.see-more2{
		color:#0f8db3;
		font-size:13px;
		text-transform:capitalize;
		.fa{
			margin-right:8px;
		}
		&:hover{
			opacity:0.85;
		}
	}
}
.slider-more{
	color: #fff;
	.home-style2 &{
		color:@color;
		&:hover{
			opacity:0.85;
		}
	}
	i{
		margin-right: 10px;
	}
	&:hover{
		color: @color;
	}
}
.slider-more1{
	color: @color;
	i{
		margin-right: 10px;
	}
	&:hover{
		color: darken(@color, 10);
	}
}
/*=========== Title Sytle1===============*/
.title-sytle1{
	.box-title{
		h3{
			font-family: 'PoppinsSemiBold';
			font-size: 20px;
			color: #ffffff;
			text-transform: uppercase;
			margin: 0;
			background: #222222;
			border-bottom: 0;
			padding: 16px 19px 12px;
		}
	}
}
/*============ button style1=================*/
.button-style1{
	.res-button{
		width:28px;
		height:28px;
		display:inline-block;
		position:absolute;
		top:50%;
		margin-top:-24px;
		cursor:pointer;
		//.transition(all 0.3s);
		&.slick-prev{
			left:5px;
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1111px;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -1063px;;
			}
		}
		&.slick-next{
			right:5px;
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1015px;;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -967px;;
			}
		}
	}
}

/*============ button style2=================*/
.button-style2{
	.res-button{
		width:28px;
		height:28px;
		display:inline-block;
		position:absolute;
		top:-34px;
		cursor:pointer;
		//.transition(all 0.3s);
		&.slick-prev{
			right:48px;
			.rtl &{
				left:15px;
				right:auto;
			}
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1111px;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -1063px;;
			}
		}
		&.slick-next{
			right:15px;
			.rtl &{
				left:48px;
				right:auto;
			}
			background: url(../assets/img/bg_general.png) no-repeat  -20px -1015px;;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -967px;;
			}
		}
	}
}

.button-style3{
	.res-button{
		width:41px;
		height:41px;
		display:inline-block;
		position:absolute;
		top:60%;
		margin-top:-20px;
		cursor:pointer;
		//.transition(all 0.3s);
		&.slick-prev{
			left:15px;
			background: url(../assets/img/bg_general.png) no-repeat  -20px -647px;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -586px;;
			}
		}
		&.slick-next{
			right:15px;
			background: url(../assets/img/bg_general.png) no-repeat  -20px -403px;;
			&:hover{
				background: url(../assets/img/bg_general.png) no-repeat -20px -342px;;
			}
		}
	}
}
.sale-off{
	display: none;
}
/*===========button slider=================*/
.wrap-brand{
	.box-shadow(0px 3px 6px 0px rgba(0,0,0,0.2));
	z-index: 1;
}
.sw-brand-container-slider{
	.resp-slider-container{
		margin: 0 56px;
		padding: 67px 0;
		overflow: hidden;
	}
	.slider .item-brand-cat{
		margin:0;
		.item-image{
			text-align: center;
			a{
				display: inline-block;
				vertical-align: top;
				img{
					.transition(all 0.3s);
					width:auto;
					&:hover{
						opacity:0.85;
						.scale(1.04);
					}
				}
			} 
		}
	}
	.res-button{
		height: 54px;
		width: 54px;
		background: url("../assets/img/icon.png") no-repeat;
		overflow: hidden;
		cursor:pointer;
	    position: absolute;
	    top: 50%;
	    margin-top: -27px;
		&.slick-prev{
			background-position: -0px -162px;
			left: 0; 
		}
		&.slick-next{
			background-position: -0px -54px;
			right: 0;
		}
		&:hover{
			&.slick-prev{
				background-position: -0px -108px;
			}
			&.slick-next{
				background-position: -0px -0px;
			}
		}
	}
}
.styleshop_social {
	text-align: center;
	line-height: 19px;
	.main-social {
		margin: 0 auto;
		list-style-type: none;
		li {
			display: inline-block;
			vertical-align: top;
			padding: 0 10px;
			a {
				color: #999999;
				font-size: 16px;
				&:hover {
					color: @color;
				}
			}
		}
	}
}
.yith-wcwl-share{
	text-align:center;
}

/* ========================================================== */
/* ========================================================== */
.woocommerce a.added_to_cart,
.added_to_cart.wc-forward {
	display: none;
}
.item-price, .price {
	font-size: 14px;
	color: #000;
	overflow:hidden;
	display:inline-block;
	vertical-align: top;
	font-family: 'PoppinsMedium';
	del{
		font-family: 'PoppinsRegular';
		text-decoration: line-through;
		color: #666666;
		margin:2px 14px 0;
		float:right;
		font-size:13px;
		.rtl &{
			float:left;
		}
	}
	ins {
		float:left;
		margin: 0;
		text-decoration:none;
		font-family: 'PoppinsMedium';
		.rtl &{
			float:right;
		}
	}
}
.woocommerce div.product p.price ins{
			font-weight: 400;
}
/* ========================================================== */
/* ========================================================== */

.woocommerce span.onsale,
.onsale {
	font-size: 12px;
	display:inline-block;
	height:24px;
	width:50px;
	line-height:26px;
	color:#fff;
	background-color:#bf9a61;
	text-transform:uppercase;
	position:absolute;
	top:8px;
	left:8px;
	text-align: center;
	border-radius: 0;
    padding: 0;
    min-height: 22px;
    min-width: 40px;
    font-weight: 500;
    z-index: 2;
	.rtl &{
		right: 8px;
		left: auto;
	}
}

/* ========================Quantity======================= */
.woocommerce .quantity,
.quantity{
	border: 1px solid #ebebeb;
	padding: 0 9px;
	margin: 0 20px 0 0;
	input{
		.border-radius(0);
		margin: 0;
		background: none;
		border: none;
		color: #898989;
		&.input-text{
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			font-family: RobotoRegular;
			font-size: 16px;
			color: #323232;
			padding: 0;
			background: none;
			border: none;
			height: 31px;
			&:hover, &:focus{
				-webkit-appearance: none;
				-moz-appearance: none;
				-ms-appearance: none;
			}
		}
	}
	.minus{
		background: url("../assets/img/minus.png") no-repeat center center;
		width: 11px;
		height: 11px;
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
	}
	.plus{
		background: url("../assets/img/plus.png") no-repeat center center;
		width: 11px;
		height: 11px;
		font-size: 0;
		display: inline-block;
		vertical-align: middle;
	}
}
/* ==================================================== */
/* ==================================================== */
.border-tp {
    border-top: 1px solid #ddd;
    margin-top: 95px;
    overflow: visible !important;
	.order-title {
		margin-top: -20px;
	}
}
.order-desc {
	font-size: 26px;
	color: rgba(1, 1, 1, .4);
}
.has-left-sidebar{
	#left{
		float: left;
	}
	.category-contents, .single.main{
		float: right;
	}
	#contents .category-contents{
		float: none;
	}
}
.has-right-sidebar{
	#right{
		float: right;
	}
	.category-contents, .single.main{
		float: left;
	}
}

.has-left-product-sidebar{
	#left{
		float: left;
	}
	#contents-detail, #contents{
		float: right;
	}
}
.has-right-product-sidebar{
	#right{
		float: right;
	}
	#contents-detail, #contents{
		float: left;
	}
}
/*Mail chim*/
	.mc4wp-form{
		&.mc4wp-form-success{
			.mc4wp-alert.mc4wp-success{
				color:green;
				margin:15px 0;
			}
		}
	}
/* ============================================================ */
/* ============================================================ */
#lang_sel{
	padding: 33px 0;
	a, a:visited{
		border: 0 none;
		padding: 0;
	}
	a.lang_sel_sel{
		&:after{
			content: "\f107";
			font-family: FontAwesome;
			display: inline-block;
			font-size: 12px;
			margin-left: 3px;
			vertical-align: top;
			color: #d6d6d6;
			.rtl &{
				margin-right:3px;
				margin-left:0;
			}
		}
	}
	img.iclflag{
		margin-top: -1px;
		display: inline-block;
		vertical-align: middle;
		margin-right: 5px;
		.rtl &{
			margin:0 0 0 5px;
		}
	}
	> ul.nav{			
		display:inline-block;	
		list-style: none;
		margin: 0;
		> li{				
			position: relative;
			> a{
				background-color: transparent;
				color: #d6d6d6;
				line-height: 12px;
				border-right: 1px solid #a8a8a8; 
				padding: 0 14px;
				span{
					display:inline-block;
				}
			}
			> ul{
				border: 1px solid #d7d7d7;
				box-shadow: 4px 5px 1px rgba(30,30,30,0.3);
				left: -17px;
				top:49px;
				z-index: 99999;
				position: absolute;
				background: #fff;
				min-width: 155px;
				padding: 17px 0 22px;
				display: none;
				margin:0;
				text-align: left;
				.rtl &{
					right:-17px;
					left:auto;
					text-align: right;
				}
				li{
					background: #fff;	
					border:none;
					list-style:none;
					&.active a{
						color:@color;
					}
					a{
						color: #666666;
						display: block;
						height: auto;
						line-height: 30px;
						padding: 0 30px;
						.iclflag{
							margin-right: 13px;
							.rtl &{
								margin-left:13px;
								margin-right:0;
							}
						}
					}
					&:hover{
						a {
							color: @color;
						}
					}
				}
				&:before{
					content: "";
					display: inline-block;
					background: transparent;
					height: 39px;
					width: 100%;
					position: absolute;
					top: -39px;
					right: 0;
				}
			}
			&:hover{
				> ul{
					display: block !important;
				}
			}
		}
	}
}
.widget_currency_converter{
	padding: 37px 14px;
	h3{
		font-size: 12px;
		color: #d6d6d6;
		line-height: 12px;
		margin: 0;
	}
	.currency_converter, h3{
		float: left;
	}
	.widget-inner{
		.currency_w{
			margin: 0 0 0 5px;
			.rtl &{
				margin: 0 5px 0 0;
			}
			li > a{
				display: block;
			}
		}
	}
}

.currency_w {
	> li{
		position:relative;
		list-style:none;
		> a{
			display: block;
			color: #d6d6d6;
			line-height: 12px;
			&:after {
				content: "\f107";
				font-family: FontAwesome;
				display: inline-block;
				margin-left: 6px;
				color: #d6d6d6;
				vertical-align: top;
				.rtl &{
					margin-right:6px;
					margin-left:0;
				}
			}
		}
		.currency_switcher {
			border: 1px solid #d7d7d7;
			box-shadow: 4px 5px 1px rgba(30,30,30,0.3);
			left: -13px;
			position: absolute;
			background: none repeat scroll 0 0 #fff;
			display: none;
			min-width: 100px;
			padding: 17px 0 21px;
			margin:0;
			top:49px;
			text-align: left;
			z-index: 999;
			.rtl &{
				text-align: right;
				left: auto;
				right: -13px;
			}
			li {
				width: 100%;
				margin:0;
				line-height: 30px;
				list-style:none;
				border: none !important;
				&:hover{
					a {
						color: @color;
					}
				}
				a {
					background: none;
					border: 0px;
					border-radius: 0px;
					color: #666666;
					background: none;
					display: block;
					border-bottom: none;
					padding: 0 31px;
					&.active{
						color: @color;
					}
				}
			}
			&:before{
				content: "";
				display: block;
				background: transparent;
				height: 39px;
				position: absolute;
				top: -39px;
				width: 100%;
			}
		}
		&:hover {
			.currency_switcher {
				display: block;
				z-index: 9999;
				height: auto;
			}
		}
	}
}
/*--------------------------------------------Mini Cart-------------------------------------------------*/				
.top-form{
	&.top-form-minicart{
		cursor: pointer;
		position:relative;
		padding: 15px 58px 15px 18px;
		.top-minicart{
			.text-cart{
				font-size: 14px;
				color: #ffffff;
				text-transform: uppercase;
				font-weight: 600;
				display: block;
			    margin-bottom: 1px;
				line-height: 22px;
			}
			a{
				font-size: 12px;
				color: #ffffff;
				text-transform: uppercase;
				display: block;
				line-height: 12px;
				span.minicart-numbers{
					margin-right: 3px;
				}
			}
		}
	}
	.wrapp-minicart{
		opacity: 0;
		.transform_origin(right, top);
		.transition(all 0.3s ease-out);
		.scale(0);
		background: none repeat scroll 0 0 #fff;
		position: absolute;
		right: 0;
		left: auto;
		top: 65px;
		width: 300px;
		z-index: 9999;
		box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.255);
		border: 1px solid #d7d7d7;
		padding: 0;
		.rtl &{
			left: 0;
			right: auto;
		}
		h2{
			color: #455460;
			text-transform: none;
		    font-size: 14px;
		    margin: 0 0 7px;
		}
		.minicart-padding{
			background: #fff;
			padding: 17px 19px 20px;
			.number-item{
				font-size: 13px;
				color: #464646;
				span{
					color: @color;
				}
			}
			ul.minicart-content{
				max-height: 295px;
				overflow: auto;
				margin-bottom: 7px;
				margin-left: 0;
			   	li{
				   	list-style:none;
				   	position: relative;
				   	padding: 20px 0;
				   	overflow: hidden;
				   	border-bottom: 1px solid #d7d7d7;
				   .product-image{
						display: inline-block;
						float: left;
						margin: 0 19px 0 0;
						border: 1px solid #ebebeb;
						width: 70px;
						.rtl &{
							float:right;
							margin: 0 0 0 19px;
						}
						&:hover{
							img{ .opacity(0.8);}
						}
				   	}
				   	.detail-item {
				   		overflow: hidden;
						.product-details {
							position: relative;
							padding: 0 30px 0 0;
							.rtl &{
								padding: 0 0 0 30px;
							}
							h4{
								margin: -4px 0 0;
								a{
									font-size: 13px;
									text-transform: capitalize;
									color: #464646;
									line-height: 22px;
									&:hover{
										color: @color;
									}
								}
							}
							.rating-container{
								margin-bottom: 2px;
							}
							.product-price{
								.price{
									font-size: 14px;
									color: #000000;
									font-weight: 400;
									margin-bottom: 11px;
									display: block;
								}
								.qty{
								    border: 1px solid #adadad;
								    margin: 0;
								    width: 40px;
								    height: 40px;
								    line-height: 40px;
								    padding: 1px 10px 0;
								    text-align: center;
								    .qty-number{
								    	font-size: 14px;
								    	color: #464646;
								    }
								}
							}							
							.product-action{
								position:absolute;
								top: 7px;
								right: 18px;
								left:auto;
								.rtl &{
									left: 18px;
									right:auto;
								}
								a{
									color: #999999;
									display: block;
									span{
										font-size: 16px;
										color: #999999;
										display: block;
										&:hover{
											color: @color;
										}
									}
									&.btn-remove{
										margin-bottom: 6px;
									}
									&.btn-edit{
										span{
											font-size: 14px;
										}
									}
									&:hover{
										color: @color;
									}
								}
							}
						}
					}
					&:first-child{
						padding-top: 23px;
					}
				}
			}
			.cart-checkout{
				line-height: normal;
				.price-total{
					margin: -4px 0 8px;
					.label-price-total{
						font-size: 13px;
						color: #666666;
						text-transform: uppercase;
						line-height: 33px;
					}
					.price-total-w{
						font-size: 16px;
						font-weight: 400;
						color: @color;
						float: right;
						.rtl &{
							float: left;
						}
						span.price{
							span.amount{
								font-size: 18px;
								color: #000000;
							}
						}
					}
				}
				.cart-links{
					margin: 0 -15px;
					.cart-link, .checkout-link{
						width: 50%;
	    				text-align: center;
						float: left;
						padding: 0 15px;
						.rtl &{
							float: right;
						}
						a{
							font-size: 12px;
							color: #464646;
							text-transform: uppercase;
							padding: 13px 0;
						    display: block;
							border: 1px solid #adadad;
						}
						&:hover{
							a{
								background: @color;
								border-color: @color;
								color: #fff;
							}
						}
					}
				}
			}
		}
	}
	&:hover{
		.wrapp-minicart{
			.scale(1);
			opacity: 1;
		}
	}
}
/* ======================================================= */
/* Woocommerce Login ===================================== */
.block-popup-login {
	margin-top: 170px;
	width: 600px;
	max-width: 100%;
	padding: 0px 20px 20px;
	background: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	form.login,form.register {
		border: 0px;
		padding: 0px;
		margin: 0;
		text-align: left;
		border-radius: 0px;
	}
	.tt_popup_login {
		height: 36px;
		border-bottom: 3px solid @color;
		background-color: #242424;
		margin: 0 -20px;
		strong {
			line-height: 37px;
			display: inline-block;
			padding-left: 70px;
			text-transform: uppercase;
			color: #fff;
			background-image: url('../assets/img/icon-login-popup.png');
			background-repeat: no-repeat;
			background-position: 20px center;
			position: relative;
			padding-right: 10px;
			top: -4px;
			background-color: @color;
			&:before {
				content: "";
				display: inline-block;
				position: absolute;
				right: -20px;
				top: 0px;
				width: 0;
				height: 0;
				border-right: 20px solid transparent;
				border-bottom: 37px solid @color;
			}
		}
	}
	.block-content {
		padding-top: 20px;
		padding-bottom: 20px;
		font-weight: normal;
		.col-reg {
			width: 50%;
			float: left;
			min-height: 188px;
			&.registered-account {
				padding-right: 30px;
				border-right: 1px solid #d0d0d0;
				.btn-submit-login {
					background-repeat: no-repeat;
					background-position: 25px center;
					padding: 0 25px;
					height: 42px;
					margin-bottom:10px;
					font-size: 13px;
					font-weight: bold;
					white-space: nowrap;
					text-transform: uppercase;
					background-color: #666666;
					border: none;
					color: #fff;
					.border-radius(0);
					text-align: center;
					&:hover{
						background-color:@color;
					}
				}
			}
			&.login-customer{
				padding-left: 30px;
				color: #444;
				h2 {
					font-size: 116.67%;
					font-weight: bold;
					margin-bottom:15px;
				}
				.list-log {
					list-style-type: none;
					margin: 0;
				}
			}
		}
		.note-reg {
			margin: 10px 0px;
			font-style: italic;
		}
		.list-log li {
			padding: 2px 0px 2px 14px;
			font-style: italic;
			position: relative;
			border-left: none;
			line-height: 23px;
			&:before {
				content: "";
				display: inline-block;
				width: 5px;
				height: 5px;
				.border-radius(50%);
				background-color: #666666;
				position: absolute;
				left: 0px;
				top: 10px;
			}
		}
		.btn-reg-popup {
			height: 42px;
			line-height: 42px;
			padding: 0px 42px;
			text-transform: uppercase;
			display: inline-block;
			margin-top: 15px;
			color: #fff !important;
			font-weight: bold;
			background-color:@color;
			&:hover {
				color:#fff;
				background-color: darken(@color, 10%);
			}
		}
	}
	.email-input {
		position: relative;
		&:before {
			background: url(../assets/img/icon-username.png) no-repeat center center #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
		}
	}
	.pass-input{
		position: relative;
		&:before {
			background: url(../assets/img/icon-pass.png) no-repeat center center #ababab;
			content: "";
			display: inline-block;
			width: 43px;
			height: 40px;
			position: absolute;
			top: 0px;
			left: 0px;
			right: auto;
		}
	}
	.input-text {
		border: none;
		margin-bottom: 14px;
		width: 100%;
		padding: 0 5px 0px 52px;
		height: 40px !important;
		font-size: 108.33%;
		border: 1px solid #cecece;
		.border-radius(0);
	}   
	.ft-link-p{
		margin-bottom:19px;
		a {
			color:#444;
			&:hover{
				color: @color;
			}
		}
	}                       

}
.close-login {
	display: inline-block;
	background: url('../assets/img/btn-close-login.png') no-repeat top left;
	width: 26px;
	height: 26px;
	overflow: hidden;
	text-indent: -9999px;
	right: 10px;
	top: 3px;
	position: absolute;
	opacity: 1;
}
.rtl {
	.close-login { 
		right: auto;
		left: 10px;
	}
	.block-popup-login {
		.email-input:before,.pass-input:before  {
			left: auto;
			right:0px;
		}
		.tt_popup_login strong {
			padding-left: 10px;
			padding-right: 70px;
			float: right;
			background-position: 150px center;
			&:before{
				right: auto;
				left:-20px;
				border-right: 0px;
				border-left: 20px solid transparent;
			}
		}
		.block-content {
			.col-reg{
				float: right;
				text-align: right;
				&.registered-account {
					padding-right: 0px;
					padding-left:30px;
					border-right:0;
					border-left:1px solid #d0d0d0;
				}
				&.login-customer {
					padding-left: 0px;
					padding-right: 30px;
					color: #444;
					ul.list-log li {
						border-right:0 !important;
						float:right !important;
						padding: 2px 14px 2px 0px;
						&:before {
							left:auto;
							right:0px;
						}
					}
				}
			}
		}
		.input-text{
			padding: 0 52px 0px 5px;
		}
	}
}
.home.page,
.home-style2.page,
.home-style3.page,
.home-style4.page,
.footer-style-1{
	.styleshop_breadcrumbs, 
	.listings-title{
		display: none;
	}
	.header.header-style3{
		.header-bottom{
			background: none;
			padding-bottom: 0;
			.sw_top.pull-left h3:before{
				color: #464646;
			}
		}
		.nav-pills >li > a{
			color: #666;
		}
	}
	.header.header-style4{
		.header-bottom{
			background: none;
			padding-bottom: 0;
			.sw_top.pull-left h3:before{
				color: #464646;
			}
		}
	}	
}
.archive, 
.single,
.page,
.error404,
.search{
	.header{
		background: url("../assets/img/bg-header.jpg") no-repeat;
		background-size: cover;
		padding-bottom: 70px;
	}
	.header.header-style3{
		background: none;
		padding-bottom: 0;
		.header-bottom{
			background: url("../assets/img/bg-header.jpg") no-repeat;
			background-size: cover;
			.sw_top.pull-left h3:before{
				color: #fff;
			}
		}
		.nav-pills >li > a{
			color: #fff;
		}
	}
	.header.header-style4{
		background: none;
		padding-bottom: 0;
		.header-bottom{
			background: url("../assets/img/bg-header.jpg") no-repeat;
			background-size: cover;
			.sw_top.pull-left h3:before{
				color: #fff;
			}
		}
	}
}
.home.page,
.home-style2.page,
.home-style3.page,
.home-style4.page{
	.header{
		background:none;
		padding-bottom: 0;
	}	
}