.header.header-style3{
	.header-top{
		background: #222;
		.wrap-myacc{
			padding: 12px 0 5px;
		}
		.sidebar-account{
			.account-title{
				color: #959595;
			}
			.my-account{
				top: 24px;
				&:before{
					height: 9px;
				    top: -9px;
				}
			}
		} 
		.widget.widget_nav_menu .widget-inner ul li a{
			color: #959595;
		}
	}
	#lang_sel{
		padding: 9px 0 8px;
		> ul.nav > li{
			> a{
				color: #959595;
			}
			> ul{
				top: 27px;
				box-shadow: none;
				&:before{
					height: 9px;
				    top: -9px;
				}
			}
		} 
	}
	.widget_currency_converter{
		padding: 14px 0 10px 14px;
		.rtl &{
			padding: 14px 14px 10px 0;
		}
		h3{
			color: #959595;
		}
	}
	.currency_w > li{
		> a{
			color: #959595;
			&:after{
				color: #959595;
			}
		}
		.currency_switcher{
			top: 22px;
			box-shadow: none;
			&:before{
				height: 9px;
			    top: -9px;
			}
		}
	} 
	.header-bottom{
		&.sticky-menu{
			.styleshop-logo{
				padding: 18px 70px 18px 0;
			}
			.nav-pills >li > a{
				padding: 21px 19px 23px;
			}
			.sw_top.pull-left h3{
				margin: 15px 19px 15px 0;
			}
			.top-form.top-form-minicart{
				padding: 22px 18px 16px 0;
			}
			.top-form{
				margin: 0;
			}
		}
		.styleshop-logo{
			padding: 26px 70px 27px 0;
			.rtl &{
				padding: 26px 0 27px 70px;
			}
		}
		.sw_top.pull-left h3{
			margin: 22px 19px 23px 0;
		}
		.top-form{
			&.top-form-minicart{
				padding: 27px 18px 26px 0;
				.rtl &{
					padding: 27px 0 26px 18px;
				}
			}
		}
	}
	.nav-pills >li{
		> a{
			font-weight: 600;
			padding: 31px 19px 29px;
			color: #666;
			&:hover{
				color: @color;
			}
		}
		&.active{
			a{
				color: @color;
			}
		}
	} 
	.nav-pills >li.dropdown:hover .dropdown-menu{
		top: 100%;
	}
}
.header.header-style3,
.header.header-style4{
	.header-bottom{
		.sw_top.pull-left{
			.widget-inner{
				position: relative;
			}
			h3{
				font-size: 0;
				cursor: pointer;
				.rtl &{
					margin: 22px 0 23px 19px;
				}
				&:before{
					content: "\f002";
					font-family: FontAwesome;
					font-size: 13px;
					color: #464646;
					display: block;
					height: 35px;
					width: 35px;
					border: 1px solid #a8a8a8;
					line-height: 34px;
					text-align: center;
				}
				&.off{
					&:before{
						content: "\f00d";
						font-family: FontAwesome;
						border: none;
						width: auto;
						height: auto;
						line-height: normal;
						position: absolute;
						top: -14px;
						right: 19px;
						.rtl &{
							left: 19px;
							right: auto;
						}
					}
				}
				&:hover{
					&:before{
						color: @color;
					}
				}
			}
			.top-form.top-search{
				position: absolute;
			    top: 0;
				right: 19px;
				background: #fff;
				.transition(.2s);
				width: 0;
				overflow: hidden;
				padding: 0;
				.rtl &{
					left: 19px;
					right: auto;
				}
				.topsearch-entry{
					.form-search{
						border: 1px solid #a8a8a8;
						display: flex;
						.search-query, .button-search-pro{
							.border-radius(0);
							border: none;
							height: 33px;
							background: none;
							margin: 0;
						}
						.search-query{
							flex: 1;
							padding: 0 10px;
						}
						.button-search-pro{
							padding: 0 12px;
							&:before{
								content: "\f002";
								font-family: FontAwesome;
								font-size: 13px;
								color: #d6d6d6;
							}
							&:hover{
								&:before{
									color: @color;
								}
							}
						}
					}
				}
				&.open{
					width: 256px;
				}
			}
		}
		.top-form{
			background: none;
			padding: 0;
			.top-minicart-icon{
				position: relative;
				i{
					&:before{
						content: '';
					    background: url(../assets/img/icon-cart.png) no-repeat;
					    width: 19px;
					    height: 21px;
					    display: inline-block;
					}
				}
				a{
					font-weight: 600;
				    font-size: 12px;
				    color: #fff;
				    background-color: @color;
				    border-radius: 100%;
				    height: 22px;
				    width: 22px;
				    display: inline-block;
				    line-height: 22px;
				    text-align: center;
				    position: absolute;
				    top: -9px;
				    right: -17px;
				    .rtl &{
				    	left: -17px;
				    	right: auto;
				    }
				}
			}
		}
	}
}	
