.header.header-style4{
	.header-top{
		background: #f3f3f3;
		.text-top{
			.text-sale{
				color: #222222;
				margin: 7px 0;
				a{
					color: @color;
					transition: all 0.3s;
				}
			}
		}
		.wrap-myacc{
			padding: 10px 0 4px;
		}
		.sidebar-account{
			.account-title{
				color: #222;
			}
			.my-account{
				top: 23px;
				&:before{
					height: 8px;
				    top: -8px;
				}
			}
		}
		.widget.widget_nav_menu .widget-inner ul li a{
			color: #222;
		}
	}
	#lang_sel{
		padding: 37px 0 36px;
		> ul.nav > li{
			> a{
				color: #959595;
			}
			> ul{
				top: 27px;
				box-shadow: none;
				left: 0;
				.rtl &{
					right: 0;
					left: auto;
				}
				&:before{
					height: 9px;
				    top: -9px;
				}
			}
		} 
	}
	.widget_currency_converter{
		padding: 41px 0 39px 14px;
		.rtl &{
			padding: 41px 14px 39px 0;
		}
		h3{
			color: #959595;
		}
	}
	.currency_w > li{
		> a{
			color: #959595;
			&:after{
				color: #959595;
			}
		}
		.currency_switcher{
			top: 22px;
			box-shadow: none;
			&:before{
				height: 9px;
			    top: -9px;
			}
		}
	}
	.header-bottom{
		text-align: center;
		border-bottom: 1px solid #e8e8e8;
		.top-header{
			display: inline-block;
			vertical-align: top;
			.styleshop-logo{
				padding: 32px 0 33px;
			}
		}
		.sw_top.pull-left h3{
			margin: 29px 19px 28px 0;
			.rtl &{
				margin: 29px 0 28px 19px;
			}
		}
		.top-form{
			&.top-form-minicart{
				padding: 35px 18px 30px 0;
				.rtl &{
					padding: 35px 0 30px 18px;
				}
			}
		}
	}
	.menu-bottom{
		border-bottom: 1px solid #e8e8e8;
	}
	.main-menu{
		text-align: center;
		position: relative;
	}
	.nav-pills >li{
		> a{
			font-weight: 600;
			padding: 15px 25px;
			color: #666;
			&:hover{
				color: @color;
			}
		}
		&.active{
			a{
				color: @color;
			}
		}
	}
}