@import "app/header_style2.less";
@import "app/header_style3.less";
@import "app/header_style4.less";
.home.page,
.home-style2.page{
	.header{
		position: absolute;
	    z-index: 100;
	    width: 100%;
	}
}
.home-style3.page,
.home-style4.page{
	.header{
		position: static;
	}
}
.header{
	.widget.widget_text .textwidget{
		padding: 0;
	}
	.widget .widget-inner ul > li{
		padding: 0;
	}
	.header-top{
		text-align: center;
		.wrap-myacc{
			padding: 37px 0 30px;
		}
		.sidebar-account{
			position: relative;
			.widget{
				margin: 0;
			}
			.account-title{
				color: #d6d6d6;
				padding: 0 12px 0 0;
				line-height: 12px;
				text-transform: capitalize;
				border-right: 1px solid #a8a8a8;
				cursor: pointer;
				&:after{
					content: '\f107';
					font-family: FontAwesome;
					display: inline-block;
					margin-left: 6px;
				}
			}
			.my-account{
				position: absolute;
			    left: 0px;
			    top: 49px;
			    min-width: 190px;
			    background: #fff;
			    z-index: 10;
			    opacity: 0;
			   	display: none;
			    text-align: left;
			    padding: 18px 0 19px;
			    border: 1px solid #f5f3f4;
			    ul#menu-my-account{
					> li{
						float: none;
						border: none !important;
						border: 0;
						display: block;
						> a{
							font-size: 12px;
							color: #666666;
							padding: 8px 21px;
							&:after{
								content: '';
							}
							span.fa{
								margin-right: 13px;
								vertical-align: top;
							}
							&:hover{
								color: @color;
							}
						}
					}
				}
				&:before{
					content: "";
				    display: block;
				    background: transparent;
				    height: 39px;
				    position: absolute;
				    top: -39px;
				    width: 100%;
				}
			}
			.top-login{
				float: none;
				ul{
					margin: 0;
					li{
						list-style: none;
						padding: 0;
						a{
							font-size: 12px;
							color: #666666;
							display: block;
							padding: 6px 21px 8px;
							&:hover{
								color: @color;
							}
							&:before{
								content: '\f234';
								font-family: FontAwesome;
								display: inline-block;
								margin-right: 10px;
							}
						}
						span.wg{
							display: none;
						}
					}
				}
			}
			&:hover{
				.my-account{
				    opacity: 1;
					display: block;
				}
				.account-title{
					color: @color;
				}
			}
		}
		.widget.widget_nav_menu{
			.widget-inner{
				ul{
					li{
						display: inline-block;
						vertical-align: top;
						border-bottom: 0;
						border-right: 1px solid #a8a8a8;
						&:last-child{
							border-right: 0;
						}
						a{
							line-height: 12px;
							color: #d6d6d6;
							padding: 0 13px;
							display: block;
							&:hover{
								color: @color;
							}
						}
						&:last-child{
							a{
								padding-right: 0;
							}
						}
					}
				}
			}
		}
		.top-header{
			display: inline-block;
			vertical-align: top;
			padding: 32px 0 27px;
		}
		.top2{
			.sw_top{
				.widget-inner{
					position: relative;
				}
				h3{
					font-size: 0;
					margin: 25px 0;
					cursor: pointer;
					&:before{
						content: "\f002";
						font-family: FontAwesome;
						font-size: 13px;
						color: #d6d6d6;
						display: block;
						height: 35px;
						width: 35px;
						border: 1px solid #a8a8a8;
						line-height: 34px;
						text-align: center;
					}
					&.off{
						&:before{
							content: "\f00d";
							font-family: FontAwesome;
							border: none;
							width: auto;
							height: auto;
							line-height: normal;
							position: absolute;
							top: -14px;
							right: 0;
						}
					}
					&:hover{
						&:before{
							color: @color;
						}
					}
				}
				.top-form.top-search{
					position: absolute;
				    top: 0;
					right: 0;
					background: #fff;
					.transition(.2s);
					width: 0;
					overflow: hidden;
					.topsearch-entry{
						.form-search{
							border: 1px solid #a8a8a8;
							display: flex;
							.search-query, .button-search-pro{
								.border-radius(0);
								border: none;
								height: 33px;
								background: none;
								margin: 0;
							}
							.search-query{
								flex: 1;
								padding: 0 10px;
							}
							.button-search-pro{
								padding: 0 12px;
								&:before{
									content: "\f002";
									font-family: FontAwesome;
									font-size: 13px;
									color: #d6d6d6;
								}
								&:hover{
									&:before{
										color: @color;
									}
								}
							}
						}
					}
					&.open{
						width: 256px;
					}
				}
			}
		}
	}
	.header-bottom{
		.menu-cart{
			background: #fff;
		}
		.top-form{
			position: relative;  
			float: right;
			background: url("../assets/img/bg-cart.png") no-repeat @color;
			background-position: right bottom;
		}
	}
}
.header{
	.header-bottom{
		.logo-menu{
			transform: translateY(-45px);
			transition: transform 0.5s;
		    padding: 23px 0;
		    transform: translateY(-45px);
		    transition: transform 0.5s;
		    position: absolute;
		    visibility: hidden;
		    height: 0;
		    opacity: 0;
		    padding: 0;
		    margin : 0 15px 0 0;
		    .rtl &{
		    	margin: 0 0 0 15px;
		    }
		}
		&.sticky-menu{
			.logo-menu{
				display: block;
				transform: translateY(0);
				padding: 23px 0;
				visibility: visible;
			    position: relative;
				height: auto;
				opacity: 1;
			}
			.top-form{
				margin-left: 18px;
				.rtl &{
					margin-left: 0;
					margin-right: 18px;
				}
			}
			.bottom-header{
				.sw_top.pull-left{
					display: block;
				}
			}
			.main-menu{
				padding-top: 1px;
			}
		}
		.bottom-header{
			.sw_top.pull-left{
				display: none;
				.widget-inner{
					position: relative;
				}
				h3{
					font-size: 0;
					margin: 15px 0;
					cursor: pointer;
					&:before{
						content: "\f002";
						font-family: FontAwesome;
						font-size: 13px;
						color: #d6d6d6;
						display: block;
						height: 35px;
						width: 35px;
						border: 1px solid #a8a8a8;
						line-height: 34px;
						text-align: center;
					}
					&.off{
						&:before{
							content: "\f00d";
							font-family: FontAwesome;
							border: none;
							width: auto;
							height: auto;
							line-height: normal;
							position: absolute;
							top: -14px;
							right: 0;
						}
					}
					&:hover{
						&:before{
							color: @color;
						}
					}
				}
				.top-form.top-search{
					position: absolute;
				    top: 0;
					right: 0;
					background: #fff;
					.transition(.2s);
					width: 0;
					overflow: hidden;
					.topsearch-entry{
						.form-search{
							border: 1px solid #a8a8a8;
							display: flex;
							.search-query, .button-search-pro{
								.border-radius(0);
								border: none;
								height: 33px;
								background: none;
								margin: 0;
							}
							.search-query{
								flex: 1;
								padding: 0 10px;
							}
							.button-search-pro{
								padding: 0 12px;
								&:before{
									content: "\f002";
									font-family: FontAwesome;
									font-size: 13px;
									color: #d6d6d6;
								}
								&:hover{
									&:before{
										color: @color;
									}
								}
							}
						}
					}
					&.open{
						width: 256px;
					}
				}
			}
		}
	}
}


