.rtl .style-moblie:before{
  left: 0;
}
.mobile-layout .wrap-fade-slide{
    .fade-slide{
      margin-bottom: 10px;
    }
}
.fade-slide{
  position: relative;
  margin: 0 0 20px;
  .slick-list{
    transform: none !important;
  }
  .slick-dots{
    margin: 0;
    text-align: center;
    position: absolute;
    bottom: 2px;
    width: 100%;
    li{
      list-style: none;
      display: inline-block;
      vertical-align: top;
      margin: 0 5px 0 0;
      line-height: 0;
      button{
        height: 10px;
        width: 10px;
        background: #ffffff;
        border-radius: 50%;
        padding: 0;
        text-indent: -9999px;
        border: none;
        margin: 0;
        transition: all 0.3s;
      }
      &.slick-active{
        button{
            height: 14px;
          width: 14px;
          margin-top: -3px;
        }
      }
    }
  } 
  .slick-prev, 
  .slick-next{
    font-size: 0;
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    margin-top: -19.5px;
    z-index: 1;
    height: 39px;
    width: 39px;
    padding: 0;
  }
  .slick-prev{
    left: 10px;
    background: url("../assets/img/prev-m1.png") no-repeat;
    &:before{
      content: '';
    }
  }
  .slick-next{
    right: 10px;
    background: url("../assets/img/next-m1.png") no-repeat;
    &:before{
      content: '';
    }
  }
}
.mobile-demo .header-mobile-style2{
  position: static !important;
}
.header-mobile-style2{
  &.sticky-mobile{
    .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
      top:48px;
    }
    .header-top-mobile{
      padding:12px 0 8px;
      background-color: rgba(255,255,255,0.9);
      .mobile-search{
        display: none;
      }
    }
  }
  .header-top-mobile{
    padding:15px 0 0px;
    text-align:center;
  }
  .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
    top:86px;
  }
  .header-menu-categories{
    .vertical_megamenu{
      text-align:left;
      .resmenu-container .navbar-toggle{
        display:block;
        padding:0;
        margin:0 0 0 10px;
        cursor:pointer;
        width: 26px;
        height: 26px;
        background-color:#e3e3e3;
        .transition(all 0.3s ease);
        border-radius:3px;
        .rtl &{
          margin:0 10px 0 0;
        }
        &:hover .icon-bar{
          width:16px !important;
          background-color:#ff5c00;
        }
        .icon-bar{
          height: 2px;
          width: 16px;
          margin: 3px 0px 3px 4px;
          background: #000;
          display: block;
          right: 0;
          .transition(all 0.3s ease);
          .rtl &{
            margin:3px 4px 3px 0;
          }
          &:nth-child(1){
            width:12px;
          }
          &:nth-child(3){
            width:12px;
          }
        }
      }
      .vertical-megamenu{
        opacity:0;
        visibility:hidden;
        height:0;
        width:0;
      }
    }
  }
  .styleshop-logo{
    display:inline-block;
    margin:0;
  }
  .header-right{
    display:inline-block;
    overflow:hidden;
    margin:0 10px 0 0;
    .rtl &{
      margin:0 0 0 10px;
      .header-wishlist{
        float:right;
      }
    }
    .header-wishlist{
      float:left;
      a{
        font-size:16px;
      }
    }
    .header-cart{
      float:right;
      margin:0 8px 0 10px;
      .rtl &{
        float:left;
        margin:0 10px 0 8px;
        a .minicart-number{
          left:8px;
          right:auto;
        }
      }
      a{
        text-indent:-9999px;
        display:inline-block;
        width:17px;
        height:19px;
        background: url( ../assets/img/icon-cart2.png ) no-repeat center center;
        .minicart-number{
          display:inline-block;
          width:17px;
          height:17px;
          text-indent: 0;
          position: absolute;
          top: 10px;
          right: 8px;
          background-color:@color;
          color:#fff;
          border-radius:50%;
          font-size:11px;
        }
      }
    }
  }
  .mobile-search{
    display:block;
    overflow:hidden;
    margin-top:8px;
    .top-form.top-search{
      display:block;
      position:relative;
      padding:0;  
      float:none;
      border-top:1px solid #e8e8e8;
      .search-tog{
        display: none;
      }
      .topsearch-entry{
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        border: none;
        line-height: 36px;
        height: 36px;
        display: block;
        .cat-wrapper{
          display:none;
        }
        .form-search{
          display: block !important;
        }
        .form-search.searchform{
          position: static;
          border-radius: 0;
          box-shadow: none;
        }
        input[type="text"]{
          width:100%;
          height:36px;
          line-height: 36px;
          border:0;
          border-radius:0;
          padding:0 10px;
          font-size:12px;
          color:#9c9c9c;
          margin-bottom:0;
        }
        button.button-search-pro{
          position:absolute;
          top:0px;
          right:0;
          color:#c0c0c0;
          background-color:#fff;
          border:0;
          font-size:15px;
          height:36px;
          line-height:36px;
          width: 10%;
          margin: 0;
          &:before{
            color: #5e5e5e;
          }
          .rtl &{
            left:5px;
            right:auto;
          }
        }
      }
    }
  }
}
.home-mobile2 .style-moblie{
  &:before{
    color: #ff5555;
  }
  .block-title{
    h3{
      font-size: 22px;
      color: #333333;
      float: none;
      text-align: center;
      margin: 21px 0 14px;
    }
    .woocommmerce-shop{
      display: none;
    }
  }
  .resp-slider-container{
    margin: 0 -3px;
    >div.items-wrapper >.item{
      width: 180px;
      padding: 0 3px;
    }
  } 
  .item .item-wrap{
    border-radius: 0;
    border: none;
    .item-detail{
      .item-image{
        background: #e6e6e6;
        margin: 0 0 14px;
      }
      .item-content{
        h4{
          margin: 0 0 8px;
        }
        .item-price{
          padding: 14px 0 0;
        }
      }
    }  
  }
}
.mobile-layout{
  .sw-brand-container-slider{
    margin: 20px 0 16px;
    .slick-slider{
      margin: 0 10px;
      .item{
        opacity: 0.3;
        &.slick-current{
          opacity: 1;
        }
      }
    }
    .res-button{
      opacity: 1;
      visibility: visible;
      background: none;
      border-radius: 0;
      &.slick-prev{
        right: -11px;
        top: 50%;
        margin-top: -15px;
      }
      &.slick-next{
        left: -11px;
        top: 50%;
        margin-top: -15px;
      }
      &:before{
        font-size: 30px;
        color: #000;
        opacity: 0.2;
      }
      &:hover{
        background: none;
      }
    }
  }
  .countdown-slider{
    position: relative;
    .resp-slider-container{
      .box-title{
        text-align: center;
        h3{
          font-size: 18px;
          color: #010101;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: top;
          position: relative;
          margin: 17px 0 16px;
          &:before{
            content: '';
            height: 2px;
            width: 30px;
            background: #bf9a61;
            position: absolute;
            left: 110%;
            top: 7px;
          }
          &:after{
            content: '';
            height: 2px;
            width: 30px;
            background: #bf9a61;
            position: absolute;
            right: 110%;
            top: 7px;
          }
        }
      }
      .slick-slider{
        padding: 0 50px;
        overflow: hidden;
        .slick-list{
          margin: 0;
          .slick-track .item-countdown{
            padding: 0;
            .item-wrap{
              .item-detail{
                .item-image-countdown{
                  padding-top: 70px;
                  margin: 0 0 14px;
                  .onsale{
                    top: 81px;
                  }
                  .item-bottom{
                    display: none;
                  }
                  .product-countdown{
                    top: 0;
                    bottom: auto;
                  }
                }
                .item-content{
                  text-align: center;
                  margin: 0 0 21px;
                  h4{
                    a{
                      font-size: 14px;
                      font-weight: 500;
                    }
                  }
                  .reviews-content{
                    margin: 0 0 1px;
                  }
                }
              }
            }
          } 
        } 
      }   
    }
    .res-button{
      height: 39px;
      width: 39px;
      position: absolute;
      top: 50%;
      margin-top: -19.5px;
      &.slick-prev{
        background: url("../assets/img/prev-m.png") no-repeat;
          left: 0;
      }
      &.slick-next{
        background: url("../assets/img/next-m.png") no-repeat;
        right: 0;
      }
    }
  } 
}
.rtl.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
  right: .5em;
  left: auto;
}
.mobile-layout .sw_related_upsell_widget{
  margin: 0 0 0;
}
.mobile-layout{
  &.rtl{
    .category-contents .blog-content .post .entry .entry-content .content-top{
      .entry-meta .fa,
      .entry-meta-tag .fa{
        margin-left:10px;
        margin-right:0;
      }
      .entry-meta span{
        margin-left: 20px;
        margin-right: 0;
      }
    } 
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap:hover .item-detail .item-image-countdown img{
    transform: none;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap:hover .item-detail .item-image-countdown > a:before{
    opacity: 0;
  }
  .wpb_single_image .vc_single_image-wrapper img:hover{
    transform: none;
  }
  .category-contents .blog-content .post .entry .entry-thumb{
    margin: 0 0 5px;
    position: relative;
    .entry-meta{
      display: none;
      position:absolute; top:-20px; left: 10px; z-index:2; background: @color; padding: 15px 10px; text-align: center;
      .border-radius(0 0 4px 4px);
      .rtl &{
        right:10px;
        left:auto;
      }
      .day-time{
        font-size:28px; font-weight: bold; color:#fff; display: block;
      }
      .month-time{
        font-size:14px;
        color:#eeeeee;
      }
    }
  }
  .category-contents .blog-content .post .entry .entry-content .content-top{
    padding: 15px 0;
    .entry-meta{
      color:#555;
      font-size:13px;
      margin: 0 0 10px;
      a{
        color:#555;
        &:hover {
          color: @color;
        }
      }
      span{
        margin-right:20px;
        display:inline-block;
        .rtl &{
          margin-left:20px;
          margin-right:0;
        }
      }
      .fa{
        margin-right:10px;
      }
    }
    .entry-meta-tag{
      color:#555;
      text-transform:capitalize;
      font-size:13px;
      a{
        color:#555;
        &:hover {
          color: @color;
        }
      }
      .fa{
        margin-right:10px;
        .rtl &{
          margin:0 0px 0 10px;
        }
      }
    }
  } 
}
