.widget_sp_image{
	margin-bottom:40px;
	&:hover{
		img{
			opacity:0.85;
		}
	}
	img{
		width:100%;
	}
}
h1.page-title{
	display: none;
}
.listing-title{
	color:@body-color;
	text-transform:uppercase;
	font-size:18px;
	margin:0;
}
.products-wrapper {
	.products-nav {
		text-align:center;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		margin-bottom: 40px;
		background: #f5f4f4;
		.box-shadow(0px 1px 3px 1px #e7e7e7);
		padding: 0 16px;
		.view-top {
			margin-bottom: 12px;
			padding-bottom: 12px;
			border-bottom: 1px solid #dddddd;
		}

		.view-mode-wrap {
			padding: 19px 0 18px;
			.view-mode {
				>a {
					position: relative;
					width: 20px;
					height: 20px;
					float: left;
					border: 0;
					overflow: hidden;
					.rtl &{
						float:right;
					}
					&.active, &:hover {
						&.grid-view{
							background: url(@{url}/grid-hover.png) no-repeat;
						}
						&.list-view{
							background: url(@{url}/list-hover.png) no-repeat;
						}
					}
					&.grid-view {
						background: url("../assets/img/icon-grid.png") no-repeat;
						margin-right: 15px;
						.rtl &{
							margin-left: 15px;
							margin-right: 0;
						}
					}
					&.list-view {
						background: url("../assets/img/icon-list.png") no-repeat;
					}
					>span {
						font-size: 0;
						display: none;
					}
				}
			}
		}	/* end .view-mode-wrap */

		.catalog-ordering {
			display:inline-block;
			position:relative;
			padding: 20px 0 12px;
			ul{
				list-style: none;
			}
			.orderby-order-container {
				.show-product {
					margin: 0 15px;	
					color:#6b6b6b;
				}
				.orderby {
					min-width: 130px;
				}
				.order{
					margin:0;
					padding: 0 50px 0 0px;
					> li{
						a{
							color: #666;
						}
						&.desc{
							border-left:0;
							.rtl &{
								border-right:0;
								border-left:1px solid lighten(@border-color, 13%);
							}
							a{
								display:inline-block;
								height:20px;
								width:20px;
								background: url(../assets/img/bg_general.png) no-repeat -18px -1623px;
							}
						}
						&.asc{
							border-left:0;
							.rtl &{
								border-right:0;
								border-left:1px solid lighten(@border-color, 13%);
							}
							a{
								display:inline-block;
								height:20px;
								width:20px;
								background: url(../assets/img/bg_general.png) no-repeat -18px -1638px;
							}
						}
					}
				}
				.sort-count {
					min-width: 65px;
				}					
				.order-dropdown {
					margin: 0;
					list-style-type: none;
					text-align:left;
					.rtl &{
						text-align:right;
					}
					>li {
						position: relative;
						z-index: 10;
						cursor: pointer;
						.current-li {
							display: block;
							a {
								font-size: 12px;
								display: block;
								position: relative;
								color: #666;
								&:after {
								    font-family: fontawesome;
								    content: "\f107";
								    padding: 0 10px;
								    display: inline-block;
								}
							}
						}
						>ul {
							position: absolute;
							background-color: #fff;
							margin-left: 0;
							left: 0;
							top: 100%;
							border-left: 1px solid lighten(@border-color, 13%);
							border-right: 1px solid lighten(@border-color, 13%);
							border-bottom: 1px solid lighten(@border-color, 13%);
							width: 100%;
							list-style-type: none;
							.scale(0);
							.origin(left, top);
							.transition(all .3s);
							z-index: 10;
							>li {
								line-height: 25px;
								text-indent: 10px;
								a {
									display: block;
								}
							}
						}
						&:hover {
							>ul {
								.scale(1);
								.transition(all .3s);
							}
						}
					}
				}
			}
		}	/* end .catalog-ordering */
		
	}	/* end .product-nav */

	.woocommerce-pagination {
		padding: 20px 0 18px;
		.note {
			display: none;
		}
		.page-numbers {
			margin: 0;
			vertical-align: top;
			background: none;
			border:0;
			>li {
				float: left;
				border:0;
				padding: 0 6px;
				.rtl & {
					float: right;
				}
				.page-numbers {
					font-size: 12px;
					display: inline-block;;
					padding: 0;
					color:#666666;
					.transition(all .5s);
					line-height: normal;
					&.current,&:hover {
						background: none;
						color: @color;
						.transition(all .5s);
					}
					&.prev, &.next {
						font-size: 0;
						padding: 0 0 0 3px;
						&:before {
							font-family: fontawesome;
							font-size: 16px;							
						}
					}
					&.prev {
						&:before {
							content: "\f104";	
							.rtl & {
								content: "\f105";	
							}						
						}
					}
					&.next {
						&:before {
							content: "\f105";	
							.rtl & {
								content: "\f104";	
							}						
						}
					}
				}
			}
		}
	}

	.products-loop {
		list-style-type: none;
		>li {
			margin-bottom: 23px;
		}

		&.grid {
			>li {
				.item-wrap {
					.item-detail {
						.item-img{
							position: relative;
							&:before{
								content: '';
							    width: 100%;
							    height: 100%;
							    position: absolute;
							    background: rgba(0,0,0,0.2);
							    opacity: 0;
							}
						}
						.item-content {
							padding:16px 0 0;
							h4 a{
								color:@body-color;
								font-size:13px;
								text-transform: capitalize;
								&:hover{
									color: @color;
								}
							}
							.reviews-content{
								margin-bottom: 8px;
							}
							.item-description,
							.item-bottom{
								display: none;
							}
						}
					}
					
				}
				&.product-type-variable{
					.item-price{
						del{
							float:none;
						}
						ins{
							float:none;
						}
					}
				}
			}
		}
		&.list {
			.item {
				width: 100%;
				.item-wrap {
					text-align: left;
					border:0;
					.rtl & {
						text-align: right;
					}
					.item-detail {
						.item-img{
							position: relative;
							float: left;
							margin-right: 30px;
							.item-bottom{
								display: none;
							}
						}
						.item-content  {
							overflow: hidden;
							width: auto;
							display: block;
							padding:0;
							h4 {
								margin: 0 0 9px;
								a{
									color:@body-color;
									font-size:16px;
									text-transform: capitalize;
								}
							}
							.reviews-content {
								margin-bottom: 9px;
							}
							.item-price {
								
							}
							.item-description {
								font-size: 12px;
								color: #666666;
								line-height: 22px;
								clear: both;
								border-top: 1px solid #e5e5e5;
							    padding-top: 30px;
								margin: 26px 0 32px;
							}
							.item-bottom {
								position: static;
								opacity: 1;
								.add_to_cart_button,
								.product_type_external,
								.product_type_grouped{
									font-size: 12px;
									color: #fff;
									letter-spacing: 2px;
									width: auto;
									padding: 0 10px;
									float: left;
									display: block;
									background: @color;
									font-weight: 300;
									margin: 0 1px 0 0;
									text-transform: uppercase;
									border: none;
									&:before{
										display: inline-block;
										color: #fff;
										margin-right: 8px;
										.rtl &{
											margin: 0 0 0 8px;
										}
									}
									.rtl &{
										float: right;
										margin: 0 0 0 1px;
									}
								}
								.yith-wcwl-add-to-wishlist{
									margin: 0 1px 0 0;
									float: left;
									.rtl &{
										float: right;
										margin: 0 0 0 1px;
									}
								}
								.show{
									a{
										border: 1px solid #a8a8a8;
										&:hover{
											border-color: @color;
										}
									}
								}
								a.compare.button{
									border: 1px solid #a8a8a8;
									margin: 0 1px 0 0;
									float: left;
									&:hover{
										border-color: @color;
									}
									.rtl &{
										float: right;
										margin: 0 0 0 1px;
									}
								}
								.fancybox{
									border: 1px solid #a8a8a8;
									float: left;
									margin: 0 0 0;
									&:hover{
										border-color: @color;
									}
									.rtl &{
										float: right;
										margin: 0 0 0 1px;
									}
								}
							}
						}	
					}
					&:hover {
						.item-content {
							h4 a {
								color: lighten( @body-color, 6% );
								opacity:1;
								&:hover {
									color: @color;
								}
							}
							.item-price{
								opacity:1;
							}
							.item-bottom {
								.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a, 
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a, 
								.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
								a.compare{
									.opacity(1);
									.translateY(0);
								}
							}								
						}
					}
				}
			}
		}
	}	/* end .products-loop */
}	/* end .products-wrapper */

/* =================================================== */
/* List SubCategories ================================ */
.products-loop {
	.product-category {
		a {
			text-align: center;
			display: block;
			background-color: #fff;
			img {
				padding: 10px 40px;
				margin: 0 auto;
			}
			h3 {
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 0;
				padding: 12px 0;
				background-color: #eeeeee;
				color: lighten( @body-color, 14% );
				.transition(all .3s);
				.count {
					display: none;
				}
			}
			&:hover {
				h3 {
					background-color: @color;
					color: #fff;
				}
			}
		}
	}
}