.single-product{
	.product_detail{
		margin-bottom: 40px;
		.slider_img_productd{
			.product-images{
				.slider{				
					.slick-list{
						.slick-track{
							.slick-slide{
								&.item-img-slider{
									margin: 0 0 10px;
								}	
							}
						}
					}
					&.product-responsive-thumbnail{
						overflow: hidden;
						.slick-list{
							margin: 0 -5px;
							.slick-track{
								.slick-slide{
									padding: 0 5px;
								}
							}
						}
						.slick-prev,
						.slick-next{
							position: absolute;
							top: 50%;
							margin: -14.5px 0 0;
							display: block;
							padding: 0;
							width: 30px;
							height: 30px;
							line-height: 30px;
							background-color: rgba(217,194,169,0.6);
							text-align: center;
							z-index: 1;
							font-size: 0;
							cursor: pointer;
							.border-radius(0);
							transition: transform 0.3s;
							transform: none;
							border: none;
							&:hover{
								background-color: @color;
							}
						}
						.slick-prev{
							left: 0;
							&:before{
								content: '\f104';
								font-family: FontAwesome;
								font-size: 14px;
								color: #ffffff;
							}
						}
						.slick-next{
							right: 0;
							&:before{
								content: '\f105';
								font-family: FontAwesome;
								font-size: 14px;
								color: #ffffff;
							}
						}
					}
				}
				.product-images-container.thumbnail-left{
					position: relative;
					.product-responsive-thumbnail{
						float: left;
						width: 80px;
						.slick-list{
							margin: 0;
							.item-thumbnail-product{
								padding: 0;
								margin: 0;
								border: 0;
								.thumbnail-wrapper{							
									margin: 7.5px 0;
									background: #f4f4f4;
									&:hover{
										border-color: @color;
									}
								}
							}
						}  
					}
					.product-responsive{
						overflow: hidden;
						.item-img-slider{
							border: 0;						
							text-align: center;
							padding: 0;
							margin-left: 15px;
							.images{
								background: #f4f4f4;
							}
							img{
								display: inline-block;
								max-width: 100%;
								width: auto;
							}
						}
					}
					button {
						right: auto;
						border: none;
                        &.slick-prev {
                        	top: 0;
                        	bottom: auto;
                        	left: 50%;
                        	margin: 0 0 0 -20px;
                        	padding: 0;
                        	height: 40px;
                        	width: 40px;
                        	line-height: 40px;
                        	background-color: rgba(217,194,169,0.6);
                        	&:before{
	                        	content: '\f106';
							    font-family: FontAwesome;
							    font-size: 18px;
							    display: inline-block;
	                        }
                        }
                        &.slick-next {
                        	top: auto;
                        	bottom: 7px;
                        	left: 50%;
                        	margin: 0 0 0 -20px;
                        	padding: 0;
                        	height: 40px;
                        	width: 40px;
                        	line-height: 40px;
                        	background-color: rgba(217,194,169,0.6);
                        	&:before{
	                        	content: '\f107';
							    font-family: FontAwesome;
							    font-size: 18px;
							    display: inline-block;
	                        }
                        } 
                    }
				}
			}
		}
		.content_product_detail{
			h1{
				font-size: 20px;
				text-transform: capitalize;
				color: @body-color;
				line-height: 20px;
			}
			.reviews-content{
				margin: 0 0 7px;
				a{
					font-size: 12px;
					color: #666666;
				}
				.star{
					margin-right: 33px;
    				margin-top: 2px;
    				.rtl &{
    					margin: 1px 0 0 33px;
    				}
				}
			}
			.price{
				font-family: 'PoppinsMedium';
				font-size: 16px;
				color: #000;
				del{
					margin: 4px 14px 0;
					float: none;
				}
			}
			.product-info{
				border-top: 1px solid #f0f0ed;
			    margin: 11px 0 19px;
				padding-top: 28px;
				.product-stock{
					margin-bottom: 11px;
				}
				.in-stock{
					font-size: 12px;
					text-transform: uppercase;
					color: #666666;
					&:before{
						content: '\f046';
						font-family: FontAwesome;
						color: #518412;
						display: inline-block;
					}
				}
				.sku_wrapper{
					font-size: 12px;
					text-transform: uppercase;
					color: #666666;
				}
			}
			.description{
				margin: 0 0 25px;
				p{
					font-size: 12px;
					color: #666;
					line-height: 22px;
				}
			}
			.variations_form{
				.variations{
					margin-bottom: 10px;
					tbody{
						tr{
							td{
								float: left;
								padding: 0;
								margin-bottom: 20px;
								.rtl &{
									float: right;
								}
								&.label{
									label{
										font-size: 16px;
										color: @a-color;
										font-weight: 600;
										text-transform: uppercase;
										margin-bottom: 0;
										padding: 2px 15px 4px 0;
										.rtl &{
											padding: 2px 0 4px 15px;
										}
									}
								}
								&.value{
									select{
										font-size: 12px;
										text-transform: uppercase;
										margin: 0;
										border: 1px solid #a8a8a8;
										color: #666666;
										padding: 5px 50px 5px 10px;
										.rtl &{
											padding: 5px 10px 5px 50px;
										}
										&#pa_size{
											margin-left: 21px;
											.rtl &{
												margin-right: 21px;
												margin-left: 0;
											}
										}
									}
									.reset_variations{
										color: #000;
										margin-left: 12px;
										.rtl &{
											margin-right: 12px;
											margin-left: 0;
										}
									}
								}
							}
						}
					}
				}
				.woocommerce-variation-price{
					.price{
						border-bottom: 0;
						margin-bottom: 20px;
						display: block;
					}
				}
				.addcart-wrapper{
					.disabled:hover{
						background-color: @color;
					}
				}
			}
			.cart{
				margin: 0 0 8px;
				.single_add_to_cart_button{
					font-size: 12px;
					text-transform: uppercase;
					color: #fff;
					width: auto;
					padding: 0 10px;
					.border-radius(0);
					height: 33px;
					line-height: 33px;
				    letter-spacing: 2px;
				    float: left;
				    display: block;
				    background: @color;
				    font-weight: 300;
				    margin: 0 1px 0 0;
				    border: none;
				    .rtl &{
						float: right;
						margin: 0 0 0 1px;
					}
					&:before{
						content: '\f07a';
						font-family: FontAwesome;
						color: #fff;
						font-size: 13px;
						display: inline-block;
						margin-right: 8px;
						.rtl &{
							margin: 0 0 0 8px;
						}
					}
					&:hover{
						opacity: 0.7;
					}
				}
				.group_table {
					margin-bottom: 25px;
					width: 100%;
					tbody {
						tr {
							border-color: #ddd;
							td {
								height: auto;
								padding: 6px 6px;
								label {
									margin-bottom: 0;
								}
								.quantity {
									float: left !important;
									width: 100px;
									.rtl &{
										float: right !important;
									}
									.qty {
										width: 40px;
									}
								}
								&.label {
									white-space: normal;
								}
							}
						}
					}
					.label {
						vertical-align: middle; padding-top: 20px; 
					}
					.price{
						vertical-align: middle;
						height: auto;
					}
				}
			}
			.item-bottom{
				position: static;
				margin: 0;
				transform: none;
				opacity: 1;
				.yith-wcwl-add-to-wishlist{
					margin: 0 1px 0 0;
					float: left;
					.rtl &{
						float: right;
						margin: 0 0 0 1px;
					}
				}
				.show{
					a{
						border: 1px solid #a8a8a8;
						&:hover{
							border-color: @color;
						}
					}
				}
				a.compare.button{
					border: 1px solid #a8a8a8;
					margin: 0 1px 0 0;
					float: left;
					.rtl &{
						float: right;
						margin: 0 0 0 1px;
					}
					&:hover{
						border-color: @color;
					}
				}
			}
		}
	}
	.product-type-external{
		.product_detail .content_product_detail .addcart-wrapper .item-bottom{
			position: static;
			margin: 0;
			transform: none;
		}
	}
	.social-share{
		padding: 22px 0 20px 0;
		margin-bottom: 23px;
		.title-share{
			font-size: 16px;
			color: @a-color;
			text-transform: uppercase;
			float: left;
			margin-right: 22px;
			margin-top: 5px;
			font-weight: 600;
			.rtl &{
				float: right;
				margin: 5px 0 0 22px;
			}
		}
		a{
			float: left;
			font-size: 18px;
			display: block;
			height: 35px;
			width: 35px;
			text-align: center;
			margin-right: 10px;
			margin-bottom: 10px;
			border: 1px solid #afafaf;
			color: #646464;
			.transition(all 0.3s ease-in);
			.rtl &{
				float: right;
				margin: 0 0 10px 10px;
			}
			&:hover{
				background-color: @color;
				border-color: @color;
				color: #fff;
			}
			i{
				line-height: 35px;
			}
		}
	}
	.tabs{
		margin-bottom: 39px;
		.tabbable{
			.nav-tabs{
				margin: 0;
				border: 1px solid #e1e1e1;
				background: #ffffff;
				li{
					margin: 0;
					a{
						font-family: 'PoppinsMedium';
						font-size: 14px;
						color: @a-color;
						border: none;
						border-right: 1px solid #e1e1e1;
						.border-radius(0);
						background: #fff;
						text-transform: uppercase;
						margin: 0;
						padding: 14px 33px;
						.rtl &{
							border-left: 1px solid #e1e1e1;
							border: right 0;
						}
					}
					&.active, &:hover{
						a{
							background: @color;
							color: #fff;
							border-color: @color;
						}
					}
				}
			}
			.tab-content{
				padding: 29px 29px 14px;
				border: 1px solid #e1e1e1;
				border-top: 0;
				.tab-pane{
					h2{
						display: none;
					}
					p{
						font-size: 12px;
						color: #666666;
						line-height: 22px;
					}
				}
				#reviews{
					#comments{
						margin-bottom: 5px;
						p{
							padding: 0;
						}
					}
					#review_form_wrapper{
						.form-submit{
							.submit{
								padding: 10px 20px 7px;
							}
						}
					}
				}
			}
		}
	}
}
.sw_related_upsell_widget{
	position: relative;
	margin-bottom: 60px;
	.product-ur{
		.tabbable.tabs .tab-content .tab-pane{
			display: block;
			height: 0;
			overflow: hidden;
			&.active{
				height: auto;
				overflow: visible;
			}
		}
	}
	.nav-tabs{
		margin: 0 0 13px !important;
		border: none;
		text-align: center;
		li{
		    display: inline-block;
			float: none;
			vertical-align: top;
			position: relative;
			border: none !important;
			a{
				font-size: 20px;
				color: #a8a8a8;
				font-weight: 600;
				margin: 0;
				padding: 0;
				border: none;
				border-radius: 0;
				text-transform: uppercase;
				line-height: 13px;
				padding: 0 19px;
				&:hover{
					background: none;
				}
			}
			&.active{
				a{
					color: @a-color;
					background: none;
					border: none;
				}
			}
			&:first-child{
				a{
					&:before{
						content: '';
						width: 25px;
						height: 2px;
						background: @color;
						position: absolute;
						top: 50%;
						margin-top: -3px;
						left: -29px;
					}
				}
			}
			&:last-child{
				a{
					&:after{
						content: '';
						width: 25px;
						height: 2px;
						background: @color;
						position: absolute;
						top: 50%;
						margin-top: -3px;
						right: -29px;
					}
				}
			}
		}
	}
	.widget-inner{
		.sw-woo-container-slider{
			.resp-slider-container{
				h2{
					padding: 0;
					margin: 0;
				}
				.slick-slider{
					.slick-list{
						margin: 0 -15px;
						.slick-track{
							.item{
								padding: 0 15px;
								.item-wrap{
									margin: 0 0 20px;
									.item-detail{
										.item-img{
											position: relative;
											.sale-off{
												position: absolute;
												top: 15px;
												right: 15px;
											}
										}
										.item-content{
											overflow: hidden;
											h4{
												a{
													font-size: 13px;
													color: #464646;
													line-height: 20px;
													&:hover{
														color: @color;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.res-button{
		top: -6px;
		&.slick-next{
			right: 0;
		}
		&.slick-prev{
			right: 29px;
		}
	}
}
.product_detail .content_product_detail .cart .quantity input[type=number] {
    -moz-appearance: textfield;
}