@import "rtl-home2.less";
.rtl{
	.wpb_tabs .wpb_tabs_nav li{
	    float: right;
    	margin: 0 0 0 1px;
	}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11{
		float: right;
	}
	.vc_col-sm-1, .vc_col-sm-2, .vc_col-sm-3, .vc_col-sm-4, .vc_col-sm-5, .vc_col-sm-6, .vc_col-sm-7, .vc_col-sm-8, .vc_col-sm-9, .vc_col-sm-10, .vc_col-sm-11 {
	    float: right;
	}
	.pull-left {
		float: right;
	}
	.pull-right {
		float: left;
	}
	.fancybox-close{
		left:-5px;
		right:auto;
	}
	.column-1, .column-2, .column-3, .column-4, .column-5, .column-6, .column-7, .column-8, .column-9, .column-10 {
		float: right;
	}
	.dropdown-menu {
		left: auto;
		right: 0;
	}
	&.woocommerce-error:before, .woocommerce-info:before, .woocommerce-message:before{
		right:1.5em;
		left:auto;
	}
	&.woocommerce-error, .woocommerce-info, .woocommerce-message{
		padding:1em 3.5em 1em 2em!important;
	}
	&.woocommerce div.product form.cart div.quantity{
		float:right;
		margin: 0 0 0 4px;
	}
	.woocommerce div.product form.cart .button{
		float:right;
	}
	&.woocommerce .widget_layered_nav ul li.chosen a::before, &.woocommerce .widget_layered_nav_filters ul li a::before{
		content:'';
		margin:0;
	}
	.woocommerce, &.woocommerce-page{
		form table.shop_table.shop_table_responsive tbody tr td{
			text-align: right !important;
		} 
	}
	.woocommerce span.onsale, .onsale {
		left: auto;
		right: 8px;
	}
	.item .item-wrap .item-detail:hover .item-bottom{
		left: 8px;
		right: auto;
	}
	&.woocommerce .item-bottom, .item-bottom{
		left: 0;
		right: auto;
		.button.added{
			background-position-x: 1px;
		}
	}
	.content-search >.post .entry-content .bl_read_more i, 
	.content-search .product .entry-content .bl_read_more i {
		transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
	}
	&.has-left-sidebar{
		#left{
			float: right;
		}
		.category-contents, .single.main{
			float: left;
		}
		#contents .category-contents{
			float: none;
		}
	}
	&.has-right-sidebar{
		#right{
			float: left;
		}
		.category-contents, .single.main{
			float: right;
		}
	}
	&.has-left-product-sidebar{
		#left{
			float: right;
		}
		#contents-detail, #contents{
			float: left;
		}
	}
	&.has-right-product-sidebar{
		#right{
			float: left;
		}
		#contents-detail, #contents{
			float: right;
		}
	}
	.fa-arrow-circle-right:before{
		content: "\f0a8";
	}
	.styleshop_breadcrumbs .breadcrumbs .breadcrumb > li{
		> a{
			padding: 0 0 0 10px;
		}
		+ li:before{
			margin: 0 0 0 10px;
		}
	} 
	/* ========================HEADER======================= */
	.header{
		.header-top{
			.widget.widget_nav_menu .widget-inner ul li{
				border-left: 1px solid #a8a8a8;
				border-right: 0;
				&:last-child{	
					border-left: 0;
					a{
						padding: 0 13px 0 0;
					}
				} 
			}
			.sidebar-account{
				.account-title{
					border-left: 1px solid #a8a8a8;
					border-right: 0;
					padding: 0 0 0 12px;
					&:after{
						margin: 0 6px 0 0;
					}
				}
				.my-account{
					right: 0;
					left: auto;
					ul#menu-my-account{
						text-align: right;
						> li > a span.fa{
							margin-left: 13px;
							margin-right: 0;
						}
					} 
				}
				.top-login ul{
					text-align: right;
					li a:before{
						margin-left: 10px;
						margin-right: 0;
					}
				} 
			} 
			.top2 .sw_top .top-form.top-search{
				left: 0;
				right: auto;
			}
		}
		.header-bottom .top-form{
			padding: 15px 18px 15px 58px;
			background-position: left bottom;
		}
		.header-bottom.sticky-menu{
			.bottom-header .sw_top.pull-left .top-form.top-search{
				padding: 0;
			}
			.bottom-header .sw_top.pull-left .top-form.top-search{
			    left: 0;
				right: auto;
			}
			.bottom-header .sw_top.pull-left h3.off:before{
				left: 0;
				right: auto;
			}
		}
	}
	#lang_sel > ul.nav > li > a{
		border-left: 1px solid #a8a8a8;
		border-right: 0;
	}
	.widget_currency_converter{
		.currency_converter, h3{
			float: right;
		}
	}
	/* ========================CONTENT======================= */
	.wrap-full-banner .full-banner ul.banner-list li.banner-item{
		.text-banner{
			text-align: right;
			left: 130px;
			right: auto;
		}
		&:last-child .text-banner{
			left: auto;
			right: 130px;
		}
	}
	.responsive-post-slider .resp-slider-container .slick-slider .slick-track .item .item-detail .entry-content .entry-meta .meta-entry.entry-date{
		border-right: 0;
		border-left: 1px solid #e6e6e6;
	}
	.wrap-newletter{
		h3{
			margin: 0 0 0 55px;
		}
		.mc4wp-form .newsletter-content .newsletter-email{
			margin: 0 0 0 27px;
		}
	} 
	.shop-social ul{
		float: left;
		li{
		    float: right;
			margin: 0 0 0 10px;
		}
	}
	.responsive-listing-banner2 .banner-listing-container .item-product-cat{
		.item-wrap .item-content{
			right: 75px;
		    left: auto;
		    text-align: left;
		}
		&.item-right .item-wrap .item-content{
			text-align: right;
		}
	} 
	/* ========================PRODUCT======================= */
	.products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img{
		float: right;
    	margin: 0 0 0 30px;
	}
	.products-wrapper .products-nav .catalog-ordering .orderby-order-container .order{
		padding: 0 0 0 50px;
	}
	.price_slider_wrapper .price_slider_amount #min_price, 
	.price_slider_wrapper .price_slider_amount #max_price{
		float: right;
		margin-right: 0;
		margin-left: 1%;
	}
	.woocommerce .widget_price_filter .price_slider_amount .button{
		float: right;
	}
	.sw_related_upsell_widget .nav-tabs li:first-child a{
		&:before{
			left: auto;
			right: -29px;
		}
	}
	.sw_related_upsell_widget .nav-tabs li:last-child a:after{
		left: -29px;
		right: auto;
	}
	.single-product .tabs .tabbable .nav-tabs li{
		float: right;
	}
	/* ========================BLOG======================= */
	.category-contents .blog-content.blog-content-default .post .entry .entry-thumb, 
	.category-contents .blog-content.blog-content-default .post .entry .entry-content{
		float: right;
	}
	.category-contents .blog-content.blog-content-default .post:nth-child(2n) .entry .entry-thumb{
		float: left;
	}
	.widget-latest-blog .blog-content .blog-item .widget-thumb a{
		margin: 0 0 0 15px;
	}
	.category-contents .blog-content .post .entry .entry-content .content-top .entry-meta .meta-entry.entry-date a{
		border-right: 0;
		border-left: 1px solid #e6e6e6;
	}
	.widget-latest-blog .blog-content .blog-item .widget-content-wrap .widget-content .entry-meta .meta-entry.entry-date a{
		border-right: 0;
		border-left: 1px solid #e6e6e6;
	}
	#comments .commentlist .comment .author, #comments .children .comment .author{
	    float: right;
		margin-right: 0;
		margin-left: 20px;
	}
	#comments ul.children{
		margin-left: 0;
		margin-right: 100px;
	}
	/* ========================PAGES======================= */
	.contact-bonus{
		.ct{
			padding: 15px 33px 12px 0;
		}
		.ct-street:before,
		.ct-email:before,
		.ct-hotline:before{
			left: auto;
			right: 0;
		}
		.form-contact{
			.info-contact,
		 	.info-comment{
		 		float: right;
		 	}
		 	.info-contact p .wpcf7-form-control-wrap input,
		 	.info-comment p textarea{
		 		text-align: right;
		 	}
		}
		.senmail-buttom{
			float: right;
			.ajax-loader{
				right: auto;
				left: -26px;
			}
		} 
		&.contact-bonus2 .form-contact .info-comment{
			float: none;
		}
		span.wpcf7-not-valid-tip,
		div.wpcf7-validation-errors{
			text-align: right;
		}
		div.wpcf7-validation-errors{
			clear: both;
		}
	} 
	&.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
		left: .5em;
		right: auto;
	}
	/* ========================FOOTER======================= */
	.footer .footer-style1{
		.about-footer p{
			padding-right: 0;
			padding-left: 76px;
		}
		.wrap-cus .widget_nav_menu ul li{
			float: right;
			a{
				border-right: none;
				border-left: 1px solid #646464;
			}
			&:last-child{
				a{
					border-left: 0;
				}
			}
		}
	}
	&.woocommerce #respond input#submit.added::after, 
	&.woocommerce a.button.added::after, 
	&.woocommerce button.button.added::after, 
	&.woocommerce input.button.added::after{
		display: inline-block;
		margin-left: 0;
		margin-right: .53em;
	} 
}