// TODO: css for shortcodes.
/* ========================================================== */
/* Quote Border ============================================= */
.quote-border{	
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 10px;
    font-style: italic;
    border: 1px solid #ddd;
    .border-radius(3px);
}
/* ========================================================== */
/* Video ==================================================== */
iframe{
	border:none;
	margin-bottom:10px;
	max-width:100%;
}
/* =========================================================== */
/* Ya Why Choose Us  ========================================= */
.block-whychoose {
	margin-bottom:30px !important;
	display:inline-block;
	.image-whychoose{
		float:left;
		width:64px;
		.rtl &{
			float:right;
		}
	}
	.content-whychoose{
		margin-left:80px;
		.rtl &{
			margin-right:80px;
			margin-left:0;
		}
		h2{
			color:#000;
			font-size:13px;
			text-transform:uppercase;
		}
		.description{
			color:#666;
		}
	}
}

/*========================================================*/
/* Search Faqs ===========================================*/
.vc_wp_search .widget_search .searchform{
	.screen-reader-text{
		display:none;
	}
	input[type="submit"]{
		text-indent:-9999px;
		display:block;
		border:0;
		width:34px !important;
		height:34px;
		background: url('../assets/img/search-icon.png') no-repeat scroll center center #666 !important;
		&:hover{
		background: url('../assets/img/search-icon.png') no-repeat scroll center center @color !important;
		}
	}
	input[type="text"]{
		border:1px solid lighten(@border-color, 8%);
	}
}
/* ======================================================================== */
/* Titlte ================================================================= */
.wpb_single_image .vc_single_image-wrapper {
	img {
		transition: transform 0.8s;
		&:hover {
			transform: scale3d(1.1,1.1,1);
		}
	}
}
/* =================================================================== */
/* =================================================================== */
#wp-calendar {
	width: 100%;
	caption {
		padding: 10px 0;
	}
	tr {
		th {
			text-align: center;
		}
		td {
			padding: 10px 0;
		}
	}
}
/* ======================================================== */
/* ======================================================== */
.popup-fancy .fancybox-wrap .fancybox-outer{
	background: none !important;
}
.fancybox-close{
	background: url("../assets/img/fancybox_close.png") no-repeat;	
}
#subscribe_popup{
	text-align: left;
    padding: 147px 8px 39px;
    display: none;
	position:relative;
	min-width:550px;
	.subscribe-popup-container{
		text-align: center;
		.popup-content{
			h4{
				font-size: 18px;
				color: #fff;
				font-family: 'PlayfairDisplayItalic';
			}
			h3{
				font-size: 20px;
				color: #fff;
				font-family: 'PoppinsSemiBold';
				text-transform: uppercase;
				margin-bottom:23px;
			}
		}
		.subscribe-form {
			margin-bottom: 10px;
			background-color: #fff;
			max-width:439px;
			position:relative;
			display: inline-block;
			p, input{
				margin:0;
			}
			input[type="email"]{
				padding: 0 16px;
				height: 40px;
				line-height: 41px;
				overflow: hidden;
				display: block;
				font-size: 13px;
				width: 339px;
				border-radius:0;
				border:0;
				background: none;
				
			}
			button[type="submit"]{
				background: url(@{url}/icon-newsletter.png) no-repeat center center;
				position: absolute;
				height: 40px;
				width: 52px;
				overflow: hidden;
				top:0;
				right:0;
				text-indent:-9999px;
				border:0;
				border-radius:0;
				margin: 0;
				.rtl &{
					left:0;
					right:auto;
				}
				&:before {
					display: none;
				}
				&:hover {
					opacity:0.85;
				}
			}
		}
		.subscribe-getit{
			display: inline-block;
			a{
				font-family: 'PoppinsMedium';
				font-size: 16px;
				color: #fff;
				text-transform: uppercase;
				background: #222222;
				height: 40px;
    			line-height: 40px;
    			display: block;
    			width: 339px;
			}
		}
		.subscribe-checkbox {
			line-height: 30px;
			clear:both;
			.rtl &{
				margin-left:160px;
			}
			input {
				cursor: pointer;
			}
			label {
				vertical-align: top;
				line-height: 25px;
				margin: 0;
				font-weight: normal;
				color: @body-color;
			  font-weight: 500;
				span{
					display: inline-block;
					vertical-align: top;
					line-height: 20px;
				}
			}
		}
	}
	.subscribe-social{
		text-align:center;
		position:relative;
		z-index:3;
		margin-top:50px;
		h3{
			color:#fff;
			font-family: 'PoppinsSemiBold' !important;
			font-size:16px;
			text-transform:uppercase;
		}
		> .subscribe-social-inner{
			.styleshop-socials{
				ul{
					li{
						list-style: none;
						display: inline-block;
						> a{
							height:35px;
							width:35px;
							line-height:35px;
							text-align:center;
							margin:0 5px;
							color: #fff;
							display:inline-block;
							font-size:18px;
							border: 1px solid #fff;
							span::before{
								line-height:35px;
							}
							&:hover{
								background: @color;
								border-color: @color;
							}
						}
					}
				}
			}
		} 
	}
}
.responsive-slider.sw-instagram-slider{
	.title-inta{
		text-align: center;
		margin: 0 0 33px;
		h3{
			font-size: 26px;
			text-transform: uppercase;
			color: #010101;
			font-weight: bold;
			margin: 0 0 4px;
		}
		p{
			font-size: 14px;
			color: #666666;
		}
	}
	.resp-slider-container .slick-slider .slick-list{
		margin: 0;
		.slick-track .item{
			padding: 0;
			position: relative;
			a{
				display: block;
				span{
					position: absolute;
					top: 50%;
					margin-top: -20px;
					left: 50%;
					margin-left: -20px;
					transition: transform 0.3s, opacity 0.3s;
					opacity: 0;
					&:before{
						font-size: 40px;
						color: #fff;
					}
				}
				&:before{
					content: '';
				    width: 100%;
				    height: 100%;
				    position: absolute;
				    background: rgba(0,0,0,0.2);
				    opacity: 0;
				}
			}
			&:hover{
				a{
					span{
						opacity: 1;
						.translate(0,-15px);
					}
					&:before{
						opacity: 1;
					}
				} 
			}
		}
	} 
}
.sw-instagram-gallery {
	.intagram-gallery-content {
	    display: inline-block;
		vertical-align: top;
		.item {
			position:relative;
			> a{
				display: block;
				width: 90px;
				> .fa{
					position:absolute;
					z-index:2;
					font-size:24px;
					top:15px;
					right:15px;
					color:#cecece;
				}
			} 
			&:hover {
				img {
					.opacity(0.7);
				}
			}
		}
		&.col_1 {
			.item {
				width: 100%;
			}
		}
		&.col_2 {
			.item {
				width: 50%;
			}
		}
		&.col_3 {
			.item {
				width: 33.333%;
			}
		}
		&.col_4 {
			.item {
				width: 25%;
			}
		}	
		&.col_5 {
			.item {
				width: 20%;
			}
		}	
	}
}
.sw-category-slider{
	margin-bottom:35px;
	padding: 0 15px;
	.title-sytle1;
	.box-title h3{
		text-align:center;
		font-size:24px;
		font-family:'RalewayBold' !important;
		color:@body-color;
		text-transform:uppercase;
		margin-bottom:5px;
	}
	.desciption{
		text-align:center;
		font-size:14px;
		color:@body-color;
		margin-bottom:38px;
	}
	.slider .slick-list{
		margin:0 -15px;
		.item-product-cat{
			padding:0 15px;
			position: relative;
			&:hover{
				.item-image img{
				    -webkit-transform: scale3d(1.1,1.1,1);
					transform: scale3d(1.1,1.1,1);
				}
				.item-content{
					.translate(0,-50%);
				}
			}
			.item-image{
				overflow: hidden;
				img{
					margin:0;
					-webkit-transition: opacity 0.35s, -webkit-transform 1s;
    				transition: opacity 0.35s, transform 1s;
				}
			}
			.item-content{
				position: absolute;
				bottom: 30px;
				left: 50%;
				margin-left: -110px;
				transition: all 450ms ease-out;
				h3{
					margin: 0;
					a{
						display:inline-block;
						height:40px;
						line-height:40px;
						min-width: 220px;
						text-align:center;
						color: #000000;
						text-transform:uppercase;
						font-size:16px;
						font-weight: 600;
						background-color:#fff;
						.box-shadow(0px 1px 4px 0px rgba(0,0,0,0.1));
					}
				}
			} 
		}
	}
}
/*========Countdown slider============*/
.countdown-slider{
	.resp-slider-container{
		.slick-slider{
			.slick-list{	
				.slick-track{
					.item-countdown{
						padding: 0 15px;
						.item-wrap{
							.item-detail{
								.item-image-countdown{
									position: relative;
									margin: 0 0 17px;
									overflow: hidden;
									> a{
										display: block;
										&:before{
											content: '';
										    width: 100%;
										    height: 100%;
										    position: absolute;
										    background: rgba(0,0,0,0.2);
										    opacity: 0;
										    z-index: 1;
										}
									}
									.item-bottom{
										bottom: auto;
										top: 10px;
									}
									img{
									    -webkit-transition: opacity 0.35s, -webkit-transform 1s;
										transition: opacity 0.35s, transform 1s;
									}
									.product-countdown{
									    width: 100%;
										text-align: center;
										position: absolute;
										bottom: 30px;
										.countdown-row{
										    display: inline-block;
											vertical-align: top;
											.countdown-section{
												float: left;
												text-align: center;
												background: rgba(12,12,12,0.7);
												border-radius: 2px;
												margin-right: 7px;
												padding: 10px 0 6px;
												width: 50px;
												&:last-child{
													margin-right: 0;
												}
												.countdown-amount{
													font-size: 14px;
													color: #ffffff;
													display: block;
													line-height: 18px;
												}
												.countdown-period{
													font-size: 12px;
													text-transform: capitalize;
													color: #999999;
													display: block;
												    line-height: 18px;
													margin-top: -2px;
												}
												.rtl &{
													float: right;
													margin-left: 7px;
													margin-right: 0;
													&:last-child{
														margin-left: 0;
													}
												}
											}
										}
									}
								}
								.item-content{
									h4{
										margin: 0 0 6px;
										a{
											font-size: 13px;
    										text-transform: capitalize;
    										color: #464646;
    										&:hover{
    											color: @color;
    										}
										}
									}
									.reviews-content{
										margin: 0 0 7px;
									}
								}
							}
							&:hover{
								.item-detail{
									.item-image-countdown{
										> a{
											&:before{
												opacity: 1;
											}
										}
										img{
										    transform: scale(1.05) translate(2%,0);
										    -ms-transform: scale(1.05) translate(2%,0);
										    -webkit-transform: scale(1.05) translate(2%,0);
										}
										.item-bottom{
										    right: 8px;
											opacity: 1;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.countdown-slider2{
	border:1px solid lighten(@border-color, 8%);
	padding:23px 10px 6px;
	position:relative;
	border-top:0;
	.button-style1;
	.slider .item-countdown{
		.item-detail{
			padding:0 10px;
			.item-image-countdown{
				position:relative;
				border:1px solid lighten(@border-color, 8%);
				border-radius:5px;
				padding:5px;
				margin-bottom:10px;
				&:hover{
					opacity:0.85;
					border:1px solid @color;
				}
				a.fancybox{
					display:none;
				}
				img{
					.transition(all 0.3s);
				}
				.onsale{
					display:none;
				}
			}
			.item-content h4{
				font-size:13px;
				text-align:center;
				a{
					color:#7d7d7d;
					font-family:'RalewayMedium';
					text-transform:capitalize;
					&:hover{
						color:@color;
					}
				}
			}
		}
	}
}
/*tab slider ajax*/
.sw-woo-tab-default{
	margin-bottom:45px;
	&:last-child{
		margin-bottom:40px;
	}
	 .resp-tab .category-slider-content{
		overflow:hidden;
		.button-collapse{
			display:none;
		}
		&.style1{
			.box-title{
				position:absolute;
				top:-8px;
				right:-8px;
				left:auto;
				min-width:204px;
				text-align:right;
				.rtl &{
					text-align:left;
					left:-8px;
					right:auto;
				}
				h3{
					line-height:48px;
					background-color:@color;
					font-size:18px;
					padding:0 16px;
					color:#fff;
					font-family:'RalewayBold' !important;
					margin:0;
					border-top-left-radius:7px;
					border-top-right-radius:0;
					box-shadow:0 2px 3px 0px rgba(0,0,0,0.3);
					position:relative;
					text-transform:uppercase;
					&:before{
						content: '';
						width: 0;
						height: 0;
						border-bottom: 8px solid transparent;
						border-left: 8px solid  @color - #461900;
						border-right:0;
						right: 0;
						left:auto;
						bottom:-8px;
						position: absolute;
						.rtl &{
							left:0;
							right:auto;
							border-left: 0;
							border-right: 8px solid  @color - #461900;
						}
					}
				}
			}
			.categories-image{
				float:right;
				.rtl &{
					float:left;
				}
			}
			ul.nav-tabs{
				margin-right:196px;
				margin-left:0;
				.rtl &{
					margin-left:196px;
					margin-right:0;
				}
				> li{
					float:right;
					.rtl &{
						float:left;
					}
				}
			}
			.tab-content .tab-pane{
				&.active{
					.res-button{
						&.slick-prev{
							left:15px;
							right:auto;
							.rtl &{
								right:48px;
								left:auto;
							}
						}
						&.slick-next{
							left:48px;
							right:auto;
							.rtl &{
								right:15px;
								left:auto;
							}
						}
					}
				}
				.woo-tab-container-slider{
					border-right:0;
					border-left:1px solid lighten(@border-color, 12%);
					.slider .slick-list{
						margin:0;
					}
				}
			}
		}
		.title-sytle4;
		ul.nav-tabs{
			margin-left:196px;
			border:0;
			background-color:#f2f2f2;
			.rtl &{
				margin-right:196px;
				margin-left:0;
			}
			li{
				margin:0;
				.rtl &{
					float:right;
				}
				> a{
					border:0;
					font-size:12px;
					color:#333;
					text-transform:uppercase;
					padding:0 15px;
					line-height:40px;
					font-family:'RalewaySemiBold';
					border-radius:0;
				}
				&.active> a, &:hover >a{
					background-color:#f2f2f2;
					color:@color;
				}
			}
		}
		.categories-image{
			float:left;
			position:relative;
			z-index:3;
			.item-image a{
				position:relative;
				display:block;
				&:before{
					display:inline-block;
					background-color: rgba(0,0,0,0.3);
					content: "";
					height: 100%;
					width: 100%;
					left: 0;
					position: absolute;
					top: 0;
					.transition(all .2s ease-in-out 0s);
					visibility: hidden;
					opacity: 0;
				}
				&:hover{
					&:before{
						opacity:1;
						visibility:visible;
					}
				}
			}
			.rtl &{
				float:right;
			}
		}
		.tab-content{
			.tab-pane{
				&.active{
					.button-style2;
					.res-button{
						top:6px;
					}
				}
				.woo-tab-container-slider{
					border-right:1px solid lighten(@border-color, 12%);
					.rtl &{
						border-left:1px solid lighten(@border-color, 12%);
						border-right:0;
					}
					.slider .slick-list{
						margin:0;
						padding:0;
						.item{
							overflow:hidden;
							margin:0;
						}
					}
				}
			}
		}
	}
}
/*
*	Slide featured slider 
*/
.sw-best-seller-product-slider, .sw-featured-product-slider{
	border:1px solid lighten(@border-color, 8%);
	margin:15px 0 30px;
	.title-sytle3;
	.customNavigation{
		.btn-bs{
			width:28px;
			height:28px;
			display:inline-block;
			position:absolute;
			top:11px;
			cursor:pointer;
			//.transition(all 0.3s);
			&.prev-bs{
				right:48px;
				background: url(../assets/img/bg_general.png) no-repeat  -20px -1111px;
				&:hover{
					background: url(../assets/img/bg_general.png) no-repeat -20px -1063px;;
				}
				.rtl &{
					left:15px;
					right:auto;
				}
			}
			&.next-bs{
				right:15px;
				background: url(../assets/img/bg_general.png) no-repeat  -20px -1015px;;
				&:hover{
					background: url(../assets/img/bg_general.png) no-repeat -20px -967px;;
				}
				.rtl &{
					left:48px;
					right:auto;
				}
			}
		}
	}
	.carousel-inner{
		overflow:hidden;
		.image-slide{
			float:left;
			width:50%;
			position:relative;
			z-index:3;
			.rtl &{
				float:right;
			}
		}
		.item{
			float:right;
			width:50%;
			padding:25px 0 0;
			.rtl &{
				float:left;
			}
			.item-detail{
				overflow:hidden;
				margin-bottom:30px;
				&:hover{
					.item-img img{
						opacity:0.85;
					}
				}
				.item-content{
					padding:15px 0 0;
					h4 a{
						font-size:14px;
						font-family:'RalewaySemiBold';
						color:@body-color;
						text-transform:capitalize;
						&:hover{
							color:@color;
						}
					}
					.item-price{
						font-size:16px;
						del .amount{
							font-size:14px;
						}
					}
				}
				.item-img{
					width:90px;
					float:left;
					margin-right:20px;
					.rtl &{
						float:right;
						margin-left:20px;
						margin-right:0;
					}
				}
				&:last-child{
					margin-bottom:0;
				}
			}
		}
	}
}
/*================= Child categories===============*/
.sw-child-cat{
	border-top:2px solid @color;
	&.style1{
		border-top:2px solid #2bafa4;
		.child-top .box-title h3{
			background-color:#2bafa4;
			&:before{
				border-right: 8px solid  #2bafa4 - #461900;
				.rtl {
					border-left: 8px solid  #2bafa4 - #461900;
					border-right: 0;
				}
			}
		}
		.child-top .childcat-content ul  > li > a{
			&:hover{
				color:#2bafa4;
			}
		}
	}
	&.style2{
		border-top:2px solid #f24f5a;
		.child-top .box-title h3{
			background-color:#f24f5a;
			&:before{
				border-right: 8px solid  #f24f5a - #461900;
				.rtl &{
					border-left: 8px solid  #f24f5a - #461900;
					border-right: 0;
				}
			}
		}
		.child-top .childcat-content ul  > li > a{
			&:hover{
				color:#f24f5a;
			}
		}
	}
	.child-top{
		position:relative;
		z-index:2;
		float:left;
		min-width:195px;
		.rtl &{
			float:right;
		}
		.box-title{
			position:relative;
			h3{
				line-height:46px;
				background-color:@color;
				font-size:18px;
				padding:0 16px;
				color:#fff;
				font-family:'RalewayBold' !important;
				margin:0;
				border-radius:0;
				position:relative;
				text-transform:uppercase;
				margin-top:-2px;
				margin-left:-8px;
				box-shadow:0 2px 4px 0 rgba(208,208,208,0.6);
				.rtl &{
					margin-right:-8px;
					margin-left:0;
				}
				&:before{
					content: '';
					width: 0;
					height: 0;
					border-bottom: 8px solid transparent;
					border-right: 8px solid  @color - #461900;
					left: 0;
					bottom:-8px;
					position: absolute;
					.rtl &{
						right:0;
						left:auto;
						border-right: 0;
						border-left: 8px solid  @color - #461900;
					}
				}
			}
			.button-collapse{
				display:none;
			}
		}
		.childcat-content{
			clear:both;
			padding:19px 15px 42px;
			border-left:1px solid lighten(@border-color, 8%);
			border-right:1px solid lighten(@border-color, 8%);
			border-bottom:1px solid lighten(@border-color, 8%);
			width:100%;
			ul{
				margin:0;
				list-style:none;
				> li{
					line-height:35px;
					i{
							margin-right:5px;
							.rtl &{
								margin:0 0 0 5px;
							}
						}
					> a{
						color:@body-color;
						font-family:'RalewaySemiBold';
						text-transform:capitalize;
						&:hover{
							color:@color;
						}
					}
				}
			}
		}
	}
	.slider{
		.slick-list .item .item-wrap{
			border-bottom:1px solid lighten(@border-color, 8%);
			border-right:1px solid lighten(@border-color, 8%);
			.rtl &{
				border-left:1px solid lighten(@border-color, 8%);
				border-right:0;
			}
			.item-content{
				padding:5px 0 20px;
			}
		}
	}
}
/*================= Child categories 2===============*/
.sw-child-cat2{
	border-top:2px solid #6170bc;
	border-right:1px solid lighten(@border-color, 12%);
	margin-top:40px;
	&.style2{
		border-top:2px solid #ff3366;
		.child-top{
			.box-title h3{
				background-color:#ff3366;
				&:before{
						border-right: 8px solid  #ff3366 - #461900;
						.rtl &{
							border-left:8px solid  #ff3366 - #461900;
							border-right:0;
						}
				}
			}
			.childcat-content{
				ul > li{
						> a{
						padding:0 12px 0 13px;
						&:hover{
							color:#ff3366;
						}
					}
					&:last-child >a {
						color:@color;
						&:hover{
							color:#ff3366;
						}
					}
				}
			}
		}
	}
	.child-top{
		position:relative;
		z-index:2;
		float:left;
		box-shadow:0 2px 3px 0 rgba(208,208,208,0.6);
		.box-title{
			position:relative;
			float:left;
			min-width:199px;
			.rtl &{
				float:right;
			}
			h3{
				line-height:46px;
				background-color:#6170bc;
				font-size:18px;
				padding:0 14px;
				color:#fff;
				font-family:'RalewayBold' !important;
				margin:0;
				border-radius:0;
				position:relative;
				text-transform:uppercase;
				margin-top:-2px;
				margin-left:-8px;
				.rtl &{
					margin-right:-8px;
					margin-left:0;
				}
				&:before{
					content: '';
					width: 0;
					height: 0;
					border-bottom: 8px solid transparent;
					border-right: 8px solid  #6170bc - #461900;
					left: 0;
					bottom:-8px;
					position: absolute;
					.rtl &{
						right:0;
						left:auto;
						border-left: 8px solid  #6170bc - #461900;
						border-right:0;
					}
				}
			}
			.button-collapse{
				display:none;
			}
		}
		.childcat-content{
			padding:10px 1px;
			ul{
				margin:0;
				list-style:none;
				> li{
					line-height:23px;
					float:left;
					.rtl &{
						float:right;
					}
					i{
							margin-right:5px;
							.rtl &{
								margin:0 0 0 5px;
							}
						}
					> a{
						padding:0 13px 0 13px;
						color:@body-color;
						font-family:'RalewaySemiBold';
						text-transform:capitalize;
						&:hover{
							color:#6170bc;
						}
					}
					&:last-child >a {
						color:@color;
						&:hover{
							color:#6170bc;
						}
					}
				}
			}
		}
	}
	.resp-slider-container{
		clear:both;
		overflow:hidden;
		border-bottom:1px solid lighten(@border-color, 12%);
		border-left:1px solid lighten(@border-color, 12%);
		.item{
			float:left;
			width:53%;
			padding:9px 3px 9px 20px;
			.rtl &{
				float:right;
			}
			&:first-child{
				width:47%;
				border-right:1px solid lighten(@border-color, 12%);
				padding:20px 0 0;
				.rtl &{
					border-left:1px solid lighten(@border-color, 12%);
					border-right:0;
				}
				.item-wrap{
					.products-thumb{
						width:100%;
					}
					.item-content{
						text-align:center;
						.rtl &{
							text-align:center;
						}
						h4 a{
							font-size:16px;
							font-family:'RalewaySemiBold';
						}
					}
				}
			}
			.item-wrap{
				.products-thumb{
					float:left;
					width:100px;
					.rtl &{
						float:right;
					}
				}
				.item-content{
					padding:20px 0;
					display:block;
					text-align:left;
					.rtl &{
						text-align:right;
					}
					h4 a{
						font-family:'RalewaySemiBold';
					}
				}
				&:hover{
					.products-thumb a.fancybox{
						opacity:0;
					} 
					.item-content{
						h4 a{
							opacity:1;
						}
						.item-price{
							opacity:1;
						}
					}
				}
			}
		}
	}
}
/*============== SW Tab Categories================*/
.sw-woo-tab-cat{	
	.box-slider-title h2{
		margin: 0 0 28px;
	}
	.resp-tab{
		.top-tab-slider{
			text-align: center;
			.description{
				font-size:14px;
				color:@body-color;
			}
			.nav.nav-tabs{
				margin: 0 0 25px;
				display: inline-block;
				> li{
					.rtl &{
						float:right;
					}
					> a{
						font-size: 16px;
						color: #525252;
						font-weight: 500;
						display:inline-block;
						text-transform:uppercase;
						border-radius:0;
						border: none;
					    margin: 0 36px 0 0;
						padding: 0 0 8px;
						position: relative;
						.rtl &{
							margin: 0 0 0 36px;
						}
						&:hover{
							color: @color;
							background: none;
						}
					}
					&.active > a{
						background: none;
						color:@color;
						&:before{
							content: '';
							height: 2px;
							width: 100%;
							background: @color;
							position: absolute;
							bottom: 0;
						}
					}
					&:last-child{
						a{
							margin: 0 0 0;
						}
					}
				}
			}
		}
		.tab-pane{
			&.active{
				.button-style3;
			}
			.resp-slider-container .slick-slider .slick-list .slick-track .item .item-wrap .item-detail .item-content{
				h4{
					margin: 0 0 7px;
				}
			}
		}
	}
}
/*============== SW Tab Categories Home4 ================*/
.sw-woo-tab-style2{
	margin:27px 0 65px;
	.resp-tab{
		.top-tab-slider{
			.order-title h2{
				font-size:24px;
				color:@body-color;
				text-transform:uppercase;
				font-family:'RalewayBold' !important;
			}
			.description{
				font-size:14px;
				color:@body-color;
			}
			.nav.nav-tabs{
				margin:28px 0 36px;
				> li{
					margin:0;
					.rtl &{
						float:right;
						&:last-child > a{
							border-left:1px solid @color;;
						}
						&:first-child > a{
							border-left:0;
						}
					}
					&:first-child > a{
						border-left:1px solid @color;
					}
					> a{
						display:inline-block;
						height:40px;
						width:160px;
						text-align:center;
						line-height:40px;
						text-transform:uppercase;
						border-radius:0;
						border:1px solid @color;
						background-color:#fff;
						color:@body-color;
						padding:0;
						font-size:13px;
						font-family:'RalewayMedium';
						border-left:0; 
						&:hover{
							background-color:@color;;
							color:#fff;
							border:1px solid @color;;
							border-left:0; 
						}
					}
					&.active > a{
						background-color:@color;
						color:#fff;
						border:1px solid @color;
					}
				}
			}
		}
		.tab-pane{
			&.active{
				.button-style3;
			}
			.responsive-slider .slider .item .item-wrap{
				border:0;
				.item-detail{
					.products-thumb a.fancybox{
						background-color:@color;
						color:#fff;
						&:hover{
							opacity:0.85;
						}
					}
					.item-content{
						padding:15px 0 0px;
						.item-price{
							color:@body-color;
						}
						.item-bottom{
							bottom:0;
							.add_to_cart_button,
							.product_type_external,
							.product_type_grouped  {
								background-color:@color;
								&:hover{
									opacity:0.85;
								}
							}
							.yith-wcwl-add-to-wishlist .yith-wcwl-add-button a,
							.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistaddedbrowse a,
							.yith-wcwl-add-to-wishlist .yith-wcwl-wishlistexistsbrowse a,
							a.compare{
								color:@color;
								border:1px solid @color;
								&:hover{
									color:#fff;
									background-color:@color;
								}
							}
						}
					}
				}
			}
		}
	}
}
/*============== SW Tab Categories Home5 ================*/
.sw-woo-tab-style3{
	margin:0 0 40px;
	.resp-tab{
		.top-tab-slider{
			.nav.nav-tabs{
				margin:0px 0 25px;
				> li{
					margin:0;
					position:relative;
					.rtl &{
						float:right;
					}
					&:after{
						position: absolute;
						z-index:5;
						top: 2px;
						right: 0;
						content: '';
						width: 1px;
						height: 22px;
						background-color: #efefef;
						transform: rotate(20deg);
						.rtl &{
							left:0;
							right:auto;
						}
					}
					&:last-child{
						&:after{
							height:0;
							width:0;;
						}
					}
					> a{
						display:inline-block;
						text-align:center;
						font-size:18px;
						text-transform:uppercase;
						border-radius:0;
						border:0;
						line-height:25px;
						height:auto;
						font-family:'RalewayBold';
						background-color:#fff;
						color:@body-color;
						padding:0 15px 10px;
						position:relative;
						&:before{
							content:'';
							width:100px;
							height:2px;
							display:inline-block;
							position:absolute;
							left:50%;
							margin-left:-50px;
							opacity:0;
							bottom:0;
							background-color:@color;
						}
						&:hover{
							background-color:#fff;
							color:@color;
							border:0;
							&:before{
								opacity:1;
							}
						}
					}
					&.active > a{
						background-color:#fff;
						color:@color;
						border:0;
						&:before{
							opacity:1;
						}
					}
				}
			}
		}
		.tab-pane.active{
			.responsive-slider{
				border-top:1px solid lighten(@border-color, 12%);
				border-left:1px solid lighten(@border-color, 12%);
				border-right:1px solid lighten(@border-color, 12%);
				.rtl &{
					border-right:0;
				}
			}
			.button-style2;;
			.res-button{
				top:0;
			}
		}
	}
}
/* ============================== 
	 Listing Banner
	 ============================== */
.responsive-listing-banner{
	.banner-listing-container{
		.item-product-cat{
			width: 50%;
			&.item-3col{
				width: 33.3333%;
			}
		}
	}
}

.sw-woocommerce-collection{
	.sw-collection-container{
		display: flex;
		display: -webkit-flex;
		margin: 0 -15px;
		.flex-item{
			width: 33.333%;
			padding: 0 15px;
			margin: 0;
			&.box-collection-center{
				order: 1;
				padding: 0;
			}
			&.box-collection-left{
				order: 2;
			}
			&.box-collection-right{
				order: 3;
				padding-right: 0;
			}
		}
	}
}
