.widget-latest-blog{
	padding-bottom: 2px;
	.blog-content{
		.blog-item{
			margin-bottom: 30px;
			.widget-thumb{
				a{
					display: block;
					width: 85px;
					margin-right: 15px;
					&:hover {
						img {
							.opacity(0.7);
						}
					}
				}
			}
			.widget-content-wrap{
				overflow: hidden;
				.widget-content{
					.item-title{
						h4{
							a{
								font-size: 13px;
								color: @body-color;
								line-height: 20px;
							    margin-top: -3px;
								display: block;
								&:hover{
									color: @color;
								}
							}
						}
					}
					.entry-meta{
						margin: 0 -8px;
						.meta-entry{
							a{
								font-size: 12px;
								text-transform: uppercase;
								color: #909090;
								display: block;
								line-height: 12px;
								padding: 0 8px;
							}
							&.entry-date{
								a{
									border-right: 1px solid #e6e6e6;
								}
							}
						}
					}
				}
			}
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.sw-instagram-gallery{
	h3{
	    padding: 0 0 11px;
	    color: #363636;
	    font-size: 16px;
	    text-transform: uppercase;
	    margin-bottom: 30px;
	    border-bottom: 1px solid @color;
	}
}
.woocommerce{
	.sidebar{
		.widget{
			.textwidget{
				padding: 0 0 0;
			}
			.widget-inner{
				.block-title-widget{
					h2{
						font-family: 'PoppinsSemiBold';
						font-size: 20px;
						color: #ffffff;
						text-transform: uppercase;
						margin: 0;
						background: #222222;
						border-bottom: 0;
						padding: 16px 19px 12px;
					}
				}
			}
		}
	}
}
.sidebar{
	.widget_layered_nav{
		.widget-inner{
			ul{
				border: 1px solid #eaeaea;
				border-top: 0;
				padding: 3px 20px 0;
				>	li{
					padding: 13px 0px 10px;
					border-bottom: 1px solid #eaeaea;
				}
			}
		}
	}
	.widget.widget_product_categories{
		.product-categories{
			border: 1px solid #eaeaea;
			border-top: 0;
			padding: 3px 20px 0;
			> li{
				padding: 13px 0px 10px;
				border-bottom: 1px solid #eaeaea;
				> a{
					font-size:13px;
					color: @body-color;
					cursor:pointer;
					&:hover{
						color:@color;
					}
				}
			}
		}
	}	
} 
.widget_price_filter{
	border:1px solid lighten(@border-color, 13%);
	padding:0 0px 20px;;
	.price_slider_wrapper{
		padding:0 15px;
	}
}
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
    background-color: @color;
    border: 0;
	height:8px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range {
    background-color: #555555;
	height:8px;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
    background-color: #fff;
    border: 1px solid @color;
    width: 15px;
    height: 15px;
    top: -4px;
}
.woocommerce .widget_price_filter .ui-slider {
    margin-bottom: 20px;
    margin-top: 20px;
}

.woocommerce .widget_price_filter .price_slider_amount .button {
	font-size: 11px;
    background-color: @body-color;
    color: #fff;
    .opacity(1); 
    .transition(all 0.3s);
	text-transform:uppercase;
	border-radius:0;
	height: 33px;
	line-height: 36px;
	width: 42%;
	padding: 0;
    &:hover {
		background-color:@color;
        .opacity(0.8);
        .transition(all 0.3s); 
    }
}
.price_slider_wrapper {
    .price_slider_amount {
        #min_price, #max_price {
            display: inline-block !important;
            width: 27%;
            text-indent: 8px;
            height: 33px;
            margin-bottom: 20px;
            .border-radius( 0);
            border-color: #a8a8a8;
            color: #666666;
            font-size: 12px;
            float: left;
            margin-right: 1%;
        }
        #max_price{
        	margin-right: 3%;
        }
    }
    .price_label {
        clear: both;
        text-align: left
    }
}
/*
* Best sellers
*/
.sw-best-seller-product{
	.title-sytle1;
	.wrap-content{
		padding: 30px 20px 2px;
		border: 1px solid #eaeaea;
		border-top: 0;
		.item{
			overflow:hidden;
			margin-bottom: 30px;
			.item-img{
				float:left;
				width: 85px;
				margin-right: 15px;
				position: relative;
				&:hover img{
					opacity:0.85;
				}
				.rtl &{
					float:right;
					margin-left: 15px;
					margin-right:0;
				}
			}
			.item-content{
				position:relative;
				overflow: hidden;
				h4{
					margin: 0 0 3px;
					a{
						color: @body-color;
						font-size:13px;
						text-transform:capitalize;
						line-height: 20px;
						&:hover{
							color:@color;
						}
					}
				}
				.reviews-content{
					margin: 0 0 8px;
				} 
			}
		}
	}
}