body.mobile-layout .vc_row[data-vc-full-width]{
	width:auto !important;
	left:auto !important;
	right:auto !important;
}
.mobile-layout .header{
	background: none !important;
}
.mobile-layout .header.sticky-mobile{
	position: fixed !important;
    width: 100%;
	max-width:480px;
    z-index: 11;
    box-shadow:0 0 4px lighten( @body-color, 14% );
	top:0;
}
.mobile-layout .header-mobile-style1.sticky-mobile, .mobile-layout .header-mobile-style3.sticky-mobile{
	background-color: rgba(255,255,255,0.9);
	padding-bottom:1px;
	box-shadow:0 0 4px lighten( @body-color, 14% );
	
}
.mobile-layout .header-mobile-style1.sticky-mobile{
	.header-top-mobile{
		padding:15px 0 15px;
	}
	.header-menu-page{
		display:none;
		margin:0;
	}
}
.header-mobile-style1{
	.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
		top:80px;
	}
	&.sticky-mobile{
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			top:56px;
		}
	}
}
.header-mobile-style1, .header-mobile-style4{
	box-shadow:0 5px 5px rgba(205,205,205,0.6);
	margin-bottom:10px;
	.header-top-mobile{
		padding:15px 0 10px;
	}
	.header-menu-categories{
		.vertical_megamenu{
			.resmenu-container .navbar-toggle{
				display:block;
				padding:0;
				margin:0 0 0 10px;
				cursor:pointer;
				width: 26px;
				height: 26px;
				background-color:#3b3b3b;
				.transition(all 0.3s ease);
				border-radius:3px;
				.rtl &{
					margin:0 10px 0 0;
				}
				&:hover .icon-bar{
					width:16px !important;
					background-color:@color;
				}
				.icon-bar{
					height: 2px;
					width: 16px;
					margin: 3px 0px 3px 4px;
					background: @color;
					display: block;
					right: 0;
					.transition(all 0.3s ease);
					.rtl &{
						margin:3px 4px 3px 0;
					}
					&:nth-child(1){
						width:12px;
					}
					&:nth-child(3){
						width:12px;
					}
				}
			}
			.vertical-megamenu{
				opacity:0;
				visibility:hidden;
				height:0;
				width:0;
			}
		}
	}
	.styleshop-logo{
		max-width:75px;
		margin:0 10px;;
	}
	.mobile-search{
		overflow:hidden;
		.top-form.top-search{
			float:none;
			max-width:270px;
			.topsearch-entry{
				.cat-wrapper{
					display:none;
				}
				input{
					width:100%;
					height:27px;
					background-color:#f2f2f2;
					font-size:11px;
					color:#9c9c9c;
					border-radius:3px;
					border:0;
					margin:0;
					padding:0 10px;
				}
				button{
					position:absolute;
					height:26px;
					width:26px;
					right:0;
					top:0;
					border:0;
					background-color:#f2f2f2;
					color:#9c9c9c;
					margin:0;
					.rtl &{
						left:0;
						right:auto;
					}
					&:hover{
						color:@color;
					}
				}
			}
		}
	}
	.header-menu-page{
		margin-bottom:10px;
		.menu-mobile1{
			overflow-y: hidden;
			white-space: nowrap;
			margin: 0;
			> li{
				float: none;
				display: inline-block;
				vertical-align: top;
				white-space: normal;
				> a {
					padding:0 10px;
					font-size:12px;
					color:@body-color;
					&:hover, &:focus{
						color:@color;
						background-color:#fff;
					}
				}
				&:hover >a, &:focus >a {
					color:@color;
					background-color:#fff;
				}
			}
		}
	}
}
.banner-top .wpb_single_image{
	margin-bottom:10px;
}
.banner-mobile{
	.banner{
		float:left;
		width:50%;
		margin-bottom:10px;
		.rtl &{
			float:right;
		}
	}
}
/*
* Countdown Mobile
*/
.style-moblie.featured-categories-mobile{
  	.resp-slider-container{
    	margin: 0 0;
		>div.items-wrapper{
			margin: 0 -15px;
			text-align: center;
			>.item{
			    padding: 0 15px;
			    width: 90px;
		      	.item-inner{
		        	box-shadow: none;   
		        	.item-image{
		        		margin: 0 0 7px;
		        	}
		        	.item-content{
		        		h3{
		        			a{
		        				font-size: 12px;
		        				color: #000000;
		        				font-weight: 600;
		        				text-transform: capitalize;
		        			}
		        		}
		        	} 
		      	}
		    }
		} 
  	}  
}
.style-moblie{
	position:relative;
	.box-title{
        text-align: center;
        h3{
          font-size: 18px;
          color: #010101;
          font-weight: 600;
          text-transform: uppercase;
          display: inline-block;
          vertical-align: top;
          position: relative;
          &:before{
            content: '';
            height: 2px;
            width: 30px;
            background: #bf9a61;
            position: absolute;
            left: 110%;
            top: 7px;
          }
          &:after{
            content: '';
            height: 2px;
            width: 30px;
            background: #bf9a61;
            position: absolute;
            right: 110%;
            top: 7px;
          }
        }
    }
	.resp-slider-container{
		margin: 0 -5px;
		>div.items-wrapper{
			overflow-x: scroll;
			overflow-y: hidden;
			white-space: nowrap;
			padding-bottom: 10px;
			>.item{
				display: inline-block;
				vertical-align: top;
				white-space: normal;
				width: 160px;
				padding: 0 5px;
				.item-inner{
					.box-shadow(1px 1px 4px #bbb);
					.item-image{
						&:hover{
							opacity:0.8;
						}
					}
					.item-content{
						padding: 5px 0;
						text-align: center;
						h3{
							font-size: 12px;
							margin: 0;
						}
					}
				}
			}
		}
	}
}
/*
** Tab categories mobile
*/

.sw-tab-mobile{
	.top-tab-slider{
		.woocommmerce-shop a{
			position:absolute;
			right:0;
			top:5px;
			color:@color;
			font-size:11px;
			text-transform:capitalize;
			.rtl &{
				left:0;
				right:auto;
			}
		}
		.nav.nav-tabs{
			display:block;
			border-bottom:1px solid #f0f0ed;
			margin-bottom:10px;
			> li{
				margin:0 20px 0 0;
				.rtl &{
					float:right;
					margin:0 0 0 20px;
				}
				> a{
					font-size:13px;
					padding:5px 0 10px;
					color:@body-color;
					text-transform:uppercase;
					line-height:normal;
					background-color:#fff !important;
					border:0;
					border-radius:0;
					height:auto;
					position:relative;
					&:before{
						content:'';
						width:100%;
						height:2px;
						background-color:@color;
						position:absolute;
						bottom:-1px;
						left:0;
						opacity:0;
					}
				}
				&.active, &:hover > a{
					> a {
						color:@color;
						&:before{
							opacity:1;
						}
					}
				}
			}
		}
	}
	.tab-content .tab-pane .items-wrapper{
		padding-bottom:20px;
		.item .item-wrap{
			border:1px solid lighten(@border-color, 8%);
			.item-image{
				span.onsale, a.fancybox{
					display:none;
				}
			}
			.item-content{
				padding:5px 0 15px;
				h4 a{
					color:@body-color;
					font-size:12px;
				}
				h4 a, .item-price{
					opacity:1;
				}
			}
		}
	}
}
/*
* Ajax categories
*/
.sw-ajax-categories{
	.resp-listing-container{
		margin:0 -5px;
		.item-product-cat{
			float:left;
			width:33.333%;
			padding:0 5px;
			margin-bottom:10px;
			.item-content{
				display:block;
				padding:9px 0;
				background-color:#f2f2f2;
				text-align:center;
				h3{
					font-size:13px;
					color:@body-color;
					text-transform:capitalize;
					margin-bottom:0;
				}
			}
		}
	}
	.btn-loadmore{
		clear:both;
		display:block;
		width:100%;
		height:40px;
		line-height:40px;
		text-align:center;
		font-size:11px;
		text-transform:uppercase;
		color:@body-color;
		background-color:#f2f2f2;
		border-radius:20px;;
		margin-bottom:20px;
		&:hover{
			background-color: @color;
			color:#fff;
		}
		&:before{
			content: attr(data-title);
			display: inline-block;
		}
		&.btn-loading{
			background: url( ../assets/img/loadingp.gif ) no-repeat center center #f2f2f2;
			background-size: 30px 30px;
			&:before{
				content: '';
			}
		}
		&.btn-loaded{
			&:before{
				content: attr(data-title_loaded);
			}
		}
	}
}
/* 
* Brand Mobile
*/
.mobile-layout .style-moblie.brand-mobile{
	margin: 0;
	.resp-slider-container >div.items-wrapper .item{
		width:110px;
	}
}

/*
*	Block Mobile
*/
.block-mobile{
	padding:10px 0 0;
	overflow:hidden;
	margin-bottom: 0;
	.info{
		float:left;
		width:33.33%;
		.rtl &{
			float:right;
		}
		.fa{
			font-size:28px;
			color:@color;
			float:left;
			.rtl &{
				float:right;
			}
		}
		.info-content{
			padding-left:38px;
			.rtl &{
				padding-right:38px;
				padding-left:0;
			}
			span{
				font-size:10px;
				color:@body-color;
				text-transform:uppercase;
				margin-bottom:2px;
			}
			p{
				text-transform: capitalize;
				padding-top: 2px;
				margin-bottom: 3px;
				font-size:10px;
			}
		}
	}
}
.mobile-layout{
	&.rtl{
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.styleshop_resmenu > li > .show-dropdown::after{
			content:'\f104';
		}
		.vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			left:0;
			right:auto;
			text-align:right;
		}
		.products-wrapper .products-nav{
			.catalog-ordering{
				float:none;
			}
			.filter-product{
				float:left;
			}
		}
		.products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb{
			margin-left:10px;
			margin-right:0;
		}
		&.woocommerce-cart .shop_table.cart tr.cart_item td{
			float:right;
			&.product-remove{
				left:0;
				right:auto;
			}
		}
		.contact-mobile .block-contact-mobile .location-address li{
			background-position:right center;
			padding-right:30px;
			padding-left:0;
		 }
		.contact-form-mobile .wpcf7 .wpcf7-form-control-wrap{
			input,textarea{
				text-align:right;
			}
			&.your-name input{
				background-position:right center;
			}
			&.your-email input{
				background-position:right center;
			}
			&.your-phone input{
				background-position:right center;
			}
		}
	}
	.style-moblie .box-title h3{
		margin: 8px 0 10px;
	}
	.style-moblie.style2{
		margin: 0;
		.item .item-wrap .item-detail .item-content{
			padding-bottom: 0;
		}
	}
	.countdown-mobile, .best-selling-mobile, .related-products, .style-moblie{
		margin-bottom:20px;
		.box-title{
	        text-align: center;
	        h3{
	          font-size: 18px;
	          color: #010101;
	          font-weight: 600;
	          text-transform: uppercase;
	          display: inline-block;
	          vertical-align: top;
	          position: relative;
	          &:before{
	            content: '';
	            height: 2px;
	            width: 30px;
	            background: #bf9a61;
	            position: absolute;
	            left: 110%;
	            top: 7px;
	          }
	          &:after{
	            content: '';
	            height: 2px;
	            width: 30px;
	            background: #bf9a61;
	            position: absolute;
	            right: 110%;
	            top: 7px;
	          }
	        }
	    }
		.woocommmerce-shop{
			float:right;
			a{
				color:@color;
				font-size:11px;
				text-transform:capitalize;
				line-height:28px;
				&:hover{
					opacity:0.8;
				}
			}
		}
		.resp-slider-container div.items-wrapper{
			padding-bottom:0;
		}
		.item{
			.item-wrap{
				.item-detail{
					&:hover{
						.item-image{
							opacity:0.8;
						}
					}
					.item-image{
						span.onsale, a.fancybox{
							display:none;
						}
					}
					.item-content{
						padding:8px 0 14px;
						h4{
							margin: 0 0 6px;
							a{
								font-size:12px;
								color:#464646;
								text-transform:capitalize;
								opacity:1;
								&:hover{
									color:@color;
								}
							}
						} 
					}
				}
			}
		}
	}
	.vertical_megamenu{
		.resmenu-container .menu-responsive-wrapper{
			min-width:290px;
			background:#fff;
			box-shadow:none;
			ul{
				padding:0 0 0 20px;
				border-top:1px solid #efefef;
				&.styleshop_resmenu{
					padding:0 20px;
					border:0;
					height:563px;
					overflow:auto;
					> li{
						> .show-dropdown{
							&:after{
								content:'\f105';
								font-family:'FontAwesome';
								font-size:18px;
							}
							&.show{
								&:after{
									content:'\f107';
								}
							}
						}
					}
				}
				> li{
					box-shadow:none;
					border-bottom:1px solid #efefef;
					&:last-child{
						border:0;
					}
					> a{
						font-size:14px;
						color:@body-color;
						padding:17px 0;
						box-shadow:none;
					}
					.show-dropdown{
						background:#fff;
						line-height:49px;
						height:49px;
						width:11px;
						color:#c4c4c4;
					}
					&.active > a, &:hover > a{
						background:#fff;
						color:@color;
					}
					&.active > .show-dropdown, &:hover > .show-dropdown{
						color:#c4c4c4;
					}
					.dropdown-resmenu > li > a{
						font-size:13px;
						color:#6b6b6b;
					}
				}
			}
		}
		.vertical-megamenu{
			opacity:0;
			visibility:hidden;
			height:0;
			width:0;
		}
	}
	#styleshop-totop{
		display:none !important;
	}
	.wpb_single_image{
		margin-bottom:10px;
	}
	.wpb_raw_html{
		margin-bottom:20px;
	}
	.vc_row-no-padding .vc_column-inner{
		padding-left:0;
		padding-right:0;
	}
	.vc_column-inner {
		padding-left:10px;
		padding-right:10px;
	}
	.styleshop_breadcrumbs{
		display:none;
		.listing-title{
			margin-top:0;
			h1{
				margin-top:0;
				font-size:13px;
			}
		}
		.breadcrumbs .breadcrumb{
			padding:10px 0;
		}
		
	}
	.contact-mobile{
		.wpb_map_wraper{
			border:0;
		}
		.block-contact-mobile{
			h2{
				font-size:12px;
				color:@body-color;
				text-transform:uppercase;
				margin-top:20px;
			}
			p{
				font-size:12px;
			}
			.location-address{
				margin:0;
				list-style:none;
				li{
					font-size:12px;
					color:#8c8c8c;
					background: url('../assets/img/icon-location.png') no-repeat left center #fff;
					padding-left:30px;
					margin-bottom:10px;
					span{
						padding:5px 0;
						display:block;
						&.title{
							color:@body-color;
							text-transform:capitalize;
							font-size:14px;
						}
					}
				}
			}
		}
		
	}
	.contact-form-mobile .wpcf7{
			.wpcf7-form-control-wrap{
				display:block;
				input{
					width:100%;
					border:0;
					padding:20px 30px;
					font-size:13px;
					color:#7d7d7d;
					height:60px;
					border-top:1px solid lighten(@border-color, 13%);
				}
				&.your-name input{
					background: url('../assets/img/bg-user.png') no-repeat left center #fff;
				}
				&.your-email input{
					background: url('../assets/img/bg-email.png') no-repeat left center #fff;
				}
				&.your-phone input{
					background: url('../assets/img/bg-phone.png') no-repeat left center #fff;
					border-bottom:1px solid lighten(@border-color, 13%);
				}
				textarea{
					border:0;
					border-top:0;		
					padding:20px 0 0;
				}
				::-webkit-input-placeholder { 
				 	font-size:13px;
					color:#7d7d7d;
				}
			}
			input.wpcf7-submit{
				height:42px;
				width:100%;
				background-color:@color;
				text-align:center;
				text-transform:uppercase;
				font-size:13px;
				color:#fff;
				margin: 0;
				border: 0;
				line-height: 42px;
				padding: 0;
				border-radius: 20px;
				box-shadow:0 10px 15px rgba(194,54,0,0.1);
			}
	}
	&.woocommerce-cart{
		.cart-collaterals .cart_totals{
			width:100%;
			h2{
				font-size:18px;
				text-transform:uppercase;
				color:@body-color;
			}
			.wc-proceed-to-checkout .checkout-button{
				height:42px;
				width:100%;
				background-color:@color;
				text-align:center;
				text-transform:uppercase;
				font-size:13px;
				color:#fff;
				margin: 0;
				border: 0;
				line-height: 42px;
				padding: 0;
				border-radius: 20px;
				box-shadow:0 10px 15px rgba(194,54,0,0.1);
			}
		}
		.shop_table.cart{
			border:0;
			tr.cart_item{
				position:relative;
				overflow:hidden;
				margin-bottom:20px;
				padding-bottom:20px;
				border-bottom:1px solid lighten(@border-color, 13%);
				&:nth-child(2n) td{
					background-color:#fff;
				}
				td{
					float:left;
					padding:0 18px;
					border: none;
					&:before{
						content:'';
					}
					display:inline-block;
					&.product-name,&.product-price{
						margin-bottom:9px;
					}
					&.product-price{
						color:@color;
						font-size:16px;
					}
					&.product-name{
						a{	
							font-size:14px;
							color:@body-color;
							text-transform:capitalize;
						}
					}
					&.product-remove{
						position:absolute;
						right:0;
						top:5px;
						padding:0;
						a.remove{
							display:inline-block;
							width:16px;
							height:17px;
							text-indent:-9999px;
							background: url('../assets/img/delete-m.png') no-repeat center center #fff;
						}
					}
					&.product-thumbnail{
						padding:0;
						border:1px solid lighten(@border-color, 12%);
						img{
							width:90px;
						}
					}
					&.product-subtotal{
						display:none;
					}
					&.product-quantity{
						.quantity{
							border:1px solid lighten(@border-color, 12%);
							padding: 0;
							margin: 0;
							input{
								background-color:#fff;
							}
						}
					}
				}
			}
			 td.actions{
				border-top:0;
				padding:10px;;
				#coupon_code{
					text-transform:uppercase;
					padding:0 10px;
				}
			 }
		}
	}
	&.woocommerce-wishlist{
		&.rtl{
			.shop_table.wishlist_table tbody tr{
				td{
					float:right;
					&.product-remove{
						left:0;
						right:auto;
					}
					&.product-add-to-cart{
						left:-20px;
						right:auto;
					}
				}
			}
		}
		.wishlist-title{
			display:none;
		}
		.shop_table.wishlist_table{
			border:0;
			thead th{
				display:none;
			}
			tbody{
				display:block;
				tr{
					position:relative;
					overflow:hidden;
					margin-bottom:20px;
					padding-bottom:20px;
					border-bottom:1px solid lighten(@border-color, 13%);
					display:block;
					&:nth-child(2n) td{
						background-color:#fff;
					}
					&:hover{
						background-color:#fff;
					}
					td{
						float:left;
						padding:0 18px;
						&:before{
							content:'';
							display:none;
						}
						display:inline-block;
						&.product-name{
							display:block;
							width:65%;
						}
						&.product-name,&.product-price{
							margin-bottom:9px;
						}
						&.product-price{
							color:@color;
							font-size:16px;
						}
						&.product-name{
							a{	
								font-size:14px;
								color:@body-color;
								text-transform:capitalize;
							}
						}
						&.product-stock-status{
							display:none;
						}
						&.product-remove{
							position:absolute;
							right:0px;
							top:auto;
							margin-top:10px;
							padding:0;
							a.remove{
								display:inline-block;
								width:16px;
								height:17px;
								text-indent:-9999px;
								background: url('../assets/img/delete-m.png') no-repeat center center #fff;
							}
						}
						&.product-thumbnail{
							padding:0;
							border:1px solid lighten(@border-color, 12%);
							img{
								width:90px;
							}
						}
						&.product-add-to-cart{
								position: absolute;
								right: -20px;
								top: 40px;
								z-index: 3;
							.add_to_cart_button, .add_to_cart{
								text-indent:-9999px;
								display:inline-block;
								width:24px;
								height:24px;
								background: url('../assets/img/icon-cart-m.png') no-repeat center center #fff;
								margin:0;
								padding:0;
							}
						}
					}
				}
			}
		}
	}
}
/*
** Footer style mobile
*/
.footer-mstyle1{	
	margin-top: 55px;
	min-height: 1px;
	.footer-container{
		background-color:rgba(255,255,255,0.9);
		position:fixed;
		bottom:0;
		left:0;
		z-index:999;
		width:100%;
		border-top:1px solid lighten(@border-color, 13%);
		.footer-menu{
			position:relative;
			padding:0 10px;
			.menu-item-hidden{
				opacity:0;
				height:0;
				visibility:hidden;
				position: absolute;
				padding: 10px 15px;
				bottom: 100%;
				right: 0px;
				background-color: #fff;
				.rtl &{
					left:0;
					right:auto;
				}
				a{
					.fa{
						font-size:16px;
						color:#8d8d8d;
						margin-right:5px;
					}
					.menu-text{
						color: #8d8d8d;
						text-transform: uppercase;
						font-size: 10px;
					}
				}
				.footer-wishlist{
					margin-bottom:5px;
				}
				&.open{
					opacity:1;
					height:auto;
					visibility:visible;
					z-index:2;
				}
				ul.menu-footer{
					margin-left:0;
					margin-bottom:5px;
					.rtl &{
						margin-left:5px;
					}
				> li{
					list-style:none;
					> a{
						color: #8d8d8d;
						text-transform: uppercase;
						font-size: 10px;
						line-height: 22px;
						}
					}
				}
			}
			.menu-item{
				width:20%;
				float:left;
				text-align:center;
				margin-bottom:5px;
				padding:10px 0 0;
				.rtl &{
					float:right;
				}
				 a{
					display:inline-block;
					&:hover{
						.menu-text{
							color:@color;
						}
					}
					 .icon-menu{
						display:block;
						width:28px;
						height:22px;
						margin:0 auto;
					}
					.menu-text{
						text-align:center;
						color:#8d8d8d;
						text-transform:uppercase;
						font-size:10px;
					}
				}
				.footer-home .icon-menu{
					background: url(@{url}/icon-home-m.png) no-repeat center center;
				}
				 .footer-search{
					.top-form.top-search{
						float:none;
						width:100%;
						opacity:0;
						visibility:hidden;
						height:0;
						position:absolute;
						top:-41px;;
						left:0px;
						.transition(0.3s);
						.topsearch-entry{
							.cat-wrapper{
								display:none;
							}
							input{
								width:100%;
								height:40px;
								line-height:40px;
								background-color:#f2f2f2;
								font-size:13px;
								color:#9c9c9c;
								border-radius:0;
								border:0;
								padding:0 10px;
							}
							button{
								position:absolute;
								height:40px;
								width:40px;
								right:0;
								top:0;
								border:0;
								background-color:#f2f2f2;
								color:#9c9c9c;
								font-size:16px;
								.rtl &{
									left:0;
									right:auto;
								}
								&:hover{
									color:@color;
								}
							}
						}
						&.open{
							opacity:1;
							visibility:visible;
							height:auto;
							z-index:99;
						}
					}
					.icon-menu{
						background: url('../assets/img/icon-searh-m.png') no-repeat center center;
					}
				}
				.footer-cart{
					.styleshop-minicart-mobile{
						position:relative;
						.minicart-number{
							position:absolute;
							top:-5px;
							right:-6px;
							display:inline-block;
							width:17px;
							height:17px;
							background-color:@color;
							color:#fff;
							text-align:center;
							border-radius:50%;
							line-height:17px;
							font-size:12px;
						}
					}
					.icon-menu{
						background: url('../assets/img/icon-cart-m.png') no-repeat center center;
					}
				}
				.footer-myaccount .icon-menu{
					background: url('../assets/img/icon-user-m.png') no-repeat center center;
				}
				.footer-more .icon-menu{
					background: url('../assets/img/icon-more-m.png') no-repeat center center;
				}
			}
		}
	}
}

/*
** Archive Product
*/
.mobile-layout{
	&.rtl{
		.back-history{
			float:right;
			background: url('../assets/img/icon-back-m1.png') no-repeat center center;
		}
	}
	.back-history{
		display:inline-block;
		float:left;
		width:24px;
		height:16px;
		background: url('../assets/img/icon-back-m.png') no-repeat center center;
		margin:10px 0;
	}
	.category-contents{
		margin-bottom:20px;
		.blog-content .post{
			margin-bottom:20px;
			.entry{
				.entry-thumb::before{
					left:-1px;
					top:-1px;
				}
				.entry-content .content-top .entry-title h4{
					margin-bottom:15px;
					a{
						font-size:14px;
					}
				}
			}
		}
	}
	.pagination{
		background-color:#fff;
		padding:0;
		border:0;
		ul{
			background-color:#fff;
			margin:0 -15px;
			li{
				background-color:#fff;
			}
		}
	}
	.vertical_megamenu_shop{
		.resmenu-container{
			.navbar-toggle{
				display:block;
				padding:0;
				margin:6px 0px;;
				cursor:pointer;
				width: 26px;
				height: 26px;
				.transition(all 0.3s ease);
				border-radius:3px;
				&:hover .icon-bar{
					width:18px !important;
					background-color:#7d7d7d;
				}
				.icon-bar{
					height: 2px;
					width: 18px;
					margin: 3px 0px 3px 4px;
					background: #7d7d7d;
					display: block;
					right: 0;
					.transition(all 0.3s ease);
					&:nth-child(1){
						width:14px;
					}
					&:nth-child(3){
						width:14px;
					}
				}
			}
			.menu-responsive-wrapper{
				top:39px;
				right:0;
				text-align:left;
			}
		}
		.vertical-megamenu{
			display:none;
		}
	}
	.fancybox-overlay{
		.fancybox-outer{
			#subscribe_popup{
				min-width:290px;
				padding:330px 0 39px;
				text-align:center;
				&:before{
					background-color:transparent;
					height:0;
					width:0;
				}
				.link-mobile a{
					display:inline-block;
					height:36px;
					padding:0 55px;
					border-radius:18px;
					background-color:#fff;
					line-height:36px;
					text-align:center;
					text-transform:uppercase;
					color:@body-color;
					font-size:12px;
					margin-bottom:10px;
					&:hover{
						color:@color;
					}
				}
				.subscribe-checkbox label span{
					color:#fff;
				}
			}
		}
		.fancybox-close{
			background: url('../assets/img/popup_close.png') no-repeat center center;
			width:26px;
			height:26px;
			top:0;
			right:0;
		}
	}
	&.rtl{
		.header-mobile-style1 .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
			right:0;
			left:auto;
		}
	}
}
	.mobile-layout{
		&.rtl{
			.products-wrapper .woocommerce-pagination .page-numbers > li{
				float:right;
				.page-numbers{
					&.next::before, &.prev::before{
						content:'';
					}
				}
			}
			.products-wrapper .products-loop.list .item .item-wrap .item-detail .products-thumb{
			    margin-right: 0;
			    margin-left: 10px;
				float: right;
			}
		}
		.banner-category  .widget_sp_image{
			margin-bottom:10px;
		}
		.header-page{
			position:relative;
			&.sticky-mobile{
				.header-shop{
					position: fixed;
					right: 0;
					top:0;
					z-index: 999;
					background-color: rgba(255,255,255,0.9);
					.container{
						max-width:480px;
					}
				}
			}
			.header-shop{
				text-align:center;
				position:relative;
				display:inline-block;
				width:100%;
				box-shadow:0 5px 5px rgba(205,205,205,0.6);
				margin-bottom:8px;
				.page-title{
					font-size:14px;
					color:@body-color;
					text-align:center;
					padding:12px 0;
					display:inline-block;
					margin: 0;
				}
				h4{
					font-size:14px;
					color:@body-color;
					text-transform:uppercase;
					display:inline-block;
					padding:11px 0;
					margin:0;
				}
			}
		}
		.products-wrapper{
			padding:0;
			position:relative;
			&.show-modal{
				&:before{
					content:'';
					width:100%;
					height:100%;
					display:block;
					background:rgba(0,0,0,0.4);
					position:absolute;
					left:0;
					right:0;
					bottom:0;
					top:1px;
					z-index:4;
				}
			}
			.products-nav{
				margin-bottom:20px;
				background-color:#fff;
				position:relative;
				z-index:7;
				.catalog-ordering{
					position:static;
					float:none;
					.orderby-order-container .order-dropdown >li{
						position:static;
						&:hover ul{
							border-top:1px solid lighten(@border-color, 13%);
						}
						> ul >li{
							line-height:44px;
							border-bottom:1px solid lighten(@border-color, 13%);
							&:last-child{
								border-bottom:0;
							}
						}
					}
				}
				.view-mode-wrap .view-mode{
					margin:5px -4px 0;
					> a {
						height:20px;
						width:20px;
						background-color:#fff;
						&:before{
							height:20px;
							width:20px;
							line-height:20px;
							color:#3b3b3b;
						}
						&.active{
							&:before{
								color:@color;
								background-color:#fff;
							}
						}
						&:hover{
							&:before{
								background-color:#fff;
								color:@color;
							}
						}
					}
				}
				.filter-product{
					font-size:12px;
					color:#6b6b6b;
					text-transform:uppercase;
					float:right;
					line-height:67px;
				}
				.catalog-ordering .orderby-order-container{
					.order-dropdown >li .current-li{
						line-height:28px;
						border:0;
						a{
							font-size:12px;
							color:#6b6b6b;
							text-transform:uppercase;
							&:after{
							line-height:28px;
							}
						}
					}
					.order > li{
						padding:6px 0 0px;
						border:0;
						&.asc{
							padding:3px 0 0px;
							a{
								height:21px;
							}
						}
						a{
							height:18px;
						}
					}
					.orderby{
						min-width:145px;
						&.order-dropdown >li .current-li a:after{
							width:25px;
						}
					}
				}
			}
				.filter-mobile{
					opacity:0;
					.transition(all 0.3s);
					.translateY(-50px);
					visibility:hidden;
					position:absolute;
					z-index:9;
					top:72px;
					background-color:#fff;
					padding: 0;
					&.open{
						visibility:visible;
						opacity:1;
						.translateY(0px);
					}
					.widget{
						padding:5px 0 20px;
					}
					.widget_layered_nav{
						border-bottom:1px solid lighten(@border-color, 13%);
					}
				}
				.woocommerce-pagination{
					display:block;
					float:none;
					margin:0 0 10px;
					.note{
						display:none;
					}
				.page-numbers{
					> li{
						float: left;
						position: relative;			
						text-transform: capitalize;
						text-align: center;
						background-color: #fff;
						.transition(all .3s);
						a, .page-numbers{
							background-color:#fff;
							display: block;
							width: 32px;
							line-height: 30px;
							height: 32px;
							border-radius:50%;
							border:1px solid lighten(@border-color, 12%);
							text-align:center;
							font-size:16px;
							color:@body-color;
							&.current{
								color:@color;
							}
						}
						.next,.prev{
							text-align: center;
							text-transform: uppercase;
							color: @body-color;
							border-radius: 20px;
							&:before{
								content:'';
							}
						}
					}
				}
			}
			.products-loop{
				margin:0;
				&.grid{
					margin:0 -5px;
					> li{
						padding:0 5px;
						margin-bottom:10px;
						float:left;
						width:50%;
						&.item .item-wrap{
							.item-detail .item-content{
								h4 a{
									font-size:14px;
									color:@body-color;
								}
								.item-price{
									font-size:16px;
								}
								.item-bottom{
									opacity:0;
								}
							}
							&:hover{
								.item-detail .item-content h4 a,.item-detail .item-content .item-price{
									opacity:1;
								}
							}
						}
					}
				}
				&.list{
					li{
						margin-bottom:20px;
					}
					.item .item-wrap .item-detail{
						.products-thumb{
							width:130px;
							margin-right:10px;
							float: left;
						}
						.item-content{
							h4{	
								margin: 0;
								a{
									font-size:14px;
									color:@body-color;
								}
							} 
							.reviews-content{
								padding-top:5px;
								margin-bottom:0;
							}
							.item-price{
								margin-bottom:5px;
								display:table-row;
							}
							.item-description{
								margin-bottom:5px;
								margin-top:5px;
								padding-top: 10px;
							}
							.item-bottom{
								display:none;
							}
						}
					}
				}
			}
		}
		&.search-no-results{
			.breadcrumbs{
				display:none;
			}
			.listing-title h1{
				font-size:12px;
				color:@body-color;
				small{
					color:#7d7d7d;
					font-size:12px;
				}
			}
			.content_list_product{
				padding:0;
				.products-wrapper .no-result{
					h3{
						font-size:12px;
						color:@body-color;
						text-transform:uppercase;
					}
					text-align:center;
					h1 small{
						font-size:18px;
					}
					.image{
						display:inline-block;
						margin:10px 0 20px;
					}
					p{
						font-size:12px;
						color:#7d7d7d;
					}
					button{
						height:42px;
						width:100%;
						background-color:@color;
						text-align:center;
						text-transform:uppercase;
						font-size:13px;
						color:#fff;
						margin: 10px 0 0;
						border: 0;
						line-height: 42px;
						padding: 0;
						border-radius: 20px;
						box-shadow:0 10px 15px rgba(194,54,0,0.1);
					}
				}
			}
		}
		&.search{
			.header-mobile-style1{
				box-shadow:none;
				margin-bottom:0;
				.header-top-mobile{
					box-shadow:0 5px 5px rgba(205,205,205,0.6);
				}
			}
			.body-wrapper-inner > .container{
				padding-top:15px;
			}
		}
		&.woocommerce-account{
			.listing-title h1{
				text-align:center;
			}
			.image-login{
				text-align:center;
				margin:0 0 20px;
				img{
					display:inline-block;
				}
			}
			#customer_login{
					h2{
						color: @body-color;
						font-size:13px;
						margin: 0 0 30px;
						display: block;
						text-transform: uppercase;
						text-transform:uppercase;
					}
				 form.login .form-row, form.register .form-row{
					 &.form-row-wide{
						border-bottom:1px solid lighten(@border-color, 13%);
						padding-top:10px;
						padding-bottom:10px;
						input:-webkit-autofill
						{
							background-color:#fff !important;
						}
						label{
							font-size:14px;
							color:#7d7d7d;
							line-height:20px;
							margin:0;
							border-bottom: 1px solid #ddd;
						}
						.input-text{
							padding:0;
							background-color:#fff;
						}
						&:first-child{
							background: url('../assets/img/bg-user.png') no-repeat left center #fff;
						}
						&:nth-child(2){
							background: url('../assets/img/icon-lock.png') no-repeat left center #fff;
						}
					 }
				}
				 form.register .form-row{
					 &.form-row-wide{
						&:first-child{
							background: url('../assets/img/bg-email.png') no-repeat left center #fff;
						}
						&:nth-child(2){
							background: url('../assets/img/icon-lock.png') no-repeat left center #fff;
						}
					 }
				 }
				input.button{
					height:42px;
					width:100%;
					background-color:@color;
					text-align:center;
					text-transform:uppercase;
					font-size:13px;
					color:#fff;
					margin: 0;
					border: 0;
					line-height: 42px;
					padding: 0;
					border-radius: 20px;
					box-shadow:0 10px 15px rgba(194,54,0,0.1);
				}
				.social-share{
					text-align:center;
					margin-bottom:20px;
					.title-share{
						display:none;
					}
					.wrap-content{
						display:inline-block;
						> a{
							width:35px;
							height:35px;
							border-radius:50%;
							line-height:35px;
							font-size:16px;
							color:#fff;
							display:inline-block;
							margin:0 5px;
							&:nth-child(1){
								background-color:#3a5897;
							}
							&:nth-child(2){
								background-color:#2fc2ee;
							}
							&:nth-child(3){
								background-color:#e14a3c;
							}
							&:nth-child(4){
								background-color:#df2227;
							}
							&:nth-child(5){
								background-color:#407199;
							}
						}
					}
				}
			}
			#contents{
				margin-bottom:10px;
				padding-top:20px;
			}
			#contents .entry-content{
				nav.woocommerce-MyAccount-navigation{
					float:none;
					margin-right:0;
					margin-bottom:20px;
					overflow:hidden;
					ul{
						border:0;	
						> li{
							display:inline-block;
							float:left;
							width:33.33%;
							padding-top:35px;
							text-align:center;
							margin-bottom:15px;
							&.woocommerce-MyAccount-navigation-link--dashboard{
								background: url('../assets/img/icon-dashboard.png') no-repeat top center #fff;
							}
							&.woocommerce-MyAccount-navigation-link--orders{
								background: url('../assets/img/icon-orders.png') no-repeat top center #fff;
							}
							&.woocommerce-MyAccount-navigation-link--downloads{
								background: url('../assets/img/icon-download.png') no-repeat top center #fff;
							}
							&.woocommerce-MyAccount-navigation-link--edit-address{
								background: url('../assets/img/icon-address.png') no-repeat top center #fff;
							}
							&.woocommerce-MyAccount-navigation-link--edit-account{
								background: url('../assets/img/icon-account.png') no-repeat top center #fff;
							}
							&.woocommerce-MyAccount-navigation-link--customer-logout{
								background: url('../assets/img/icon-logout.png') no-repeat top center #fff;
							}
							> a{
								border:0;
								padding:15px 0;
								min-width:auto;
								font-size:11px;
								color:@body-color;
								text-transform:uppercase;
							}
							
						}
					}
				}
			}
			.woocommerce-MyAccount-content{
				float:none;
				clear:both;
				margin-bottom:10px !important;
				text-align:center;
				.woocommerce-EditAccountForm.edit-account{
					text-align:left;
					p.form-row-first{
						text-align:left;
						width:100%;
						.woocommerce-Input--email{
							border-radius:0;
						}
					}
					p.form-row-last{
						width:100%;
					}
					legend{
						font-size:14px;
						color:@body-color;
						text-transform:uppercase;
						border:0;
					}
					.woocommerce-Button.button{
						height:42px;
						width:100%;
						background-color:@color;
						text-align:center;
						text-transform:uppercase;
						font-size:13px;
						color:#fff;
						margin: 0;
						border: 0;
						line-height: 42px;
						padding: 0;
						border-radius: 20px;
						box-shadow:0 10px 15px rgba(194,54,0,0.1);
					}
				}
				strong{
					text-transform:uppercase;
					font-size:13px;
					color:@body-color;
				}
				.avatar-user{
					display:inline-block;
					img{
						border-radius:50%;
					}
				}
				p:first-child{
					text-align:center;
					font-size:12px;
					color:#7d7d7d;
					a{
						color:@color;
					}
				}
				p:last-child{
					text-align:left;
				}
				a{
					font-size:12px;
					color:#7d7d7d;
				}
				table.my_account_orders{
					tr.order td{
						width:100% !important;
						border:0;
						border-top:1px solid #ddd;
						padding:10px 15px !important;
						&:first-child{
							border-top:0 !important;
						}
					}
				}
			}
			.breadcrumbs{
				display:none;
			}
		   &.rtl{
				.woocommerce-MyAccount-content .woocommerce-EditAccountForm.edit-account legend{
					text-align:right;
				}
				&.woocommerce-account #customer_login{
					 form.login .form-row, form.register .form-row{
						 &.form-row-wide{
							&:first-child{
								background: url('../assets/img/bg-user.png') no-repeat right center #fff;
							}
							&:nth-child(2){
								background: url('../assets/img/icon-lock.png') no-repeat right center #fff;
							}
						 }
					}
					 form.register .form-row{
						 &.form-row-wide{
							&:first-child{
								background: url('../assets/img/bg-email.png') no-repeat right center #fff;
							}
							&:nth-child(2){
								background: url('../assets/img/icon-lock.png') no-repeat right center #fff;
							}
						 }
					 }
				}
		   }
		}
		&.woocommerce-checkout{
			form .form-row-first,form .form-row-last{
				width:100%;
			} 
		}
		&.woocommerce-page form table.wishlist_table tr td.product-add-to-cart a.button{
			padding:10px;
			width:100px;
		}
	}
	.single-product.mobile-layout{
		&.rtl{
			&.woocommerce div.product form.cart	.addcart-wrapper .single_variation_wrap .woocommerce-variation.single_variation{
				text-align: right;
			}
			.content-product-detail .product_detail .content_product_detail .social-share{
				left: 0;
				right: auto;
				&.open{
					.wrap-content{
						opacity:1;
						.translateX(0);
					}
				}
				.title-share{
					float:left;
				}
				.wrap-content{
					float:left;
					margin-right:0px;
					margin-left:-40px;
					.translateX(-60px);
				}
			}
			.content-product-detail .product_detail .content_product_detail .cart .quantity{
				margin:0 0 0 10px !important;
			}
			.content-product-detail .product_detail .content_product_detail .price ins{
				float:right;
				margin-left:10px;
				margin-right:0;
			}
			.content-product-detail .product_detail .content_product_detail .yith-wcwl-add-to-wishlist{
				left:35px;
				right:auto;
			}
		}
		.content-product-detail{
			padding:0 10px;
			.product-type-simple .cart{
				text-align:center;
				.addcart-wrapper{
					display:inline-block;
					overflow:hidden;
				}
			}
			.product-type-external .addcart-wrapper .cart{
				float:none;
			}
			.product_detail{
				.slider_img_productd{
					margin-bottom:20px;
					position:relative;
					z-index:2;
					.product-responsive .item-img-slider a{
						display:inline-block;
						max-width:450px;
					}
					.product-info{
						position:absolute;
						z-index:3;
						right:10px;
						bottom:110px;
						.product-stock{
							display:inline-block;
							width:54px;
							height:54px;
							text-indent:-9999px;
							&.in-stock{
								background: url('../assets/img/icon-instock.png') no-repeat center center;
							}
							&.out-stock{
								background: url('../assets/img/icon-outstock.png') no-repeat center center;
							}
						}
					}
				}
				.content_product_detail{
					position:relative;
					.price{
						del{
							float:none;
							.amount{
								font-size:#7d7d7d;
								font-size:14px;
							}
						}
						ins{
							float:left;
							margin-left:0;
						}
					}
					.add_to_cart_button,  .product_type_external, .product_type_grouped,  .single_add_to_cart_button{
						float:left;
						height:40px;
						padding:0;
						line-height:40px;
						width:172px;
						text-transform:uppercase;
						font-size:12px;
						border-radius:20px;
						clear:none;
						box-shadow:0 5px 5px  #eee;
					}
					.cart{
						margin-bottom:0 !important;
						.quantity{
							height:40px;
							margin:0 10px 0 0 !important;
							.input-text{
								height:38px !important;
							}
						}
						.group_table{
							margin-bottom:15px;
							.price{
								font-size:16px;
								del{
									font-size:16px;
								}
								ins{
									font-size:18px;
								}
							}
						}
					}
					.addcart-wrapper{
						text-align:center;
						
					}
					.product-info{
						padding:15px 0 10px;
						.sku_wrapper{
							margin-bottom:0;
						}
					}
					.description{
						margin-bottom:15px;
					}
					.yith-wcwl-add-to-wishlist{
						position:absolute;
						z-index:5;
						top:-8px;
						right:35px;
						 .yith-wcwl-add-button a{
							border:1px solid lighten(@border-color, 8%);
							color:#7d7d7d;
						 }
					}					
					.social-share{
						position: absolute;
						top: -234px;
						right: 0;
						z-index: 1;;
						&.open{
							z-index:3;
							.wrap-content{
								opacity:1;
								.translateX(0);
							}
						}
						.title-share{
							float:right;
							margin:204px 0 0;
							display:inline-block;
							font-size:0;
							width:33px;
							height:33px;
							line-height:33px;
							border:1px solid lighten(@border-color, 8%);
							text-align:center;
							color:#7d7d7d;
							padding:0;
							border-radius:0;
							&:before{
								font-size:16px;
								display:inline-block;
								font-family:FontAwesome;
								content:'\f1e0';
							}
						}
						.wrap-content{
							float:right;
							position:relative;
							margin-right:-40px;
							opacity:0;
							.translateX(60px);
							.transition(all 0.5s);
							> a{
								display: block;
								vertical-align: top;
								margin: 0 7px 10px;
								width:30px;
								height:30px;	
								text-align:center;
								border-radius:0;
								border: none;
								color: #fff;
								font-size: 16px;
								.transition(all .3s);
								background-color:@color;
								float: none;
								i{
									line-height:30px;
								}
								&:first-child{
									background: #1d9ffa;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(2){
									background: #456bbe;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(3){
									background: #e04d3f;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(4){
									background: #4899d2;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:last-child{
									background: #ca2127;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
							}
						}
					}
				}
			}
				.single-product >.tabs{
					border:0;
					margin-bottom:10px;
				.tabbable{
					.nav.nav-tabs{
						border: none;
						border-bottom:1px solid #e1e1e1;
						overflow-x: scroll;
						overflow-y: hidden;
						white-space: nowrap;						
						margin:5px 0 0;
						li{
							display:inline-block;
							vertical-align:top;
							white-space: normal;
							float: none;
							padding:0 9px;
							width: auto;
							&:first-child{
								padding-left:0;
							}
							&.active a, &:hover a{
								color:@color;
								border:0;
								&:before{
									opacity:1;
								}
							}
							a{
								background-color:#fff;
								font-size:14px;
								padding:0;
								border:0;
								height:40px;
								position:relative;
								line-height:42px;
								&:before{
									content:'';
									width:100%;
									height:2px;
									background-color:@color;
									position:absolute;
									left:0;
									bottom:-1px;
									opacity:0;
								}
							}
						}
					}
					.tab-content{
						border: none;
						padding: 0;
						.tab-pane{
							padding:10px 0;
							h2{
								font-size:12px;
								text-transform:uppercase;
								color:@body-color;
							}
						}						
						#tab-reviews{
							#comments{
								ol.commentlist{
									padding:10px 0 0;
									li{
										padding:0 0 10px;
										border-bottom:1px solid #f0f0ed;
										margin:0 0 10px;
										&:last-child{
											border:0;
										}
									}
								}
								.comment_container{
									.avatar{
										height:40px;
										width:40px;
										border:0;
										border-radius:50%;
										padding:0;
									}
									.comment-text{
										padding:0;
										border:0;
										.description{
											font-size:12px;
											color:#7d7d7d;
											p{
												margin:0;
											}
										}
										.meta{
											margin:0;
											strong{
												font-size:12px;
												color:@body-color;
												text-transform:uppercase;
											}
											time{
												font-size:12px;
												color:#7d7d7d;
												font-style:italic;
											}
										}
									}
								}
							}
							.form-submit{
								#submit{
									height:42px;
									width:100% !important;
									background-color:@color !important;
									text-align:center;
									text-transform:uppercase;
									font-size:13px;
									color:#fff;
									margin: 0;
									border: 0;
									line-height: 42px;
									padding: 0 !important;
									border-radius: 20px !important;
									box-shadow:0 10px 15px rgba(194,54,0,0.1);
								}
							}
						}
					}
				}
			}
		}
		&.woocommerce div.product p.price, &.woocommerce div.product span.price{
			font-size:18px;
			margin-bottom:15px;
		}
		&.woocommerce div.product form.cart .variations{
			margin-bottom:0;
		}
		&.woocommerce div.product form.cart	.addcart-wrapper{
			.single_variation_wrap{
				text-align:center;
				.woocommerce-variation.single_variation{
					text-align:left;
				}
				.woocommerce-variation-add-to-cart{
					display:inline-block;
				}
			}
		}
		&.woocommerce div.product form.cart div.quantity{
			border-radius:20px;
		}
	}
	.single-post.mobile-layout{
		&.rtl{
			.single.main .post .entry-wrap .entry-content{
				.entry-meta{
					.entry-author i,
					.entry-comment i{
						margin: 0 0 0 10px;
					}
				}
				.social-share{
					left:0;
					right:auto;
					.title-share{
						margin-left:0;
					}
				}
			} 
			.single-post-relate-mobile .post{
				.item-relate-img{
					float:right;
					margin-left:15px;
					margin-right:0;
				}
				.item-relate-content .entry-meta{
					.fa{
						margin-left:10px;
						margin-right:0;
					}
					.entry-author{
						float:right;
						margin-left:20px;
						margin-right:0;
					}
				}
			}
		}
		.single.main{
			.post .entry-wrap{
				.entry-thumb::before{
					border:0;
				}
				.entry-title{
					font-size:16px;
					margin-top:16px;
				}
				.entry-content{
					padding:0;
					.entry-meta{
						border-bottom:0;
						padding:0;
						font-size:12px;
						margin:0 0 10px;
						.entry-author, .entry-comment{
							i{
								margin: 0 10px 0 0;
							}
						}
					}
					.entry-summary{
						font-size:12px;
						line-height:20px;
						margin: 0 0 0;
					}
					.single-content-bottom{
						padding: 0;
						border: none;
					}
					.social-share{
						position: absolute;
						bottom: -65px;
						right: 0;
						padding:0;
						z-index: 1;;
						border:0;
						&.open{
							z-index:2;
							.wrap-content{
								opacity:1;
								.translateX(0);
							}
						}
						.title-share{
							float:right;
							margin:204px 0 0;
							display:inline-block;
							font-size:0;
							width:33px;
							height:33px;
							line-height:33px;
							border:1px solid lighten(@border-color, 8%);
							text-align:center;
							color:#7d7d7d;
							padding:0;
							margin-right:0;
							border-radius:0;
							&:before{
								font-size:16px;
								display:inline-block;
								font-family:FontAwesome;
								content:'\f1e0';
							}
						}
						.wrap-content{
							float:right;
							position:relative;
							margin-right:-40px;
							opacity:0;
							.translateX(60px);
							.transition(all 0.5s);
							> a{
								display: block;
								vertical-align: top;
								margin: 0 7px 10px;
								width:30px;
								height:30px;	
								text-align:center;
								border-radius:0;
								border: none;
								color: #fff;
								font-size: 16px;
								.transition(all .3s);
								background-color:@color;
								float: none;
								i{
									line-height:30px;
								}
								&:first-child{
									background: #1d9ffa;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(2){
									background: #456bbe;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(3){
									background: #e04d3f;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:nth-child(4){
									background: #4899d2;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
								&:last-child{
									background: #ca2127;
									&:hover {
										background-color:darken( @color, 5%);
									}
								}
							}
						}
					}
				}
			}
		}
		.post #authorDetails{
			margin-top:15px;
			padding:10px 0 0;;
			border-top:1px solid lighten(@border-color, 13%);
			border-bottom:1px solid lighten(@border-color, 13%);
			.avatar{
				width:40px;
				border-radius:50%;
			}.infomation{
				padding:8px 10px !important;
				.name-author{
					margin:0;
				}
			}
		}
		.single-post-relate-mobile{
			h4{
				padding:20px 0 10px;
				font-size:13px;
				color:@body-color;
				text-transform:uppercase;
			}
			.post{
				overflow:hidden;
				margin-bottom:20px;
				padding-bottom:20px;
				border-bottom:1px solid lighten(@border-color, 13%);
				.item-relate-img{
					display:inline-block;
					width:115px;
					float:left;
					margin-right:15px;
				}
				.item-relate-content{
					h4{
						padding:0;
						text-transform:capitalize;
					}
					.entry-meta{
						overflow:hidden;
						font-size:12px;
						color:#909090;
						.fa{
							margin-right:10px;
						}
						a{
							font-size:12px;
							color:#909090;
						}
						.entry-author{
							float:left;
							margin-right:20px;
						}
					}
				}
			}
		}
		#respond{
			margin-bottom:20px;
			.wp-comment{
				.title{
					margin-bottom:15px;
				}
				.form-horizontal .cmm-box-bottom button.btn{
					height:40px;
					width:100%;
					background-color:@color;
					text-align:center;
					text-transform:uppercase;
					font-size:13px;
					color:#fff;
					margin: 0;
					border: 0;
					line-height: 40px;
					padding: 0;
					border-radius: 20px;
					box-shadow:0 10px 15px rgba(194,54,0,0.1);
					&:before, &:after{
						display: none;
					}
				}
				.form-horizontal .cmm-box-top .control-group{
					width:100%;
				}
			}
		}
		#comments .comment{
			.author{
				width:40px;
				border-radius:50%;
			}
			.media-body .media .media-heading .author-name a{
				font-size:12px;
			}
		}
	}
	.search-results.mobile-layout{
		.styleshop_breadcrumbs{
			display:none;
		}
		.listing-title h1{
			font-size:13px;
			small{
			font-size:13px;
			}
		}
		.content-list-category{
			padding:0;
		}
	}
	.filter-mobile{
		h3{
			font-size:12px;
			color:@body-color;
			text-transform:uppercase;
		}
		.widget_price_filter{
			border:0;
			padding:0;
			margin-bottom:15px;
			.price_slider_wrapper{
				padding:0;
				.price_slider_amount{
					#min_price, #max_price{
						border-radius:20px;
						border:1px solid lighten(@border-color, 8%);
						text-align:center;
						height:40px;
						font-size:14px;
						color:#7d7d7d;
						margin-bottom:15px;
					}
					.price_label{
						font-size:14px;
						color:#7d7d7d;
						line-height:40px;
						.rtl &{
							float:left;
						}
					}
					button{
						height:40px;
						width:48%;
						background-color:@color;
						text-align:center;
						text-transform:uppercase;
						font-size:13px;
						color:#fff;
						margin: 0;
						border: 0;
						line-height: 40px;
						padding: 0;
						border-radius: 20px;
						box-shadow:0 10px 15px rgba(194,54,0,0.1);
						.rtl &{
							float:right;
						}
					}	
				}
			}
		}
		.widget_layered_nav{
			margin-bottom:10px;
			ul{
				overflow:hidden;
				> li{
					font-size:14px;
					color:#7d7d7d;
					line-height:28px;
					float:left;
					.rtl &{
						float:right;
						a{
							margin-left:10px;
							margin-right:0;
						}
					}
					a{
						color:#7d7d7d;
						display:inline-block;
						width:52px;
						height:40px;
						background-color:#f2f2f2;
						font-size:12px;
						color:@body-color;
						margin-right:10px;
						line-height:40px;
						text-align:center;
						&:hover{
							background-color:@color;
							color:#fff;
						}
					}
					.count{
						display:none;
					}
				}
			}
		}
	}
	.home.mobile-layout .body-wrapper .body-wrapper-inner > .container{
		padding-top:0;
	}
	.mobile-layout .body-wrapper .body-wrapper-inner > .container{
		position:relative;
		padding-top:10px;
		&.open{
			&:before{
				content:'';
				width:100%;
				height:100%;
				display:block;
				background:rgba(0,0,0,0.8);
				position:absolute;
				left:0;
				right:0;
				bottom:0;
				top:1px;
				z-index:10;
			}
		}
	}
	.woocommerce-checkout.mobile-layout {
		.checkout #payment #place_order{
			height:40px;
			width:100%;
			background-color:@color;
			text-align:center;
			text-transform:uppercase;
			font-size:13px;
			color:#fff;
			margin: 0;
			border: 0;
			line-height: 40px;
			padding: 0;
			border-radius: 20px;
			box-shadow:0 10px 15px rgba(194,54,0,0.1);
		}
		h3{
			font-size:13px;
			color:@body-color;
			text-transform:uppercase;
		}
	}
	.woocommerce-wishlist.mobile-layout form table.shop_table{
		border-radius:0;
		tr{
			border:0;
			td{
				border:0;
			}
		}
		thead th{
			border:0;
		}
		tfoot{
			border:0;
		}
	}
	.tax-product_cat.mobile-layout .body-wrapper > .container{
		padding-top:0;
	}
@media (min-width: 481px) {
	.mobile-layout .body-wrapper{
		margin: 0 auto;
		max-width: 480px;
	}
	.woocommerce-order-received.mobile-layout{
		h2{
			font-size:13px;
			text-transform:uppercase;
			color:@body-color;
		}
		.order_details li{
			margin-right:1em;
		}
		table.shop_table{
			border-radius:0;
			tr{
				border-top:1px solid @border-color;
			}
		}
		table.shop_table th, table.shop_table td{
			border:0;
		}
	}
}
@media  (max-width: 480px) {
	.mobile-layout.woocommerce-cart .shop_table.cart tr.cart_item td.product-name{
		display: inline-block;
		white-space: nowrap;
		width: 12em;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
@media (min-width: 410px) {
	.mobile-layout .products-wrapper .products-loop.grid >li{
		float:left;
		width:50%;
	}
}
@media (max-width: 414px) {
	.style-moblie.style2{
		&:before{
			opacity:1;
			color:@body-color;
			font-size:32px;
		}
	}
	.woocommerce-order-received.mobile-layout{
		h2{
			font-size:13px;
			text-transform:uppercase;
			color:@body-color;
		}
		.order_details li{
			float:none;
			padding-right:0;
			margin-right:0;
			margin-bottom:15px;
			border:0;
		}
		table.shop_table{
			border-radius:0;
			tr{
				border-top:1px solid @border-color;
			}
		}
		table.shop_table th, table.shop_table td{
			border:0;
		}
	}
}
@media  (max-width: 360px) {
	.mobile-layout .single-product .product_detail .content_product_detail .cart .group_table tbody tr td{
		.quantity{
			float: none !important;
		}
		&.label{
			margin: 23px 0 0;
		}
	} 
	.rtl.mobile-layout .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value .reset_variations{
		margin: 0;
	}
	.mobile-layout .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value .reset_variations{
		position: absolute;
		margin: 0;
	}
	.single-product.mobile-layout .content-product-detail .product_detail .content_product_detail .cart .quantity{
		margin: 15px 0 0 !important;
	}
	.rtl.single-product.mobile-layout .content-product-detail .product_detail .content_product_detail .cart .quantity{
		margin: 15px 0 0 !important;
	}
	.single-product.mobile-layout .product_detail .content_product_detail .variations_form .woocommerce-variation-price .price{
		margin: 15px 0 0;
	}
	.mobile-layout .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section{
		width: 40px;
	}
	.header-mobile-style1 .mobile-search .top-form.top-search{
		width:175px;
	}
	.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper{
		min-width:250px;
	}
	.sw-tab-mobile .top-tab-slider .nav.nav-tabs{
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		text-align:left;
		> li{
			float: none;
			display: inline-block;
			vertical-align: top;
			white-space: normal;
			margin:0 10px 0 0;
			> a{
				font-size:11px;
			}
		}
	}
	.mobile-layout .vertical_megamenu .resmenu-container .menu-responsive-wrapper ul.styleshop_resmenu{
		height:355px;
	}
	.sw-ajax-categories .resp-listing-container .item-product-cat{
		width:50%;
	}
	.sw-ajax-categories.style-moblie:hover{
		&:before{
			opacity:1;
		}
	}
	.single-product.mobile-layout .content-product-detail .product_detail .content_product_detail{
		.add_to_cart_button,  .product_type_external,  .product_type_grouped,  .single_add_to_cart_button{
			margin-top: 15px;
		}
	}
	.rtl.single-product.mobile-layout .content-product-detail .product_detail .content_product_detail{
		.add_to_cart_button,  .product_type_external,  .product_type_grouped,  .single_add_to_cart_button{
			margin-top: 15px;
		}
	}
	.single-product.mobile-layout .content-product-detail .product_detail .slider_img_productd .product-info{
		bottom:160px;
	}
	.single-post.mobile-layout .single-post-relate-mobile .post .item-relate-content{
		h4{
			margin-bottom:5px;
		}
		.entry-meta .entry-author{
			float:none;
		}
	}
	.block-mobile .info .inner{
		text-align:center;
		i{
			display:inline-block;
			font-size:24px;
			float:none;
			.rtl &{
				float:none;
			}
		}
		.info-content{
			padding:0;
			.rtl &{
				padding:0;
			}
		}
	}
	.products-wrapper .products-loop{
		margin:0;
	}
	.single-product.mobile-layout > .tabs .tabbable .nav.nav-tabs li{
		width:auto;
		a{
			width:auto;
		}
	}
	.mobile-layout.single-product .single-product > .tabs .tabbable .nav.nav-tabs li{
		width:auto !important;
	}
	.single-product.mobile-layout .content-product-detail .single-product >.tabs .tabbable .tab-content #tab-description p{
		width:290px;
	}
	.mobile-layout{
		.pagination ul li a{
			&.next, &.prev{
				width:32px;
				text-indent:-9999px;
				position:relative;
				&:before{
					position:absolute;
					text-indent:0;
					display:inline-block;
					font-size:16px;
					color:#999;
					font-family:'FontAwesome';
					top:0;
					right:0;
					bottom:0;
					left:0;
					line-height:30px;
				}
			}
			&.next:before{
				content:'\f105';
			}
			&.prev:before{
				content:'\f104';
			}
		}
		&.rtl{
			.pagination ul li a{
				&.next:before{
				content:'\f104';
				}
				&.prev:before{
					content:'\f105';
				}
			}
		}
	}
	.search-results.mobile-layout{
		.content_list_product ul > li .item-wrap .item-detail{
			.item-content h4{
				white-space: nowrap;
				width: 110px;
				overflow: hidden;
				text-overflow: ellipsis;
				text-align: center;
				margin: 0 auto 5px;
			}
			.item-content .item-bottom{
				display:none;
			}
		}
	}
	.footer-mstyle1 .footer-container .footer-menu .menu-item a .menu-text{
		display:none;
	}
	.countdown-mobile, .best-selling-mobile{
		&:before{
			opacity:1;
		}
	}
	.block-mobile{
		margin-bottom:10px;
	}
	.footer-mstyle1 .footer-container .footer-menu .menu-item{
		margin-bottom:5px;
	}
}
@media  (max-width: 320px) {

}


