.home-style4{
	.responsive-post-slider .resp-slider-container .slick-slider .slick-track .item .item-detail .img_over a{
		margin: 0 0 17px;
	}
	.btt{
		top: 145px;
	}
	.wrap-sub-social {
		margin-top: 70px;
	    margin-bottom: 68px;
	}
}
.wrap-banner{
	padding: 0 15px;
	.item1{
		position: relative;
		&:hover{
			.image{
				img{
				    transform: scale(1.05) translate(2%,0);
				    -ms-transform: scale(1.05) translate(2%,0);
				    -webkit-transform: scale(1.05) translate(2%,0);
				}
			}
			.content{
			    transform: translate(0,-5%);
			    -ms-transform: translate(0,-50%);
			    -webkit-transform: translate(0,-5%);
			    a{
					&:before,
			    	&:after{
			    		right: 0;
			    		left: 0;
			    	}
			    }
			}
		}
		.image{
			overflow: hidden;
			img{
				-webkit-transition: opacity 0.35s, -webkit-transform 1s;
				transition: opacity 0.35s, transform 1s;
			}
		}
		.content{
			position: absolute;
			top: 50%;
		    right: 94px;
		    text-align: right;
		    margin-top: -90px;
		    transition: all 450ms ease-out;
		    z-index: 1;
		    .rtl &{
		    	text-align: left;
		    	h3{
		    		text-align: left;
		    	}
		    }
			h4{
			    font-family: 'YellowtailRegular';
			    font-size: 28px;
			    color: #222222;
			    margin: 0 0 15px;
			    text-transform: capitalize;
			    font-weight: 500;
			}
			h3{
				font-size: 26px;
			    font-weight: 700;
			    color: #222222;
			    text-transform: uppercase;
			    max-width: 230px;
			    text-align: right;
			    line-height: 32px;
			    margin: 0 0 21px;
			}
			a{
				font-size: 12px;
			    text-transform: uppercase;
			    color: #000000;
			    background: none;
			    height: 35px;
			    line-height: 35px;
			    text-align: center;
			    border: none;
			    border-left: 2px solid #bf9a61;
			    border-right: 2px solid #bf9a61;
			    position: relative;
			    letter-spacing: 3px;
			    padding: 0 19px;
			    display: inline-block;
			    &:before,
			    &:after{
			    	content: "";
				    display: inline-block;
				    position: absolute;
				    height: 2px;
				    .transition(.2s);
				    background: #bf9a61;
				    z-index: 1;
			    }
			    &:before{
		    	    top: 0;
				    left: 23px;
				    right: 0;
			    }
			    &:after{
		    	    bottom: 0;
				    left: 0;
				    right: 23px;
			    }
			}
		}
	}
	.item1.item3{
		.content{
			left: 98px;
			right: auto;
		}
	}
	.item2{
		position: relative;
		&:hover{
			.image{
				img{
				    transform: scale(1.05) translate(2%,0);
				    -ms-transform: scale(1.05) translate(2%,0);
				    -webkit-transform: scale(1.05) translate(2%,0);
				}
			}
			.content{
			    transform: translate(0,-5%);
			    -ms-transform: translate(0,-50%);
			    -webkit-transform: translate(0,-5%);
			}
		}
		.image{
			overflow: hidden;
			img{
				-webkit-transition: opacity 0.35s, -webkit-transform 1s;
				transition: opacity 0.35s, transform 1s;
			}
		}
		.content{	
			position: absolute;
		    top: 50%;
		    margin-top: -72px;
		    width: 100%;
		    text-align: center;
		    transition: all 450ms ease-out;
			h2{
			    font-size: 40px;
			    color: @color;
			    text-transform: uppercase;
			    font-weight: 600;
			    margin: 0 0 11px;
			    span{
		    	    display: block;
					line-height: 39px;
			    }
			}
			h4{
				font-size: 18px;
				color: #010101;
				text-transform: uppercase;
				line-height: 22px;
				font-weight: 600;
			}
			p{
				text-transform: uppercase;
				color: #999999;
				line-height: 20px;
			}
		}
	}
}
.wrap-banner4{
	.vc_column-inner{
		padding: 0;
	}
	.banner{
		padding: 0 15px;
		width: 33.333%;
		float: left;
		.wpb_wrapper{
			overflow: hidden;
		}
	}	
}
.rtl.home-style4{
	
}