.home-style3{
	background-color: #f5f4f4;
	.wrap-transport{
		padding: 0 0 65px;
	}
	.responsive-listing-banner{
		margin-bottom: 52px;
		.box-slider-title h2{
			margin: 0 0 18px;
		}
		.banner-listing-container{
			margin-left: -15px;
			margin-right: -15px;
			.item-product-cat{
				padding: 15px;
				.item-wrap{
					.item-image a:before{
						background: rgba(0,0,0,0.05);
					}
					&:hover .item-image a img {
						transform: none;
					}
				}
				&.item-center .item-wrap .item-content-center:hover a img{
					transform: none;
				}
			}
		}
	}  
	.woo-slider-default{
		margin: 0 0 63px;
	}
	.wrap-full-banner{
		margin: 0 0 61px;
		.full-banner ul.banner-list li.banner-item{
			.banner-img{
				overflow: hidden;
			    position: relative;
			    display: block;
			    img{
			    	transition: opacity 0.35s, transform 0.5s;
			    }
			}
			.text-banner{
				top: 59px;
				left: 100px;
				right: auto;
			}
			&:last-child .text-banner{
				top: 59px;
				left: 115px;
			}
			&:hover{
		    	.banner-img img{
		    		.scale(1.04);
		    	}
		    }
		}
	}  
	.best-selling-product{
		margin: 0 0 44px;
	}
	.sw-brand-container-slider{
		border-top: 1px solid #e5e5e5;
		position: relative;
		.resp-slider-container{
			padding: 48px 0 43px;
		}
	}
	.footer{
		margin: 80px 0 0;
		.btt{
			top: -28px;
		}
	}
}
.wrap-box{
	background: #f5f4f4;
	overflow: visible !important;
	.wrap-in{
		position: relative;
		background: #fff;
		border-top: 1px solid #f8f8f8;
		position: relative;
	    margin: -70px -30px 0;
	    padding: 27px 15px 30px;
	    .box-shadow(0 0 3px rgba(0,0,0,0.1));
	    z-index: 10;
	}
}
.wrap-sub-social.footer-style2{
	margin: 60px 0 0;
}
.footer-style2{
	.wrap-newletter{
		text-align: center;
		h3{
			display: block;
			margin: 0 0 4px;
		}
		p{
			font-size: 12px;
			color: #666666;
			padding: 0 300px;
			line-height: 20px;
			margin: 0 0 33px;
		}
		.mc4wp-form .newsletter-content .newsletter-email{
			background-color: #f5f4f4;
		}
	} 
}
.rtl.home-style3{
	.wrap-full-banner{
		.full-banner ul.banner-list li.banner-item{
			.text-banner{
				left: auto;
				right: 100px;
			}
			&:last-child .text-banner{
				left: auto;
				right: 115px;
			}
		}
	}
}