/*************** woocommerce page *************************/
.rtl.woocommerce .widget_layered_nav ul li.chosen a::after, .rtl.woocommerce .widget_layered_nav_filters ul li a::after{
	line-height: 1;
    content: "\e013";
    font-family: WooCommerce;
    font-weight: 400;
    color: #a00;
    speak: none;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
	margin-left:10px;
}
.woocommerce, .woocommerce-page{
	&.rtl .woocommerce .cart-collaterals .cart_totals{
		text-align:right;	
	}
    input.input-text {
        height: 35px;
        background-color: #eee;
        border: 1px solid #ddd;
        text-indent: 10px;
    }
    .woocommerce-checkout #payment ul.payment_methods li img {
        //display: inline-block;
       // margin: 0 10px !important;
    }
	.woocommerce-checkout #payment div.form-row{
		margin-bottom:40px;
	}

    #customer_login{
        h2{
            border-bottom: 1px solid #eee;
            padding-bottom: 15px;
            margin-bottom: 20px;
            font-size: 24px;
            text-transform: uppercase;
        }
        form.login, form.register{
            border: 0;
            padding: 0;
            .form-row{
                .input-text{
                    .border-radius(0);
                    background: #eee;
                    border: 0;
                    &#password{
                        width: 100%;
                    }
                }               
            }
        }
    }
    form.lost_reset_password{
        .form-row{
            width: 300px;
            max-width: 100%;
            .input-text{
                .border-radius(0);
                background: #eee;
                border: 0;
            }
            input.button{
                border: 0;
                .border-radius(0);
                margin-bottom: 10px;
                margin-top: 0;
                &:hover{
                    background: darken(@color, 10);
                    color: #fff;
                }
            }
        }
    }
    .entry-content form.login{
        border: 0;
        padding: 0;

        .form-row-first, .form-row-last{
            float: left;
            width: 48.5%;
            padding: 0;
            margin-bottom: 15px;
            .input-text{
                .border-radius(0);
                background: #eee;
                border: 0;
            }
        }
        .form-row-last{
            margin-left: 3%;
        }
        .form-row{
            label.inline{
                clear: both;
                display: block;
                line-height: normal;
                vertical-align: top;
            }
            input.button{
                border: 0;
                .border-radius(0);
                margin-bottom: 10px;
                &:hover{
                    background: darken(@color, 10);
                    color: #fff;
                }
            }
        }
        .lost_password a{
            color: @color;
            &:hover{
                color: darken(@color, 15);
            }
        }
    }
    .entry-content .checkout_coupon{
        padding: 0;
        border: 0;
        .form-row{
            width: 180px;
            float: left;
            padding: 0;

            &.form-row-last {
                text-align: center;
            }

            .input-text{
                .border-radius(0);
                background: #eee;
                border: 0;
            }
            input.button{
                border: 0;
                .border-radius(0);
                height: 35px;
                &:hover{
                    background: darken(@color, 10);
                    color: #fff;
                }
            }
        }
    }
    .checkout{
        .col2-set{
            .col-1, .col-2{
                float: left;
                width: 49%;
                h3{
                    border-bottom: 1px solid @border-color; font-size: 16px;
                    padding-bottom: 10px; margin-bottom: 20px;
                    font-weight: 600; text-transform: uppercase; color: #222;
                }
                .chosen-container-single .chosen-single{
                    .border-radius(3px);
                }
                label{
                    font-size: 12px;
                }
                input, textarea{
                    background: #f1f1f1;
                    .border-radius(0);
                    border: 0; font-size: 12px;
                }
                textarea{
                    padding: 10px 15px;
                    min-height: 80px;
                }
            }
            .col-1{
                margin-right: 2%;
                .rtl &{
                    margin-right: 0; margin-left: 2%;
                }
                .woocommerce-billing-fields{
                    margin-bottom: 30px;
                    label{
                        font-weight: normal; color: #464646;
                    }
                }
                .woocommerce-account-fields{
                    .form-row{
                        label{
                            display: inline-block; vertical-align: top; padding: 0;
                            input{
                                display: inline-block;
                                vertical-align: top;
                                float: none; margin: 5px 8px 0px 1px;
                                .rtl &{
                                    margin: 5px 2px 0 8px;
                                }
                            }
                            span{
                                display: inline-block; vertical-align: top; font-weight: normal; color: #464646;
                                &:hover{
                                    color: @color; cursor: pointer;
                                }
                            }
                        }
                    }
                }
                .woocommerce-shipping-fields{
                    margin-bottom: 30px;
                    h3#ship-to-different-address{ 
                        label{
                            padding: 0;
                            > span{
                                padding: 0;
                                margin: 0; font-size: 16px;
                                font-weight: 600;
                                vertical-align: top;
                                display: inline-block;
                                &:hover{
                                    color: @color; cursor: pointer;
                                }
                            }
                            > input{
                                display: inline-block; float: none;
                                vertical-align: top;
                                margin: 1px 5px 0;
                            }
                        }
                    }
                    .shipping_address, .form-row{
                        label{
                            font-weight: normal; color: #464646;
                        }
                    }
                }
                .woocommerce-additional-fields{
                    .notes{
                        label{
                            font-weight: normal; color: #464646;   
                        }
                    }
                }
            }
            .col-2{

            }
        }
        #order_review{
            table.shop_table{               
                .border-radius(0);  
                border: 0;
                td{
                    border: none; padding: 10px 0;
                }
                th{
                    font-weight: 600; color: #222; text-transform: uppercase; border: none; padding: 9px 0;
                    &.product-total{
                        text-align: right;
                        .rtl &{
                            text-align: left;
                        }
                    }
                }
                tr{
                    &:hover{
                        background: #f8f8f8; cursor: pointer;
                    }
                }
                tbody{
                    tr{
                        td{
                            color: #464646; font-size: 13px; text-transform: capitalize;
                            &.product-thumbnail{
                                span{
                                    position: relative; display: inline-block;
                                    a img{
                                        width: 70px; border: 1px @border-color solid;
                                    }
                                    strong{
                                        position: absolute; top: -12px; right: -10px; background: @color; color: #fff; border-radius: 50%;
                                        width: 25px; height: 25px; line-height: 27px; text-align: center; font-weight: normal;
                                        .rtl &{
                                            right: auto; left: -10px;
                                        }
                                    }
                                }
                            }
                            &.product-total{
                                text-align: right;
                                .rtl &{
                                    text-align: left;
                                }
                                .amount{
                                    font-size: 14px; font-weight: 600; color: #222;
                                }
                            }
                        }
                    }
                }
                tfoot{
                    th{
                        border: none; padding: 5px 0;  
                    }
                    td{
                        text-align: right;
                        .rtl &{
                            text-align: left;
                        }
                    }
                    .cart-subtotal{
                        th,td{
                            border-top: 1px @border-color solid;
                        }
                        td {
                            .amount{
                                font-size: 16px; color: #000; font-weight: normal;
                            }
                        }
                    }
                    .shipping{ 
                        td{
                            font-size: 16px; color: #000; font-weight: normal;
                        }
                    }
                    .order-total{
                        td{
                            .amount{
                                font-size: 18px; font-weight: 600; color: #000;
                            }
                        }
                    }
                }
            }
        }
        #payment{
            .border-radius(0); background: #fff;
            ul.payment_methods{
                padding: 0; border: none;
                li{
                    input{
                        margin-top: 6px; display: inline-block; vertical-align: top;
                    }
                    img{
                        margin: 0; max-height: 80px;
                    }
                }
                .payment_method_cheque, .payment_method_paypal{
                    label{
                        font-size: 14px; color: #222; text-transform: uppercase; font-weight: 600; display: inline-block; vertical-align: top;
                    }
                    .about_paypal {
                        float: left; text-transform: capitalize; color: @color; font-weight: normal;
                        .rtl &{
                            float: right;
                        }
                    }
                }
                .payment_box{
                    background: #fff; padding: 0; font-size: 12px;
                    &:before{
                        display: none;
                    }
                }
            }
            .form-row{
                padding: 10px 0;
                input.button{
                    width: auto; font-size: 14px; font-weight: 600;
                    border: 0; background: @color; text-transform: uppercase;
                    color: #fff; text-shadow: none; padding: 12px 0;
                    .border-radius(3px);
                    &:hover{
                        background: darken(@color, 15);
                    }
                }
            }
        }
    }

    form table.shop_table.shop_table_responsive{
        .border-radius(0);
        border: 0;
        th.product-thumbnail, tr td.product-thumbnail{
            display: block;
        }
        thead{
            display: table-row-group;
            tr{
                display: table-row;
                th{
                    border: none; font-size: 14px; color: #000; text-transform: uppercase; font-weight: 600;    
                    border-bottom: 1px @border-color solid; padding: 5px 0; 
                    &.product-remove{
                        text-align: center;
                    }           
                }
            }
        }
        tbody tr{
            display: table-row;
            td{
                display: table-cell; text-transform: capitalize;
                text-align: left !important;
                &:before{
                    display: none;
                }
            }
            &.cart-subtotal, &.shipping, &.order-total{
                td{
                    text-align: right !important;
                    .rtl &{
                        text-align: left !important;
                    }
                }
            }
        }
        tbody tr.cart_item td{
            border: 0; padding: 20px 0; border-bottom: 1px @border-color solid;
        }
        tr{
            border: 0;
            td{
                border: 0;
                &.product-thumbnail img{
                    width:70px; border: 1px @border-color solid;
                }
                &.product-remove{
                    font-size: 10px;
                    a{
                        color: #999 !important; margin: 0 auto;
                        &:hover{
                            color: #fff !important;
                        }
                    }
                }
                &.product-quantity{
                    .quantity{
                        border: 1px solid @border-color;
                        overflow: visible;
                        display: inline-block;
                        input.qty{
                            height: 30px;
                            min-height: initial;
                            border: 0;
                            float: left;
                            text-indent: inherit;
                            .border-radius(0);
                        }
                        input.input-text{
                            background: #fff;
                        }
                        input[type=number] {-moz-appearance: textfield;}
                        input::-webkit-outer-spin-button,
                        input::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                        .minus, .plus{
                            float: left;
                            position: static;
                            background: #fff;
                            .border-radius(0);
                            height: auto;
                            height: 30px;
                            width: 25px;
                            border: 0;
                            font-size: 18px;
                            .box-shadow(none);
                            text-shadow: none;
                            font-weight: normal;
                            display: block !important; .transition(all 0.3s);
                            &:hover{
                                background: @color;
                                color: #fff; .transition(all 0.3s);
                            }
                        }
                    }
                }
                &.product-price, &.product-subtotal{
                    span{
                        font-weight: 600; color: #222;
                    }
                }
                &.actions{
                    padding: 30px 0; background: #fff;
                    a{
                        font-size: 14px; text-transform: uppercase; font-weight: 600; color: #222; border: 1px @border-color solid;
                        padding: 10px 15px; line-height: 18px; .transition(all 0.3s); border-radius: 4px;
                        &:hover{
                            background: @color; color: #fff; .transition(all 0.3s); border-radius: 4px;
                        }
                    }
                    input.button{
                        background: #fff !important;
                        .box-shadow(none);
                        text-shadow: none; font-weight: 600;
                        color: #222; font-size: 14px; line-height: 18px; 
                        text-transform: uppercase;
                        margin: 0 5px; opacity: 1;
                        border-color: @border-color;
                        vertical-align: top;
                        width: auto; display: inline-block;
                        padding: 10px 15px; float: right;
                        border-radius: 4px;
                        .rtl &{
                            float: left;
                        }
                        &:hover{
                            background: darken(@color, 10) !important;
                            color: #fff; border-radius: 4px;
                        }
                    }
                    .box-chekout{
                        .button{
                            background: #ccc;
                            .box-shadow(none);
                            text-shadow: none;
                            font-weight: normal;
                            &:hover{
                                background: @color;
                                color: #fff;
                                border-color: @color;
                            }                           
                        }
                        .checkout-button.button{
                            background: @color;
                            color: #fff;
                            border-color: @color;
                            &:hover{
                                background: darken(@color, 10);
                            }
                        }
                    }
                }
            }
            &.coupon-collaterals{
                > .cart-coupon {
                    padding: 0; background: #fff;
                    .coupon{
                        width: 49%; float: left; margin-right: 2%;
                        .rtl &{
                            float: right; margin-right: 0; margin-left: 2%;
                        }
                        h3{
                            font-size: 16px; color: #222; border-bottom: 1px @border-color solid; font-weight: 600; text-transform: uppercase; padding-bottom: 15px;
                            margin-bottom: 20px; padding-top: 20px;
                        }
                        p{
                            font-size: 12px; color: #474747;
                        }
                        input.input-text{
                            background: #fff; width: 100%; margin-bottom: 20px; height: 31px; line-height: normal;
                        }
                        input.button{
                            border-radius: 4px; background: #222; font-size: 14px; font-weight: 600; text-transform: uppercase; .transition(all 0.3s); padding: 12px 20px;
                            &:hover{
                                background: @color; .transition(all 0.3s); border-color: @color;
                            }
                        }
                    }
                }
            }
        }
    }
    .cart-collaterals{
        margin-bottom: 10px; width: 49%; float: left;
        .rtl &{
            float: right;
        }
        .products-wrapper{
            padding:20px 0 0 0; overflow: hidden;
        }
        .cart_totals{
            float: left;
            .rtl & {
                float: right;
                text-align: right;
            }
            h2{
                font-size: 16px; color: #222; border-bottom: 1px @border-color solid; font-weight: 600; text-transform: uppercase; padding-bottom: 15px;
            }
            table{
                width: 100%; border: none;
                tr{
                    border: 0;
                    th, td{
                        border: 0; background: #fff;
                        padding: 10px 0;
                    }
                    th{
                        display: block; font-size: 14px; color: #222; text-transform: uppercase; font-weight: 600;
                    }
                    td{
                        text-align: right;
                        &:before{
                            font-size: 14px; color: #222; text-transform: uppercase; font-weight: 600;
                        }
                    }
                    &.cart-subtotal{
                        td {
                            .amount{
                                font-size: 16px; color: #000;
                            }
                        }
                    }
                    &.shipping{
                        td{
                            font-size: 16px;
                        }
                        button.button{
                            color: #222; font-weight: 600; text-transform: uppercase;
                        }
                    }
                    &.order-total{
                        th, td{
                            .amount{
                                font-size: 18px;
                                font-weight: 600;
                                color: #000;
                            }
                        }
                    }
                }
            }
            .wc-proceed-to-checkout{
                .checkout-button{
                    background: @color;
                    display: inline-block;
                    text-shadow: none; text-transform: uppercase;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 12px 20px; .transition(all 0.3s);
                    &:hover{
                        background: darken(@color, 10); .transition(all 0.3s);
                    }
                }
            }
        }
        .shipping_calculator{
            float: left;
            margin-left: 2%;
            width: 48%;
            h2{
                border-bottom: 1px solid #f1f1f1;
                padding-bottom: 10px;
                margin-bottom: 20px;
                a:after{
                    content: "";
                }
            }
            .shipping-calculator-form{
                .form-row{
                    padding: 5px 0;
                    .input-text{
                        .border-radius(0);
                    }                       
                }
                .button{
                    background: @color;
                    color: #fff;
                    border-color: @color;
                    width: auto;
                    display: inline-block;
                    .box-shadow(none);
                    text-shadow: none;
                    font-weight: normal;
                    &:hover{
                        background: darken(@color, 10);
                    }
                }
            }
        }
    }
    #content, #contents{
        .woocommerce-message, .woocommerce-error, .woocommerce-info{
            .border-radius(0);
            border-top-color: @color;
            background: #eee;
            .box-shadow(none);
            text-shadow: none;
            padding: 0.8em 2em 1em 3.5em;
            .wc-forward{
                .box-shadow(none);
                text-shadow: none;
                .border-radius(3px);
                border: 0;
                font-weight: normal;
                background: @color;
                color: #fff;
                &:hover{
                    opacity: 0.7;
                }
            }
        }
    }
    #reviews #review_form_wrapper{
        h3{
            border-bottom: 1px solid #f1f1f1;
            padding-bottom: 10px;
            margin-bottom: 20px;
            font-size: 18px;
            text-transform: uppercase;
        }
        .comment-form{
            input, textarea{
                .border-radius(0);
                padding: 7px 10px;
                width: 60%;
            }
            textarea{
                width: 100%;
            }           
            input#submit{
                width: auto;
                color: #fff;
                &:hover{
                    color: #fff;
                }
            }
            .comment-form-author,
            .comment-form-email {
                width: 50%;
                float: left;
                label {
                    display: block;
                }
                input {
                    width: 100%;
                }
            }
            .comment-form-author {
                padding-right: 15px;
            }
        }
    }
    table.my_account_orders{
        font-size: 1em;
        tr{
            th{
                background: #ccc;
            }
            td.order-actions{
                .button{
                    background: #333;
                    .border-radius(0);
                    .box-shadow(none);
                    color: #fff;
                    text-shadow: none;
                    font-weight: normal;
                    border: 0;
                    &:hover{
                        background: @color;
                    }
                }
            }
        }
    }
    .entry-content{
        .col2-set{
            width: auto;
            .address{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}
/* ============== My Wislish ================ */
.woocommerce table.wishlist_table thead th{
	border-color:@border-color;
}
.woocommerce, .woocommerce-page {
    form table.wishlist_table{
        border-collapse: collapse;
		th.product-thumbnail{
			border:0;
		}
		tfoot{
			border-top:1px solid @border-color;
		}
        tr td{
            text-align: start;
            padding: 10px 12px;
            border-color: #ccc;
            &.product-price {
                del {
                    margin-right: 10px;
                    span {
                        font-size: 16px;
                    }
                }
                ins {
                    color: @color2;
                    text-decoration: none;
                    font-weight: 600;
                    span {
                        font-size: 18px;
                    }
                }
                >span.amount {
                    color: @color2;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            &.product-add-to-cart{
                vertical-align: top;
                .add_to_cart  {
                    display: inline-block !important; 
                    padding: 0; 
					&.loading{
						height:43px;
						position:relative;
						&:before{
							border-radius:16px;
							background-color:@color;
						}
						&:after{
							content:'';
						}
					}
                }
                a.button{
                    background: #999;
                    border: 0;
                    text-transform: capitalize;
                    text-shadow: none;
                    color: #fff;
                    position: static;
                    padding: 12px 20px;
                    .border-radius(40px);
                    .box-shadow(none);
					margin:13px 0;

                    &:hover{
                        background: @color;
                    }
                }
                .remove_from_wishlist.button {
                    display: none !important;
                }
                .dateadded {
                    margin-bottom: 5px;
                }
            }

            &.product-remove a.remove{
                font-size: 1em;
                margin: 0 auto;
            }
        }
        tbody tr{           
            border-top: 1px solid #fff;
            &:hover{
                background: #dedede;
                cursor: pointer;
            }
        }
    }
    tbody tr td,
    thead tr th {
        font-size: 14px;
    }
    article {
        header {
            .entry-title {
                font-size: 24px;
                color: @color;
            }
        }
        .wishlist-title {
            display: none;
        }
    }
    .return-to-shop {
        .button.wc-backward {
            background-color: @color;
            color: #fff;
			margin-bottom:30px;
            &:hover {
                background-color: @color2;
            }
        }
    }
}


.woocommerce a.remove {
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.woocommerce #respond input#submit,
.woocommerce input.button {
    .border-radius(0);
    background-color: lighten( @body-color, 14% );
    color: #fff;
    font-weight: normal;
    border: 0;
    .transition(all .3s);
    &:hover {
        background-color: @color;
        color: #fff;
    }
}
.woocommerce td.product-name dl.variation dd, .woocommerce td.product-name dl.variation dt {
    margin-bottom: 0.25em;
}
.woocommerce div.product p.cart {
    float: left;
}

/* ===================================================================== */
/* Top Rating ========================================================== */
div.star, div.stars {
    background: url("../assets/img/star.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 13px;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 65px;
    display: inline-block;
    vertical-align: top;
    span {
        background: url("../assets/img/star-active.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
        float: left;
        left: 0;
        overflow: hidden;
        padding-top: 11px;
        position: absolute;
        top: 0;
    }
    .rating-hidden{
        display: none;
    }
}

/* ================================================== */
/* Price ============================================ */ 

.woocommerce .widget_price_filter .ui-slider-horizontal {
    height: 4px;
}
.woocommerce button.button.alt.disabled{
	padding:0 10px;
}

/* WooCommerce Filter */
		.sidebar .widget.widget_layered_nav{
			.widget-inner{
				ul > li{
					overflow: hidden;
					span.count{
						float: right;
						.rtl &{
							float:left;
						}
					}
				}
			}
		}

/* ======================================================= */
/* Woocommerce Account =================================== */
.woocommerce-account {
	.entry-content {
	}
	#contents .page .entry-title {
			margin-bottom: 30px;
	}
	h2 {
			font-size: 18px;
	}
	h3 {
			font-size: 16px;
	}
	#contents{
		background: #fff;
		margin-bottom: 30px;
		padding-top: 30px;
		header{
			display: block;
			h2{
				font-size: 24px;
				margin-bottom: 20px;
			}
			h3{
				font-size: 20px;
			}
			.edit{
				display: block;
				font-weight: bold;
				color: @color;
				margin-bottom: 10px;
			}
		}
		.entry-content{
			nav.woocommerce-MyAccount-navigation{
				float: left;
				width: 30%;
				margin-bottom: 10px;
				> ul{
					list-style: none;
					margin: 0;
					border: 1px solid @border-color;
					> li{
						> a{
							display: block;
							min-width: 180px;
							padding: 10px 20px;
							border-bottom: 1px solid @border-color;
						}
						&:last-child > a{
							border: 0;
						}
						&.is-active >a{
							color: @color;
						}
					}
				}
			}
			.woocommerce-MyAccount-content{
                margin-bottom: 20px; 
                width: 70%; 
                float: left; 
                overflow: hidden; 
                padding-right: 20px;
                table.my_account_orders{
                    border: none; border-radius: 0;
                    tr.order{
                        border-bottom: 1px solid @border-color;
                        &:last-child{
                            border: 0;
                        }
                        td{
                            padding: 5px 15px; text-align: start !important; border: none;
                            &.order-number, &.order-status{
                                width: 15%;
                            }
                            &.order-date{
                                width: 20%;
                            }
                            &.order-total{
                                width: 40%;
                            }
                        }
                    }
                }
            }
		}
	}
}
.rtl.woocommerce-account #contents .entry-content .woocommerce-MyAccount-content {
    float: right;
    padding-right: 0;
    padding-left: 20px;
}
.rtl.woocommerce-account #contents .entry-content nav.woocommerce-MyAccount-navigation{
    float: right;
}
/* ======================================================= */
/* Woocommerce Wishlist =================================== */
.woocommerce-wishlist {
    #contents .page .entry-title {
        margin-bottom: 40px;
    }
   .wishlist-title  {
        h2 {
            font-size: 24px;
            padding: 0;
            margin-bottom: 20px
        }
    }
    .woocommerce table.shop_table {
        margin-bottom: 40px;
    } 
}

/* ======================================================= */
/* Woocommerce Checkout =================================== */
.woocommerce-checkout {
    h3 {
        font-size: 18px;
    }
}
/* ======================================================= */
/* Woocommerce Login ===================================== */

.woocommerce-noreviews {
    padding: 0 15px;
}
.fb_iframe_widget iframe {
    max-width: initial;
    z-index: 1;
}
.woocommerce-cart,
.woocommerce-wishlist,
.woocommerce-account,
.woocommerce-checkout {
    #contents {
        .page  {
            h2 {
                margin-bottom: 25px;
            }
        }
    }
}

.woocommerce-checkout {
    .customer_details {
        tr {
            clear: both;
            td {
                &:before {
                    display: none;
                }
            }
            th {
                border-top: 0 !important;
                display: block !important;
            }
        }
    }
}

#tab-description {
    ul {
        margin-right: 20px !important;
        margin-left: 20px !important;
    }
}


.rtl {

		.close-login { 
        right: auto;
        left: 10px;
    }
    th {
        text-align: right;
    }
    .woocommerce table.shop_table {
        text-align: right;
    }
    .block-popup-login {
        .email-input:before,.pass-input:before  {
            left: auto;
            right:0px;
        }
        .tt_popup_login strong {
            padding-left: 10px;
            padding-right: 70px;
            float: right;
            &:before{
                right: auto;
                left:-20px;
                border-right: 0px;
                border-left: 20px solid transparent;
            }
        }
        .block-content {
            .col-reg{
                float: right;
                text-align: right;
                &.registered-account {
                    padding-right: 0px;
                    padding-left:30px;
                    border-right:0;
                    border-left:1px solid #d0d0d0;
                }
                &.login-customer {
                    padding-left: 0px;
                    padding-right: 30px;
                    color: lighten( @body-color, 14% );
                    ul.list-log li {
                        border-right:0 !important;
                        float:right !important;
                        padding: 2px 14px 2px 0px;
                        &:before {
                            left:auto;
                            right:0px;
                        }
                    }
                }
            }
        }
        .input-text{
            padding: 0 52px 0px 5px;
        }
    }
    &.woocommerce #content table.cart td.actions, 
    &.woocommerce table.cart td.actions, 
    &.woocommerce-page #content table.cart td.actions, 
    &.woocommerce-page table.cart td.actions {
        text-align: right;
    }

    &.woocommerce-checkout #payment .payment_method_paypal .about_paypal {
        float: left;
    }
    &.woocommerce-checkout #payment ul.payment_methods li input {
        margin: 0 0 0 1em;
    }
    &.woocommerce-checkout #payment ul.payment_methods li {
        text-align: right;
    }

    //================================================================

    &.woocommerce div.product form.cart .variations td.label {
        padding-left: 1em;
        padding-right: 0;
    }
    &.woocommerce-cart table.cart td, 
    &.woocommerce-cart table.cart th {
        text-align: right;
    }
    &.woocommerce form table.shop_table tr td.actions .coupon, 
    &.woocommerce-page form table.shop_table tr td.actions .coupon {
        float: right;
    }
    &.woocommerce form .form-row label, 
    &.woocommerce-page form .form-row label {
        text-align: right;
    }
    .login .form-row .button,
    .register .form-row .button {
        float: right;
    }
    .login .lost_password {
        text-align: right;
    }
    &.woocommerce #reviews #comments ol.commentlist li img.avatar {
        left: auto;
        right: 0;
    }
    &.woocommerce #reviews #comments ol.commentlist li .comment-text {
        margin: 0 50px 0 0;
    }
    &.woocommerce .star-rating {
        float: left;
    }
    &.woocommerce p.stars a {
        margin-right: 0;
        margin-left: 1em;
    }
    &.woocommerce .woocommerce-error .button, 
    &.woocommerce .woocommerce-info .button, 
    &.woocommerce .woocommerce-message .button {
        float: left;
    }
    &.woocommerce .checkout .col2-set .col-1, 
    &.woocommerce .checkout .col2-set .col-2, 
    &.woocommerce-page .checkout .col2-set .col-1, 
    &.woocommerce-page .checkout .col2-set .col-2 {
        float: right;
    }
    &.woocommerce .checkout .col2-set .col-1 .woocommerce-billing-fields, 
    &.woocommerce-page .checkout .col2-set .col-1 .woocommerce-billing-fields {
        padding-right: 0;
        padding-left: 15px;
    }
    &.woocommerce .checkout .col2-set .col-2 .woocommerce-shipping-fields, 
    &.woocommerce-page .checkout .col2-set .col-2 .woocommerce-shipping-fields {
        padding-left: 0;
        padding-right: 15px;
    }
    &.woocommerce form table.shop_table tr td, 
    &.woocommerce-page form table.shop_table tr td,
    .woocommerce table.shop_table th,
    &.woocommerce-checkout #payment ul.payment_methods li,
    .woocommerce form.checkout_coupon, 
    .woocommerce form.login, 
    .woocommerce form.register {
        text-align: right;
    }

    &.woocommerce .entry-content form.login .form-row-first, 
    &.woocommerce .entry-content form.login .form-row-last, 
    &.woocommerce-page .entry-content form.login .form-row-first, 
    &.woocommerce-page .entry-content form.login .form-row-last {
        float: right;
    }
    &.woocommerce .entry-content form.login .form-row-last, 
    &.woocommerce-page .entry-content form.login .form-row-last {
        margin-left: 0;
        margin-right: 3%;
    }
    &.woocommerce table.shop_attributes th {
        text-align: right;
        width: 100px;
    }
    &.woocommerce .entry-content .checkout_coupon .form-row, 
    &.woocommerce-page .entry-content .checkout_coupon .form-row {
        float: right;
    }
    &.woocommerce div.product p.cart {
        float: right;
    }
    .social-share-item {
        float: right;
    }
    &.woocommerce table.my_account_orders tr td.order-actions, 
    &.woocommerce-page table.my_account_orders tr td.order-actions {
        text-align: right;
    }
    &.woocommerce-page table.shop_table_responsive tr td,
    &.woocommerce table.shop_table_responsive tr td, {
        text-align: left !important;
    }
    &.woocommerce table.shop_table_responsive tr:nth-child(2n) td, 
    &.woocommerce-page table.shop_table_responsive tr:nth-child(2n) td {
        text-align: left !important;
    }
    &.woocommerce table.shop_table_responsive tr td:before, 
    &.woocommerce-page table.shop_table_responsive tr td:before {
        float: right;
    }
    .woocommerce ul#shipping_method li {
        padding: .25em 22px .25em 0;
    }
    &.woocommerce-checkout .customer_details tr th {
        float: right;
    }
    .woocommerce .order_details li {
        float: right;
        border-right: 0;
        border-left: 1px dashed #d3ced2;
        margin-right: 0;
        margin-left: 2em;
        padding-right: 0;
        padding-left: 2em;
    }
	 .woocommerce td.product-name dl.variation dd{
		float:right;
	}
    .woocommerce td.product-name dl.variation dt {
        float: right;
		clear:right;
    }
    &.woocommerce form table.wishlist_table tr td.product-price del, 
    &.woocommerce-page form table.wishlist_table tr td.product-price del {
        margin-left: 10px;
        margin-right: 0;
    }
    .woocommerce-checkout #payment div.payment_box:before {
        left: auto;
        right: 0;
        margin: -1em 2em 0px 2em;
    }
    &.woocommerce-account .addresses .title h3 {
        float: right;
    }
    
    &.woocommerce-account .addresses .title .edit, 
    &.woocommerce-account ul.digital-downloads li .count {
        float: left;
    }
    &.woocommerce #reviews #review_form_wrapper .comment-form .comment-form-author, 
    &.woocommerce #reviews #review_form_wrapper .comment-form .comment-form-email, 
    &.woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-author, 
    &.woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-email {
        float: right;
    }
    &.woocommerce #reviews #review_form_wrapper .comment-form .comment-form-author, 
    &.woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-author {
        padding-right: 0;
        padding-left: 15px;
    }
}

@media (max-width: 1199px) {
    .woocommerce nav.woocommerce-pagination{
        width: 100%; text-align: left; padding: 2px 0;
        ul li{
            text-align: center;
        }
    }
    .rtl.woocommerce nav.woocommerce-pagination{
        text-align: right;
    }
}

@media (max-width: 767px) { 
    .woocommerce-cart {
        .woocommerce > form {
            overflow: auto;
            margin-bottom: 20px;
        }
    }
    .woocommerce, .woocommerce-page{
        form table.shop_table.shop_table_responsive {
            max-width: 100%;
            display: inline-block;
            vertical-align: top;
            margin: 0;
            thead{
                display: none;
            }
            tbody{
                display: block;
                tr{
                    display: block;
                    td{
                        display: block;
                        &:before{
                            display: block; margin-right: 15px; text-align: left;
                            min-width: 80px; text-transform: uppercase; font-weight: 600; color: #222; 
                            .rtl &{
                                text-align: right;
                            }
                        }
                        &.product-remove, &.product-thumbnail, &.actions{
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        form table.shop_table.shop_table_responsive tr.coupon-collaterals > .cart-coupon{
            &:before{
                display: none;
            }
            .coupon{
                width: 100%; margin: 0;
            }
        }
    }
    .woocommerce , .woocommerce-page {
        .cart-collaterals{
            width: 100%;
            .cart_totals table tr th{
                display: none;
            }
        }
    }
    .woocommerce-cart .woocommerce table.shop_table {
        max-width: inherit;
    }
    .woocommerce, .woocommerce-page{
        form table.shop_table.shop_table_responsive tr td.product-remove a{
            margin: 0;
        }
    }
    .woocommerce .checkout .col2-set .col-1,
    .woocommerce .checkout .col2-set .col-2, 
    .woocommerce-page .checkout .col2-set .col-1,
    .woocommerce-page .checkout .col2-set .col-2 {
        width: 100%;
    }
    .woocommerce .checkout .col2-set .col-1 .woocommerce-billing-fields,
    .woocommerce-page .checkout .col2-set .col-1 .woocommerce-billing-fields,
    .woocommerce .checkout .col2-set .col-2 .woocommerce-shipping-fields,
    .woocommerce-page .checkout .col2-set .col-2 .woocommerce-shipping-fields {
        padding: 0;
    }
    .woocommerce-wishlist.woocommerce form table.shop_table, .woocommerce-wishlist.woocommerce-page form table.shop_table {
        width: 100%;
        display: block;
        overflow: auto;
    }
    .rtl.woocommerce .checkout .col2-set .col-1 .woocommerce-billing-fields,
    .rtl.woocommerce-page .checkout .col2-set .col-1 .woocommerce-billing-fields,
    .rtl.woocommerce .checkout .col2-set .col-2 .woocommerce-shipping-fields,
    .rtl.woocommerce-page .checkout .col2-set .col-2 .woocommerce-shipping-fields {
        padding: 0;
    }

    .block-popup-login .block-content .col-reg {
        width: 100%;
    }
    .block-popup-login .block-content .col-reg.registered-account {
        padding-right: 0;
        border-right: 0;
        margin-bottom: 15px;
    }
    .block-popup-login .block-content .col-reg.login-customer {
        padding-left: 0;
        .rtl &{
            padding-right: 0;
        }
    }
    .block-popup-login {
        width: 300px;
        margin-top: 100px;
    }
    .block-popup-login .tt_popup_login strong {
        font-size: 14px;
    }
    .woocommerce #reviews #review_form_wrapper .comment-form .comment-form-author, .woocommerce #reviews #review_form_wrapper .comment-form .comment-form-email, .woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-author, .woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-email {
        width: 100%;
    }
    .woocommerce #reviews #review_form_wrapper .comment-form .comment-form-author, .woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-author {
        padding-right: 0;
    }
    .wishlist_table tr td a.button{
        white-space: nowrap;
    }
    .rtl {
        .block-popup-login .block-content .col-reg.registered-account {
            padding-left: 0;
            border-left: 0;
        }
        .woocommerce, &.woocommerce-page{
            form table.shop_table.shop_table_responsive tbody tr td:before{
                float: right;
                margin-right: 0;
                margin-left: 15px;
            } 
        }
    }
    .rtl.woocommerce #reviews #review_form_wrapper .comment-form .comment-form-author, .rtl.woocommerce-page #reviews #review_form_wrapper .comment-form .comment-form-author {
        padding: 0;
    }
}

@media (max-width: 640px) { 
    .woocommerce .entry-content .checkout_coupon .form-row,
    .woocommerce-page .entry-content .checkout_coupon .form-row {
        width: 100%;
    }
    .woocommerce .entry-content .checkout_coupon .form-row.form-row-last,
    .woocommerce-page .entry-content .checkout_coupon .form-row.form-row-last {
        text-align: left;
    }
    .rtl.woocommerce .entry-content .checkout_coupon .form-row.form-row-last,
    .rtl.woocommerce-page .entry-content .checkout_coupon .form-row.form-row-last{ 
        text-align: right;
    }
    .woocommerce-account #contents .entry-content {
        nav.woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content{
            float: none; width: 100%; padding: 0;
        }
    }
    .rtl.woocommerce-account #contents .entry-content {
        nav.woocommerce-MyAccount-navigation, .woocommerce-MyAccount-content{
            float: none; width: 100%; padding: 0;
        }
    }
}
@media (max-width: 480px) {  
    .entry-content-asset > iframe {
        height: 220px;
    }
    .woocommerce, .woocommerce-page {
        form table.shop_table.shop_table_responsive tr td.actions .coupon input.input-text{
            width: 134px;
        }
        form table.shop_table.shop_table_responsive tr td.actions{
            a, input.button{
                padding: 10px 8px;
            }
        }
    }
    .rtl.woocommerce .entry-content form.login .form-row-last, .rtl.woocommerce-page .entry-content form.login .form-row-last{
        margin-right: 0;
    }
    .woocommerce-page .entry-content form.login .form-row-first, .woocommerce-page .entry-content form.login .form-row-last{
        width: 100%; margin: 8px 0;
    }
    .products-wrapper .products-nav .catalog-ordering .orderby-order-container .product-number{
        margin-top: 5px;
    }
}
@media (max-width: 360px) {
    .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
        line-height: 25px;
    }
    .woocommerce, .woocommerce-page {
        form table.shop_table.shop_table_responsive tr td.actions{
            .coupon{
                margin-bottom: 10px;
            }
            > input.button{
                margin: 0 !important;
            }
        }
    }
    .woocommerce table.cart td.actions .coupon .input-text+.button{
        margin: 0 2px; padding: 8px 5px;
    }
    .woocommerce div.product form.cart .group_table td{
        display: block;height: 60px !important; margin-bottom: 0;
    }
    .woocommerce div.product form.cart .group_table td.label{
        display: block;height: 45px !important; text-align: left; padding: 0;
    }
    .rtl {
        .woocommerce div.product form.cart .group_table td.label{
            text-align: right;
        }
    }
}
.woocommerce-page.wishlist form table.shop_table{
	tr td.product-thumbnail{
	    position: relative;
		margin-top: -1px;
	}
	 thead tr th{
		//border-top:1px solid @border-color;
	 }
}
.woocommerce div.product form.cart .group_table td {
    padding: 0;
    height: 100px;
    vertical-align: middle;
}
