@media (max-width: 1199px) and ( min-width: 992px ) {
	.wrap-banner{
		.item1{
			.content{
				margin-top: -70px;
				right: 30px;
				.rtl &{
					right: auto;
					left: 30px;
				}
				h3{
					font-size: 20px;
					margin: 0 0 10px;	
				}
				h4{
				    font-size: 18px;
				    margin: 0 0 10px;
				}
			}
		}
		.item1.item3 .content{
			left: -25px;
			.rtl &{
				right: -25px;
				left: auto;
			}
		}
	}
	.countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section{
		width: 45px;
	}   
}
@media (max-width: 991px){
	
}
@media (max-width: 991px) and ( min-width: 768px ) { 
	.wrap-banner{
		.item2{
			display: none;	
		}
		.item1{
			width: 50%;
			.content{
				width: auto;
				right: 30px;
				margin-top: -86px;
				.rtl &{
					right: auto;
					left: 30px;
				}
			}
		}
		.item1.item3 .content{
			left: 30px;
			.rtl &{
				right: 30px;
				left: auto;
			}
		}
	}
}
@media (max-width: 767px) { 
	.home-style4 .btt{
		top: 241px;
	}
	.header.header-style4{
		#lang_sel{
			padding: 32px 0 36px;
		}
		.top-form .wrapp-minicart{
			right: 0;
			left: auto;
			.rtl &{
				right: auto;
				left: 0;
			}
		}
	} 
	.wrap-banner .item1{
		display: none;
	}
	.wrap-banner4{
		.banner{
			width: 50%;
		}
		.banner-display{
			display: none;
		}	
	}
	.sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li{
		float: none;
		margin: 0 0 15px;
		.rtl &{
			margin: 0 0 15px;
		}
		a{
			margin: 0;
		}
	}
}
@media (max-width: 767px) and (min-width: 480px){
	.countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section{
		margin-right: 5px;
		width: 45px;
		.rtl &{
			margin-right: 0;
			margin-left: 5px;
		}
	}
	.sw-category-slider .slider .slick-list .item-product-cat .item-content{
		margin-left: -90px;
		h3 a{
			min-width: 180px;
			font-size: 12px;
		}
	} 
}
@media (max-width: 479px) { 
	.header.header-style4{
		.header-top{
			.text-top .text-sale{
				display: none;
			}
			.wrap-myacc{
				padding: 10px 0;
			}
		}
		.header-bottom{
			position: relative;
			.top-header{
				position: absolute;
				top: -25px;
				left: 0;
				right: 0;
				.styleshop-logo{
					padding: 0;
				}
			}
			.sw_top.pull-left .top-form.top-search.open{
				width: 225px;
			}
		} 
	}  
	.wrap-banner4{
		display: none;
	}
}

