@import "bootstrap/responsive-utilities.less";
@import "responsive/max-1280.less";
@import "responsive/min-1200.less";
@import "responsive/max-1199.less";
@import "responsive/min-992-max-1199.less";
@import "responsive/max-991.less";
@import "responsive/min-768-max-991.less";
@import "responsive/max-767.less";
@import "responsive/max-640.less";
@import "responsive/min-481-max-640.less";
@import "responsive/max-480.less";
@import "responsive/max-360.less";
@import "responsive/max-320.less";
@import "app-responsive3.less";
@import "app-responsive4.less";

@media (max-width: 1366px){
	.nav-pills >li > a{
		padding: 18px 19px;
	}
	.nav-pills.nav-css >li > a{
		padding: 18px 19px;
	}
	.top-form.top-form-minicart{
		padding: 11px 58px 10px 18px;
		.top-minicart .text-cart{
			font-size: 12px;
		}
	}
	.sticky-menu{
		.nav-pills >li > a{
			padding: 22px 19px;
		}
		.top-form.top-form-minicart{
			padding: 15px 58px 15px 18px;
			.top-minicart .text-cart{
				font-size: 12px;
			}
		}
	}
	.top-form .wrapp-minicart{
		top: 47px;
	}
}
@media (max-width: 1400px) and ( min-width: 1200px ){
	.custom.tparrows.tp-leftarrow{
		left: 80px !important;
	}
	.custom.tparrows.tp-rightarrow{
		left: 94% !important;
	}
}
@media (min-width: 1200px){
	.clear_lg {
	    clear: both;
	}
}

@media (max-width: 1200px) {    
	#comments ul.children{
		margin-left: 30px;
		.rtl &{
			margin-left: 0;
			margin-right: 30px;
		}
	}
}
@media (max-width: 1199px) and ( min-width: 768px ){
	.responsive-listing-banner2 .banner-listing-container .item-product-cat{
		.item-wrap .item-content{
			margin-top: -48px;
			text-align: left;
			left: 20px;
			.rtl &{
				left: 20px;
				right: auto;
			}
			.des-cat{
				font-size: 12px;
				margin: 0 0 5px;
			}
			h4{
				max-width: 143px;
				margin: 0 0 5px;
				a{
					font-size: 12px;
					line-height: normal;
				}
			}
			.view-all a{
				font-size: 11px;
				height: 28px;
				line-height: 28px;
				letter-spacing: normal;
	    		padding: 0 10px;
			}
		}
		&.item-right .item-wrap .item-content{
			right: 20px;
			text-align: right;
		}
		&.item-center .item-title{
			margin-top: -33px;
			h2{
				font-size: 16px;
				margin: 0 0 0px;
				span{
					line-height: 15px;
				}
			}
			h5{
				margin: 0 0 5px;
				a{
					font-size: 11px;
				}
			}
			.des-cat{
				font-size: 9px;
			}
		}  
	}
	.sw-woocommerce-collection{
		.box-slider-title h2, .block-title h2{
			&:before, &:after{
				display: none;
			}
		}
	} 
}
@media (max-width: 1199px) and ( min-width: 992px ) {
	.clear_md {
			clear: both;
	}
	.rtl{
		[class*="col-md-"], [class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
	.wpb_revslider_element .rev_slider_wrapper{
		ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn{
			display:none !important;
		}
	}
	.sticky-menu .top-form.top-form-minicart{
		padding: 15px 20px 15px 18px;
		.rtl &{
			padding: 15px 18px 15px 20px;
		}
	}
	.wrap-transport{
		.row{
			margin-right: -15px;
			margin-left: -15px;
			.item{
				padding: 0 10px;
				.content{
					h3, p{
						overflow: hidden;
					}
				}
			}
		}
	}
	.wrap-newletter{
		h3{
			letter-spacing: 0px;
			margin: 0 15px 0 0;
			.rtl &{
				margin: 0 0 0 15px;
			}
		}
		.mc4wp-form .newsletter-content .newsletter-email{
			width: 300px;
		}
	}
	.responsive-listing-banner .banner-listing-container .item-product-cat{
		.item-wrap .item-content{
			top: 40px;
		}
		&.item-3col .item-wrap .item-content{
			top: 31px;
		}
		&.item-center .item-wrap .item-content-center .item-title{
			top: 35px;
		}
	} 
	.single-product .product_detail .content_product_detail .cart{
		.quantity{
			margin: 0 0 15px;
			.rtl &{
				float: right;
			}
		}
		.single_add_to_cart_button{
			clear: both;
		}
	}
	.products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img{
		width: 300px;
	}   
}
@media (max-width: 991px){
	.resmenu-container .menu-responsive-wrapper{
		max-height: 287px;
    	overflow-x: auto;
	}
	.sidebar, .content, .single {
		width: 100%;
		float: none;
	}
	.mid-header{
		position: relative;
	}
	.category-contents .blog-content.blog-content-default .post .entry .entry-thumb, 
	.category-contents .blog-content.blog-content-default .post .entry .entry-content{
		width: 100%;
		float: none;
	}
	.about_us .about-item .img{
		float: none;	
		margin: 0 0 40px;
		.rtl &{
			float: none;	
			margin: 0 0 40px;
		}
	}
	.woocommerce .item-bottom .fancybox, .item-bottom .fancybox{
		display: none;
	}
}
@media (max-width: 991px) and ( min-width: 768px ) { 
	#cpanel-form a.cpanel-control {
			display: none;
	}
	.rtl{
		[class*="col-sm-"], [class*="col-xs-"] {
			float: right;
		}
	}
	.rtl .header .header-bottom .top-form{
		padding: 6px 18px 6px 58px;
	}
	.header-style1 #main-menu .primary-menu .resmenu-container .navbar-toggle{
		margin: 0;
	    border: none;
	    background: #000;
	    border-radius: 0;
	    padding: 15px 15px;
	}
	.top-form.top-form-minicart{
		padding: 6px 58px 6px 18px;
		.top-minicart .text-cart{
			font-size: 12px;
		}
	}
	.top-form .wrapp-minicart{
		top: 47px;
	}
	.header{
		.header-top{
			.top-header{
				padding: 15px 0 0;
			}
			.wrap-myacc{
				padding: 23px 0 0;
			}
			.top2 .sw_top h3{
				margin: 12px 0 10px;
			}
			.sidebar-account{
				.my-account{
					top: 32px;
					z-index: 100;
				}
			}
		}
		.header-bottom{
			margin-top: 7px;
		}
		.header-bottom.sticky-menu{
			margin: 0;
			.top-form.top-form-minicart{
				padding: 7px 58px 7px 18px;
			}
			.logo-menu{
				padding: 15px 0 0;
			}
			.bottom-header .sw_top.pull-left h3{
				margin: 8px 0 0;
			}
		}
	} 
	#lang_sel{
		padding: 20px 0 0;
		> ul.nav > li > ul{
			top: 31px;
		}
	}
	.widget_currency_converter{
		padding: 24px 14px 0;
	}
	.currency_w > li .currency_switcher{
		top: 31px;
	}
	.wrap-full-banner .full-banner ul.banner-list li.banner-item{
		display: block;
		&:first-child{
			.text-banner{
				left: 130px;
				right: auto;
				.rtl &{
					right: 130px;
					left: auto;
				}
			}
		}
		&:last-child{
			display: none;
		}
	}
	.wrap-newsletter-social{
		.vc_col-sm-9,
		.vc_col-sm-3{
			width: 100%;
		}
	}
	.wrap-sub-social{
		.vc_col-sm-9{
			width: 65%;
		}
		.vc_col-sm-3{
			width: 35%;
		}
	}
	.wrap-newletter{
		h3{
			display: none;
		}
		.mc4wp-form .newsletter-content .newsletter-email{
			width: 276px;
		}
	} 
	.shop-social{
		text-align: center;
		ul{
			margin: 0 0 0;
			float: none;
			display: inline-block;
			vertical-align: top;
			.rtl &{
				float: none;
			}
		}		
	}
	.responsive-listing-banner .banner-listing-container .item-product-cat{
		.item-wrap .item-content{
			top: 19px;
		}
		&.item-3col .item-wrap .item-content{
			top: 5px;
		}
		&.item-center .item-wrap .item-content-center .item-title{
			top: 8px;
		}
	}
	.sw-woocommerce-collection{
		.sw-collection-container .flex-item .item .item-wrap .item-detail .item-content{
			.item-price del{
				margin: 2px 0 0 5px;
				.rtl &{
					margin: 2px 5px 0 0;
				}
			}
		}
	}
	.rtl.woocommerce div.product form.cart div.quantity{
	    float: right;
		margin: 0 0 0 4px;
	}
	.footer .footer-style1 .about-footer p{
		padding-right: 30px;
	} 
	.footer .footer-copyright{
		text-align: center;
		.copyright-text{
			float: none;
			margin: 0 0 15px;
		}
		.sidebar-copyright{
			float: none;
			display: inline-block;
		}
	}
	.wrap-transport{
		.row{
			margin: 0 -10px;
		}
		.item{
			width: 25%;
			padding: 0 10px;
			.content{
				text-align: center;
				&:before {
					display: none;
				}
			}
		}
	} 
	.widget-latest-blog .blog-content .blog-item .widget-content-wrap .widget-content .entry-meta .meta-entry a{
		font-size: 9px;
	}  
}
@media (max-width: 767px) { 
	.rtl.woocommerce #customer_login, 
	.rtl.woocommerce-page #customer_login{
		.col-lg-6{
			float: none;
		}
	}
	.clear_xs {
			clear: both;
	}
	.rtl{
		.block-text1-home4{
			[class*="col-lg-"]{
				float:none;
			}
		}
		[class*="col-xs-"] {
			float: right;
		}
	}
	.rtl{
		.header{
			.header-top .sidebar-account .account-title{
				border: none;
				padding: 0;
			}
			.header-bottom .top-form{
				padding: 6px 18px 6px 58px;
			}
		} 
	} 
	.home.page,
	.home-style2.page{
		.header{
			position: static;
			background: url("../assets/img/bg-header.jpg") no-repeat;
			background-size: cover;
		}	
	}
	.header-style1 #main-menu .primary-menu .resmenu-container .navbar-toggle{
		margin: 0;
	    border: none;
	    background: #000;
	    border-radius: 0;
	    padding: 15px 15px;
	}
	.header{
		.header-top{
			.top1{
				display: none;
			}
			.sidebar-account{
				.account-title{
					border: none;
					padding: 0;
				}
				.my-account{
					z-index: 100;
				}
			} 
			.top2 .sw_top{
				position: absolute;
			    top: 93px;
				right: 15px;
				z-index: 1;
				h3{
					margin: 0;
					&:before{
						border: none;
						background: #000;
						height: 47px;
						width: 47px;
						line-height: 47px;
					}
					&.off{
						&:before{
							.rtl &{
								left: 0;
								right: auto;
							}
						}
					}
				}
				.rtl &{
					left: 15px;
					right: auto

				}
			}
		}
		.header-bottom{
			.menu-cart{
				background: @color;
			}
			.bottom-header{
				float: left;
			    width: 82%;
			    background: @color;
			    .sw_top{
			    	float: none;
			    }
			    .rtl &{
			    	float: right;
			    	.sw_top{
				    	float: none;
				    }
			    }
			}
			.top-form{
				float: none;
			}
		}
		.header-bottom.sticky-menu{
			margin: 0;
			.logo-menu{
				display: none;
			}
			.menu-cart{
				background: @color;
			}
			.bottom-header{
				.sw_top.pull-left{
					position: absolute;
					top: 0;
					right: 15px;
					z-index: 1;
					.rtl &{
						left: 15px;
						right: auto;
					}
					h3{
						margin: 0;
						&:before{
							border: none;
							background: #000;
							height: 47px;
							width: 47px;
							line-height: 47px;
						}
						&.off{
							&:before{
								background: none;
								height: 4px;
								width: 4px;
								line-height: normal;
								top: 3px;
							}
						}
					}
					.top-form.top-search{
						right: 0;
						padding: 0;
						top: 15px;
						.rtl &{
							left: 0;
							right: auto;
						}					}	
				} 
			}
			.top-form.top-form-minicart{
				padding: 6px 18px 7px 18px;
				.rtl &{
					padding: 6px 18px 7px 18px;
				}
			}
		}
	}
	.header .header-top .top2 .sw_top .top-form.top-search .topsearch-entry .form-search .search-query, 
	.header .header-top .top2 .sw_top .top-form.top-search .topsearch-entry .form-search .button-search-pro{
		height: 45px;
	} 
	.mid-header{
		position: relative;
	}
	#lang_sel{
		padding: 31px 0;
		> ul.nav > li > a{
			font-size: 0;
		}
	}  
	.widget_currency_converter{
		padding: 38px 14px;
		h3{
			display: none;
		}
	} 
	.currency_w > li .currency_switcher{
		left: auto;
		right: 0;
		.rtl &{
			left: 0;
			right: auto;
		}
	}
	.top-form.top-form-minicart{
		padding: 6px 18px 6px 18px;
		.rtl &{
			padding: 6px 18px 6px 18px;
		}
		.top-minicart .text-cart{
			font-size: 12px;
		}
	}
	.top-form .wrapp-minicart{
		right: auto;
		left: -52px;
		top: 100%;
		width: 290px;
		.rtl &{
			right: -52px;
			left: auto;
		}
	}
	.wrap-full-banner{
		display: none;
	}
	.wrap-newletter{
		h3{
			display: block;
			margin: 0 0 10px;
			text-align: center;
			.rtl &{
				margin: 0 0 10px;
			}
		}
		.mc4wp-form{
			display: block;
			.newsletter-content{
				.newsletter-email{
					width: 70%;
					margin: 0 2% 0 0;
					.rtl &{
						margin: 0 0 0 2%;
					}
				}
				.newsletter-submit{
					width: 27%;
				}
			}
		}
	}
	.shop-social{
		text-align: center;
		ul{
			margin: 20px 0 0;
			float: none;
			display: inline-block;
			vertical-align: top;
			.rtl &{
				float: none;
			}
		}		
	}
	.wrap-transport{
		display: none;
	}
	.sw-woocommerce-collection .sw-collection-container .box-collection-center, .sw-woocommerce-collection .sw-collection-container .box-collection-right{
		padding-top: 20px !important;
	}
	.responsive-listing-banner .banner-listing-container .item-product-cat{
	    width: 100%;
	    float: none;
	    margin-bottom: 30px;
	    &.item-3col{
	    	width: 100%;
	    }
	}
	.responsive-listing-banner2 .banner-listing-container .item-product-cat{
		width: 100%;
	    float: none;
	    margin-bottom: 30px;
	}
	.wrap-arrival .wrap-in{
		margin: 0;
	}
	.sw-woocommerce-collection{
		margin: 0;
		.sw-collection-container{
			display: block;
			.flex-item{
				width: 100%;
			}
		} 
	}
	.styleshop_breadcrumbs{
		h1{
			float: none;
			margin-bottom: 15px;
			width: auto;
			.rtl &{
				float: none;
			}
		}
		.breadcrumbs{
			float: none;
			width: auto;
			text-align: left;
			.rtl &{
				float: none;
				text-align: right;
			}
		}
	} 
	.single-post-relate{
		.category-blog, .post{
			margin: 0 0 30px;
		}
	}
	.footer{
		.footer-style1 .wrap-cus .widget_nav_menu ul li{
			float: none;
			display: inline-block;
			a{
				border: none;
			}
			.rtl &{
				float: none;
				a{
					border: none;
				}
			}
		}
		.footer-copyright{
			text-align: center;
			.copyright-text{
				float: none;
				margin: 0 0 15px;
			}
			.sidebar-copyright{
				float: none;
				display: inline-block;
			}
		}
	}
	.footer .widget_nav_menu ul.menu{
		display: none;
	}
	.footer .footer-style1 .about-footer{
		margin-bottom: 15px;
	}
	.footer .footer-style1{
		.widget_nav_menu h2,
		.infomation h2{
			margin: 15px 0;
		}
	} 
	.footer .widget_nav_menu .widgettitle{
		.icon-footer{
			&:before{
				content: '\f0d7';
			    color: #fff;
			    font-family: fontawesome;
			    font-size: 14px;
			    display: inline-block;
			    margin: 0 10px;
			}
		}
	}
	.products-wrapper{
		.products-loop.list .item{
			margin: 0 0 35px;
			.item-wrap .item-detail .item-img{
				float: none;
				margin: 0 0 30px;
				width: 100%;
				.rtl &{
					float: none;
					margin: 0 0 30px;
				}
			}
		}
		.products-nav .catalog-ordering .orderby-order-container .product-number{
			display: none;
		}
	}
	.single.main .post .entry-wrap .entry-content .single-content-bottom{
		.social-share,
		.single-tag{
			float: none;
		}
	}  
	.single.main .post .entry-wrap .entry-content .single-content-bottom, 
	.single.main .team .entry-wrap .entry-content .single-content-bottom, 
	.single.main .attachment .entry-wrap .entry-content .single-content-bottom{
		padding-bottom: 20px;
	}  
	#respond .wp-comment .form-horizontal .cmm-box-top .control-group{
		width: 100%;
		float: none;
	}
	.contact-bonus .form-contact .info-contact{
		float: none;
		width: 100%;
	}
	.contact-bonus .form-contact .info-comment{
		float: none;
		width: 100%;
		margin: 0 0 30px;
	}
	.contact-bonus.contact-bonus2 .form-contact .info-contact p{
		float: none;
		width: 100%;
	}
	.wrapper_404 .content_404 .erro-image .erro-content{
		top: 71px;
		margin-left: -221px;
		h2{
			font-size: 30px;
		}
		p{
			font-size: 11px;
		}
	}
	.btt{
		top: 306px;
	}
	.vc_row.vc_custom_1490338839636{
		margin-top: -0px !important;
	}
}
@media (max-width: 767px) and (min-width: 480px){
	.header .header-bottom .bottom-header{
		width: 78%;
	} 
	.home-style1 .btt{
		top: 273px;
	}
}
@media (max-width: 479px) { 
	[class*="col-xs-"]{
		float: none;
		width:auto;
	}
	.rtl{
		[class*="col-xs-"] {
			float: none;
		}
	}
	.header{
		.header-top{
			.wrap-myacc{
				padding: 10px 0 10px;
			}
			.top-header{
				position: absolute;
				padding: 0;
				top: 41px;
				left: 50%;
				margin-left: -105px;			
			}
			.top2 .sw_top{
				top: 83px;
			}
			.sidebar-account .my-account{
				top: 22px;
			}
		}
		.header-bottom{
			margin-top: 50px;
			.bottom-header{
				width: 66%;
			}
		}
	}  
	#lang_sel{
		padding: 4px 0;
		> ul.nav > li > ul{
			top: 22px;
		}
	}
	.widget_currency_converter{
		padding: 13px 14px 0;
	}
	.currency_w > li .currency_switcher{
		top: 22px;
	}
	.wrap-arrival .wrap-in{
		padding: 10px;
	}
	.responsive-listing-banner .banner-listing-container .item-product-cat{
		.item-wrap .item-content{
			top: 40px;
			.des-cat{
				display: none;
			}
		}
		&.item-3col .item-wrap .item-content{
			top: 60px;
		}
		&.item-center .item-wrap .item-content-center .item-title{
			top: 20px;
		}
	}
	.sw-woocommerce-collection{
		padding: 10px;
		.box-slider-title h2{
			&:before, &:after{
				display: none;
			}
		}
	}
	.wrap-newletter{
		.mc4wp-form{
			.newsletter-content{
				.newsletter-email{
					width: 58%;
				}
				.newsletter-submit{
					width: 38%;
					padding: 0;
				}
			}
		}
	}
	.products-wrapper{
		.woocommerce-pagination{
			float: none;
			text-align: left;
			padding: 0 0 10px;
			.rtl &{
				float: none;
			}
		}
	}
	.woocommerce nav.woocommerce-pagination{
		text-align: left;
		.rtl &{
			text-align: right;
		}
	}
	.single-product{
		.product_detail .content_product_detail .cart{
			.quantity{
				margin: 0 0 15px;
			}
			.single_add_to_cart_button{
				clear: both;
			}
		}
		.tabs .tabbable .nav-tabs li{
			float: none;
			width: 100%;
		}
		.social-share a{
			width: 30px;
		}
	} 
	.single.main .post .entry-wrap .entry-content .entry-meta{
		.meta-entry{
			margin: 0 0 10px;
		}
	}
	.wrapper_404 .content_404 .erro-image .erro-content{
		top: 34px;
		margin-left: -150px;
		h2{
			font-size: 26px;
		}
		p{
			font-size: 11px;
			max-width: 300px;
		}
	}
	.home-style1 .btt{
		top: 299px;
	}
	#main-menu .primary-menu .resmenu-container .navbar-toggle{
		z-index: 0;
	}
	.single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value select{
		padding: 5px 20px 5px 10px;
		.rtl &{
			padding: 5px 10px 5px 20px;
		}
	}
	.rtl .single-product .product_detail .content_product_detail .cart .quantity{
		float: right;
	}
	.woocommerce .entry-content form.login .form-row-first, 
	.woocommerce .entry-content form.login .form-row-last, 
	.woocommerce-page .entry-content form.login .form-row-first, 
	.woocommerce-page .entry-content form.login .form-row-last{
		margin: 0 0 20px;
		width: 100%;
	}
	.pagination ul li{
		margin: 5px;
	}
	.pagination ul li a, .pagination ul li span.current{
		width: 25px;
	    line-height: 25px;
	    height: 25px;
	}
	.btt {
	    top: 332px;
	}
	.styleshop-portfolio .portfolio-tab ul li{
		float: none;
		width: 100%;
		margin: 0 0 15px;
	}
	.styleshop-portfolio .portfolio-container ul.portfolio-content >li.portfolio-item{
		width: 100%;
	}
	.single-product .product_detail .content_product_detail .cart .group_table .label{
	    vertical-align: middle;
	    padding-top: 0;
	    height: auto !important;
	}
	.single-product .product_detail .content_product_detail .cart .group_table tbody tr{
		border-bottom: 1px solid #ddd;
		display: block;
		margin-bottom: 25px;
	}
	.item-price del, .price del{
		float: none;
	}
	.products-wrapper .products-nav .catalog-ordering .orderby-order-container .order{
		padding: 0;
		.rtl &{
			padding: 0;
		}
	}
}

