@media (max-width: 1199px) and ( min-width: 992px ) {
	.header.header-style3 .header-bottom .styleshop-logo{
		padding: 26px 28px 27px 0;
		.rtl &{
			padding: 26px 0 27px 28px;
		}
	}
	.home-style3{
		.wrap-full-banner{
			.full-banner ul.banner-list li.banner-item{
				.text-banner{
					top: 29px;
				}
				&:last-child .text-banner{
					top: 29px;
				}
			}
		}
	}
	.footer-style2 .wrap-newletter p{
		padding: 0 245px;
	}
}
@media (max-width: 991px){
	
}
@media (max-width: 991px) and ( min-width: 768px ) { 
	.home-style3{
		.responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content .des-cat{
			margin: 0 0 6px;
		}
		.responsive-listing-banner .banner-listing-container .item-product-cat.item-center .item-wrap .item-content-center .item-title h2{
			font-size: 26px;
		}
	}
	.footer-style2 .wrap-newletter p{
		padding: 0 140px;
	}
}
@media (max-width: 767px) { 
	.header.header-style3{
		.header-bottom{
			margin: 0 0 0;
			.top-header{
				float: none;
			}
			.styleshop-logo{
				padding: 20px 0 0;
			}
		}
		#lang_sel{
			padding: 6px 0 8px;
		}
	}  
	.wrap-box .wrap-in{
		margin-top: 0;
	}
	.footer-style2 .wrap-newletter p{
		padding: 0 30px;
	}
}
@media (max-width: 767px) and (min-width: 480px){
	
}
@media (max-width: 479px) { 
	.header.header-style3 .header-bottom .sw_top.pull-left .top-form.top-search.open{
		width: 223px;
	}
}

