@-ms-viewport {
  width: device-width;
}
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
@media (min-width: 1200px) {
  .featured-categories2 .wpb_wrapper {
    max-width: 1230px;
    margin: 0 auto;
  }
  .sw-child-cat2 .resp-slider-container .item .item-wrap .products-thumb {
    margin-right: 10px;
  }
  .rtl .sw-child-cat2 .resp-slider-container .item .item-wrap .products-thumb {
    margin-left: 10px;
    margin-right: 0;
  }
}
@media (max-width: 1199px) {
  body.boxed-layout .body-wrapper {
    width: 100%;
    padding: 0;
  }
  .header-bottom .styleshop_top .top-form.top-search {
    min-width: 540px;
  }
  .header-style5 .styleshop_top .top-form.top-search {
    min-width: 470px;
    width: 470px;
  }
  .rtl .header-style3 #lang_sel > ul.nav > li > a {
    padding-right: 0;
    border-right: 0;
  }
  .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-4,
  .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-5,
  .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-1 {
    min-width: 970px;
  }
  .header-style4 .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-4,
  .header-style4 .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-5,
  .header-style4 .nav-pills.nav-mega .styleshop-mega-menu .dropdown-menu.column-1 {
    min-width: 790px;
  }
  .sw-woo-tab-cat2 .resp-tab .tab-content .tab-pane .item .item-wrap .item-center h4.title {
    padding: 0;
  }
  .block2-home3 .wrap-content .item {
    width: 25%;
  }
  .block2-home3 .wrap-content .item.col-mid {
    width: 50%;
  }
  .block3-home3 .content-wrap .item-ins {
    width: 20%;
  }
  .block-text2-home4 .wrap-content .item {
    width: 33.33%;
  }
  .home-style4 .header-style4 .container {
    max-width: 970px;
  }
  .sw-best-seller-product .wrap-content .item {
    margin-bottom: 27px;
  }
  .container-home4 .wpb_wrapper {
    max-width: 970px;
  }
  .wrapper_404 .content_404 .block-middle .styleshop_search_404 .top-search .topsearch-entry .form-search {
    width: 545px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone {
    width: 50%;
    padding: 0 10px;
  }
  .single-product > .tabs .tabbable .tab-content .tab-pane p .alignnone.image-content {
    margin: 0;
  }
  .single.main .post .entry-wrap .entry-content .entry-summary p .alignnone {
    width: 50%;
    margin: 0 0 30px !important;
  }
}
@media (max-width: 991px) {
  .header-bottom .search-cate {
    margin: 3px 0;
  }
  .header-bottom .search-cate .styleshop_top .top-form.top-search {
    min-width: 350px;
    margin: 4px 0;
  }
  .header-style3 .header-bottom .search-cate .styleshop_top .top-form.top-search {
    min-width: 250px;
  }
  .header-style3 .header-bottom .search-cate .styleshop_top .top-form.top-search input {
    padding-left: 10px;
  }
  .rtl .header-style3 .header-bottom .search-cate .styleshop_top .top-form.top-search input {
    padding-right: 10px;
  }
  .header-style3 .header-bottom .search-cate .styleshop_top .top-form.top-search button.form-button {
    right: 0;
  }
  .rtl .header-style3 .header-bottom .search-cate .styleshop_top .top-form.top-search button.form-button {
    left: 0;
    right: auto;
  }
  .header-bottom .search-cate .styleshop_top .top-form.top-search .cat-wrapper select {
    width: 110px;
  }
  .header-bottom .search-cate .styleshop_top .top-form.top-search input {
    padding-left: 130px;
  }
  .rtl .header-bottom .search-cate .styleshop_top .top-form.top-search input {
    padding-left: 60px;
  }
  .header-style2 .header-bottom #main-menu .primary-menu .resmenu-container .navbar-toggle {
    background-color: #222;
  }
  .header-style2 .header-bottom #main-menu .primary-menu .resmenu-container .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .header-style2 .header-bottom .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    border: 1px solid #ff5c00;
    margin-top: 11px;
  }
  .header-style3 .header-top .widget_nav_menu ul.menu {
    right: 0;
    left: auto;
  }
  .rtl .header-style3 .header-top .widget_nav_menu ul.menu {
    left: 0;
    right: auto;
  }
  .header-style4 .header-top .header-close {
    opacity: 1;
    visibility: visible;
  }
  .header-mid .contact-us {
    padding: 15px 15px 10px 45px;
  }
  .search-cate {
    margin: 20px 15px 0;
  }
  .search-cate .styleshop_top {
    padding: 0;
  }
  .search-cate .top-form.top-search {
    min-width: 510px;
    margin: 0;
  }
  .header-style8 .vertical_megamenu {
    display: none;
  }
  .styleshop-logo {
    text-align: center;
  }
  .styleshop-logo a {
    display: inline-block;
  }
  .header-style4 .resmenu-container .menu-responsive-wrapper {
    min-width: 255px;
  }
  .home-style8 .footer .footer-copyright .sidebar-copyright {
    float: none;
  }
  .vertical_megamenu-header .mega-left-title {
    display: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    visibility: visible;
  }
  .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    display: block;
    position: relative;
    z-index: 4;
  }
  .header-style1 .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    background-color: #222;
  }
  .rtl .vertical_megamenu-header .wrapper_vertical_menu .resmenu-container .navbar-toggle {
    float: right;
  }
  .vertical_megamenu-header .vertical-megamenu {
    display: none;
  }
  .header-style3 .main-menu {
    float: left;
  }
  .rtl .header-style3 .main-menu {
    float: right;
  }
  .header-style3 .main-menu .primary-menu .resmenu-container .navbar-toggle {
    margin: 4px;
  }
  .header-style3 #main-menu .primary-menu .resmenu-container .navbar-toggle {
    margin: 21px 0;
  }
  .header-style4 .top-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    left: auto;
    margin-left: 0;
    min-height: 54px;
    position: relative;
    text-align: center;
    top: auto;
    width: auto;
  }
  .rtl .header-style4 .top-header {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    right: auto;
    margin-right: 0;
    position: relative;
    top: auto;
    float: none;
  }
  .header-style4 .top-header .styleshop-logo {
    padding: 20px 0;
  }
  .slideshow-home1 .wpb_revslider_element {
    width: 100%;
    float: none;
  }
  .slideshow-home1 .wpb_single_image {
    float: left;
    width: 33.33%;
  }
  .header-style1 .header-bottom .resmenu-container .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .header-style1 .header-bottom .resmenu-container .navbar-toggle .icon-bar:hover {
    background-color: #fff;
  }
  .header-style1 .header-mid {
    text-align: center;
  }
  .header-style1 .header-mid .main-menu {
    float: none;
    display: inline-block;
  }
  .home-style4 .sw-brand-container-slider .slider {
    padding: 0 50px;
  }
  .home-style4 .sw-brand-container-slider .slider .item-brand-cat .item-image {
    text-align: center;
  }
  .home-style4 .sw-brand-container-slider .slider .item-brand-cat .item-image a img {
    display: inline-block;
  }
  .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-right: 10px;
  }
  .rtl .quickview-container .product_detail .content_product_detail .social-share .title-share {
    padding-left: 10px;
    padding-right: 0;
  }
  .image-home5 .wpb_single_image {
    display: none;
  }
  .countdown-slider .slider .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-section {
    margin-right: 10px;
  }
  .rtl .countdown-slider .slider .item-countdown .item-wrap .item-detail .item-content .product-countdown .countdown-section {
    margin: 0 0 0 10px;
  }
  .slideshow-home1 {
    margin: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .tab-pane .responsive-slider .slider .item .item-wrap {
    padding: 4px 0 5px;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    left: 90px;
    right: auto;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .button-collapse {
    right: 90px;
    left: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content.style1 .nav-tabs-select ul {
    left: 0;
    right: auto;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content.style1 .nav-tabs-select ul {
    right: 0;
    left: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    position: absolute;
    top: 5px;
    z-index: 99;
    display: block;
    background: #cccccc none repeat scroll 0 0;
    border-radius: 3px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    right: 90px;
    text-align: center;
    width: 30px;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:hover {
    background: #bf9a61;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse {
    left: 90px;
    right: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .button-collapse:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select {
    display: block;
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul {
    padding: 0;
    border: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 40px;
    z-index: 99;
    right: 0px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: #fff;
    width: 200px;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul {
    left: 0;
    right: auto;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li {
    list-style: none;
    line-height: 40px;
    float: none !important;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:first-child > a {
    border-top: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a {
    font-size: 12px;
    line-height: 22px;
    color: #444;
    display: block;
    padding: 9px 20px;
    border-top: 1px solid #ddd;
    border-radius: 0;
    margin: 0;
  }
  .rtl .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a {
    text-align: right;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li > a:after {
    width: 0;
    height: 0;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li.active > a,
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:hover > a {
    background-color: #bf9a61;
    color: #fff !important;
    border-top: 1px solid #bf9a61;
  }
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li.active > a:before,
  .sw-woo-tab-default .resp-tab .category-slider-content .nav-tabs-select ul > li:hover > a:before {
    opacity: 0 !important;
  }
  .service-home4 ul > li {
    width: 100% !important;
    padding: 10px 0;
  }
  .footer .footer-top .newsletter {
    padding: 0;
  }
  .footer .footer-top .follow-us h3 {
    text-align: left;
  }
  .rtl .footer .footer-top .follow-us h3 {
    text-align: right;
  }
  .sw-child-cat .child-top .childcat-content {
    padding: 21px 15px 20px;
  }
  .rtl .sw-child-cat .child-top .childcat-content {
    padding: 21px 15px 20px;
  }
  .block-home-2 .block-infos .info {
    width: 33.333%;
  }
  .block-home-2 .block-infos .info.info4,
  .block-home-2 .block-infos .info.info5 {
    display: none;
  }
  .widget_sp_image {
    text-align: center;
  }
  .widget_sp_image img {
    display: inline-block;
    width: auto;
  }
  .wrapper_404 .content_404 .erro-image {
    text-align: center;
    margin-bottom: 30px;
  }
  .wrapper_404 .content_404 .erro-image img {
    display: inline-block;
  }
  .wrapper_404 .content_404 .block-top {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-top {
    text-align: center;
  }
  .wrapper_404 .content_404 .block-middle {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-middle {
    text-align: center;
  }
  .wrapper_404 .content_404 .block-middle .top-form {
    float: none;
    display: inline-block;
  }
  .wrapper_404 .content_404 .block-bottom {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-bottom {
    text-align: center;
  }
  .rtl .wrapper_404 .content_404 .block-bottom .btn-404 {
    float: none;
  }
  .contact-us .wpcf7 input[type="submit"] {
    margin: 0 0 40px;
  }
  .wrapper_404 .content_404 .block-middle .styleshop_search_404 .top-search .topsearch-entry .form-search {
    width: 100%;
  }
  .product_detail .content_product_detail .social-share {
    margin-bottom: 30px;
  }
  .footer .footer-block1 .block-infos .info {
    width: 33.333%;
  }
  .footer .footer-block1 .block-infos .info.info4,
  .footer .footer-block1 .block-infos .info.info5 {
    display: none;
  }
  .sw-child-cat2 .child-top {
    float: none;
  }
  .sw-child-cat2 .child-top .box-title {
    min-width: 30%;
  }
  .sw-child-cat2 .child-top .childcat-content {
    width: 70%;
  }
  .sw-child-cat2 .child-top .childcat-content ul > li > a {
    padding: 0 30px;
  }
  .sw-child-cat2 .resp-slider-container .item:first-child {
    width: 38%;
  }
  .footer .footer-top .newsletter::before,
  .footer .footer-top .find-store:before {
    width: 0;
    height: 0;
  }
  .footer .footer-contact .newsletter-footer .form-newsletter input[type="email"] {
    min-width: 300px;
  }
  .footer .footer-contact .socials-footer {
    padding: 0 0 20px;
  }
  .footer .footer-contact .socials-footer h3 {
    float: right;
    margin: 0 0px 0 20px;
  }
  .rtl .header-bottom .header-right {
    float: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .header-style2 .header-mid {
    text-align: center;
  }
  .header-style2 .header-mid .contact-us {
    display: none;
  }
  .header-style2 .header-mid .search-cate {
    float: none;
    display: inline-block;
    margin: 0;
  }
  .header-style2 .header-mid .search-cate .top-form.top-search {
    width: 510px;
    margin: 20px 0 0;
    min-width: 510px;
  }
  .sw-child-cat2 .child-top .childcat-content {
    border-bottom: 1px solid #ebebeb;
  }
  .sw-child-cat2 .child-top .childcat-content ul > li > a {
    padding: 0 13px;
  }
  .rtl .footer .footer-contact .socials-footer h3 {
    margin: 0 0 0 20px;
  }
  .rtl .header-mid .contact-us {
    padding: 15px 55px 10px 10px;
  }
  .rtl .header-style5 .header-mid .contact-us {
    background: url("../assets/img/bg_general.png") no-repeat 167px -1955px;
  }
  .header-style5 .header-mid .styleshop-logo {
    margin-bottom: 20px;
  }
  .header-style2	.vertical_megamenu .resmenu-container .navbar-toggle .icon-bar {
    background-color: #bf9a61;
  }
  .home-style2 .wpb_single_image {
    display: none;
  }
  .block2-home3 .wrap-content .item .item-img .link-shop {
    margin-left: -75px;
  }
  .block2-home3 .wrap-content .item .item-img .link-shop a {
    width: 150px;
  }
  .block2-home3 .wrap-content .item.col-left {
    padding: 20px 0;
  }
  .block2-home3 .wrap-content .item.col-right {
    padding-top: 5px;
  }
  #subscribe_popup {
    min-width: 680px;
  }
  .resp-tab .tab-pane .responsive-slider .slider .item .item-wrap .item-detail .item-content {
    padding: 10px 0 20px;
  }
  .home-style4 .header-style4 .container {
    max-width: 750px;
  }
  .item .item-wrap .item-detail .item-content .item-bottom .add_to_cart_button,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_external,
  .item .item-wrap .item-detail .item-content .item-bottom .product_type_grouped {
    padding: 0 7px;
  }
  .rtl .top-form .wrapp-minicart {
    left: 0;
  }
  .product_detail .content_product_detail .cart .group_table tbody tr td .quantity {
    width: 100px;
  }
  .styleshop_top .top-form.top-search .cat-wrapper:before {
    right: 10px;
  }
  .rtl .styleshop_top .top-form.top-search .cat-wrapper:before {
    left: 10px;
    right: auto;
  }
  .footer .footer-top .follow-us h3 {
    text-align: center;
  }
  .footer .footer-top .find-store .store {
    margin-top: 15px;
  }
  .container-home4 .wpb_wrapper {
    max-width: 750px;
  }
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
  }
}
@media (max-width: 767px) {
  body .container {
    padding: 0 15px;
  }
  .products-thumb a.fancybox {
    display: none !important;
  }
  .header-style1 .header-mid.sticky-menu,
  .header-style2 .header-bottom.sticky-menu,
  .header-style3 .header-bottom.sticky-menu,
  .header-style6 .header-bottom.sticky-menu,
  .header-style5 .header-bottom.sticky-menu,
  .header-style7 .header-bottom.sticky-menu,
  .header-style8 .header-bottom.sticky-menu {
    position: relative;
  }
  #cpanel-form a.cpanel-control {
    display: none;
  }
  .container-home4 .wpb_wrapper {
    padding: 0 15px;
  }
  .header-style5 .header-top {
    text-align: center;
  }
  .header-style5 .header-top .top-header {
    display: inline-block;
  }
  .header-style5 .header-top .top-header .header-message {
    display: none;
  }
  #subscribe_popup {
    min-width: 600px;
    padding: 19px 68px 25px 68px;
  }
  .single-portfolio .portfolio-top .portfolio-content .single-thumbnail {
    width: 100%;
    float: none;
    margin: 0 0 30px;
  }
  .sw-child-cat.style1 .slider {
    border-right: 1px solid #e1e1e1;
  }
  .sw-child-cat .child-top {
    position: relative;
    float: none;
    min-width: 100%;
  }
  .sw-child-cat .child-top .box-title .button-collapse {
    position: absolute;
    top: 5px;
    z-index: 99;
    display: block;
    background: #cccccc none repeat scroll 0 0;
    border-radius: 3px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    right: 10px;
    text-align: center;
    width: 30px;
  }
  .sw-child-cat .child-top .box-title .button-collapse:hover {
    background: #bf9a61;
  }
  .rtl .sw-child-cat .child-top .box-title .button-collapse {
    left: 10px;
    right: auto;
  }
  .sw-child-cat .child-top .box-title .button-collapse:before {
    content: '\f0c9';
    font-family: FontAwesome;
    font-size: 16px;
    color: #fff;
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
  }
  .sw-child-cat .child-top .childcat-content {
    padding: 0;
    border: 0;
    height: 0;
    margin: 0;
    overflow: hidden;
    text-align: left;
    position: absolute;
    top: 44px;
    z-index: 99;
    right: 0;
    box-shadow: 0 3px 3px rgba(0,0,0,0.3);
    background: #fff;
    width: 200px;
  }
  .rtl .sw-child-cat .child-top .childcat-content {
    padding: 0;
    left: 0;
    right: auto;
  }
  .sw-child-cat .child-top .childcat-content ul > li {
    list-style: none;
    line-height: 40px;
    float: none !important;
    width: 100%;
    border-radius: 0;
    border: 0;
    background-color: #fff;
  }
  .sw-child-cat .child-top .childcat-content ul > li > a {
    font-size: 14px;
    line-height: 22px;
    color: #444;
    display: block;
    padding: 9px 20px;
    border-top: 1px solid #ddd;
    border-radius: 0;
  }
  .rtl .sw-child-cat .child-top .childcat-content ul > li > a {
    text-align: right;
  }
  .sw-child-cat .child-top .childcat-content ul > li > a:after {
    width: 0;
    height: 0;
  }
  .sw-child-cat .child-top .childcat-content ul > li:hover > a {
    background-color: #bf9a61;
    color: #fff !important;
    border-top: 1px solid #bf9a61;
  }
  .sw-child-cat .child-top .childcat-content ul > li:hover > a:before {
    opacity: 0 !important;
  }
  .sw-child-cat .slider {
    border-left: 1px solid #e1e1e1;
  }
  .rtl .slideshow-home1 .wpb_revslider_element {
    float: none;
    width: 100%;
    min-width: 100%;
    margin: 0;
  }
  .has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-sidebar .category-contents,
  .has-left-sidebar .single.main {
    float: none;
  }
  .has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-sidebar .category-contents,
  .has-right-sidebar .single.main {
    float: none;
  }
  .has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .has-left-product-sidebar #contents-detail,
  .has-left-product-sidebar #contents {
    float: none;
  }
  .has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .has-right-product-sidebar #contents-detail,
  .has-right-product-sidebar #contents {
    float: none;
  }
  .vertical_megamenu-header .wrapper_vertical_menu {
    min-width: auto;
  }
  .footer .footer-newsletter5 .form-newsletter input[type="submit"] {
    padding: 0 18px;
  }
  .footer .footer-bottom3 {
    padding: 20px 0;
  }
  .rtl .footer .footer-block1 .block-infos .info .inner {
    border-right: 0;
  }
  .rtl.has-left-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-sidebar .category-contents,
  .rtl.has-left-sidebar .single.main {
    float: none;
  }
  .rtl.has-right-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-sidebar .category-contents,
  .rtl.has-right-sidebar .single.main {
    float: none;
  }
  .rtl.has-left-product-sidebar #left {
    float: none;
    clear: both;
  }
  .rtl.has-left-product-sidebar #contents-detail,
  .rtl.has-left-product-sidebar #contents {
    float: none;
  }
  .rtl.has-right-product-sidebar #right {
    float: none;
    clear: both;
  }
  .rtl.has-right-product-sidebar #contents-detail,
  .rtl.has-right-product-sidebar #contents {
    float: none;
  }
}
@media (max-width: 640px) {
  #subscribe_popup {
    min-width: 470px;
    padding: 24px 18px 25px 18px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-social {
    margin-top: 42px;
  }
}
@media (max-width: 480px) {
  #comments .commentlist .children {
    margin-left: 10px;
  }
  .rtl #comments .commentlist .children {
    margin-right: 10px;
    margin-left: 0;
  }
  #comments .comment .author {
    float: none !important;
    margin-bottom: 10px;
  }
  #comments .comment .media-body {
    padding: 0 !important;
  }
  #comments .comment .media-body .media .media-heading .time {
    padding: 0 10px;
  }
  #respond .wp-comment .title {
    font-size: 14px;
  }
  .styleshop-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item-title {
    display: none;
  }
  .styleshop-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-more,
  .styleshop-portfolio.masonry .portfolio-container ul.portfolio-content >li .portfolio-item-inner .portfolio-in .p-item-content .p-item.item-popup {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
  }
  #subscribe_popup {
    padding: 48px 18px 25px 18px;
    min-width: 250px;
  }
  #subscribe_popup .subscribe-popup-container h2 {
    font-size: 20px;
  }
  #subscribe_popup .subscribe-popup-container .description {
    font-size: 14px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-form input[type="email"] {
    width: 210px;
  }
  #subscribe_popup .subscribe-popup-container .subscribe-getit a {
    width: 210px;
  }
}
@media (max-width: 360px) {
  .rtl.woocommerce div.product form.cart .group_table td.label {
    text-align: right;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .header.header-style3 .header-bottom .styleshop-logo {
    padding: 26px 28px 27px 0;
  }
  .rtl .header.header-style3 .header-bottom .styleshop-logo {
    padding: 26px 0 27px 28px;
  }
  .home-style3 .wrap-full-banner .full-banner ul.banner-list li.banner-item .text-banner {
    top: 29px;
  }
  .home-style3 .wrap-full-banner .full-banner ul.banner-list li.banner-item:last-child .text-banner {
    top: 29px;
  }
  .footer-style2 .wrap-newletter p {
    padding: 0 245px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .home-style3 .responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content .des-cat {
    margin: 0 0 6px;
  }
  .home-style3 .responsive-listing-banner .banner-listing-container .item-product-cat.item-center .item-wrap .item-content-center .item-title h2 {
    font-size: 26px;
  }
  .footer-style2 .wrap-newletter p {
    padding: 0 140px;
  }
}
@media (max-width: 767px) {
  .header.header-style3 .header-bottom {
    margin: 0 0 0;
  }
  .header.header-style3 .header-bottom .top-header {
    float: none;
  }
  .header.header-style3 .header-bottom .styleshop-logo {
    padding: 20px 0 0;
  }
  .header.header-style3 #lang_sel {
    padding: 6px 0 8px;
  }
  .wrap-box .wrap-in {
    margin-top: 0;
  }
  .footer-style2 .wrap-newletter p {
    padding: 0 30px;
  }
}
@media (max-width: 479px) {
  .header.header-style3 .header-bottom .sw_top.pull-left .top-form.top-search.open {
    width: 223px;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .wrap-banner .item1 .content {
    margin-top: -70px;
    right: 30px;
  }
  .rtl .wrap-banner .item1 .content {
    right: auto;
    left: 30px;
  }
  .wrap-banner .item1 .content h3 {
    font-size: 20px;
    margin: 0 0 10px;
  }
  .wrap-banner .item1 .content h4 {
    font-size: 18px;
    margin: 0 0 10px;
  }
  .wrap-banner .item1.item3 .content {
    left: -25px;
  }
  .rtl .wrap-banner .item1.item3 .content {
    right: -25px;
    left: auto;
  }
  .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section {
    width: 45px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .wrap-banner .item2 {
    display: none;
  }
  .wrap-banner .item1 {
    width: 50%;
  }
  .wrap-banner .item1 .content {
    width: auto;
    right: 30px;
    margin-top: -86px;
  }
  .rtl .wrap-banner .item1 .content {
    right: auto;
    left: 30px;
  }
  .wrap-banner .item1.item3 .content {
    left: 30px;
  }
  .rtl .wrap-banner .item1.item3 .content {
    right: 30px;
    left: auto;
  }
}
@media (max-width: 767px) {
  .home-style4 .btt {
    top: 241px;
  }
  .header.header-style4 #lang_sel {
    padding: 32px 0 36px;
  }
  .header.header-style4 .top-form .wrapp-minicart {
    right: 0;
    left: auto;
  }
  .rtl .header.header-style4 .top-form .wrapp-minicart {
    right: auto;
    left: 0;
  }
  .wrap-banner .item1 {
    display: none;
  }
  .wrap-banner4 .banner {
    width: 50%;
  }
  .wrap-banner4 .banner-display {
    display: none;
  }
  .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li {
    float: none;
    margin: 0 0 15px;
  }
  .rtl .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li {
    margin: 0 0 15px;
  }
  .sw-woo-tab-cat .resp-tab .top-tab-slider .nav.nav-tabs > li a {
    margin: 0;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section {
    margin-right: 5px;
    width: 45px;
  }
  .rtl .countdown-slider .resp-slider-container .slick-slider .slick-list .slick-track .item-countdown .item-wrap .item-detail .item-image-countdown .product-countdown .countdown-row .countdown-section {
    margin-right: 0;
    margin-left: 5px;
  }
  .sw-category-slider .slider .slick-list .item-product-cat .item-content {
    margin-left: -90px;
  }
  .sw-category-slider .slider .slick-list .item-product-cat .item-content h3 a {
    min-width: 180px;
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .header.header-style4 .header-top .text-top .text-sale {
    display: none;
  }
  .header.header-style4 .header-top .wrap-myacc {
    padding: 10px 0;
  }
  .header.header-style4 .header-bottom {
    position: relative;
  }
  .header.header-style4 .header-bottom .top-header {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
  }
  .header.header-style4 .header-bottom .top-header .styleshop-logo {
    padding: 0;
  }
  .header.header-style4 .header-bottom .sw_top.pull-left .top-form.top-search.open {
    width: 225px;
  }
  .wrap-banner4 {
    display: none;
  }
}
@media (max-width: 1366px) {
  .nav-pills >li > a {
    padding: 18px 19px;
  }
  .nav-pills.nav-css >li > a {
    padding: 18px 19px;
  }
  .top-form.top-form-minicart {
    padding: 11px 58px 10px 18px;
  }
  .top-form.top-form-minicart .top-minicart .text-cart {
    font-size: 12px;
  }
  .sticky-menu .nav-pills >li > a {
    padding: 22px 19px;
  }
  .sticky-menu .top-form.top-form-minicart {
    padding: 15px 58px 15px 18px;
  }
  .sticky-menu .top-form.top-form-minicart .top-minicart .text-cart {
    font-size: 12px;
  }
  .top-form .wrapp-minicart {
    top: 47px;
  }
}
@media (max-width: 1400px) and (min-width: 1200px) {
  .custom.tparrows.tp-leftarrow {
    left: 80px !important;
  }
  .custom.tparrows.tp-rightarrow {
    left: 94% !important;
  }
}
@media (min-width: 1200px) {
  .clear_lg {
    clear: both;
  }
}
@media (max-width: 1200px) {
  #comments ul.children {
    margin-left: 30px;
  }
  .rtl #comments ul.children {
    margin-left: 0;
    margin-right: 30px;
  }
}
@media (max-width: 1199px) and (min-width: 768px) {
  .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content {
    margin-top: -48px;
    text-align: left;
    left: 20px;
  }
  .rtl .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content {
    left: 20px;
    right: auto;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content .des-cat {
    font-size: 12px;
    margin: 0 0 5px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content h4 {
    max-width: 143px;
    margin: 0 0 5px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content h4 a {
    font-size: 12px;
    line-height: normal;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content .view-all a {
    font-size: 11px;
    height: 28px;
    line-height: 28px;
    letter-spacing: normal;
    padding: 0 10px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-right .item-wrap .item-content {
    right: 20px;
    text-align: right;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title {
    margin-top: -33px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title h2 {
    font-size: 16px;
    margin: 0 0 0px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title h2 span {
    line-height: 15px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title h5 {
    margin: 0 0 5px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title h5 a {
    font-size: 11px;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-center .item-title .des-cat {
    font-size: 9px;
  }
  .sw-woocommerce-collection .box-slider-title h2:before,
  .sw-woocommerce-collection .box-slider-title h2:after,
  .sw-woocommerce-collection .block-title h2:before,
  .sw-woocommerce-collection .block-title h2:after {
    display: none;
  }
}
@media (max-width: 1199px) and (min-width: 992px) {
  .clear_md {
    clear: both;
  }
  .rtl [class*="col-md-"],
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .wpb_revslider_element .rev_slider_wrapper ul > li.tp-revslider-slidesli  .tp-parallax-wrap .tp-caption.rev-btn {
    display: none !important;
  }
  .sticky-menu .top-form.top-form-minicart {
    padding: 15px 20px 15px 18px;
  }
  .rtl .sticky-menu .top-form.top-form-minicart {
    padding: 15px 18px 15px 20px;
  }
  .wrap-transport .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .wrap-transport .row .item {
    padding: 0 10px;
  }
  .wrap-transport .row .item .content h3,
  .wrap-transport .row .item .content p {
    overflow: hidden;
  }
  .wrap-newletter h3 {
    letter-spacing: 0px;
    margin: 0 15px 0 0;
  }
  .rtl .wrap-newletter h3 {
    margin: 0 0 0 15px;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
    width: 300px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content {
    top: 40px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-3col .item-wrap .item-content {
    top: 31px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-center .item-wrap .item-content-center .item-title {
    top: 35px;
  }
  .single-product .product_detail .content_product_detail .cart .quantity {
    margin: 0 0 15px;
  }
  .rtl .single-product .product_detail .content_product_detail .cart .quantity {
    float: right;
  }
  .single-product .product_detail .content_product_detail .cart .single_add_to_cart_button {
    clear: both;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img {
    width: 300px;
  }
}
@media (max-width: 991px) {
  .resmenu-container .menu-responsive-wrapper {
    max-height: 287px;
    overflow-x: auto;
  }
  .sidebar,
  .content,
  .single {
    width: 100%;
    float: none;
  }
  .mid-header {
    position: relative;
  }
  .category-contents .blog-content.blog-content-default .post .entry .entry-thumb,
  .category-contents .blog-content.blog-content-default .post .entry .entry-content {
    width: 100%;
    float: none;
  }
  .about_us .about-item .img {
    float: none;
    margin: 0 0 40px;
  }
  .rtl .about_us .about-item .img {
    float: none;
    margin: 0 0 40px;
  }
  .woocommerce .item-bottom .fancybox,
  .item-bottom .fancybox {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #cpanel-form a.cpanel-control {
    display: none;
  }
  .rtl [class*="col-sm-"],
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .rtl .header .header-bottom .top-form {
    padding: 6px 18px 6px 58px;
  }
  .header-style1 #main-menu .primary-menu .resmenu-container .navbar-toggle {
    margin: 0;
    border: none;
    background: #000;
    border-radius: 0;
    padding: 15px 15px;
  }
  .top-form.top-form-minicart {
    padding: 6px 58px 6px 18px;
  }
  .top-form.top-form-minicart .top-minicart .text-cart {
    font-size: 12px;
  }
  .top-form .wrapp-minicart {
    top: 47px;
  }
  .header .header-top .top-header {
    padding: 15px 0 0;
  }
  .header .header-top .wrap-myacc {
    padding: 23px 0 0;
  }
  .header .header-top .top2 .sw_top h3 {
    margin: 12px 0 10px;
  }
  .header .header-top .sidebar-account .my-account {
    top: 32px;
    z-index: 100;
  }
  .header .header-bottom {
    margin-top: 7px;
  }
  .header .header-bottom.sticky-menu {
    margin: 0;
  }
  .header .header-bottom.sticky-menu .top-form.top-form-minicart {
    padding: 7px 58px 7px 18px;
  }
  .header .header-bottom.sticky-menu .logo-menu {
    padding: 15px 0 0;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left h3 {
    margin: 8px 0 0;
  }
  #lang_sel {
    padding: 20px 0 0;
  }
  #lang_sel > ul.nav > li > ul {
    top: 31px;
  }
  .widget_currency_converter {
    padding: 24px 14px 0;
  }
  .currency_w > li .currency_switcher {
    top: 31px;
  }
  .wrap-full-banner .full-banner ul.banner-list li.banner-item {
    display: block;
  }
  .wrap-full-banner .full-banner ul.banner-list li.banner-item:first-child .text-banner {
    left: 130px;
    right: auto;
  }
  .rtl .wrap-full-banner .full-banner ul.banner-list li.banner-item:first-child .text-banner {
    right: 130px;
    left: auto;
  }
  .wrap-full-banner .full-banner ul.banner-list li.banner-item:last-child {
    display: none;
  }
  .wrap-newsletter-social .vc_col-sm-9,
  .wrap-newsletter-social .vc_col-sm-3 {
    width: 100%;
  }
  .wrap-sub-social .vc_col-sm-9 {
    width: 65%;
  }
  .wrap-sub-social .vc_col-sm-3 {
    width: 35%;
  }
  .wrap-newletter h3 {
    display: none;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
    width: 276px;
  }
  .shop-social {
    text-align: center;
  }
  .shop-social ul {
    margin: 0 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .rtl .shop-social ul {
    float: none;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content {
    top: 19px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-3col .item-wrap .item-content {
    top: 5px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-center .item-wrap .item-content-center .item-title {
    top: 8px;
  }
  .sw-woocommerce-collection .sw-collection-container .flex-item .item .item-wrap .item-detail .item-content .item-price del {
    margin: 2px 0 0 5px;
  }
  .rtl .sw-woocommerce-collection .sw-collection-container .flex-item .item .item-wrap .item-detail .item-content .item-price del {
    margin: 2px 5px 0 0;
  }
  .rtl.woocommerce div.product form.cart div.quantity {
    float: right;
    margin: 0 0 0 4px;
  }
  .footer .footer-style1 .about-footer p {
    padding-right: 30px;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .copyright-text {
    float: none;
    margin: 0 0 15px;
  }
  .footer .footer-copyright .sidebar-copyright {
    float: none;
    display: inline-block;
  }
  .wrap-transport .row {
    margin: 0 -10px;
  }
  .wrap-transport .item {
    width: 25%;
    padding: 0 10px;
  }
  .wrap-transport .item .content {
    text-align: center;
  }
  .wrap-transport .item .content:before {
    display: none;
  }
  .widget-latest-blog .blog-content .blog-item .widget-content-wrap .widget-content .entry-meta .meta-entry a {
    font-size: 9px;
  }
}
@media (max-width: 767px) {
  .rtl.woocommerce #customer_login .col-lg-6,
  .rtl.woocommerce-page #customer_login .col-lg-6 {
    float: none;
  }
  .clear_xs {
    clear: both;
  }
  .rtl .block-text1-home4 [class*="col-lg-"] {
    float: none;
  }
  .rtl [class*="col-xs-"] {
    float: right;
  }
  .rtl .header .header-top .sidebar-account .account-title {
    border: none;
    padding: 0;
  }
  .rtl .header .header-bottom .top-form {
    padding: 6px 18px 6px 58px;
  }
  .home.page .header,
  .home-style2.page .header {
    position: static;
    background: url("../assets/img/bg-header.jpg") no-repeat;
    background-size: cover;
  }
  .header-style1 #main-menu .primary-menu .resmenu-container .navbar-toggle {
    margin: 0;
    border: none;
    background: #000;
    border-radius: 0;
    padding: 15px 15px;
  }
  .header .header-top .top1 {
    display: none;
  }
  .header .header-top .sidebar-account .account-title {
    border: none;
    padding: 0;
  }
  .header .header-top .sidebar-account .my-account {
    z-index: 100;
  }
  .header .header-top .top2 .sw_top {
    position: absolute;
    top: 93px;
    right: 15px;
    z-index: 1;
  }
  .header .header-top .top2 .sw_top h3 {
    margin: 0;
  }
  .header .header-top .top2 .sw_top h3:before {
    border: none;
    background: #000;
    height: 47px;
    width: 47px;
    line-height: 47px;
  }
  .rtl .header .header-top .top2 .sw_top h3.off:before {
    left: 0;
    right: auto;
  }
  .rtl .header .header-top .top2 .sw_top {
    left: 15px;
    right: auto;
  }
  .header .header-bottom .menu-cart {
    background: #bf9a61;
  }
  .header .header-bottom .bottom-header {
    float: left;
    width: 82%;
    background: #bf9a61;
  }
  .header .header-bottom .bottom-header .sw_top {
    float: none;
  }
  .rtl .header .header-bottom .bottom-header {
    float: right;
  }
  .rtl .header .header-bottom .bottom-header .sw_top {
    float: none;
  }
  .header .header-bottom .top-form {
    float: none;
  }
  .header .header-bottom.sticky-menu {
    margin: 0;
  }
  .header .header-bottom.sticky-menu .logo-menu {
    display: none;
  }
  .header .header-bottom.sticky-menu .menu-cart {
    background: #bf9a61;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1;
  }
  .rtl .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left {
    left: 15px;
    right: auto;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left h3 {
    margin: 0;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left h3:before {
    border: none;
    background: #000;
    height: 47px;
    width: 47px;
    line-height: 47px;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left h3.off:before {
    background: none;
    height: 4px;
    width: 4px;
    line-height: normal;
    top: 3px;
  }
  .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left .top-form.top-search {
    right: 0;
    padding: 0;
    top: 15px;
  }
  .rtl .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left .top-form.top-search {
    left: 0;
    right: auto;
  }
  .header .header-bottom.sticky-menu .top-form.top-form-minicart {
    padding: 6px 18px 7px 18px;
  }
  .rtl .header .header-bottom.sticky-menu .top-form.top-form-minicart {
    padding: 6px 18px 7px 18px;
  }
  .header .header-top .top2 .sw_top .top-form.top-search .topsearch-entry .form-search .search-query,
  .header .header-top .top2 .sw_top .top-form.top-search .topsearch-entry .form-search .button-search-pro {
    height: 45px;
  }
  .mid-header {
    position: relative;
  }
  #lang_sel {
    padding: 31px 0;
  }
  #lang_sel > ul.nav > li > a {
    font-size: 0;
  }
  .widget_currency_converter {
    padding: 38px 14px;
  }
  .widget_currency_converter h3 {
    display: none;
  }
  .currency_w > li .currency_switcher {
    left: auto;
    right: 0;
  }
  .rtl .currency_w > li .currency_switcher {
    left: 0;
    right: auto;
  }
  .top-form.top-form-minicart {
    padding: 6px 18px 6px 18px;
  }
  .rtl .top-form.top-form-minicart {
    padding: 6px 18px 6px 18px;
  }
  .top-form.top-form-minicart .top-minicart .text-cart {
    font-size: 12px;
  }
  .top-form .wrapp-minicart {
    right: auto;
    left: -52px;
    top: 100%;
    width: 290px;
  }
  .rtl .top-form .wrapp-minicart {
    right: -52px;
    left: auto;
  }
  .wrap-full-banner {
    display: none;
  }
  .wrap-newletter h3 {
    display: block;
    margin: 0 0 10px;
    text-align: center;
  }
  .rtl .wrap-newletter h3 {
    margin: 0 0 10px;
  }
  .wrap-newletter .mc4wp-form {
    display: block;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
    width: 70%;
    margin: 0 2% 0 0;
  }
  .rtl .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
    margin: 0 0 0 2%;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-submit {
    width: 27%;
  }
  .shop-social {
    text-align: center;
  }
  .shop-social ul {
    margin: 20px 0 0;
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .rtl .shop-social ul {
    float: none;
  }
  .wrap-transport {
    display: none;
  }
  .sw-woocommerce-collection .sw-collection-container .box-collection-center,
  .sw-woocommerce-collection .sw-collection-container .box-collection-right {
    padding-top: 20px !important;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-3col {
    width: 100%;
  }
  .responsive-listing-banner2 .banner-listing-container .item-product-cat {
    width: 100%;
    float: none;
    margin-bottom: 30px;
  }
  .wrap-arrival .wrap-in {
    margin: 0;
  }
  .sw-woocommerce-collection {
    margin: 0;
  }
  .sw-woocommerce-collection .sw-collection-container {
    display: block;
  }
  .sw-woocommerce-collection .sw-collection-container .flex-item {
    width: 100%;
  }
  .styleshop_breadcrumbs h1 {
    float: none;
    margin-bottom: 15px;
    width: auto;
  }
  .rtl .styleshop_breadcrumbs h1 {
    float: none;
  }
  .styleshop_breadcrumbs .breadcrumbs {
    float: none;
    width: auto;
    text-align: left;
  }
  .rtl .styleshop_breadcrumbs .breadcrumbs {
    float: none;
    text-align: right;
  }
  .single-post-relate .category-blog,
  .single-post-relate .post {
    margin: 0 0 30px;
  }
  .footer .footer-style1 .wrap-cus .widget_nav_menu ul li {
    float: none;
    display: inline-block;
  }
  .footer .footer-style1 .wrap-cus .widget_nav_menu ul li a {
    border: none;
  }
  .rtl .footer .footer-style1 .wrap-cus .widget_nav_menu ul li {
    float: none;
  }
  .rtl .footer .footer-style1 .wrap-cus .widget_nav_menu ul li a {
    border: none;
  }
  .footer .footer-copyright {
    text-align: center;
  }
  .footer .footer-copyright .copyright-text {
    float: none;
    margin: 0 0 15px;
  }
  .footer .footer-copyright .sidebar-copyright {
    float: none;
    display: inline-block;
  }
  .footer .widget_nav_menu ul.menu {
    display: none;
  }
  .footer .footer-style1 .about-footer {
    margin-bottom: 15px;
  }
  .footer .footer-style1 .widget_nav_menu h2,
  .footer .footer-style1 .infomation h2 {
    margin: 15px 0;
  }
  .footer .widget_nav_menu .widgettitle .icon-footer:before {
    content: '\f0d7';
    color: #fff;
    font-family: fontawesome;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px;
  }
  .products-wrapper .products-loop.list .item {
    margin: 0 0 35px;
  }
  .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img {
    float: none;
    margin: 0 0 30px;
    width: 100%;
  }
  .rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img {
    float: none;
    margin: 0 0 30px;
  }
  .products-wrapper .products-nav .catalog-ordering .orderby-order-container .product-number {
    display: none;
  }
  .single.main .post .entry-wrap .entry-content .single-content-bottom .social-share,
  .single.main .post .entry-wrap .entry-content .single-content-bottom .single-tag {
    float: none;
  }
  .single.main .post .entry-wrap .entry-content .single-content-bottom,
  .single.main .team .entry-wrap .entry-content .single-content-bottom,
  .single.main .attachment .entry-wrap .entry-content .single-content-bottom {
    padding-bottom: 20px;
  }
  #respond .wp-comment .form-horizontal .cmm-box-top .control-group {
    width: 100%;
    float: none;
  }
  .contact-bonus .form-contact .info-contact {
    float: none;
    width: 100%;
  }
  .contact-bonus .form-contact .info-comment {
    float: none;
    width: 100%;
    margin: 0 0 30px;
  }
  .contact-bonus.contact-bonus2 .form-contact .info-contact p {
    float: none;
    width: 100%;
  }
  .wrapper_404 .content_404 .erro-image .erro-content {
    top: 71px;
    margin-left: -221px;
  }
  .wrapper_404 .content_404 .erro-image .erro-content h2 {
    font-size: 30px;
  }
  .wrapper_404 .content_404 .erro-image .erro-content p {
    font-size: 11px;
  }
  .btt {
    top: 306px;
  }
  .vc_row.vc_custom_1490338839636 {
    margin-top: 0px !important;
  }
}
@media (max-width: 767px) and (min-width: 480px) {
  .header .header-bottom .bottom-header {
    width: 78%;
  }
  .home-style1 .btt {
    top: 273px;
  }
}
@media (max-width: 479px) {
  [class*="col-xs-"] {
    float: none;
    width: auto;
  }
  .rtl [class*="col-xs-"] {
    float: none;
  }
  .header .header-top .wrap-myacc {
    padding: 10px 0 10px;
  }
  .header .header-top .top-header {
    position: absolute;
    padding: 0;
    top: 41px;
    left: 50%;
    margin-left: -105px;
  }
  .header .header-top .top2 .sw_top {
    top: 83px;
  }
  .header .header-top .sidebar-account .my-account {
    top: 22px;
  }
  .header .header-bottom {
    margin-top: 50px;
  }
  .header .header-bottom .bottom-header {
    width: 66%;
  }
  #lang_sel {
    padding: 4px 0;
  }
  #lang_sel > ul.nav > li > ul {
    top: 22px;
  }
  .widget_currency_converter {
    padding: 13px 14px 0;
  }
  .currency_w > li .currency_switcher {
    top: 22px;
  }
  .wrap-arrival .wrap-in {
    padding: 10px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content {
    top: 40px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat .item-wrap .item-content .des-cat {
    display: none;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-3col .item-wrap .item-content {
    top: 60px;
  }
  .responsive-listing-banner .banner-listing-container .item-product-cat.item-center .item-wrap .item-content-center .item-title {
    top: 20px;
  }
  .sw-woocommerce-collection {
    padding: 10px;
  }
  .sw-woocommerce-collection .box-slider-title h2:before,
  .sw-woocommerce-collection .box-slider-title h2:after {
    display: none;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
    width: 58%;
  }
  .wrap-newletter .mc4wp-form .newsletter-content .newsletter-submit {
    width: 38%;
    padding: 0;
  }
  .products-wrapper .woocommerce-pagination {
    float: none;
    text-align: left;
    padding: 0 0 10px;
  }
  .rtl .products-wrapper .woocommerce-pagination {
    float: none;
  }
  .woocommerce nav.woocommerce-pagination {
    text-align: left;
  }
  .rtl .woocommerce nav.woocommerce-pagination {
    text-align: right;
  }
  .single-product .product_detail .content_product_detail .cart .quantity {
    margin: 0 0 15px;
  }
  .single-product .product_detail .content_product_detail .cart .single_add_to_cart_button {
    clear: both;
  }
  .single-product .tabs .tabbable .nav-tabs li {
    float: none;
    width: 100%;
  }
  .single-product .social-share a {
    width: 30px;
  }
  .single.main .post .entry-wrap .entry-content .entry-meta .meta-entry {
    margin: 0 0 10px;
  }
  .wrapper_404 .content_404 .erro-image .erro-content {
    top: 34px;
    margin-left: -150px;
  }
  .wrapper_404 .content_404 .erro-image .erro-content h2 {
    font-size: 26px;
  }
  .wrapper_404 .content_404 .erro-image .erro-content p {
    font-size: 11px;
    max-width: 300px;
  }
  .home-style1 .btt {
    top: 299px;
  }
  #main-menu .primary-menu .resmenu-container .navbar-toggle {
    z-index: 0;
  }
  .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value select {
    padding: 5px 20px 5px 10px;
  }
  .rtl .single-product .product_detail .content_product_detail .variations_form .variations tbody tr td.value select {
    padding: 5px 10px 5px 20px;
  }
  .rtl .single-product .product_detail .content_product_detail .cart .quantity {
    float: right;
  }
  .woocommerce .entry-content form.login .form-row-first,
  .woocommerce .entry-content form.login .form-row-last,
  .woocommerce-page .entry-content form.login .form-row-first,
  .woocommerce-page .entry-content form.login .form-row-last {
    margin: 0 0 20px;
    width: 100%;
  }
  .pagination ul li {
    margin: 5px;
  }
  .pagination ul li a,
  .pagination ul li span.current {
    width: 25px;
    line-height: 25px;
    height: 25px;
  }
  .btt {
    top: 332px;
  }
  .styleshop-portfolio .portfolio-tab ul li {
    float: none;
    width: 100%;
    margin: 0 0 15px;
  }
  .styleshop-portfolio .portfolio-container ul.portfolio-content >li.portfolio-item {
    width: 100%;
  }
  .single-product .product_detail .content_product_detail .cart .group_table .label {
    vertical-align: middle;
    padding-top: 0;
    height: auto !important;
  }
  .single-product .product_detail .content_product_detail .cart .group_table tbody tr {
    border-bottom: 1px solid #ddd;
    display: block;
    margin-bottom: 25px;
  }
  .item-price del,
  .price del {
    float: none;
  }
  .products-wrapper .products-nav .catalog-ordering .orderby-order-container .order {
    padding: 0;
  }
  .rtl .products-wrapper .products-nav .catalog-ordering .orderby-order-container .order {
    padding: 0;
  }
}
