/*
Theme Name: Styleshop
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - General
 * 2.0 - Alignment
 * 3.0 - Caption
 * 4.0 - RTL
 */


/**
 * 1.0 General
 */
@import url(https://fonts.googleapis.com/css?family=Poppins:400,700,300);
body {
  background: #fff;
  color: #666;
  font-size: 13px;
  font-family: 'Poppins';
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
body a {
  color: #444444;
}
body a:hover {
  color: #ddbf5e;
  text-decoration: none;
}
body a:focus {
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  margin: 0 0 10px;
  font-family: inherit;
}
body input,
body textarea,
body button {
  outline: medium none !important;
  border: 1px solid #cecece;
  margin-bottom: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 0px 5px;
}
body img {
  display: block;
  max-width: 100%;
  height: auto;
}
body ul {
  padding: 0;
}
body ul,
body ol {
  margin-left: 15px;
}
body ol {
  padding-left: 15px;
}
table {
  margin-bottom: 20px;
}
dd {
  margin-bottom: 15px;
}
blockquote {
  border: 0;
  padding: 10px 0px 10px 30px;
  position: relative;
}
blockquote:before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  background: url('../assets/img/icon_general.png') no-repeat -20px -1659px;
}
blockquote, blockquote p {
  font-style: italic;
  font-size: 15px;
}

.thumbnail {
  max-width: 100%;
}
.size-full {
  width: 100%;
  height: auto;
  margin: 0 0 30px 0;
}

/**
 * 2.0 Align
 */
.alignleft {
  float: left;
  margin: 0 15px 30px 0;
}
.aligncenter {
  display: block;
  margin: 0 auto 30px auto;
  clear: both;
}
.alignright {
  float: right;
  margin: 0 0 30px 15px;
}
.alignnone {
  float: none;
  clear: both;
  display: block;
  margin: 0 0 30px 0;
}
/**
 * 3.0 Caption
 */

.wp-caption {
	background: transparent;
	border: none;
	color: #707070;
	font-family: "Noto Sans", sans-serif;
	margin: 0 0 28px 0;
	max-width: 100%;
	padding: 0;
	text-align: inherit;
}

.wp-caption.alignleft {
	margin: 7px 28px 21px 0;
}

.wp-caption.alignright {
	margin: 7px 0 21px 28px;
}

.wp-caption.aligncenter {
	margin: 7px auto;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
	font-size: 14px;
	line-height: 1.5;
	padding: 7px 0;
}

/**
 * 4.0 RTL
 */

body.rtl ul,
body.rtl ol {
  margin-left: 0;
	margin-right: 15px;
}
body.rtl ol {
  padding-left: 0;
	padding-right: 15px;
}

.rtl .alignleft {
  float: right;
  margin: 0 0 30px 15px;
}
.rtl .alignright {
  float: left;
  margin: 0 15px 30px 0;
}
