.rtl .wrap-transport .item .content:before {
  float: right;
  margin: 4px 0 0 15px;
}
.rtl .wpb_tabs .wpb_tabs_nav li {
  float: right;
  margin: 0 0 0 1px;
}
.rtl .col-lg-1,
.rtl .col-lg-2,
.rtl .col-lg-3,
.rtl .col-lg-4,
.rtl .col-lg-5,
.rtl .col-lg-6,
.rtl .col-lg-7,
.rtl .col-lg-8,
.rtl .col-lg-9,
.rtl .col-lg-10,
.rtl .col-lg-11 {
  float: right;
}
.rtl .vc_col-sm-1,
.rtl .vc_col-sm-2,
.rtl .vc_col-sm-3,
.rtl .vc_col-sm-4,
.rtl .vc_col-sm-5,
.rtl .vc_col-sm-6,
.rtl .vc_col-sm-7,
.rtl .vc_col-sm-8,
.rtl .vc_col-sm-9,
.rtl .vc_col-sm-10,
.rtl .vc_col-sm-11 {
  float: right;
}
.rtl .pull-left {
  float: right;
}
.rtl .pull-right {
  float: left;
}
.rtl .fancybox-close {
  left: -5px;
  right: auto;
}
.rtl .column-1,
.rtl .column-2,
.rtl .column-3,
.rtl .column-4,
.rtl .column-5,
.rtl .column-6,
.rtl .column-7,
.rtl .column-8,
.rtl .column-9,
.rtl .column-10 {
  float: right;
}
.rtl .dropdown-menu {
  left: auto;
  right: 0;
}
.rtl.woocommerce-error:before,
.rtl .woocommerce-info:before,
.rtl .woocommerce-message:before {
  right: 1.5em;
  left: auto;
}
.rtl.woocommerce-error,
.rtl .woocommerce-info,
.rtl .woocommerce-message {
  padding: 1em 3.5em 1em 2em !important;
}
.rtl.woocommerce div.product form.cart div.quantity {
  float: right;
  margin: 0 0 0 4px;
}
.rtl .woocommerce div.product form.cart .button {
  float: right;
}
.rtl.woocommerce .widget_layered_nav ul li.chosen a::before,
.rtl.woocommerce .widget_layered_nav_filters ul li a::before {
  content: '';
  margin: 0;
}
.rtl .woocommerce form table.shop_table.shop_table_responsive tbody tr td,
.rtl.woocommerce-page form table.shop_table.shop_table_responsive tbody tr td {
  text-align: right !important;
}
.rtl .woocommerce span.onsale,
.rtl .onsale {
  left: auto;
  right: 8px;
}
.rtl .item .item-wrap .item-detail:hover .item-bottom {
  left: 8px;
  right: auto;
}
.rtl.woocommerce .item-bottom,
.rtl .item-bottom {
  left: 0;
  right: auto;
}
.rtl.woocommerce .item-bottom .button.added,
.rtl .item-bottom .button.added {
  background-position-x: 1px;
}
.rtl .content-search >.post .entry-content .bl_read_more i,
.rtl .content-search .product .entry-content .bl_read_more i {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.rtl.has-left-sidebar #left {
  float: right;
}
.rtl.has-left-sidebar .category-contents,
.rtl.has-left-sidebar .single.main {
  float: left;
}
.rtl.has-left-sidebar #contents .category-contents {
  float: none;
}
.rtl.has-right-sidebar #right {
  float: left;
}
.rtl.has-right-sidebar .category-contents,
.rtl.has-right-sidebar .single.main {
  float: right;
}
.rtl.has-left-product-sidebar #left {
  float: right;
}
.rtl.has-left-product-sidebar #contents-detail,
.rtl.has-left-product-sidebar #contents {
  float: left;
}
.rtl.has-right-product-sidebar #right {
  float: left;
}
.rtl.has-right-product-sidebar #contents-detail,
.rtl.has-right-product-sidebar #contents {
  float: right;
}
.rtl .fa-arrow-circle-right:before {
  content: "\f0a8";
}
.rtl .styleshop_breadcrumbs .breadcrumbs .breadcrumb > li > a {
  padding: 0 0 0 10px;
}
.rtl .styleshop_breadcrumbs .breadcrumbs .breadcrumb > li + li:before {
  margin: 0 0 0 10px;
}
.rtl .header .header-top .widget.widget_nav_menu .widget-inner ul li {
  border-left: 1px solid #a8a8a8;
  border-right: 0;
}
.rtl .header .header-top .widget.widget_nav_menu .widget-inner ul li:last-child {
  border-left: 0;
}
.rtl .header .header-top .widget.widget_nav_menu .widget-inner ul li:last-child a {
  padding: 0 13px 0 0;
}
.rtl .header .header-top .sidebar-account .account-title {
  border-left: 1px solid #a8a8a8;
  border-right: 0;
  padding: 0 0 0 12px;
}
.rtl .header .header-top .sidebar-account .account-title:after {
  margin: 0 6px 0 0;
}
.rtl .header .header-top .sidebar-account .my-account {
  right: 0;
  left: auto;
}
.rtl .header .header-top .sidebar-account .my-account ul#menu-my-account {
  text-align: right;
}
.rtl .header .header-top .sidebar-account .my-account ul#menu-my-account > li > a span.fa {
  margin-left: 13px;
  margin-right: 0;
}
.rtl .header .header-top .sidebar-account .top-login ul {
  text-align: right;
}
.rtl .header .header-top .sidebar-account .top-login ul li a:before {
  margin-left: 10px;
  margin-right: 0;
}
.rtl .header .header-top .top2 .sw_top .top-form.top-search {
  left: 0;
  right: auto;
}
.rtl .header .header-bottom .top-form {
  padding: 15px 18px 15px 58px;
  background-position: left bottom;
}
.rtl .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left .top-form.top-search {
  padding: 0;
}
.rtl .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left .top-form.top-search {
  left: 0;
  right: auto;
}
.rtl .header .header-bottom.sticky-menu .bottom-header .sw_top.pull-left h3.off:before {
  left: 0;
  right: auto;
}
.rtl #lang_sel > ul.nav > li > a {
  border-left: 1px solid #a8a8a8;
  border-right: 0;
}
.rtl .widget_currency_converter .currency_converter,
.rtl .widget_currency_converter h3 {
  float: right;
}
.rtl .wrap-full-banner .full-banner ul.banner-list li.banner-item .text-banner {
  text-align: right;
  left: 130px;
  right: auto;
}
.rtl .wrap-full-banner .full-banner ul.banner-list li.banner-item:last-child .text-banner {
  left: auto;
  right: 130px;
}
.rtl .responsive-post-slider .resp-slider-container .slick-slider .slick-track .item .item-detail .entry-content .entry-meta .meta-entry.entry-date {
  border-right: 0;
  border-left: 1px solid #e6e6e6;
}
.rtl .wrap-newletter h3 {
  margin: 0 0 0 55px;
}
.rtl .wrap-newletter .mc4wp-form .newsletter-content .newsletter-email {
  margin: 0 0 0 27px;
}
.rtl .shop-social ul {
  float: left;
}
.rtl .shop-social ul li {
  float: right;
  margin: 0 0 0 10px;
}
.rtl .responsive-listing-banner2 .banner-listing-container .item-product-cat .item-wrap .item-content {
  right: 75px;
  left: auto;
  text-align: left;
}
.rtl .responsive-listing-banner2 .banner-listing-container .item-product-cat.item-right .item-wrap .item-content {
  text-align: right;
}
.rtl .products-wrapper .products-loop.list .item .item-wrap .item-detail .item-img {
  float: right;
  margin: 0 0 0 30px;
}
.rtl .products-wrapper .products-nav .catalog-ordering .orderby-order-container .order {
  padding: 0 0 0 50px;
}
.rtl .price_slider_wrapper .price_slider_amount #min_price,
.rtl .price_slider_wrapper .price_slider_amount #max_price {
  float: right;
  margin-right: 0;
  margin-left: 1%;
}
.rtl .woocommerce .widget_price_filter .price_slider_amount .button {
  float: right;
}
.rtl .sw_related_upsell_widget .nav-tabs li:first-child a:before {
  left: auto;
  right: -29px;
}
.rtl .sw_related_upsell_widget .nav-tabs li:last-child a:after {
  left: -29px;
  right: auto;
}
.rtl .single-product .tabs .tabbable .nav-tabs li {
  float: right;
}
.rtl .category-contents .blog-content.blog-content-default .post .entry .entry-thumb,
.rtl .category-contents .blog-content.blog-content-default .post .entry .entry-content {
  float: right;
}
.rtl .category-contents .blog-content.blog-content-default .post:nth-child(2n) .entry .entry-thumb {
  float: left;
}
.rtl .widget-latest-blog .blog-content .blog-item .widget-thumb a {
  margin: 0 0 0 15px;
}
.rtl .category-contents .blog-content .post .entry .entry-content .content-top .entry-meta .meta-entry.entry-date a {
  border-right: 0;
  border-left: 1px solid #e6e6e6;
}
.rtl .widget-latest-blog .blog-content .blog-item .widget-content-wrap .widget-content .entry-meta .meta-entry.entry-date a {
  border-right: 0;
  border-left: 1px solid #e6e6e6;
}
.rtl #comments .commentlist .comment .author,
.rtl #comments .children .comment .author {
  float: right;
  margin-right: 0;
  margin-left: 20px;
}
.rtl #comments ul.children {
  margin-left: 0;
  margin-right: 100px;
}
.rtl .contact-bonus .ct {
  padding: 15px 33px 12px 0;
}
.rtl .contact-bonus .ct-street:before,
.rtl .contact-bonus .ct-email:before,
.rtl .contact-bonus .ct-hotline:before {
  left: auto;
  right: 0;
}
.rtl .contact-bonus .form-contact .info-contact,
.rtl .contact-bonus .form-contact .info-comment {
  float: right;
}
.rtl .contact-bonus .form-contact .info-contact p .wpcf7-form-control-wrap input,
.rtl .contact-bonus .form-contact .info-comment p textarea {
  text-align: right;
}
.rtl .contact-bonus .senmail-buttom {
  float: right;
}
.rtl .contact-bonus .senmail-buttom .ajax-loader {
  right: auto;
  left: -26px;
}
.rtl .contact-bonus.contact-bonus2 .form-contact .info-comment {
  float: none;
}
.rtl .contact-bonus span.wpcf7-not-valid-tip,
.rtl .contact-bonus div.wpcf7-validation-errors {
  text-align: right;
}
.rtl .contact-bonus div.wpcf7-validation-errors {
  clear: both;
}
.rtl.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
  left: .5em;
  right: auto;
}
.rtl .footer .footer-style1 .about-footer p {
  padding-right: 0;
  padding-left: 76px;
}
.rtl .footer .footer-style1 .wrap-cus .widget_nav_menu ul li {
  float: right;
}
.rtl .footer .footer-style1 .wrap-cus .widget_nav_menu ul li a {
  border-right: none;
  border-left: 1px solid #646464;
}
.rtl .footer .footer-style1 .wrap-cus .widget_nav_menu ul li:last-child a {
  border-left: 0;
}
.rtl.woocommerce #respond input#submit.added::after,
.rtl.woocommerce a.button.added::after,
.rtl.woocommerce button.button.added::after,
.rtl.woocommerce input.button.added::after {
  display: inline-block;
  margin-left: 0;
  margin-right: .53em;
}
